{% if request.page_type == 'blog' and blog.all_tags.size > 0 %}
  {% assign tags = '' %}
  {% for article in blog.articles %}
    {% for tag in article.tags %}
        {% capture tags %}{% unless tags == blank  %}{{ tags }}|{% endunless %}{{ tag }}{% endcapture %}
    {% endfor %}
  {% endfor %}
  {% assign tag_array = tags | split: '|' | uniq %}
{% endif %}

{% if request.page_type == 'article' and article.tags.size > 0 %}
  {% assign tags = '' %}
    {% for tag in article.tags %}
      {% capture tags %}{% unless tags == blank  %}{{ tags }}|{% endunless %}{{ tag }}{% endcapture %}
    {% endfor %}
  {% assign tag_array = tags | split: '|' | uniq %}
{% endif %}
