{%- capture bc_layout -%}
{%- case layout -%}
{%- when 'productGridItemHtml' -%}
<li class="boost-pfs-filter-product-item boost-pfs-filter-product-item-grid [[gridWidthClass]][[soldOutClass]][[saleClass]] [[itemActiveSwapClass]] showSecond">
    <script class="boost-pfs-filter-product-script" data-id="boost-pfs-product-json-[[itemId]]" type="application/json">[[itemJson]]</script>
  <figure> 
    <a href="[[itemUrl]]">
      <div class="pusher"></div>
       [[itemImages]]
    </a>
	[[saleLabelHtml]]
  </figure>
  <p class="h2">
    <a href="[[itemUrl]]">
      [[itemTitle]]
    </a>
  </p>
    [[itemPrice]]
</li>
{%- when 'productListItemHtml' -%}
<li class="boost-pfs-filter-product-item boost-pfs-filter-product-item-grid [[gridWidthClass]][[soldOutClass]][[saleClass]] [[itemActiveSwapClass]]">
    <script class="boost-pfs-filter-product-script" data-id="boost-pfs-product-json-[[itemId]]" type="application/json">[[itemJson]]</script>
  <figure>
    <a href="[[itemUrl]]">
      <div class="pusher"></div>
       [[itemImages]]
    </a>
	[[saleLabelHtml]]

  </figure>
  <p class="h2">
    <a href="[[itemUrl]]">
      [[itemTitle]]
    </a>
  </p>
    [[itemPrice]]
</li>
{%- when 'productListPlaceholderHtml' -%}
<div class="boost-pfs-filter-product-item boost-pfs-filter-product-item-list [[class.filterProductSkeleton]]">
  <div class="boost-pfs-filter-product-item-list-col-1">
    <div class="boost-pfs-filter-product-item-image">
      <div class="[[class.filterProductSkeleton]]-image" style="padding-top: [[paddingTop]]%"></div>
    </div>
  </div>
  <div class="boost-pfs-filter-product-bottom">
    <a href="#" class="boost-pfs-filter-product-item-title"><span class="boost-pfs-filter-skeleton-text boost-pfs-filter-skeleton-width4"></span></a>
    <p class="boost-pfs-filter-product-item-vendor"><span class="boost-pfs-filter-skeleton-text boost-pfs-filter-skeleton-width1"></span></p>
    <p class="boost-pfs-filter-product-item-price"><span class="boost-pfs-filter-skeleton-text boost-pfs-filter-skeleton-width2"></span></p>
    <p class="boost-pfs-filter-des">
      <span class="boost-pfs-filter-skeleton-text" style="width: 100%"></span><br />
      <span class="boost-pfs-filter-skeleton-text" style="width: 100%"></span><br />
      <span class="boost-pfs-filter-skeleton-text" style="width: 100%"></span><br />
      <span class="boost-pfs-filter-skeleton-text" style="width: 30%"></span>
    </p>
  </div>
</div>

{%- when 'soldOutLabelHtml' -%}
<span class="soldout boost-pfs-filter-label"> {{ section.settings.soldout_label }} </span>

{%- when 'saleLabelHtml' -%}
<span class="sale boost-pfs-filter-label"> {{ section.settings.sale_label }} </span>

{%- when 'tagLabelHtml' -%}
<span class="tag boost-pfs-filter-label [[labelTag]]" >[[labelTag]]</span>

{%- when 'vendorHtml' -%}
<p class="boost-pfs-filter-product-item-vendor">[[itemVendorLabel]]</p>

{%- when 'previousActiveHtml' -%}
<li><a href="[[itemUrl]]">&larr;</a></li>

{%- when 'previousDisabledHtml' -%}
<li class="boost-pfs-filter-pagination-disabled"><span>&larr;</span></li>

{%- when 'nextActiveHtml' -%}
<li><a href="[[itemUrl]]">&rarr;</a></li>

{%- when 'nextDisabledHtml' -%}
<li class="boost-pfs-filter-pagination-disabled"><span>&rarr;</span></li>

{%- when 'pageItemHtml' -%}
<li><a href="[[itemUrl]]">[[itemTitle]]</a></li>

{%- when 'pageItemSelectedHtml' -%}
<li><span class="boost-pfs-filter-pagination-active">[[itemTitle]]</span></li>

{% when 'pageItemRemainHtml' %}
<li><span>[[itemTitle]]</span></li>

{%- when 'paginateHtml' -%}
<ul>[[previous]][[pageItems]][[next]]</ul>

{%- when 'sortingHtml' -%}
{% comment %}
<button class="boost-pfs-filter-top-sorting-wrapper"><span><span> {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp }} {% else %} Sorting {% endunless %}, </span></span></button><ul class="boost-pfs-filter-filter-dropdown">[[sortingItems]]</ul>
{% endcomment %}
<select>[[sortingItems]]</select>

{%- when 'showLimitHtml' -%}
<label> Show </label><select class="boost-pfs-filter-filter-dropdown">[[showLimitItems]]</select>

{%- when 'breadcrumbHtml' -%}
<a href="/"> Home </a> [[breadcrumbDivider]] [[breadcrumbItems]]

{%- when 'breadcrumbDivider' -%}
<span class="divider">/</span>

{%- when 'breadcrumbItemLink' -%}
<a href="[[itemLink]]">[[itemTitle]]</a>

{%- when 'breadcrumbItemSelected' -%}
<span>[[itemTitle]]</span>

{%- endcase -%}
{%- endcapture -%}

{%- assign str = '}}' -%}
{{- bc_layout | json | replace: '[[', '{{' | replace: ']]', str -}}
