<ul class="list-breadcrumbs">
  <li>
    <a href="/">Home</a>
  </li>

  {% assign categoryOverride = "" %}
  {% if template.name == 'product' or template.name == 'collection' %}
    {% for collection in product.collections %}
      {% if collection.title == 'Accessoires' or collection.title == 'Accesoires' %}
        {% assign categoryOverride = 'Accessoires' %}
      {% endif %}
      {% if collection.title == 'Stalen' %}
        {% assign categoryOverride = 'Stalen' %}
      {% endif %}
    {% endfor %}

    {% if categoryOverride == 'Accessoires' %}
      <li><a href="/collections/accessoires" title="Accessoires">Accessoires</a></li>

    {% elsif categoryOverride == 'Stalen' %}
    <li><a href="/collections/stalen" title="Stalen">Stalen</a></li>

    {% elsif collection.title != 'Vloerkleden' and collection.title != 'vloerkleden' and template.suffix != 'service' %}
      <li><a href="/collections/vloerkleden" title="Vloerkleden">Vloerkleden</a></li>

    {% endif %}
  {% endif %}

  {% if template.name contains 'product' and collection %}
    <li class="mobile-hide"><a href="{{ collection.url }}" class="overlay-a">{{ collection.title }}</a></li>
  {% endif %}

  {% if template.name contains 'product' %}

    <li>{{ product.title }}</li>
    <li class="mobile-only" onclick="history.back(-1)">{{ 'product.breadcrumb' | t }}</li>

  {% elsif template.name == 'list-collections' %}
    <li>{{ 'collection.collections' | t }}</li>

  {% elsif template.name == 'collection' %}
    <li>{{ collection.title }}</li>

  {% elsif template.name == 'cart' %}
      <li>{{ 'cart.breadcrumb' | t }}</li>

  {% elsif template.name == 'login' %}
      <li>{{ 'customer.login.breadcrumb' | t }}</li>

  {% elsif template.name == 'register' %}
      <li>{{ 'customer.register.breadcrumb' | t }}</li>

  {% elsif template.name == 'activate_account' %}
      <li>{{ 'customer.activate_account.breadcrumb' | t }}</li>

  {% elsif template.name == 'account' %}
      <li>{{ 'customer.account.breadcrumb' | t }}</li>

  {% elsif template.name == 'order' %}
      <li><a href="{{ routes.account_url }}">{{ 'customer.account.breadcrumb' | t }}</a></li>
      <li>{{ 'customer.orders.breadcrumb' | t }}</li>
      <li>{{ order.name }}</li>

  {% elsif template.name == 'addresses' %}
      <li><a href="{{ routes.account_url }}">{{ 'customer.account.breadcrumb' | t }}</a></li>
      <li>{{ 'customer.addresses.breadcrumb' | t }}</li>

  {% elsif template.name == 'blog' %}
    <li><a href="/pages/blog">{{ 'blog.breadcrumb' | t }}</a></li>
    <li>{{ blog.title }}</li>

  {% elsif template.name == 'article'  %}
    <li><a href="/pages/blog">{{ 'blog.breadcrumb' | t }}</a></li>
    <li><a href="{{blog.url}}">{{ blog.title }}</a></li>
    <li>{{ article.title }}</li>

  {% elsif page.title %}
    <li>{{ page.title }}</li>
  {% endif %}
</ul>
