{% assign old_price = product.compare_at_price | times: 1.0 %}
{% assign new_price = product.price | times: 1.0 %}
{% assign discount = old_price | minus: new_price %}
{% assign discount = discount | divided_by: old_price %}
{% assign discount = discount | times: 100 | money_without_currency | remove: '0,0' | remove: '0,' | remove: ','%}
