{% assign extra_button = blank %}
{% assign qty = 1 %}
{% assign addToCartVariant = false %}
{% assign showVariantTitle = false %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% if addToCartVariant != false %}
	{% assign current_variant = addToCartVariant %}
{% endif %}

{% if settings.discount_enabled and settings.discount_percentage != '' %}
	{% assign discount_times = settings.discount_percentage | remove: '%' | strip | plus: 0 %}
    {% assign discount_times = 100 | minus: discount_times %}
    {% assign discount_times = '0.' | append: discount_times | plus: 0 %}
{% endif %}

{% if product.tags contains 'accessoire' or product.type == 'Accessoires' %}
	{% assign isAcc = true %}
{% else %}
	{% assign isAcc = false %}
{% endif %}

<li>
  <figure><img src="{{ 'pixel.png' | asset_url }}" data-src="{{ product.featured_image | img_url: '120x160', scale: 2, crop: 'center'}}" alt="Placeholder" width="120" height="160"></figure>
  <h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
  <ul class="list-inline">
    {% if showVariantTitle %}
    <li>
      {% if qty > 1 %}{{qty}}x {% endif %}{{ addToCartVariant.title }}
    </li>
    {% endif %}
  </ul>
  <p class="price">
    {% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}
    	<span class="old">{{ current_variant.price | times: qty | money }}</span>
    	{{ current_variant.price | times: discount_times | times: qty | money }}
	{% else %}
     	{{ current_variant.price | times: qty | money }}
	{% endif %}
  </p>
  {% if extra_button == 'addtocart' and current_variant.available %}
    <p class="link-btn"><a href="/cart/add?id={{ current_variant.id }}&quantity={{ qty }}">{{ 'product.form.add' | t }}</a></p>
  {% endif %}
</li>
