{% assign cart_item_count = 0 %}
{% assign zichtservice_count = 0 %}
{% for item in cart.items %}
	{% if item.title contains 'maatwerk' or item.title contains 'Maatwerk' %}
		{% assign itemQty = 1 %}
	{% else %}
		{% assign itemQty = item.quantity %}
	{% endif %}

	{% if item.title contains 'zichtservice' or item.title contains 'Zichtservice' %}
  		{% assign zichtservice_count = zichtservice_count | plus: 1 %}
  	{% else %}
  		{% assign cart_item_count = cart_item_count | plus: itemQty %}
	{% endif %}
{% endfor %}
