<ul class="block-grid mobile four-up product-collection">
  {% for link in linklist.links %}
    <li>
      <div class="product">
        {% comment %}
       You can connect collections, products, pages, & even blogs. By default it will use the first product that appears on a collection or you can pick a featured image.
        {% endcomment %}

        {% assign link_item = link.object %}
        {% assign link_image = '' %}
        {% capture link_title %}{{ link.title | escape }}{% endcapture %}

        {% if link.type == 'collection_link' %}
          {% if link_item.image %}
            {% assign link_image = link_item.image.src | collection_img_url: 'medium' %}
          {% else %}
            {% assign link_image = link_item.products.first.featured_image | product_img_url: 'medium' %}
          {% endif %}
        {% elsif link.type == 'product_link' %}
          {% assign link_image = link_item.featured_image | product_img_url: 'medium' %}
        {% elsif link.type == 'page_link' %}
          {% if link_item.content contains "<img" %}
            {% assign src = link_item.content | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
            {% if src %}
              {% assign link_image = src %}
            {% endif %}
          {% endif %}
        {% elsif link.type == 'blog_link' %}
          {% if link_item.articles.first.content contains "<img" %}
            {% assign src = link_item.articles.first.content | split: 'src="' %}
            {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
            {% if src %}
              {% assign link_image = src %}
            {% endif %}
          {% endif %}
        {% endif %}

        <a class="thumbnail" href="{{ link_item.url }}" title="{{ link_title }}">
          <span class="thumbnail">
            {% if link_image != '' %}
              <img {% if settings.align_height %}style="max-height:{{ settings.collection_height }}px"{% endif %} src="{{ link_image }}"
                   alt="{{ link_title }}"/>
            {% endif %}
          </span>

          <div class="brands-sub">
            <span>{{ link.title }}</span>
            <a class="brands-link">Bekijk collectie</a>
          </div>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
