{%- if product.vendor == 'Easy Living' or product.vendor == 'MOMO Rugs' or product.vendor == 'Woolable' or product.vendor == 'Zuiver' or product.vendor == 'Moooi Carpets' or product.vendor == 'Katherine Carnaby' or product.vendor == 'Essenza' -%}
	{%- assign levertijd = "2-4 werkdagen*" -%}
{%- elsif product.vendor == 'Claire Gaudion' or product.vendor == 'Perletta' -%}
	{%- assign levertijd = "6-8 weken" -%}
{%- elsif product.vendor == 'Matta' -%}
	{%- assign levertijd = "4-6 weken" -%}
{%- elsif product.vendor == 'Desso' -%}
	{%- assign levertijd = "2-3 werkdagen*" -%}
{%- else -%}
	{%- assign levertijd = "5-7 werkdagen*" -%}
{%- endif -%}
{%- assign variant_levertijd = levertijd -%}
