{% assign billingAddressText = '' %}
    <div class="manage-addresses-wrapper">
        {% for address in customer.addresses %}
            {% if forloop.index == 1 %}
                <div data-address="" class="curaddress">
                {% if address == customer.default_address %}
                    <p><strong>{{ 'customer.addresses.default_address_label' | t }}</strong></p>
                {% elsif address == customer.addresses[1] %}
                    <p>
                        <strong>
                            {{ 'customer.addresses.address_billing' | t }}
                        </strong>
                    </p>
                {% else %}
                    <p>
                        <strong>
                            {{ 'customer.addresses.address_label2' | t: position: forloop.index0 }}
                        </strong>
                    </p>
                {% endif %}

                {{ address | format_address }}

                <div class="double-btns">
                    <button type="button" data-address-toggle class="small">
                    {{ 'customer.addresses.edit' | t }}
                    </button>
                        <form data-address-delete-form method="post" action="{{ routes.account_addresses_url }}/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}" style="display: flex;" class="address-form">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="a">
                            {{ 'customer.addresses.delete' | t }}
                    </button>
                    </p>
                    </form>
                </div>

                <div data-address-form class="hidden">
                {% form 'customer_address', address %}
                {% assign countryCode = form.country %}
                <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

                <div data-address-fields class="address-form">
                <div class="double a">
                    <p>
                    <label for="AddressFirstName_{{ form.id }}">
                        {{ 'customer.addresses.first_name' | t }}
                    </label>
                    <input type="text"
                            name="address[first_name]"
                            id="AddressFirstName_{{ form.id }}"
                            value="{{ form.first_name }}"
                            autocapitalize="words">
                    </p>
                    <p>
                    <label for="AddressLastName_{{ form.id }}">
                        {{ 'customer.addresses.last_name' | t }}
                    </label>
                    <input type="text"
                            name="address[last_name]"
                            id="AddressLastName_{{ form.id }}"
                            value="{{ form.last_name }}"
                            autocapitalize="words">
                    </p>
                </div>

                <div class="double a">
                    <p>
                    <label for="AddressCompany_{{ form.id }}">
                        {{ 'customer.addresses.company' | t }}
                    </label>
                    <input type="text"
                            name="address[company]"
                            id="AddressCompany_{{ form.id }}"
                            value="{{ form.company }}"
                            autocapitalize="words">
                    </p>
                    <p>
                    <label for="AddressAddress1_{{ form.id }}">
                        {{ 'customer.addresses.address1' | t }}
                    </label>
                    <input type="text"
                            name="address[address1]"
                            id="AddressAddress1_{{ form.id }}"
                            value="{{ form.address1 }}"
                            autocapitalize="words">

                    </p>
                </div>

                <div class="double a">
                    <p>
                    <label for="AddressAddress2_{{ form.id }}">
                        {{ 'customer.addresses.address2' | t }}
                    </label>
                    <input type="text"
                            name="address[address2]"
                            id="AddressAddress2_{{ form.id }}"
                            value="{{ form.address2 }}"
                            autocapitalize="words">
                    </p>
                    <p>
                    <label for="AddressZip_{{ form.id }}">
                        {{ 'customer.addresses.zip' | t }}
                    </label>
                    <input type="text"
                            name="address[zip]"
                            id="AddressZip_{{ form.id }}"
                            value="{{ form.zip }}"
                            autocapitalize="characters">
                    </p>
                </div>

                <div class="double a">
                    <p>
                    <label for="AddressCity_{{ form.id }}">
                        {{ 'customer.addresses.city' | t }}
                    </label>
                    <input type="text"
                            name="address[city]"
                            id="AddressCity_{{ form.id }}"
                            value="{{ form.city }}"
                            autocapitalize="words">
                    </p>
                    <p>
                    <label for="AddressCountry_{{ form.id }}">
                        {{ 'customer.addresses.country' | t }}
                    </label>
                    <select
                        name="address[country]"
                        id="AddressCountry_{{ form.id }}"
                        class="address-country-option"
                        data-form-id="{{ form.id }}"
                        data-default="{{ countryCode }}">
                        {{ all_country_option_tags }}
                    </select>
                    </p>
                </div>

                <div class="double a">
                    <p>
                    <label for="AddressPhone_{{ form.id }}">
                        {{ 'customer.addresses.phone' | t }}
                    </label>
                    <input type="tel"
                            name="address[phone]"
                            id="AddressPhone_{{ form.id }}"
                            value="{{ form.phone }}"
                            pattern="[0-9\-]*">
                    </p>
                </div>
            </div>

            {{ form.set_as_default_checkbox }}
              <label for="address_default_address_{{ form.id }}" class="address_form_label">
                {{ 'customer.addresses.set_default' | t }}
              </label>

              <p class="double-btns">
                <button class="a btncancel" data-address-toggle data-form-id="{{ form.id }}">
                  {{ 'customer.addresses.cancel' | t }}
                </button>
                <button type="submit" class="small">
                  {{ 'customer.addresses.save' | t }}
                </button>&nbsp;&nbsp;
              </p>
            {% endform %}

          </div>
        </div>

        <hr>
        {% endif %}
      {% endfor %}
    </div>