{% assign show = true %}
{% if product.type == 'Stalen' or product.tags contains 'customised_product'%}
	{% assign show = false %}
{% endif %}

{% if show %}

{% assign has_discount = false %}

{% assign button = 'quickview' %}
{% assign extra_button = blank %}
{% assign addToCartVariant = false %}
{% assign showVariantTitle = false %}
{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}

{% assign current_variant_available = false %}
{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% if current_variant.available %}
  {% assign current_variant_available = true %}
{% endif %}
{% if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'continue' and current_variant.metafields.limit.limit < 1 %}
  {% assign current_variant_available = false %}
{% endif %}
{% if current_variant.available != current_variant_available %}
  {% for variant in product.variants %}
    {% assign current_variant = variant %}
    {% if current_variant.available %}
      {% assign current_variant_available = true %}
    {% endif %}
    {% if current_variant.inventory_quantity <= 0 and current_variant.inventory_policy == 'continue' and current_variant.metafields.limit.limit < 1 %}
      {% assign current_variant_available = false %}
    {% endif %}
    {% if current_variant_available == current_variant.available %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if addToCartVariant != false %}
	{% assign current_variant = addToCartVariant %}
{% endif %}

{% if product.tags contains 'accessoire' or product.type == 'Accessoires' %}
	{% assign isAcc = true %}
{% else %}
	{% assign isAcc = false %}
{% endif %}

{% if settings.discount_enabled and settings.discount_percentage != '' %}
	{% assign discount_times = settings.discount_percentage | remove: '%' | strip | plus: 0 %}
    {% assign discount_times = 100 | minus: discount_times %}
    {% assign discount_times = '0.' | append: discount_times | plus: 0 %}
{% endif %}

{% assign break_loop = false %}
{% assign collection_label = '' %}
{% for i in (1..10) %}
	{% for productcollection in product.collections %}
      {% assign collection_handle = 'label_collection_y' | replace: 'y', i %}
      {% if settings[collection_handle] == productcollection.handle %}
      	{% assign text_handle = 'label_text_y' | replace: 'y', i %}
		{% assign color_handle = 'label_color_y' | replace: 'y', i %}
        {% assign collection_label = settings[text_handle] %}
		{% assign collection_label_color = settings[color_handle] %}
        {% assign break_loop = true %}
      {% endif %}
  {% endfor %}
  {% if break_loop %}
  	{% break %}
  {% endif %}
{% endfor %}

{% if settings.extra_label != '' %}
     {% assign extra_label = settings.extra_label %}
    {% assign collection_label_color = false %}
{% elsif collection_label != '' %}
	{% assign extra_label = collection_label %}
{% elsif product_label %}
	{% assign extra_label = product_label %}
    {% assign collection_label_color = false %}
{% else %}
    {% assign extra_label = false %}
  	{% assign collection_label_color = false %}
{% endif %}

{% for variant in product.variants %}
  	{% if variant.compare_at_price > variant.price %}
      {% assign has_discount = true %}
      {% break %}
	{% endif %}
{% endfor %}

{% assign stripped_product_title =  product.title | split: 'rkleed' %}

<li{% if product.images[1] %} class="showSecond"{% endif %}>

  {% comment %}{% if product.compare_at_price > product.price %}
    {% assign has_discount = true %}
    {% include 'calculate-discount-percentage', product: product %}
  {% endif %}{% endcomment %}

  {% include 'product-card-info', product: product %}

  <figure>
    <a href="{{ product.url }}">
      	<div class="pusher"></div>
      {% if product != blank and product.featured_image %}
        <img class="first-image" loading="lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ product.featured_image | img_url: '300x380', scale: 2 }}" alt="{{ product_image.alt }}" width="300" height="380">
        {% if product.images[1] %}
          <img class="second-image" loading="lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ product.images[1] | img_url: '300x380', scale: 2 }}" alt="{{ product_image.alt }}" width="300" height="380">
        {% endif %}
      {% else %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </a>

    {% if has_discount %}
    	<span class="label sale">{{ 'product.form.sale' | t }}</span>
    {% endif %}


    {% if extra_label != false %}
    	<span class="label"{% if collection_label_color != false %}style="background-color:{{collection_label_color}};"{% endif %}>{% if extra_label != false %}{{ extra_label }}{% endif %}{% comment %}{% if has_discount %} -{{discount}}%{% endif %}{% endcomment %}</span>
    {% endif %}

    {% if button == 'ar' %}
        <a href="./" class="overlay-a">{{ 'product.view_in_your_livingroom' | t }}</a>
    {% endif %}
  </figure>

  <p class="h2">
    <a href="{{ product.url }}">
      {% assign vendor = '<strong>' | append: product.vendor | append: '</strong>' %}
      {%- if stripped_product_title.size > 1 -%}
          {{ stripped_product_title[1] | replace: product.vendor, vendor | replace: 'Louis De Poortere', vendor }}
      {%- else -%}
          {{ product.title | replace: product.vendor, vendor }}
      {%- endif -%}
      {% if showVariantTitle %} - {{ current_variant.title }}{% endif %}
    </a>
  </p>

  {% assign product-vendor = product.vendor |  downcase %}

  {% assign retail-vendor = "korting|" | append: product-vendor |  downcase  %}
  {% assign discount-tag = "inkoop|" | append: product-vendor |  downcase  %}
  {% assign promo-tag = "promotie|" |  append: product-vendor |  downcase %}

  {% assign adviesprijs = product.price %}
  {% assign product_price = product.price %}

  {% comment %} Loop over customer tags and apply personal brand discount {% endcomment %}
  {% for customer-tag in customer.tags %}
    {% if customer-tag contains discount-tag %}
      {% assign price-type = 'inkoop' %}
      {% assign tag = customer-tag | split: "|" %}
      {% assign discount = tag[2] %}
      {% assign percentage = discount %}
      {% assign discount = percentage | divided_by: 100.0 %}
      {% assign discount = 1 | minus: discount %}
      {% assign product_price = product_price | divided_by: 121.0 %}
      {% assign product_price = product_price | times: 100 %}
      {% assign product_price = product_price | times: discount %}
    {% endif %}
  {% endfor %}

  {% comment %} Loop over customer tags and apply additional retail brand discount {% endcomment %}
  {% for customer-tag in customer.tags %}
    {% if customer-tag contains retail-vendor %}
      {% assign price-type = 'korting' %}
      {% assign retailtag = customer-tag | split: "|" %}
      {% assign percentage = retailtag[2] %}
      {% assign discount = percentage | divided_by: 100.0 %}
      {% assign discount = 1 | minus: discount %}
      {% assign product_price_retail = product_price | times: discount %}
    {% endif %}
  {% endfor %}

  {% comment %} Loop over customer tags and apply additional promo brand discount {% endcomment %}
  {% for customer-tag in customer.tags %}
    {% assign customer-tag = customer-tag |  downcase %}
    {% if customer-tag contains promo-tag %}
      {% assign promotag = customer-tag | split: "|" %}
      {% assign percentage = promotag[2] %}
      {% assign discount = percentage | divided_by: 100.0 %}
      {% assign discount = 1 | minus: discount %}
      {% if price-type == 'inkoop' %}
        {% assign product_price_promo = product_price | times: discount %}
      {% endif %}
      {% if price-type == 'korting' %}
        {% assign product_price_promo = product_price_retail | times: discount %}
      {% endif %}
      {% assign price-type = 'promo' %}
    {% endif %}
  {% endfor %}

  <p class="price productcardPrice">
    {%- if price-type == 'inkoop' -%}
      {{ product_price | money }}
    {% elsif price-type == 'korting' %}
      <span class="old-price sup-convert"> {{ product_price | money }}</span>
      <span class="sup-convert">{{ product_price_retail | money }}</span>
    {% elsif price-type == 'promo' %}
      <span class="old-price sup-convert"> {{ product_price | money }} </span>
      <span class="sup-convert"> {{ product_price_promo | money }} </span>
    {%- endif -%}
    <div class="productcard-adviesprijs">
      <span>Adviesprijs: </span>
      <span class="old sup-convert">{{ adviesprijs | money }}</span>
    </div>
  {% if extra_button == 'addtocart' and current_variant.available %}
    <p class="link-btn"><a href="/cart/add/{{ current_variant.id }}">{{ 'product.form.add' | t }}</a></p>
  {% endif %}
</li>

{% endif %}

