{% assign product_serie = blank %}
{% assign product_customizable = false %}
{% assign product_zichtservice = false %}
{% assign product_video = false %}
{% assign product_label = false %}
{% assign product_staal = false %}
{% assign product_staal_code = false %}
{% assign product_removedfromcollection = false %}
{% assign product_stylingadvies = false %}
{% assign product_price_m2 = blank %}
{% assign product_price_m2_money = blank %}
{% assign product_pile_height = blank %}
{% assign product_height = blank %}
{% assign product_material = blank %}
{% assign product_color = blank %}
{% assign product_dessin = blank %}
{% assign product_soort = blank %}
{% assign product_shape = blank %}
{% assign product_space = blank %}
{% assign product_method = blank %}
{% assign product_production_country = blank %}
{% assign product_style = blank %}
{% assign product_brand = blank %}
{% assign product_min_width = blank %}
{% assign product_min_length = blank %}
{% assign product_max_width = blank %}
{% assign product_max_length = blank %}
{% assign variant_with_lowest_price = blank %}

{% unless product.metafields.product.serie == blank %}
  {% assign product_serie = product.metafields.product.serie %}
{% endunless %}

{% unless product.metafields.erp.gratis_advies_gesprek  == blank %}
  {% if product.metafields.erp.gratis_advies_gesprek == 'Yes' %}
    {% assign product_stylingadvies = true %}
  {% endif %}
{% endunless %}

{% comment %}
{% unless product.metafields.customizable.product_maatwerk_mogelijk == blank %}
  {% if product.metafields.customizable.product_maatwerk_mogelijk == 'Yes' %}
    {% assign product_customizable = true %}
  {% endif %}
{% endunless %}
{% endcomment %}

{% unless product.metafields.customizable.product_opmaat == blank %}
  {% if product.metafields.customizable.product_opmaat == 'Yes' %}
    {% assign product_customizable = true %}
  {% endif %}
{% endunless %}

{% unless product.metafields.customizable.price_m2 == blank %}
  {% assign product_price_m2 = product.metafields.customizable.price_m2 | plus: 0 %}
  {% assign product_price_m2_money = product.metafields.customizable.price_m2 | times: 100 | money %}
{% endunless %}

{% unless product.metafields.product.pile_height == blank %}
  {% assign product_pile_height = product.metafields.product.pile_height | plus: 0 | append: ' mm' %}
{% endunless %}

{% unless product.metafields.product.height == blank %}
  {% assign product_height = product.metafields.product.height | plus: 0 | append: ' mm' %}
{% endunless %}

{% unless product.metafields.product.product_materiaal == blank %}
  {% assign product_material = product.metafields.product.product_materiaal | replace: 'materiaal: ', ' ' | replace: 'Materiaal: ', ' ' | replace: '_', ', ' | replace: ',', ', ' | downcase %}
{% endunless %}

{% unless product.metafields.product.product_productiewijze == blank %}
  {% assign product_method = product.metafields.product.product_productiewijze | replace: 'productiemethode: ', ' ' | replace: 'Productiemethode: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.origin_country == blank %}
  {% assign product_production_country = product.metafields.product.origin_country %}
{% endunless %}

{% unless product.metafields.product.product_stijl == blank %}
  {% assign product_style = product.metafields.product.product_stijl | replace: 'stijl: ', ' ' | replace: 'Stijl: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.product_ruimte == blank %}
  {% assign product_space = product.metafields.product.product_ruimte | replace: 'ruimte: ', ' ' | replace: 'Ruimte: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.product_kleur == blank %}
  {% assign product_color = product.metafields.product.product_kleur | replace: 'kleur: ', ' ' | replace: 'Kleur: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.product_dessin == blank %}
  {% assign product_dessin = product.metafields.product.product_dessin | replace: 'dessin: ', ' ' | replace: 'Dessin: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.product_soort == blank %}
  {% assign product_soort = product.metafields.product.product_soort | replace: 'soort: ', ' ' | replace: 'Soort: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.product_vorm == blank %}
  {% assign product_shape = product.metafields.product.product_vorm | replace: 'vorm: ', ' ' | replace: 'Vorm: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.product.brand == blank %}
  {% assign product_brand = product.metafields.product.brand | replace: 'merk: ', ' ' | replace: 'Merk: ', ' ' | replace: '_', ', ' | replace: ',', ', '| downcase %}
{% endunless %}

{% unless product.metafields.customizable.min_width == blank %}
  {% assign product_min_width = product.metafields.customizable.min_width | plus: 0 %}
{% endunless %}

{% unless product.metafields.customizable.min_length == blank %}
  {% assign product_min_length = product.metafields.customizable.min_length | plus: 0 %}
{% endunless %}

{% unless product.metafields.customizable.max_width == blank %}
  {% assign product_max_width = product.metafields.customizable.max_width | plus: 0 %}
{% endunless %}

{% unless product.metafields.customizable.max_length == blank %}
  {% assign product_max_length = product.metafields.customizable.max_length | plus: 0 %}
{% endunless %}

{% unless product.metafields.product.product_zichtservice  == blank %}
  {% if product.metafields.product.product_zichtservice  == 'Yes' %}
    {% assign product_zichtservice = true %}
  {% endif %}
{% endunless %}

{% unless product.metafields.product.product_staal  == blank %}
  {% if product.metafields.product.product_staal  == 'Yes' %}
    {% assign product_staal = true %}
  {% endif %}
{% endunless %}

{% unless product.metafields.product.product_staal_eancode == blank %}
	{% assign product_staal_code = product.metafields.product.product_staal_eancode %}
{% endunless %}

{% comment %}{% unless product.metafields.product.product_uit_collectie  == blank %}
  {% if product.metafields.product.product_uit_collectie  == 'Yes' %}
    {% assign product_removedfromcollection = true %}
  {% endif %}
{% endunless %}{% endcomment %}
{% unless product.metafields.erp.product_uit_collectie  == blank %}
  {% if product.metafields.erp.product_uit_collectie  == 'Yes' %}
    {% assign product_removedfromcollection = true %}
  {% endif %}
{% endunless %}

{% assign has_discount = false %}
{% if variant_with_lowest_price.compare_at_price > variant_with_lowest_price.price %}
  {% assign has_discount = true %}
  {% include 'calculate-discount-percentage', product: variant_with_lowest_price %}
{% endif %}

{% unless product.metafields.product.product_label == blank %}
  {% assign product_label = product.metafields.product.product_label %}
{% endunless %}

{% if settings.show_staalbuttons == false %}
	{% assign product_staal = false %}
{% endif %}

{% unless product.metafields.product.video_embed_url  == blank %}
  {% assign product_video = product.metafields.product.video_embed_url %}
{% endunless %}