{% assign product_price_m2_money = blank %}
{% assign product_customizable = false %}
{% comment %}{% assign has_discount = false %}{% endcomment %}
{% assign product_label = false %}

{% unless product.metafields.customizable.price_m2 == blank %}
  {% assign product_price_m2 = product.metafields.customizable.price_m2 | plus: 0 %}
  {% assign product_price_m2_money = product.metafields.customizable.price_m2 | times: 100 | money %}
{% endunless %}

{% unless product.metafields.customizable.product_opmaat == blank %}
  {% if product.metafields.customizable.product_opmaat == 'Yes' %}
    {% assign product_customizable = true %}
  {% endif %}
{% endunless %}

{% unless product.metafields.product.product_label == blank %}
  {% assign product_label = product.metafields.product.product_label %}
{% endunless %}
