{%- capture section_settings -%}
    {
    "itemCount": {{ cart.item_count }},
    "drawer": true
    }
{%- endcapture -%}

<aside id="cart" class="sidebar-cart">
  <h2>{{ 'cart.title' | t }}</h2>

  <form action="{{ routes.cart_url }}" method="post" novalidate id="cartform" class="cart ajaxcart">
    <ul class="list-cart" id="cart-inner">
    </ul>
  </form>

  <ul class="list-total">
    {% comment %} <li><span>{{ 'cart.shipping_costs' | t }}</span> <span class="overlay-a">{{ 'cart.free_shipping' | t }}</span></li> {% endcomment %}
    <li><span>{{ 'cart.tax' | t }}</span>{% if shop.taxes_included %}{{ 'cart.tax_included' | t }}{% else %}{{ 'cart.tax_excluded' | t }}{% endif %} 21%</li>
    <li class="strong"><span>{{ 'cart.total' | t }}</span> <span class="overlay-a" id="side-cart-total">{{ cart.total_price | money }}</span></li>
  </ul>
  <p class="link-btn wide"><a href="{{ routes.cart_url }}" class="a">{{ 'cart.continue_checkout' | t }}</a></p>
</aside>
