{%- assign for_drawer = true -%}
<script id="CartTemplate" type="text/template">
  {% raw %}
    {{#items}}
        <li class="sidebar-item">
          <a href="{{url}}">
            <input type="hidden" name="updates[]" class="ajaxcart__qty-num"
               value="{{itemQty}}" data-id="{{id}}" data-line="{{line}}"
               aria-label="quantity" pattern="[0-9]*">
            <span class="img">
              <img src="{{img}}" alt="{{name}}" width="70" height="90">
            </span>
            {{name}}
            {{#if variation}}
              <br>
              {{variation}}
            {{/if}}
            {{#properties}}
            {{#each this}}
              {{#if this}}
                <br>
                {{@key}}: {{this}}
              {{/if}}
            {{/each}}
            {{/properties}}
            <span class="strong price">{{{linePrice}}}</span>
            <span class="text-right">{{itemQty}}</span>
          </a>
          <a class="remove item-remove">Verwijderen</a>
        </li>
    {{/items}}
  {% endraw %}
</script>
