{%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}

{% comment %} Template specific overides {% endcomment %}
{% if request.page_type == 'product' %}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'product' -%}
  {%- capture og_image_tag -%} <meta property="og:image" content="{{ product.featured_image | img_url: '300x250', scale: 2, crop: 'center' }}" og:image:width="300" og:image:height="250"> {%- endcapture -%}
  {%- capture twitter_image_tag -%} <meta property="twitter:image" content="{{ product.featured_image | img_url: '300x250', scale: 2, crop: 'center' }}"> {%- endcapture -%}
{% elsif request.page_type == 'article' %}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {% if article.image %}
    {%- capture og_image_tag -%}<meta property="og:image" content="http:{{ article.image | img_url: '300x250', scale: 2, crop: 'center' }}" og:image:width="300" og:image:height="250">{%- endcapture -%}
    {%- capture og_image_secure_url_tag -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '300x250', scale: 2, crop: 'center' }}">{%- endcapture -%}
    {%- capture twitter_image_tag -%}<meta property="twitter:image" content="http:{{ article.image | img_url: '300x250', scale: 2, crop: 'center' }}">{%- endcapture -%}
  {% endif %}
{% elsif request.page_type == 'collection' %}
  {%- assign og_title = collection.title | strip_html -%}
  {%- assign og_type = 'product.group' -%}
  {% if collection.image %}
    {%- capture og_image_tag -%}<meta property="og:image" content="http:{{ collection.image | img_url: '300x250', scale: 2, crop: 'center' }}" og:image:width="300" og:image:height="250">{%- endcapture -%}
    {%- capture og_image_secure_url_tag -%}<meta property="og:image:secure_url" content="https:{{ collection.image | img_url: '300x250', scale: 2, crop: 'center' }}">{%- endcapture -%}
    {%- capture twitter_image_tag -%}<meta property="twitter:image" content="http:{{ collection.image | img_url: '300x250', scale: 2, crop: 'center' }}">{%- endcapture -%}
  {% endif %}
{% elsif request.page_type == 'password' %}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{% endif %}

<meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">
<meta property="og:title" content="{{og_title}}">
<meta property="og:type" content="{{og_type}}">
<meta property="og:description" content="{{og_description}}">
<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{og_url}}">
{% if request.page_type == 'product' %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  <meta property="og:price:amount" content="{{ current_variant.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
{% endif %}
{% if og_image_tag %}{{ og_image_tag }}{% endif %}
{% if og_image_secure_url_tag %}{{ og_image_secure_url_tag }}{% endif %}
<meta name="twitter:title" content="{{og_title}}">
<meta name="twitter:description" content="{{og_description}}">
<meta name="twitter:site" content="{{ shop.name }}">
{% if settings.logo %}
  <meta name="twitter:card" content="{{ settings.logo | img_url: 'master' }}">
{% endif %}
{% if twitter_image_tag %}{{ twitter_image_tag }}{% endif %}

<script type="application/ld+json">
  [
    {%- if request.page_type == 'index' -%}
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{og_url}}",
        "name": "{{ shop.name }}",
        "description": "{{og_description}}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{{og_url}}search?q={search_term_string}",
          "query-input": "required name=search_term_string"
        },
        "author": [
          {
            "@type": "Organization",
            "url": "https://www.dmws.nl/",
            "name": "DMWS B.V.",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "Klokgebouw 195 (Strijp-S)",
              "addressLocality": "Eindhoven",
              "addressRegion": "NB",
              "postalCode": "5617 AB",
              "addressCountry": "NL"
            }
          }
        ]
      },
    {% endif %}
    {%- if request.page_type == 'product' -%}
      {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": {{ product.title | json }},
        "url": {{ shop.url | append: product.url | json }},
        {%- if product.featured_image -%}
          {%- assign image_size = product.featured_image.width | append: 'x' -%}
          "image": [
            {{ product.featured_image.src | img_url: image_size | prepend: "https:" | json }}
          ],
        {%- endif -%}
        "description": {{ product.description | strip_html | json }},
        {%- if current_variant.sku != blank -%}
          "sku": {{ current_variant.sku | json }},
        {%- endif -%}
        {%- if current_variant.barcode != "" -%}
          "gtin8": "{{ current_variant.barcode }}",
        {%- endif -%}
        "brand": {
          "@type": "Thing",
          "name": {{ product.vendor | json }}
        },
        "offers": [
          {%- for variant in product.variants -%}
            {%- unless forloop.first or variant.title contains 'zichtservice' or variant.title contains 'staalaanvraag' -%}
            ,
            {%- endunless -%}
            {%- unless variant.title contains 'zichtservice' or variant.title contains 'staalaanvraag' -%}
            {
              "@type" : "Offer",
              {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
              {%- endif -%}
              {%- assign date = 'now' | date: "%s" | plus : 31556926 %}
              "priceValidUntil": "{{ date | date: '%Y-%m-%d' }}",
              "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
              "inventoryLevel": "{{ variant.inventory_quantity }}",
              {%- if variant.title contains 'maatwerk' -%}{%- assign price = variant.price | times: 100.00 | divided_by: 100.00 | json -%}{%- else -%}{%- assign price = variant.price | divided_by: 100.00 | json -%}{%- endif -%}
              "price" : {{ price }},
              "priceCurrency" : {{ cart.currency.iso_code | json }},
              "url" : {{ shop.url | append: variant.url | json }}
            }
            {%- endunless -%}
          {%- endfor -%}
        ]
      }
    {%- elsif request.page_type == 'article' -%}
      {
        "@context": "https://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ og_url }}"
        },
        "headline": "{{ article.title }}",
        "image": "{{ article.image | img_url: 'master' }}",
        "datePublished": "{{ article.published_at}} ",
        "dateModified": "{{ article.updated_at }} ",
        "author": {
          "@type": "Person",
          "name": "{{ article.author }}"
        },
         "publisher": {
          "@type": "Organization",
          {%- if settings.logo -%}
            "logo": {
              "@type": "ImageObject",
              "url": "{{ settings.logo | img_url: 'master' }}"
            },
          {%- endif -%}
          "name": "{{ shop.name }}"
        }
      }
    {%- else -%}
    {
      "@context": "http://schema.org/",
      "@type": "Organization",
      "url": "{{og_url}}",
      "name": "{{ shop.name }}",
      "legalName": "{{ shop.name }}",
      "description": "{{og_description}}",
      {%- if settings.logo -%}
        "logo": "{{ settings.logo | img_url: 'master' }}",
        "image": "{{ settings.logo | img_url: 'master' }}",
      {%- endif -%}
      "contactPoint": {
        "@type": "ContactPoint",
        "contactType": "Customer service",
        "telephone": "{{ shop.phone }}"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ shop.address.street }}",
        "addressLocality": "{{ shop.address.city }}",
        "postalCode": "{{ shop.address.zip }}",
        "addressCountry": "{{ shop.address.country | uppercase }}"
      }
    }
    {%- endif -%}
  ]
</script>

<script>
if ($('.list-breadcrumbs').length) {
  var breadcrumbsMarkup = '';

  var breadcrumbs = [];
  $('.list-breadcrumbs').children().each(function(index) {
    var name = '',
        link = '';
    if ($(this).find('a').length) {
      name = $(this).find('a').text();
      link = "{{ shop.url }}"+$(this).find('a').attr('href');
    } else {
      name = $(this).text();
      link = "{{ og_url }}";
    }
    var breadcrumb = {
      "@type": "ListItem",
      "position": index+1,
      "name": name,
      "item": link
    };
    breadcrumbs.push(breadcrumb);
  })
  var breadcrumbsMarkup = {
    "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": breadcrumbs
  };

  var schema = []
  schema.push(breadcrumbsMarkup);
  var script = document.createElement('script');
      script.type = "application/ld+json";
      script.text = JSON.stringify(schema);

      document.querySelector('body').appendChild(script);
}
</script>
