{% include 'breadcrumbs' %}

<article>
  <div class="double a w1192 form-login">
      {%- form 'activate_customer_password', name: 'activate', id: 'activate_customer_password' -%}
        {%- if form.errors -%}
          <script>
            if ($('.list-notifications').length == 0) {
                $('<ul class="list-notifications">'+
                {% for error in form.errors %}
                  '<li>'+
                  '<p class="overlay-d">'+
                  {% if error == 'form' %}
                    '{{ form.errors.messages[error] }}'+
                  {% else %}
                    '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                  {% endif %}
                  '</p>'+
                  '</li>'+
                {% endfor %}
                '</ul>').insertAfter('#top');
            };
          </script>
        {%- endif -%}

        <div class="activate-account-container">
          <h2>{{ 'customer.activate_account.title' | t }}</h2>
          <p>
            <label for="password">
            {{ 'customer.activate_account.password' | t }}
            </label>
            <input type="password" name="customer[password]" id="password" placeholder="{{ 'customer.activate_account.password' | t }}">
          </p>
          <p>
            <label for="password_confirmation">
              {{ 'customer.activate_account.password_confirmation' | t }}
            </label>
            <input type="password" name="customer[password_confirmation]" id="password_confirmation" placeholder="{{ 'customer.activate_account.password_confirmation' | t }}">
          </p>
        </div>

        <p class="submit"><button type="submit">{{ 'customer.activate_account.submit' | t }}</button></p>
      {%- endform -%}
  </div>
</article>
