<header class="heading-main">
  {% include 'breadcrumbs' %}
  <h1>{{ 'customer.addresses.title' | t }}</h1>
</header>

<article class="w1192 manage-addresses-wrapper">
  <p>
    <a href="{{ routes.account_url }}">‹ {{ 'customer.account.back_to_account' | t }}</a>
  </p>
  {% paginate customer.addresses by 999 %}
  <div class="w1075">
    <div data-address class="cusaddress">
      <p class="submit link-btn double "><button type="button" class="small" data-address-toggle>{{ 'customer.addresses.add_address' | t }}</button></p>

      <div data-address-form class="hidden address-form">
        {% form 'customer_address', customer.new_address %}
          <h2>{{ 'customer.addresses.add_address' | t }}</h2>
          <div data-address-fields class="address-form">
            <div class="double a">
              <p>
                <label for="AddressFirstNameNew">
                {{ 'customer.addresses.first_name' | t }}
                </label>
                <input type="text"
                name="address[first_name]"
                id="AddressFirstNameNew"
                value="{{ form.first_name }}"
                autocapitalize="words">
              </p>
              <p>
                <label for="AddressLastNameNew">
                  {{ 'customer.addresses.last_name' | t }}
                </label>
                <input type="text"
                      name="address[last_name]"
                      id="AddressLastNameNew"
                      value="{{ form.last_name }}"
                      autocapitalize="words">
              </p>
            </div>

            <div class="double a">
              <p>
                <label for="AddressCompanyNew">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text"
                      name="address[company]"
                      id="AddressCompanyNew"
                      value="{{ form.company }}"
                      autocapitalize="words">
              </p>
              <p>
                <label for="AddressAddress1New">
                  {{ 'customer.addresses.address1' | t }}
                </label>
                <input type="text"
                      name="address[address1]"
                      id="AddressAddress1New"
                      value="{{ form.address1 }}"
                      autocapitalize="words">
              </p>
            </div>

            <div class="double a">
              <p>
                <label for="AddressAddress2New">
                  {{ 'customer.addresses.address2' | t }}
                </label>
                <input type="text"
                      name="address[address2]"
                      id="AddressAddress2New"
                      value="{{ form.address2 }}"
                      autocapitalize="words">
              </p>
              <p>
                <label for="AddressZipNew">
                  {{ 'customer.addresses.zip' | t }}
                </label>
                <input type="text"
                name="address[zip]"
                id="AddressZipNew"
                value="{{ form.zip }}"
                autocapitalize="characters">
              </p>
            </div>

            <div class="double a">
              <p>
                <label for="AddressCityNew">
                  {{ 'customer.addresses.city' | t }}
                </label>
                <input type="text"
                      name="address[city]"
                      id="AddressCityNew"
                      value="{{ form.city }}"
                      autocapitalize="words">
              </p>
              <p>
                <label for="AddressCountryNew">
                  {{ 'customer.addresses.country' | t }}
                </label>
                <select name="address[country]"
                        id="AddressCountryNew"
                        data-default="Nederland">
                  {{ all_country_option_tags }}
                </select>
              </p>
            </div>

            <div class="double a">
              <p>
                <label for="AddressPhoneNew">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel"
                      name="address[phone]"
                      id="AddressPhoneNew"
                      value="{{ form.phone }}"
                      pattern="[0-9\-]*">
              </p>
            </div>
          </div>

          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new" class="address_form_label">
            {{ 'customer.addresses.set_default' | t }}
          </label>

          <p class="double-btns">
            <button class="a btncancel" data-address-toggle data-form-id="{{ form.id }}">
              {{ 'customer.addresses.cancel' | t }}
            </button>
            <button type="submit" class="small">
              {{ 'customer.addresses.add' | t }}
            </button>
          </p>
        {% endform %}
      </div>
    </div>

    <hr>

    {% include 'manage-address2' %}
    {% include 'manage-address1' %}
    {% include 'manage-address3rest' %}

    {% if paginate.pages > 1 %}
        {% include 'pagination' %}
    {% endif %}
    {% endpaginate %}
  </div>
</article>
