<script src="{{ 'account-dashboard.js' | asset_url }}"></script>

<header class="heading-main">
  {% include 'breadcrumbs' %}
</header>
<div class="order-details-wrapper">
  <div class="account-panel-wrapper">
    <div class="account-panel">
      <div class="tab-account">
        <a href="{{ routes.account_url }}">
          <button class="tab-account-item " onclick="OpenTab(event, 'account-dashboard')" id="tab-account-dashboard">
            <img src="{{ 'account-icon-dashboard.svg' | asset_url }}" onload="SVGInject(this)"/>Dashboard</button>
        </a>
        <a href="{{ routes.account_url }}">
          <button class="tab-account-item" onclick="OpenTab(event, 'account-orders')" id="tab-account-orders">
            <img src="{{ 'account-icon-orders.svg' | asset_url }}" onload="SVGInject(this)"/>Bestellingen</button>
        </a>
        <a href="{{ routes.account_url }}">
          <button class="tab-account-item" onclick="OpenTab(event, 'account-brands')" id="tab-account-brands">
            <img src="{{ 'account-icon-brands.svg' | asset_url }}" onload="SVGInject(this)"/>Merken</button>
        </a>
        <a href="{{ routes.account_url }}">
          <button class="tab-account-item" onclick="OpenTab(event, 'account-details')" id="tab-account-details">
            <img src="{{ 'account-icon-credentials.svg' | asset_url }}" onload="SVGInject(this)"/>Accountgegevens</button>
        </a>
        <a href="{{ routes.account_url }}">
          <button class="tab-account-item" onclick="OpenTab(event, 'account-contact')" id="tab-account-contact">
            <img src="{{ 'account-icon-contact.svg' | asset_url }}" onload="SVGInject(this)"/>Contact</button>
        </a>
        <button id="clear">
          <a href="{{ routes.account_logout_url }}"><img src="{{ 'account-icon-logout.svg' | asset_url }}" onload="SVGInject(this)"/>{{ 'customer.account.logout' | t }}</a></button>
      </div>
    
    <div id="scrollTo"></div>
    
    <article class="tab-account-content">
      <h1>{{ 'customer.order.title' | t: order_number: order.name }}</h1>
    
      <div class="order-detail-infobox">
        <div>
          <span class="order-status-titles">{{ 'customer.order.status_text' | t }}: </span>
          <span class="order-item-data financial-status {{ order.financial_status }}">
            {{ order.financial_status_label }}
          </span>
        </div>
        
        {% if order.note != blank or order.note != "" %}
          <div>
            <span class="order-status-titles">{{ 'customer.order.note' | t }}: </span>
            <span>{{ order.note }}</span>
          </div>
        {% endif %}
    
        {%- assign placed_at = order.created_at | date: "%d/%m/%Y" -%}
        <div>
          <span class="order-status-titles">Datum: </span>
            <span>{{ placed_at }}</span>
          </div>
        </div>
    
        {% if order.cancelled %}
          {%- assign cancelled_at = order.cancelled_at | date: format: 'day_monthtext_year_hour_minutes' -%}
          <p>{{ 'customer.order.cancelled_at' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        {% endif %}
    
        <table class="responsive-table order">
          <thead>
            <tr>
              <th><strong>{{ 'customer.order.product' | t }}</strong></th>
              <th></th>
              <th><strong>{{ 'customer.order.price' | t }}</strong></th>
              <th><strong>{{ 'customer.order.quantity' | t }}</strong></th>
              <th><strong>{{ 'customer.order.total' | t }}</strong></th>
            </tr>
            <tr height="6"></tr>
          </thead>
          <tbody>
            {% for line_item in order.line_items %}
              <tr id="{{ line_item.key }}" class="responsive-table-row">
                <td data-label="{{ 'customer.order.image' | t }}" class="img-row">
                  <figure>
                    {% if line_item.image %}
                      <img data-src="{{ line_item.image | img_url: "240x240"}}" alt="{{ line_item.image.alt | escape }}" width="100" height="100">
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </figure>
                </td>
                <td data-label="{{ 'customer.order.product' | t }}">
                  <div class="order-detail-productlink">{{ line_item.title | link_to: line_item.product.url }}</div>
                  {% if line_item.fulfillment %}
                    {%- assign fulfilled_at = line_item.fulfillment.created_at | date: format: 'day_monthtext_year_hour_minutes' -%}
                    <dl>
                      <dt>{{ 'customer.order.fulfilled_at' | t: date: fulfilled_at }}</dt>
                      {% if line_item.fulfillment.tracking_company %}
                        <dt>{{ 'customer.order.tracking_company' | t }}: {{ line_item.fulfillment.tracking_company }}</dt>
                      {% endif %}
    
                      {% if line_item.fulfillment.tracking_number %}
                        <dt>{{ 'customer.order.tracking_number' | t }}: {{ line_item.fulfillment.tracking_number }}</dt>
                      {% endif %}
    
                      {% if line_item.fulfillment.tracking_url %}
                        <dt>
                          <a href="{{ line_item.fulfillment.tracking_url }}">
                            {{ 'customer.order.track_shipment' | t }}
                          </a>
                        </dt>
                      {% endif %}
                    </dl>
                  {% endif %}
                </td>
                <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="order-detail-costs-container">
          <div class="order-detail-costs-row">
            <div>
              <td colspan="4" class="small--hide">{{ 'customer.order.subtotal' | t }}</td>
            </div>
            <div>
              <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
            </div>
          </div>
    
      <!--{% for discount in order.discount_applications %}
            <div class="order-detail-costs-row">
              <div>
                <td colspan="4" class="small--hide">{{ 'customer.order.discount' | t }} - {{ discount.title }}</td>
              </div>
              <div>
                <td data-label="{{ 'customer.order.discount' | t }}">- {{ discount.total_allocated_amount | money }}</td>
              </div>
            </div>
          {% endfor %} -->
          
          {% for tax_line in order.tax_lines %}
            <div class="order-detail-costs-row">
              <div>
                <td colspan="4" class="small--hide">{{ 'customer.order.tax' | t }} ({{ tax_line.rate | times: 100 }}%)</td>
              </div>
              <div>
                <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
              </div>
            </div>
          {% endfor %}
    
          {% for shipping_method in order.shipping_methods %}
            <div class="order-detail-costs-row">
              <div>
                <td colspan="4" class="small--hide">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
              </div>
              <div>
                <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
              </div>
            </div>
          {% endfor %}
    
          <div class="order-detail-costs-row">
            <div>
              <td colspan="4" class="small--hide">{{ 'customer.order.total' | t }}</td>
            </div>
            <div>
              <td data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }}</td>
            </div>
          </div>
        </div>
    
        <div class="order-detail-addresscontainer">
          {% if order.billing_address != blank %}
            <div class="order-detail-addresscolumn">
              <h2 class="header-line">{{ 'customer.order.billing_address' | t }}</h2>
              <!-- <p><strong>{{ 'customer.orders.payment_status' | t }}: {{ order.financial_status_label }}</strong></p> -->
              {{ order.billing_address | format_address }}
            </div>
          {% endif %}
          {% if order.shipping_address != blank %}
            <div class="order-detail-addresscolumn">
              <h2 class="header-line">{{ 'customer.order.shipping_address' | t }}</h2>
              <!-- <p><strong>{{ 'customer.orders.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</strong></p> -->
              {{ order.shipping_address | format_address }}
            </div>
          {% endif %}
        </div>

        <script>function setAccountOrders(){sessionStorage.setItem('tabClicked', 'account-orders');}</script>
        <p><a onclick="setAccountOrders()" href="{{ routes.account_url }}">‹ {{ 'customer.order.back_to_orders' | t }}</a></p>
    </article>
  </div>
</div>
