{% include 'breadcrumbs' %}

<h2><center>{{ page.title }}</center></h2>
<article>
    <div class="double a w1192 form-login">
      {%- form 'reset_customer_password', name: 'activate', id: 'reset_customer_password' -%}
        {%- if form.errors -%}
          <script>
            if ($('.list-notifications').length == 0) {
                $('<ul class="list-notifications">'+
                {% for error in form.errors %}
                  '<li>'+
                  '<p class="overlay-d">'+
                  {% if error == 'form' %}
                    '{{ form.errors.messages[error] }}'+
                  {% else %}
                    '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                  {% endif %}
                  '</p>'+
                  '</li>'+
                {% endfor %}
                '</ul>').insertAfter('#top');
            };
          </script>
        {%- endif -%}
  
        <h2>{{ 'customer.reset_password.title' | t }}</h2>
        <p><center>Vul uw nieuwe wachtwoord in.</center></p>
        <p>
          <label>{{ 'customer.reset_password.new_password' | t }}</label>
          <input type="password" name="customer[password]" placeholder="Nieuw wachtwoord" required autofocus>
        </p>
        <p>
          <label>{{ 'customer.reset_password.repeat_new_password' | t }}</label>
          <input type="password" name="customer[password_confirmation]" placeholder="Nieuw wachtwoord herhalen" required>
        </p>
        <p class="submit"><button type="submit">{{ 'customer.reset_password.submit' | t }}</button></p>
        <input type="hidden" name="checkout_url" value="/pages/bedankt-wachtwoord-herstel">
      {%- endform -%}
    </div>
</article>
