<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
{% include 'taginstall-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {% for customer-tag in customer.tags %}
      <div style="display:none" class="customer-tag">{{ customer-tag }}</div>
    {% endfor %}

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>

<script>
    customer_tag = document.getElementsByClassName('customer-tag');
    var manual_payment = false;

    if(document.querySelectorAll("[data-gateway-group='manual']").length !== 0) {
        document.querySelectorAll("[data-gateway-group='manual']")[0].setAttribute('name', 'attributes[Invoice Send]')
    }

    for (let i = 0; i < customer_tag.length; i++) {
        if (customer_tag[i] !== undefined) {
            if(customer_tag[i].innerText === 'manual_payment') {
                manual_payment = true;
            }
            customer_tag[i].style.display = 'none';
        }
    }

    if(manual_payment === false) {
      document.querySelectorAll("[data-gateway-group='manual']")[0].style.display = 'none'
    }
</script>

<style>
    .product__description .reduction-code {
        display: none;
    }
    .skeleton-while-loading--sm {
        display: none;
    }
</style>
