{% comment %}ly_liquid_scripts_begin{% endcomment %}{% capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}<!doctype html>
<html dir="ltr" lang="{{ shop.locale }}" data-moneyformat={{ shop.money_format | json }} class="closed-bar">
  <head>
{% include 'taginstall-head' %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title | remove: 'product' }}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
    {%- assign og_description = page_description | default: shop.description | default: shop.name -%}{% if request.page_type == 'article' %}{%- assign og_description = article.excerpt_or_content | strip_html -%}{% endif %}
 	<meta name="description" content="{{ og_description }}">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, target-densitydpi=device-dpi, shrink-to-fit=no,maximum-scale=1.0,user-scalable=0">
    <meta name="author" content="https://someoneyouknow.online">
    <meta name="facebook-domain-verification" content="x0383faru5796ttlz4vfnz82ykkfg2" />

    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"4009314"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

    <!--begin-boost-pfs-filter-css-->
    {% include 'boost-pfs-style' %}
    <!--end-boost-pfs-filter-css-->

    <link rel="preload" as="style" href="{{ 'screen.css' | asset_url }}">
    <link rel="stylesheet" media="screen" href="{{ 'screen.css' | asset_url }}">
    {% comment %}<link rel="preload" as="style" href="{{ 'custom.scss.css' | asset_url }}">
    <link rel="stylesheet" media="screen" href="{{ 'custom.scss.css' | asset_url }}">{% endcomment %}
    <link rel="preload" as="style" href="{{ 'custom.css' | asset_url }}">
    <link rel="stylesheet" media="screen" href="{{ 'custom.css' | asset_url }}">
    {% if template contains 'product' %} {% comment %} preload the largest contentful paint image {% endcomment %} 
    <link rel="preload" as="image" href="{{ product.featured_image | img_url: '260x400', scale: 2 }}">
    {% endif %}
    {% if template contains 'index' %} {% comment %} preload the largest contentful paint image {% endcomment %} 
    <link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0278/1301/9785/files/Perfect-vloerkleed-vloerkledenwinkel-banner-800x600_450x370_crop_center@2x.png?v=1606812168">
    {% endif %}
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#000000">
    <link rel="manifest" href="{{ 'manifest.json' | asset_url }}">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://cdn.shopify.com/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://cdn.shopify.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>
    <meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">
    {% if template contains 'product' %}
    	{% if product.type == '[services]' or product.type == 'Stalen' or product.tags contains 'customised_product' %}
    		<meta name="robots" content="noindex">
    	{% endif %}
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">
    <script src="{{ 'jquery.js' | asset_url }}"></script>
    <script src="{{ 'cookies.js' | asset_url }}"></script>

    {{ content_for_header }}
    <meta name="p:domain_verify" content="15709a92e7134700d224041b3c029254"/>
     <!-- Pinterest Tag -->
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2613555661226', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
  src="https://ct.pinterest.com/v3/?event=init&tid=2613555661226&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
<!-- end Pinterest Tag -->

<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-round="true" data-pin-save="false" src="//assets.pinterest.com/js/pinit.js"></script>
<script src="{{ 'notification_checker.js' | asset_url }}"></script>
<script src="{{ 'custom_add-to-cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'soldout.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'footer_height.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'svg-inject.min.js' | asset_url }}"></script>

{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>
  <body class="template-{{ request.page_type | handle }}">

    <div id="root">
      <div class="message-bar-container killnotification kill-top-notification">
        {% section 'message-bar' %}
      </div>
      
      {%- section 'header' -%}
      <div class="master-page-wrapper">
        <main id="content" class="move-content">
          
          <div class="message-bar2-wrapper">
            {% section 'message-bar2' %}
          </div>
          {{ content_for_layout }}
        </main>
        {%- include 'side-cart-items' -%}
        {%- include 'side-cart' %}
        {%- include 'side-zichtservice' -%}
        {%- section 'footer' -%}
      </div>
    </div>
    
    {{ 'boost-pfs-custom.scss.css' | asset_url | stylesheet_tag }}

    <script defer src="{{ 'scripts.js' | asset_url }}"></script>
    <script defer src="{{ 'custom.js' | asset_url }}"></script>
    <script src="{{ 'handlebars.min.js' | asset_url }}"></script>
    <script src="{{ 'ajax-cart.js' | asset_url }}"></script>

    <script defer src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
    
    {%- if template contains 'product' -%}
    <script defer src="{{ 'recently-viewed-products.js' | asset_url }}"></script>
      <script>
        var _learnq = _learnq || [];
        var item = {
            Name: {{ product.title|json }},
            ProductID: {{ product.id|json }},
            Categories: {{ product.collections|map:'title'|json }},
            ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
            URL: "{{ shop.secure_url }}{{ product.url }}",
            Brand: {{ product.vendor|json }},
            Price: {{ product.price|money|json }},
            CompareAtPrice: {{ product.compare_at_price_max|money|json }}
        };

        _learnq.push(['track', 'Viewed Product', item]);
        _learnq.push(['trackViewedItem', {
            Title: item.Name,
            ItemId: item.ProductID,
            Categories: item.Categories,
            ImageUrl: item.ImageURL,
            Url: item.URL,
            Metadata: {
                Brand: item.Brand,
                Price: item.Price,
                CompareAtPrice: item.CompareAtPrice
            }
        }]);

        document.querySelector(".buy-button").addEventListener('click',function (){
            _learnq.push(['track', 'Added to Cart', item]);
        });
      </script>

	{% endif %}


	{% if template contains 'product' or template contains 'cart' %}
     {%- include 'swymSnippet' -%}
    {% else %}
    	<link rel="dns-prefetch" href="https://store.swymrelay.com" crossorigin>
      <link rel="dns-prefetch" href="//swymprod.azureedge.net/code/swym-shopify.js">
      <link rel="preconnect" href="//swymprod.azureedge.net/code/swym-shopify.js">
    	<style id="safari-flasher-pre"></style>
    {% endif %}


    <!--begin-boost-pfs-js-->
    {% include 'boost-pfs' %}
  	<!--end-boost-pfs-js-->


    {% include 'social-meta-tags' %}

<!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->
<!-- langify-v2-scripts-begin -->{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}{% render 'ly-liquid-scripts' content: ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% comment %}ly_core_scripts_begin{% endcomment %}{% render 'ly-core-scripts' %}{% comment %}ly_core_scripts_end{% endcomment %}{% comment %}ly_switcher_factory_begin{% endcomment %}{% render 'ly-switcher-factory' %}{% comment %}ly_switcher_factory_end{% endcomment %}<!-- langify-v2-scripts-end -->
<div class="transparent-back"></div>


{% include 'swymSnippet' %}

{% include 'taginstall-body' %}
</body>
</html>
