<div class="double a w1192 login-register-template">
  <div>
    <div class="seperatorspacer16"></div>
    {% form 'customer_login', name: 'login', id: 'customer_login', class: 'form-login box' %}
      {%- if form.errors -%}
        <script>
          if ($('.list-notifications').length == 0) {
              $('<ul class="list-notifications">'+
              {% for error in form.errors %}
                '<li>'+
                '<p class="overlay-d">'+
                {% if error == 'form' %}
                  '{{ form.errors.messages[error] }}'+
                {% else %}
                  '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                {% endif %}
                '</p>'+
                '</li>'+
              {% endfor %}
              '</ul>').insertAfter('#top');
          };
        </script>
      {%- endif -%}

      <h2>{{ 'customer.login.title' | t }}</h2>
      <p>
        <label for="fla">{{ 'customer.login.email' | t }}</label>
        <input type="email" id="fla" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus required>
      </p>

      {% if form.password_needed %}
        <p>
          <label for="flb">{{ 'customer.login.password' | t }}</label>
          <input type="password" id="flb" name="customer[password]" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}" required>
          <a id="recover-password-button" href="#recover" class="text-right" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
        </p>
      {% endif %}
      <p><button type="submit">{{ 'customer.login.submit' | t }}</button></p>
    {% endform %}

    <div class="form-login hidden" id="recover" data-recover-form>
      {% form 'recover_customer_password', id: 'recover_password' %}
        {%- if form.posted_successfully? -%}
          <script>
            if ($('.list-notifications').length == 0) {
              $("<ul class='list-notifications'><li>"+
              "<p class='overlay-a'>"+
              "{{ 'customer.recover_password.posted_successfully' | t }}"+
              "</p>"+
              "</li></ul>").insertAfter("#top");
            };
          </script>
        {%- endif -%}
        {%- if form.errors -%}
          <script>
            if ($('.list-notifications').length == 0) {
                $('<ul class="list-notifications">'+
                {% for error in form.errors %}
                  '<li>'+
                  '<p class="overlay-d">'+
                  {% if error == 'form' %}
                    '{{ form.errors.messages[error] }}'+
                  {% else %}
                    '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                  {% endif %}
                  '</p>'+
                  '</li>'+
                {% endfor %}
              '</ul>').insertAfter('#top');
            };
          </script>
        {%- endif -%}
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>{{ 'customer.recover_password.description' | t }}</p>
        <p>
          <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
          <input  type="email"
                  id="RecoverEmail"
                  name="email"
                  placeholder="{{ 'customer.recover_password.email' | t }}"
                  aria-label="{{ 'customer.recover_password.email' | t }}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  required>
        </p>
        <p><button type="submit">{{ 'customer.recover_password.submit' | t }}</button></p>
      {% endform %}
    </div>
  </div>
</div>

<script>
  if (sessionStorage.getItem('recoverInHeaderClicked')) {
    $("#recover-password-button")[0].click();
  sessionStorage.removeItem('recoverInHeaderClicked');
  }
</script>

{% schema %}
  {
    "name": {
      "en": "Login/register",
      "nl": "Login/registreer"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "en": "You can adjust the texts in the theme translations, under the tab 'Customer'",
          "nl": "Je kunt de teksten aanpassen in de themavertalingen, onder het kopje 'Customer'"
        }
      },
      {
        "type": "paragraph",
        "content": {
          "en": "What are some reasons your customers should create an account for your shop? Add USP's by clicking 'Add USP' below.",
          "nl": "Wat zijn redenen voor je klanten om een account voor je shop aan te maken? Voeg USP's toe door onderaan op 'Voeg USP toe' te klikken."
        }
      }
    ],
    "blocks": [
      {
        "type": "USP",
        "name": "USP",
        "settings": [
          {
            "type": "textarea",
            "id": "usp_text",
            "label": {
              "en": "USP text",
              "nl": "USP tekst"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
