<script src="{{ 'account-dashboard.js' | asset_url }}"></script>

<div class="account-panel">
  <div class="tab-account">
    <button class="tab-account-item" onclick="OpenTab(event, 'account-dashboard')" id="tab-account-dashboard">
      <img src="{{ 'account-icon-dashboard.svg' | asset_url }}" onload="SVGInject(this)"/>Dashboard</button>
    <button class="tab-account-item" onclick="OpenTab(event, 'account-orders')" id="tab-account-orders">
      <img src="{{ 'account-icon-orders.svg' | asset_url }}" onload="SVGInject(this)"/>Bestellingen</button>
    <button class="tab-account-item" onclick="OpenTab(event, 'account-brands')" id="tab-account-brands">
      <img src="{{ 'account-icon-brands.svg' | asset_url }}" onload="SVGInject(this)"/>Merken</button>
    <button class="tab-account-item" onclick="OpenTab(event, 'account-details')" id="tab-account-details">
      <img src="{{ 'account-icon-credentials.svg' | asset_url }}" onload="SVGInject(this)"/>Accountgegevens</button>
    <button class="tab-account-item" onclick="OpenTab(event, 'account-contact')" id="tab-account-contact">
      <img src="{{ 'account-icon-contact.svg' | asset_url }}" onload="SVGInject(this)"/>Contact</button>
    <button id="clear-cart">
      <a href="{{ routes.account_logout_url }}"><img src="{{ 'account-icon-logout.svg' | asset_url }}" onload="SVGInject(this)"/>{{ 'customer.account.logout' | t }}</a></button>
  </div>

  <div id="scrollTo"></div>
  
  <div id="account-dashboard" class="tab-account-content">
    <h1 class="account-h1">Dashboard</h1>
    <div class="account-doublerow">
      <div class="account-doublecolumn">
        <h3>Bestellingen</h3>
        {% paginate customer.orders by 3 %}
          <div class="account-orders">
            {% if customer.orders.size != 0 %}
              {% for order in customer.orders %}
                <div class="account-order-item order-item-compact force-align-top">
                  <div>
                    <span class="order-item-data"><b>{{ order.order_number }}</b></br></span>
                    <span class="order-item-data">{{ order.created_at | date: "%d-%m-%y" }}</span>
                  </div>
                  <div>
                    <span class="order-item-data financial-status {{ order.financial_status }}">{{ order.financial_status_label }}</span>
                    <span class="order-item-data">{{ order.total_price | money }}</span>
                  </div>
                  <div>
                    </br><span class="order-item-data"><a href="{{ order.customer_url }}">{{ 'customer.orders.view_order_short1' | t }}</a></span>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            {% if customer.orders == blank %}
              {{ 'customer.account.no_orders_content' | t }}
            {% endif %}
          </div>
        {% endpaginate %}
        <button class="link-btn account" onclick="GoToOrders()">Alle bestellingen ›</button>
      </div>
      <div class="account-doublecolumn">
        <h3>Accountgegevens</h3>
        <div>
          {% if customer.default_address.first_name != empty %}
            <strong>{{ customer.default_address.first_name }}</strong>
          {% endif %}
          {% if customer.default_address.last_name != empty %}
            <strong>{{ customer.default_address.last_name }}</strong>
          {% endif %}
          {% if customer.default_address.first_name != empty or customer.default_address.last_name != empty %}
              <br>
          {% endif %}
          {% if customer.email != empty %}
            {{ customer.email }}<br>
          {% endif %}
          {% if customer.default_address.phone != empty %}
            {{ customer.default_address.phone }}<br>
          {% endif %}
        </div>
        <div>
          {% if customer.default_address != blank %}
            <span>
              <span class="strong">{{ 'customer.addresses.default_address_label' | t }}</span></br>
              <span>
                {% if customer.default_address.company != empty %}{{ customer.default_address.company }}</br>{% endif %}
                {% if customer.default_address.address1 != empty %}{{ customer.default_address.address1 }}</br>{% endif %}
                {% if customer.default_address.zip != empty %}{{ customer.default_address.zip }}
                {{ customer.default_address.city }}</br>{% endif %}
                {% if customer.default_address.country != empty %}{{ customer.default_address.country }}</br>{% endif %}
              </span>
            </span>
            {% else %}
              <span>{{ 'customer.account.no_addresses_content' | t }}</span>
          {% endif %}
        </div>
        <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.account.manage_addresses' | t }}</button>
      </div>
    </div>
  </div>

  <div id="account-orders" class="tab-account-content">
    <h2 class="account-h2">{{ 'customer.account.orders_title' | t }}</h2>
    <div class="account-order-item hide-mobile">
      <span class="order-item-data"><b>Ordernummer</b></span>
      <span class="order-item-data"><b>Orderdatum</b></span>
      <span class="order-item-data"><b>Bedrag</b></span>
      <span class="order-item-data"><b>Referentie</b></span>
      <span class="order-item-data"><b>Status</b></span>
      <span class="order-item-data"></span>
    </div>

    {% paginate customer.orders by 10 %}
      <div class="account-orders">
        {% if customer.orders.size != 0 %}
            {% for order in customer.orders %}
              <div class="account-order-item">
                <span class="od-title show-mobile"><b>Ordernummer</b></span><span class="order-item-data"><b>{{ order.order_number }}</b></span>
                <span class="od-title show-mobile"><b>Orderdatum</b></span><span class="order-item-data">{{ order.created_at | date: "%d-%m-%Y" }}</span>
                <span class="od-title show-mobile"><b>Bedrag</b></span><span class="order-item-data">{{ order.total_price | money }}</span>
                <span class="od-title show-mobile"><b>Referentie</b></span><span class="order-item-data">{{ order.note }}</span>
                <span class="od-title show-mobile"><b>Status</b></span><span class="order-item-data financial-status {{ order.financial_status }}">{{ order.financial_status_label }}</span>
                <span class="od-title show-mobile"><b>Bestelling</b></span><span class="order-item-data">
                  <a href="{{ order.customer_url }}">{{ 'customer.orders.view_order_short2' | t }}</a>
                  <span> | </span>
                  <a target="_blank" href="{{ shop.url }}/apps/sufio/invoice/download/?id={{ order.id }}&number={{ order.order_number }}">Factuur</a>
                </span>
              </div>
            {% endfor %}
        {% endif %}
      </div>

    {% if paginate.pages > 1 %}
      <div class="seperatorspacerlarge"></div>
      {% include 'pagination' %}
    {% endif %}
    {% endpaginate %}

    {% if customer.orders == blank %}
      <div class="seperatorspacer"></div>
      {{ 'customer.account.no_orders_content' | t }}
    {% endif %}
  </div>
  
  <div id="account-brands" class="tab-account-content">
    <div class="twelve columns collection-list">
      <h2 class="account-h2">Merken</h2>

      <div class="account-doublerow">
        <div class="account-doublecolumn locked-height">
          {% if section.settings.brands_info_title_lb != empty %}
            <h3>{{ section.settings.brands_info_title_lb }}</h3>
          {% endif %}
          {{ section.settings.brands_info_richtext_lb }}
    
          <div class="contact-flex-links pushtobottom">
            <button class="link-btn account razzbackground" onclick="GoToContact()">Vraag toegang ›</button>
          </div>
        </div>
        {% if section.settings.brands_info_richtext_rb != empty %}
            <div class="account-doublecolumn no-background no-padding-horizontal">
              {% if section.settings.brands_info_title_rb != empty %}
                <h3>{{ section.settings.brands_info_title_rb }}</h3>
              {% endif %}
              {% if section.settings.brands_info_richtext_rb != empty %}
                {{ section.settings.brands_info_richtext_rb }}
              {% endif %}
            </div>
        {% endif %}
      </div>
      
      <article class="brands">
        <div>
          <ul>
            {% for block in section.blocks %}

              {% assign collectionTag = block.settings.tag %}
              {% for tag in customer.tags %}
                {% if tag contains collectionTag %}
                  {% assign tagSplit = tag | split: "|" %}
                  {% assign unlockedBrand = tagSplit[1] %}
                {% endif %}
              {% endfor %}

              {% if unlockedBrand contains collectionTag %}
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {% assign collection = collections[block.settings.collection] %}
                  <div class="brand">
                    <li>
                      <a href="{{ collection.url }}">
                        {% if collection != blank and collection.image %}
                          <img class="owl-lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ block.settings.image | img_url: '366x240', crop: 'center', scale: 2 }}" alt="{{ collection.title }}" width="330" height="325">
                        {% else %}
                          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                      </a>
                    </li>
                    <div class="brands-sub">
                      <a href="{{ collection.url }}">{{ collection.title }}</a>
                      <a href="{{ collection.url }}">Bekijk collectie</a>
                    </div>
                  </div>
                  {% assign unlockedBrand = false %}
              {% endif %}

            {% endfor %}
          </ul>
        </div>
      </article>
    </div>
  </div>

  <div id="account-details" class="tab-account-content">
    <div class="flex-container">
      <h2 class="account-h2">{{ 'customer.account.title' | t }}</h2>

      <div class="account-details-wrapper">
        <div class="account-details-main-container">
          {% if customer.default_address != blank %}
            <span>
              {% if customer.default_address.company != empty %}
                <strong>{{ customer.default_address.company }}</strong></br>
              {% endif %}
              {% if customer.default_address.first_name != empty %}
                {{ customer.default_address.first_name }}
              {% endif %}
              {% if customer.default_address.last_name != empty %}
                  {{ customer.default_address.last_name }}
              {% endif %}
              {% if customer.default_address.first_name != empty or customer.default_address.last_name != empty %}
                <br>
              {% endif %}
              {% if customer.email != empty %}
                {{ customer.email }}<br>
              {% endif %}
              {% if customer.default_address.phone != empty %}
                {{ customer.default_address.phone }}<br>
              {% endif %}
            </span>
          {% else %}
            <span>{{ 'customer.account.no_addresses_content2' | t }}</span>
          {% endif %}
          <div class="seperatorspacer"> </div>
          <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.account.manage_addresses' | t }}</button>
        </div>

        <h3 class="account-h3-adressen">Adressen</h3>
        <div class="account-details-sub-wrapper">

          <div class="account-details-sub-container">
            {% if customer.addresses[1] != blank %}
              {% assign BillingAddress = customer.addresses[1] %}

              <span class="strong adres-text">{{ 'customer.addresses.address_billing' | t }}</span>
              {% if BillingAddress.company != empty %}
                {{ BillingAddress.company }}</br>
              {% endif %}
              {% if BillingAddress.first_name != empty or BillingAddress.last_name != empty %}
                {{ BillingAddress.first_name }}
                {% if BillingAddress.last_name != empty %}
                  {{ BillingAddress.last_name }}
                {% endif %}</br>
              {% endif %}
              {% if BillingAddress.address1 != empty %}
                {{ BillingAddress.address1 }}</br>
              {% endif %}
              {% if BillingAddress.address2 != empty %}
                {{ BillingAddress.address2 }}</br>
              {% endif %}
              {% if BillingAddress.zip != empty %}
              {{ BillingAddress.zip }}
              {% endif %}
              {% if BillingAddress.city != empty %}
                {{ BillingAddress.city }}</br>
              {% endif %}
              {% if BillingAddress.country != empty %}
                {{ BillingAddress.country }}</br>
              {% endif %}
              <div class="seperatorspacer"> </div>
              <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.account.manage_addresses' | t }}</button>
            {% else %}
            <span class="strong adres-text">{{ 'customer.addresses.address_billing' | t }}</span>
              <span>{{ 'customer.account.no_addresses_content2' | t }}</span>
              <div class="seperatorspacer"> </div>
              <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.addresses.add' | t }}</button>
            {% endif %}
          </div>

          <div class="account-details-sub-container">
            {% if customer.default_address != blank %}
              {% assign DeliveryAddress = customer.default_address %}

              <span class="strong adres-text">{{ 'customer.addresses.default_address_label' | t }}</span>
              {% if DeliveryAddress.company != empty %}
                {{ DeliveryAddress.company }}</br>
              {% endif %}
              {% if DeliveryAddress.first_name != empty or DeliveryAddress.last_name != empty %}
                {{ DeliveryAddress.first_name }}
                {% if DeliveryAddress.last_name != empty %}
                  {{ DeliveryAddress.last_name }}
                {% endif %}</br>
              {% endif %}
              {% if DeliveryAddress.address1 != empty %}
                {{ DeliveryAddress.address1 }}</br>
              {% endif %}
              {% if DeliveryAddress.address2 != empty %}
                {{ DeliveryAddress.address2 }}</br>
              {% endif %}
              {% if DeliveryAddress.zip != empty %}
              {{ DeliveryAddress.zip }}
              {% endif %}
              {% if DeliveryAddress.city != empty %}
                {{ DeliveryAddress.city }}</br>
              {% endif %}
              {% if DeliveryAddress.country != empty %}
                {{ DeliveryAddress.country }}</br>
              {% endif %}
              <div class="seperatorspacer"> </div>
              <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.account.manage_addresses' | t }}</button>
            {% else %}
              <span class="strong adres-text">{{ 'customer.addresses.default_address_label' | t }}</span>
              <span>{{ 'customer.account.no_addresses_content2' | t }}</span>
              <div class="seperatorspacer"> </div>
              <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.addresses.add' | t }}</button>
            {% endif %}
          </div>

          <div class="account-details-sub-container">
            {% if customer.addresses[2] != blank %}
              {% assign ExtraAddress = customer.addresses[2] %}

              <span class="strong adres-text">{{ 'customer.addresses.default_address_label' | t }} 2</span>
              {% if ExtraAddress.company != empty %}
                {{ ExtraAddress.company }}</br>
              {% endif %}
              {% if ExtraAddress.first_name != empty or ExtraAddress.last_name != empty %}
                {{ ExtraAddress.first_name }}
                {% if ExtraAddress.last_name != empty %}
                  {{ ExtraAddress.last_name }}
                {% endif %}</br>
              {% endif %}
              {% if ExtraAddress.address1 != empty %}
                {{ ExtraAddress.address1 }}</br>
              {% endif %}
              {% if ExtraAddress.address2 != empty %}
                {{ ExtraAddress.address2 }}</br>
              {% endif %}
              {% if ExtraAddress.zip != empty %}
              {{ ExtraAddress.zip }}
              {% endif %}
              {% if ExtraAddress.city != empty %}
                {{ ExtraAddress.city }}</br>
              {% endif %}
              {% if ExtraAddress.country != empty %}
                {{ ExtraAddress.country }}</br>
              {% endif %}
              </span>
              <div class="seperatorspacer"> </div>
              <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.account.manage_addresses' | t }}</button>
            {% else %}
              <span class="strong adres-text">{{ 'customer.addresses.default_address_label' | t }} 2</span>
              <span>{{ 'customer.account.no_addresses_content2' | t }}</span>
              <div class="seperatorspacer"> </div>
              <button class="link-btn account" onclick="location.href='{{ routes.account_addresses_url }}';">{{ 'customer.addresses.add' | t }}</button>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>

<div id="account-contact" class="tab-account-content">
  <h2 class="account-h2">Contact</h2>
  <div class="account-doublerow">
    <div class="account-doublecolumn">
      {% if section.settings.info_title_lb != empty %}
        <h3>{{ section.settings.info_title_lb }}</h3>
      {% endif %}
      {{ section.settings.info_richtext_lb }}

      <div class="contact-flex-links">
        <span class="account-contact-item"><i class="icon-phone icon-rounded"></i>
            <a href="tel:{{ shop.phone }}">{{ shop.phone }}</a>
          </span>
          <span class="account-contact-item"><i class="icon-pencil icon-rounded"></i>
            <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
          </span>
          <span class="account-contact-item"><i class="icon-chat icon-rounded"></i>
            <a id="liveChatStart" href="#" onclick="StartLiveChat();">Start live chat</a>
          </span>
      </div>
    </div>
    {% if section.settings.info_title_rb != empty %}
        <div class="account-doublecolumn">
          <h3>{{ section.settings.info_title_rb }}</h3>
          {{ section.settings.info_richtext_rb }}
          <div class="contact-flex-links">
            {% if section.settings.title_url1_rb and section.settings.link_url1_rb %}
              <a href="{{ section.settings.link_url1_rb }}">{{ section.settings.title_url1_rb }}</a>
            {% endif %}
            {% if section.settings.title_url2_rb and section.settings.link_url2_rb %}
                <a href="{{ section.settings.link_url2_rb }}">{{ section.settings.title_url2_rb }}</a>
            {% endif %}
            {% if section.settings.title_url3_rb and section.settings.link_url3_rb %}
                <a href="{{ section.settings.link_url3_rb }}">{{ section.settings.title_url3_rb }}</a>
            {% endif %}
            {% if section.settings.title_url4_rb and section.settings.link_url4_rb %}
                <a href="{{ section.settings.link_url4_rb }}">{{ section.settings.title_url4_rb }}</a>
            {% endif %}
            {% if section.settings.title_url5_rb and section.settings.link_url5_rb %}
                <a href="{{ section.settings.link_url4_rb }}">{{ section.settings.title_url4_rb }}</a>
            {% endif %}
          </div>
        </div>
    {% endif %}
  </div>

  <div class="account-contact-form-container">
    {% form 'contact' %}
    <div class="account-contact-email hide-email">
      <label for="ContactFormEmail">{{ 'service.contact_form.email' | t }}</label>
      <input type="email" id="ContactFormEmail" name="contact[email]" value="{{ customer.email }}" />
    </div>
    <div class="account-contact-subject">
      <label for="ContactFormSubject">{{ 'service.contact_form.subject' | t }}</label>
      <select id="ContactFormSubject" name="contact[subject]" required>
        <option selected disabled value="">{{ 'service.contact_form.select_subject' | t }}</option>
        {% for block in section.blocks %}
          {% if block.settings.text != blank %}
            <option value="{{ block.settings.text }}">{{ block.settings.text }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="account-contact-message">
      <label for="ContactFormMessage">{{ 'service.contact_form.message' | t }}<span class="required">*</span></label>
      <textarea name="contact[{{ 'service.contact_form.message' | t }}]" id="ContactFormMessage" required></textarea>
    </div>
    <div class="account-contact-submit">
      <span class="text-right overlay-a" style="z-index: 11;">* Verplicht</span>
    </div>
    <div class="account-contact-submit">
      <input type="submit" value="{{ 'service.contact_form.send' | t }} ›" />
    </div>

    {% if form.posted_successfully? %}
      <script>
        if ($('.list-notifications').length == 0) {
          $("<ul class='list-notifications'><li>"+
          "<p class='overlay-a'>"+
          "{{ 'service.contact_form.posted_successfully' | t }}"+
          "</p>"+
          "</li></ul>").insertAfter("#top");
        };
      </script>
      {% else %}
      {%- if form.errors -%}
        <script>
          if ($('.list-notifications').length == 0) {
            $("<ul class='list-notifications'><li>"+
            "<p class='overlay-d'>"+
            "{{ 'service.contact_form.email' | t }} {{ form.errors.messages['email'] }}"+
            "</p>"+
            "</li></ul>").insertAfter("#top");
          };
        </script>
      {%- endif -%}
    {% endif %}
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Account settings",
  "settings":
  [
    {
      "type": "header",
      "content": {
        "en": "Merken tab: Content for infobox #1.",
        "nl": "Merken tab: Content voor infobox #1."
      }
    },
    {
      "type": "text",
      "id": "brands_info_title_lb",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    },
    {
      "type": "richtext",
      "id": "brands_info_richtext_lb",
      "info": {
        "en": "You can select your own texts and link them or use the linkboxes below.",
        "nl": "Je kan eigen teksten selecteren en linken of gebruik maken van onderstaande linkboxes."
      },
      "label": {
        "en": "Content",
        "nl": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Merken tab: Content for infobox #2.",
        "nl": "Merken tab: Content voor infobox #2."
      }
    },
    {
      "type": "text",
      "id": "brands_info_title_rb",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    },
    {
      "type": "richtext",
      "id": "brands_info_richtext_rb",
      "info": {
        "en": "You can select your own texts and link them or use the linkboxes below.",
        "nl": "Je kan eigen teksten selecteren en linken of gebruik maken van onderstaande linkboxes."
      },
      "label": {
        "en": "Content",
        "nl": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Contact tab: Content for infobox #1.",
        "nl": "Contact tab: Content voor infobox #1."
      }
    },
    {
      "type": "text",
      "id": "info_title_lb",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    },
    {
      "type": "richtext",
      "id": "info_richtext_lb",
      "info": {
        "en": "You can select your own texts and link them or use the linkboxes below.",
        "nl": "Je kan eigen teksten selecteren en linken of gebruik maken van onderstaande linkboxes."
      },
      "label": {
        "en": "Content",
        "nl": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Contact tab: Content for infobox #2.",
        "nl": "Contact tab: Content voor infobox #2."
      }
    },
    {
      "type": "text",
      "id": "info_title_rb",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    },
    {
      "type": "richtext",
      "id": "info_richtext_rb",
      "info": {
        "en": "You can select your own texts and link them or use the linkboxes below.",
        "nl": "Je kan eigen teksten selecteren en linken of gebruik maken van onderstaande linkboxes."
      },
      "label": {
        "en": "Content",
        "nl": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 1/5",
        "nl": "Link 1/5"
      }
    },
    {
      "type": "text",
      "id": "title_url1_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url1_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 2/5",
        "nl": "Link 2/5"
      }
      },
    {
      "type": "text",
      "id": "title_url2_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url2_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 3/5",
        "nl": "Link 3/5"
      }
    },
    {
      "type": "text",
      "id": "title_url3_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url3_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    }
    ,
    {
      "type": "header",
      "content": {
        "en": "Link 4/5",
        "nl": "Link 4/5"
      }
    },
    {
      "type": "text",
      "id": "title_url4_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url4_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 5/5",
        "nl": "Link 5/5"
      }
    },
    {
      "type": "text",
      "id": "title_url5_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url5_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    }
  ],
  "blocks": [
    {
      "type": "Collection",
      "name": {
        "en": "Collection",
        "nl": "collectie"
      },
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": {
            "en": "Collection",
            "nl": "collectie"
          }
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
          "en": "Image",
          "nl": "Afbeelding"
          }
        },
        {
          "type": "text",
          "id": "tag",
          "label": {
          "en": "Collection Tag",
          "nl": "Collectie Tag"
          }
        }
      ]
    },
    {
			"name": "Contact-form onderwerp",
			"type": "Onderwerp",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Onderwerp"
				}
			]
		}
  ]
}
{% endschema %}

<script>
  var tabName = sessionStorage.getItem('tabClicked');
  if (tabName) {
    OpenTab(event, tabName);
    var e = document.getElementById("tab-" + tabName);
    e.classList.add("active");
  }
  else {
    OpenTab(event, 'account-dashboard');
    var e = document.getElementById("tab-account-dashboard");
    e.classList.add("active");
  }
</script>
