<div class="register-header">
  <h1>{{ 'service.register_form.title' | t }}</h1>
  <p class="span-strong span-overlay-a">{{ 'service.register_form.create_account_info_html' | t }}</p>
</div>
<div class="register">
  <div class="register-form">
    <div>
      {% form 'contact' %}
        <div class="register-personal">
          <h2>{{ 'service.register_form.personal' | t }}</h2>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.name' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.name' | t }}]" placeholder="{{ 'service.register_form.name' | t }}" required/>
          </div>
          <div class="doublecolumn-register">
            <div class="firstcolumn-register">
              <label for="ContactFormEmail">{{ 'service.register_form.tussenvoegsel' | t }}</label>
              <input type="text" id="RegisterFormTussenvoegsel" name="contact[{{ 'service.register_form.tussenvoegsel' | t }}]" placeholder="{{ 'service.register_form.tussenvoegsel' | t }}" />
            </div>
            <div class="secondcolumn-register">
              <label for="ContactFormPhone">{{ 'service.register_form.lastname' | t }}</label>
              <input type="tel" id="RegisterFormLastname" name="contact[{{ 'service.register_form.lastname' | t }}]" placeholder="{{ 'service.register_form.lastname' | t }}" required/>
            </div>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.email' | t }}</label>
            <input type="email" id="RegisterFormEmail" name="contact[email]" placeholder="{{ 'service.register_form.email' | t }}" required/>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.phone' | t }}</label>
            <input type="text" id="RegisterFormPhone" name="contact[{{ 'service.register_form.phone' | t }}]" placeholder="{{ 'service.register_form.phone' | t }}" required/>
          </div>
        </div>
        <div class="register-business">
          <h2>{{ 'service.register_form.business' | t }}</h2>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.registeredName' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.registeredName' | t }}]" placeholder="{{ 'service.register_form.registeredName' | t }}" required/>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.address1' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.address1' | t }}]" placeholder="{{ 'service.register_form.address1' | t }}" required/>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.address2' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.address2' | t }}]" placeholder="{{ 'service.register_form.address2' | t }}" />
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.zipcode' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.zipcode' | t }}]" placeholder="{{ 'service.register_form.zipcode' | t }}" required/>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.city' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.city' | t }}]" placeholder="{{ 'service.register_form.city' | t }}" required/>
          </div>
          {% comment %}<div>
            <label for="ContactFormName">{{ 'service.register_form.country' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.country' | t }}]" placeholder="{{ 'service.register_form.country' | t }}" required/>
          </div>{% endcomment %}
          <div class="account-contact-subject">
            <label for="ContactFormSubject">{{ 'service.register_form.country' | t }}</label>
            <select id="ContactFormSubject" name="contact[land]" required>
              <option selected disabled value="">{{ 'service.contact_form.select_subject' | t }}</option>
              {% for block in section.blocks %}
                {% if  block.type == 'Country' %}
                  <option value="{{ block.settings.title }}">{{ block.settings.title }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.url' | t }}</label>
            <input type="url" id="RegisterFormName" name="contact[{{ 'service.register_form.url' | t }}]" placeholder="{{ 'service.register_form.url' | t }}" required/>
          </div>
          <div>
            <label for="ContactFormName">{{ 'service.register_form.btw' | t }}</label>
            <input type="text" id="RegisterFormName" name="contact[{{ 'service.register_form.btw' | t }}]" placeholder="{{ 'service.register_form.btw' | t }}" />
          </div>
        </div>
        <div class="register-account">
          <h2>{{ 'service.register_form.account' | t }}</h2>
          <div class="account-contact-subject">
            <label for="ContactFormSubject">{{ 'service.register_form.customer' | t }}</label>
            <select id="ContactFormSubject" name="contact[type klant]" required>
              <option selected disabled value="">{{ 'service.contact_form.select_subject' | t }}</option>
              {% for block in section.blocks %}
                {% if  block.type == 'Onderwerp' %}
                  <option value="{{ block.settings.text }}">{{ block.settings.text }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <p>Interesse in:</p>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option1' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option1' | t }}</label>
          </div>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option2' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option2' | t }}</label>
          </div>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option3' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option3' | t }}</label>
          </div>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option4' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option4' | t }}</label>
          </div>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option5' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option5' | t }}</label>
          </div>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option6' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option6' | t }}</label>
          </div>
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.option7' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.option7' | t }}</label>
          </div>
          <div>
            <label id="hidelabel" for="ContactFormName">{{ 'service.register_form.city' | t }}</label>
            <input type="text" name="contact[Anders, namelijk tekst]"  />
          </div>
        </div>
        <div class="checkboxes-footer">
          <div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.termsandconditions' | t }}]" required/>
            <span id="register-terms">
              {{ 'service.register_form.termsandconditions1' | t }}
              <a href="{{ section.settings.link }}" target="_blank"><label for="ContactFormName">{{ 'service.register_form.termsandconditions2' | t }} </label></a>
              {{ 'service.register_form.termsandconditions3' | t }}
            </span>
          </div>
          {% comment %}<div class="register-checkbox-container">
            <input type="checkbox" name="contact[{{ 'service.register_form.newsletter' | t }}]"/>
            <label for="ContactFormName">{{ 'service.register_form.newsletter' | t }}</label>
          </div>{% endcomment %}
        </div>
        <div class="register-submit">
          <input type="submit" value="{{ 'service.register_form.send' | t }} ›" />
        </div>

      {% if form.posted_successfully? %}
        <script>
            if ($('.list-notifications').length == 0) {
                $("<ul class='list-notifications'><li>"+
                    "<p class='overlay-a'>"+
                    "{{ 'service.contact_form.posted_successfully' | t }}"+
                    "</p>"+
                    "</li></ul>").insertAfter("#top");
            };
        </script>
      {% else %}
      {%- if form.errors -%}
        <script>
            if ($('.list-notifications').length == 0) {
                $("<ul class='list-notifications'><li>"+
                    "<p class='overlay-d'>"+
                    "{{ 'service.contact_form.email' | t }} {{ form.errors.messages['email'] }}"+
                    "</p>"+
                    "</li></ul>").insertAfter("#top");
            };
        </script>
      {%- endif -%}
      {% endif %}
      {% endform %}
    </div>
  </div>
  <div class="register-side">
    <h3>{{ 'service.register_side.title1' | t }}</h3>
    <p>{{ 'service.register_side.text1' | t }}</p>
    <h3>{{ 'service.register_side.title2' | t }}</h3>
    <p>{{ 'service.register_side.text2' | t }}</p>
    <h3>{{ 'service.register_side.title3' | t }}</h3>
    <p>{{ 'service.register_side.text3' | t }}</p>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Register",
      "nl": "Registreren"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "en": "You can adjust the texts in the theme translations, under the tab 'Service'",
          "nl": "Je kunt de teksten aanpassen in de themavertalingen, onder het kopje 'Service'"
        }
      },
      {
        "type": "paragraph",
        "content": {
          "en": "What are some reasons your customers should create an account for your shop? Add USP's by clicking 'Add USP' below.",
          "nl": "Wat zijn redenen voor je klanten om een account voor je shop aan te maken? Voeg USP's toe door onderaan op 'Voeg USP toe' te klikken."
        }
      },
      {
      "type": "url",
      "id": "link",
      "label": {
      "en": "Link algemene voorwaarden",
      "nl": "Link algemene voorwaarden"
      }
    }
    ],
    "blocks": [
      {
        "name": "Type klant",
        "type": "Onderwerp",
        "settings": [
          {
          "type": "text",
          "id": "text",
          "label": "Type klant"
          }
        ]
      },
      {
        "name": "Land",
        "type": "Country",
        "settings": [
          {
          "type": "text",
          "id": "title",
          "label": "Land"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>function redirect() { window.location.href = "/pages/bedankt-account-aangemaakt"; }</script>
