<div class="form-wrapper">
    {% form 'customer_login', name: 'login', id: 'customer_login' %}
    {%- if form.errors -%}
        <script>
        if ($('.list-notifications').length == 0) {
            $('<ul class="list-notifications">'+
            {% for error in form.errors %}
                '<li>'+
                '<p class="overlay-d">'+
                {% if error == 'form' %}
                '{{ form.errors.messages[error] }}'+
                {% else %}
                '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                {% endif %}
                '</p>'+
                '</li>'+
            {% endfor %}
            '</ul>').insertAfter('#top');
        };
        </script>
    {%- endif -%}

    <h2>{{ 'customer.login.title' | t }}</h2>
    <p>
        <label for="fla">{{ 'customer.login.email' | t }}</label>
        <input type="email" id="fla" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus required>
    </p>

    {% if form.password_needed %}
        <p>
        <label for="flb">{{ 'customer.login.password' | t }}</label>
        <input type="password" id="flb" name="customer[password]" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}" required>
        <div class="recovertext-login">
            <a href="/pages/wachtwoordvergeten">{{ 'customer.login.forgot_password' | t }}</a>
          </div>
        </p>
    {% endif %}

    <p><button type="submit" class="loginbtn-block-left">{{ 'customer.login.submit' | t }}</button></p>
    {% endform %}
</div>
