{% if section.settings.show_announcement_bar %}

<p id="top-bar">
  {% if section.settings.announcement_bar_text_link %}
    <a href="{{section.settings.announcement_bar_text_link}}">
  {% endif %}
  {% if section.settings.announcement_bar_mobile_text != "" %}
    <span class="mobile-only">
      {{ section.settings.announcement_bar_mobile_text | raw}}
    </span>
  {% endif %}
  <span{% if section.settings.announcement_bar_mobile_text != "" or section.settings.announcement_bar_mobile_text != blank %} class="mobile-hide"{% endif %}>
  	{{ section.settings.announcement_bar_text | raw }}
  </span>
  {% if section.settings.announcement_bar_text_link %}
    </a>
  {% endif %}
</p>

<style>
  #top-bar {
    background-color: {{section.settings.color_announcement_bar}};
    color: {{section.settings.text_color_announcement_bar}};
  }
  #top-bar a,
  #top-bar .close {
    color: {{section.settings.text_color_announcement_bar}};
  }
</style>

<script>
  if (Cookies.get('has-bar') === 'no') {
    jQuery('html').removeClass('has-bar').addClass('closed-bar');
  } else {
    jQuery('html').removeClass('closed-bar').addClass('has-bar');
  }
</script>
{% endif %}

  {% schema %}
    {
      "name": {
        "en": "Announcement bar",
        "nl": "Aankondigingsbalk"
      },
      "settings": [
        {
          "id": "show_announcement_bar",
          "type": "checkbox",
          "label": {
            "en": "Show announcement bar",
            "nl": "Toon aankondigingsbalk"
          },
          "default": true
        },
        {
          "id": "color_announcement_bar",
          "type": "color",
          "label": {
            "en": "Background",
            "nl": "Achtergrond"
          },
          "default": "#000000"
        },
        {
          "id": "text_color_announcement_bar",
          "type": "color",
          "label": {
            "en": "Text",
            "nl": "Tekst"
          },
          "default": "#ffffff"
        },
        {
          "id": "announcement_bar_text",
          "type": "textarea",
          "label": {
            "en": "Text",
            "nl": "Tekst"
          },
          "default": {
            "en": "Shout out your big announcement here!",
            "nl": "Beschrijf je grote aankondiging hier!"
          }
        },
        {
          "id": "announcement_bar_mobile_text",
          "type": "textarea",
          "label": {
            "en": "Mobile text",
            "nl": "Tekst op mobiel"
          },
          "info": {
            "en": "Add if you want to show a different text on mobile.",
            "nl": "Voeg toe wanneer je op mobiel een andere tekst wilt tonen."
          },
          "placeholder": {
            "en": "Mobile announcement text",
            "nl": "Aankondigingstekst op mobiel"
          }
        },
        {
          "id": "announcement_bar_text_link",
          "type": "url",
          "label": "Link"
        }
      ]
    }
  {% endschema %}
