{% include 'advanced-tag-loop' %}

{% if blog.moderated? %}
  {% capture posted_successfully_message %}{{ 'blog.article.comment_form.posted_successfully_moderated' | t }}{% endcapture %}
{% else %}
  {% capture posted_successfully_message %}{{ 'blog.article.comment_form.posted_successfully_not_moderated' | t }}{% endcapture %}
{% endif %}

{% include 'breadcrumbs' %}
<div class="article-template-wrapper">
  <article class="module-blog">
    <figure class="image-shadow">
      {% if article.image %}
        <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ article.image | img_url: '1380x440', scale: 1, crop: 'center' }}" alt="{{ article.image.alt }}" width="1380" height="440">
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      {% if section.settings.show_date %}<span class="date">{{ article.published_at | date: format: 'day_month_inspan_html' | replace: '.', '' }}</span>{% endif %}
    </figure>
    <h1>
      {% if section.settings.show_author %}
        <span class="small">{{ 'blog.article.placed_by' | t: author: article.author }}</span>
      {% endif %}
      {{ article.title }}
    </h1>
    {{ article.content }}
    {% if article.tags.size > 0 and section.settings.show_tags %}
      <ul class="list-tags blog-tags">
        <li class="strong">{{ 'blog.tags' | t }}</li>
        {% for tag_item in tag_array %}
          {% assign tagCount = 0 %}
          {% for article in blog.articles %}
            {% if article.tags contains tag_item %}
              {% assign tagCount = tagCount | plus: 1 %}
            {% endif %}
          {% endfor %}
          <li style="display: none" {% if current_tags contains tag_item %}class="active"{% endif %}>
            {% if current_tags contains tag_item %}
              {{ tag_item | link_to_remove_tag: tag_item }}<span>({{tagCount}})</span>
            {% else %}
              {{ tag_item | link_to_add_tag: tag_item }}<span>({{tagCount}})</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </article>
  
  {% if article.comments_count > 0 or blog.comments_enabled? %}
    <article class="module-wide">
      {% if article.comments_count > 0 %}
        <ul class="list-comments">
          {% for comment in article.comments %}
            <li>
              <h2>
                <img src="{{ 'avatar.svg' | asset_url }}" alt="{{ comment.author }}" width="93" height="93">
                {{ comment.author }}
                {% assign comment_created_at = comment.created_at | date: format: 'dayfulltext_monthtext_year_time' | replace: '.', '' %}
                <span>{{ 'blog.article.placed_on' | t: date: comment_created_at }}</span>
              </h2>
              <p>{{ comment.content | strip_html }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if blog.comments_enabled? %}
        {% form 'new_comment', article, class: 'form-comment ' %}
          {% if form.posted_successfully? %}
          <script>
            if ($('.list-notifications').length == 0) {
              $("<ul class='list-notifications'><li>"+
              "<p class='overlay-a'>"+
              "{{ posted_successfully_message }}"+
              "</p>"+
              "</li></ul>").insertAfter("#top");
            };
          </script>
        {% else %}
          {%- if form.errors -%}
            <script>
              if ($('.list-notifications').length == 0) {
                $("<ul class='list-notifications'><li>"+
                "<p class='overlay-d'>"+
                "{{ 'blog.article.comment_form.email' | t }} {{ form.errors.messages['email'] }}"+
                "</p>"+
                "</li></ul>").insertAfter("#top");
              };
            </script>
          {%- endif -%}
        {% endif %}
          <input type="hidden" name="key" value="{{ page.key }}">
          <input type="hidden" name="url" value="" placeholder="URL" class="gui-hide">
          <header>
            <h2>{{ 'blog.article.comment_form.title' | t }}</h2>
            <p>{{ 'blog.article.comment_form.subtitle' | t }}</p>
          </header>
          <div class="double a">
            <p>
              <label for="CommentAuthor">{{ 'blog.article.comment_form.name' | t }}</label>
              <input type="text" id="CommentAuthor" name="comment[author]" value="{{ form.author }}" placeholder="{{ 'blog.article.comment_form.name' | t }}" required>
            </p>
            <p>
              <label for="CommentEmail">{{ 'blog.article.comment_form.email' | t }}</label>
              <input type="email" id="CommentEmail" name="comment[email]" value="{{ form.email }}" placeholder="{{ 'blog.article.comment_form.email' | t }}" required>
              <span class="sticky overlay-a">*{{ 'blog.article.comment_form.email_disclaimer' | t }}</span>
            </p>
          </div>
          <p>
            <label for="CommentBody">{{ 'blog.article.comment_form.comment' | t }}</label>
            <textarea id="CommentBody" name="comment[body]" placeholder="Reactie" required>{{ form.body }}</textarea>
            <span class="text-right overlay-a">* {{ 'blog.article.comment_form.required' | t }}</span>
          </p>
          <p><button type="submit">{{ 'blog.article.comment_form.send' | t }}</button></p>
        {% endform %}
      {% endif %}
    </article>
  {% endif %}
</div>

{% if section.settings.show_recent_blogposts %}
  <h2 class="s38">{{ 'blog.recent_articles' | t}}</h2>

  <div class="article-blogposts-wrapper">
    <ul class="list-news">
      {% for article in blog.articles limit: 3 %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        <li>
          <figure>
            <a href="{{ article.url }}">
              <div class="pusher landscape"></div>
              {% if article.image %}
                <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ article.image | img_url: '445x315', scale: 2, crop: 'center' }}" alt="{{ article.image.alt }}" width="445" height="315">
              {% else %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {% if section.settings.recent_show_date %}
                <span>
                  {{ article.published_at | date: format: 'day_month_inspan_html' | replace: '.', '' }}
                </span>
              {% endif %}
            </a>
          </figure>
          <h2>{% if section.settings.recent_show_author %}<span class="small">{{ 'blog.article.placed_by' | t: author: article.author }}</span>{% endif %}<a href="{{ article.url }}"> {{ article.title }}</a></h2>
          <p class="link-more"><a href="{{ article.url }}">{{ 'blog.read_more' | t }}</a></p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% schema %}
  {
    "name": {
      "en": "Blogpost",
      "nl": "Blogpost"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Article",
          "nl": "Blogbericht"
        }
      },
      {
        "id": "show_date",
        "type": "checkbox",
        "label": {
          "en": "Show article date",
          "nl": "Toon datum"
        },
        "default": true
      },
      {
        "id": "show_author",
        "type": "checkbox",
        "label": {
          "en": "Show article author",
          "nl": "Toon auteur"
        },
        "default": true
      },
      {
        "id": "show_tags",
        "type": "checkbox",
        "label": {
          "en": "Show tags",
          "nl": "Toon tags"
        },
        "default": true
      },
      {
        "type": "header",
        "content": {
          "en": "Recent blogposts",
          "nl": "Recente artikelen"
        }
      },
      {
        "id": "show_recent_blogposts",
        "type": "checkbox",
        "label": {
          "en": "Show recent blogposts",
          "nl": "Toon recente artikelen"
        },
        "default": true
      },
      {
        "id": "recent_show_date",
        "type": "checkbox",
        "label": {
          "en": "Show article date",
          "nl": "Toon datum"
        },
        "default": true
      },
      {
        "id": "recent_show_author",
        "type": "checkbox",
        "label": {
          "en": "Show article author",
          "nl": "Toon auteur"
        },
        "default": true
      }
    ]
  }
{% endschema %}
