{% for block in section.blocks %}
  {% if block.type == 'image' %}
    <div class="banner-single-container">
      <div class="banner-image-item">
        <img src="{{ block.settings.banner_image | img_url: "master" }}" />
      </div> 
    </div>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": {
      "en": "Banner image",
      "nl": "Banner afbeelding"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "en": "You can change the banner image by choosing an image on the left side.",
          "nl": "Je kunt de banner afbeelding aanpassen door een afbeelding te kiezen aan de linkerkant."
        }
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Banner image",
        "settings": [
          {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
