<ul class="list-featured welcome unselectable">
  <li class="high">
    {% assign banner3_product = all_products[section.settings.banner3_product] %}
    {% include 'product-info', product: banner3_product %}
    <a href="{{ section.settings.banner3_link }}">
      {% if section.settings.banner3_image %}
        {% assign banner3_imgurl = section.settings.banner3_image | img_url: '450x595', crop: 'center', scale: 2 %}
      {% else %}
        {% assign banner3_imgurl = banner3_product.featured_image | img_url: '450x595', crop: 'center', scale: 2 %}
      {% endif %}
      <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ banner3_imgurl }}" alt="{{ section.settings.banner3_title }}" width="450" height="595">
      <span class="banner-title">
        <span class="banner3-title">{{ section.settings.banner3_title }}</span>
        <span class="banner-subtitle">{{ section.settings.banner3_subtitle }}</span>
        <button class="banner-btn">{{ section.settings.banner3_linktext }}</button>
      </span>
        <span class="link"></span>
    </a>
    {% if banner3_product != blank %}
      <span class="tooltip" style="left: 60%; top: 60%;">
        <a href="{{ banner3_product.url }}">{{ banner3_product.title }}
      <span class="overlay-a price"><span class="strong">
        {% if product_customizable %}
          {{ product_price_m2_money }}
        {% else %}
          {{ banner3_product.price | money }}
        {% endif %}
      </span></span></a></span>
    {% endif %}
  </li>

  <li class="banner_two">
    <a href="{{ section.settings.banner2_link }}">
      <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner2_image | img_url: '450x370', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner1_title }}" width="450" height="370">
      <span class="banner-title banner-title-small">
        <span class="span-strong">{{ section.settings.banner2_title }}</span>
        <span class="banner-subtitle">{{ section.settings.banner2_subtitle }}</span>
        <button class="banner-btn">{{ section.settings.banner2_linktext }}</button>
      </span>
    </a>
  </li>

  <li class="banner_three">
    <a href="{{ section.settings.banner1_link }}">
      <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner1_image | img_url: '450x370', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner1_title }}" width="450" height="370">
      <span class="banner-title banner-title-small">
        <span class="span-strong">{{ section.settings.banner1_title }}</span>
        <span class="banner-subtitle">{{ section.settings.banner1_subtitle }}</span>
        <button class="banner-btn">{{ section.settings.banner1_linktext }}</button>
      </span>
    </a>
  </li>

</ul>
<ul class="list-featured double mobile-only">

  <li>
    <a href="{{ section.settings.banner2_link }}">
      <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner2_image | img_url: '430x185', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner2_title }}" width="505" height="205">
      <span>
        <span class="scheme-box">{{ section.settings.banner2_subtitle }}</span>
      {{ section.settings.banner2_title }}
        <span class="link">{{ section.settings.banner2_linktext }}</span>
      </span>
    </a>
  </li>
  <li id="sid{{ section.id }}href" class="link-more pointercursor" href="{{ section.settings.banner4_link }}">
    <span>{{ section.settings.banner4_title }}</span>
    <a href="{{ section.settings.banner4_link }}">{{ section.settings.banner4_linktext }}</a>
    <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner4_image | img_url: '125x180', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner4_title }}" width="145" height="200">
    </li>
</ul>
<script>
  const li = document.querySelector("#sid{{ section.id }}href");
  li.onclick = function() {
    window.location.href = li.attributes.href.value;
  }
</script>
{% schema %}
  {
    "name": {
      "en": "Bannergrid",
      "nl": "Bannergrid"
    },
    "settings": [
      {
        "id": "lazyload",
        "type": "checkbox",
        "label": {
          "en": "Lazyload images",
          "nl": "Laad afbeeldingen later in"
        },
        "info": {
          "en": "You can disable this wehen you use this section at the very top of the page, to show your images immediately when loading the page. If not, keep this enabled to optimize page performance.",
          "nl": "Je kunt dit uitschakelen wanneer de sectie helemaal bovenaan de pagina wordt gebruikt, om de afbeeldingen direct te laten zien bij het laden van de pagina. Zo niet, laat dit ingeschakeld staan om de prestatie van de webpagina te optimaliseren."
        },
        "default": true
      },
      {
      "type": "header",
      "content": "Banner 1"
      },
      {
        "type": "product",
        "id": "banner3_product",
        "label": {
        "en": "Product",
        "nl": "Product"
      },
        "info": {
        "en": "The product's featured image will be shown. You can also select a custom image below.",
        "nl": "De afbeelding van het product wordt getoond. Je kunt ook hieronder een andere afbeelding selecteren."
        }
      },
      {
        "type": "image_picker",
        "id": "banner3_image",
        "label": {
        "en": "Image",
        "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner3_title",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "text",
        "id": "banner3_subtitle",
        "label": {
        "en": "Subtitle",
        "nl": "Subtitel"
        }
      },
      {
        "type": "url",
        "id": "banner3_link",
        "label": {
        "en": "Link",
        "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner3_linktext",
        "label": {
        "en": "Link text",
        "nl": "Linktekst"
        }
      },
      {
        "type": "header",
        "content": "Banner 2"
      },
      {
        "type": "image_picker",
        "id": "banner2_image",
        "label": {
        "en": "Image",
        "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner2_title",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "text",
        "id": "banner2_subtitle",
        "label": {
        "en": "Subtitle",
        "nl": "Subtitel"
        }
      },
      {
        "type": "url",
        "id": "banner2_link",
        "label": {
        "en": "Link",
        "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner2_linktext",
        "label": {
        "en": "Link text",
        "nl": "Linktekst"
        }
      },
      {
        "type": "header",
        "content": "Banner 3"
      },
      {
        "type": "image_picker",
        "id": "banner1_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner1_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "text",
        "id": "banner1_subtitle",
        "label": {
        "en": "Subtitle",
        "nl": "Subtitel"
        }
      },
      {
        "type": "url",
        "id": "banner1_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner1_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Image",
          "nl": "Afbeelding"
        },
        "name": {
          "en": "Bannergrid",
          "nl": "Bannergrid"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
