<div class="list-news__header">
  <h2>Uitgelicht</h2>
  <a href="/blogs/nieuws">Bekijk alle berichten ›</a>
</div>
<ul class="list-news homepage section-{{section.id}}">
  {% for block in section.blocks %}
    {% for article in block.settings.blog.articles limit: 1 -%}
      {% assign modulo = forloop.index | modulo: section.settings.blogs_showing_row %}
      {% capture current %}{% cycle 1, 2 %}{% endcapture %}
      <div class="blog-item">
        <li>
          <figure>
            <a href="{{ article.url }}">
              {% if article.image %}
                <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ article.image | img_url: '445x315', scale: 2, crop: 'center' }}" alt="{{ article.image.alt }}" width="445" height="315">
              {% else %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {%- if section.settings.checkdate -%}
              <span>
              {{ article.published_at | date: format: 'day_month_inspan_html' | replace: '.', '' }}
            </span>
              {%- endif -%}
            </a>
          </figure>
          <h2>{% if section.settings.show_author %}<span class="small">{{ 'blog.article.placed_by' | t: author: article.author }}</span>{% endif %}<a href="{{ article.url }}"> {{ article.title }}</a></h2>
          <p class="link-more"><a href="{{ article.url }}">{{ 'blog.read_more' | t }}</a></p>
        </li>
        {% if modulo == 0 and forloop.index != section.settings.blogs_showing %}
          <li class="break"></li>
        {% endif %}
      </div>
    {% endfor %}
    {% if block.type == 'text' %}
      <div class="news-item">
        <li class="promo">
          {% if block.settings.promo_image %}
            <a href="{{ block.settings.promo_url }}">
              <img src="{{ block.settings.promo_image | img_url: '350x250', crop: 'center', scale: 2 }}" width="450" height="250">
            </a>
          {% endif %}
          {% for promo in block.settings.promo_title -%}
            <a class="promo-h2" href="{{ block.settings.promo_url }}"><h2>{{ promo }}</h2></a>
          {% endfor %}
          <p class="link-more"><a href="{{ block.settings.promo_url }}">Lees meer</a></p>
        </li>
      </div>
    {% endif %}
  {% endfor %}
</ul>

<script>
    $(".list-news div:nth-child(1)").css("margin-right", "41px");
    var countItems = $(".list-news div").length;
    if(countItems > 2) {
        $(".list-news div:nth-child(2)").css("margin-right", "41px");
    }
</script>

<style>
  .section-{{section.id}} img {
    object-position: {{ section.settings.image_position }};
  }
</style>

{% schema %}
{
  "max_blocks": 3,
  "name": {
      "en": "Blogposts & Promo",
      "nl": "Blogberichten & Promo"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "checkdate",
      "label": {
      "en": "Date",
      "nl": "Datum"
      }
    },
    {
      "id": "blogs_showing",
      "type": "range",
      "label": {
        "en": "Number of blogposts showing",
        "nl": "Aantal getoonde blogberichten"
      },
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },
    {
      "id": "blogs_showing_row",
      "type": "range",
      "label": {
        "en": "Blogposts per row",
        "nl": "Aantal blogberichten per rij"
      },
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },
    {
      "id": "image_position",
      "type": "select",
      "label": {
        "en": "Image position",
        "nl": "Afbeeldingspositie"
      },
      "options": [
        {
          "value": "top left",
          "label": {
            "en": "Top left",
            "nl": "Linksboven"
          }
        },
        {
          "value": "top center",
          "label": {
            "en": "Top center",
            "nl": "Midden boven"
          }
        },
        {
          "value": "top right",
          "label": {
            "en": "Top right",
            "nl": "Rechtsboven"
          }
        },
        {
          "value": "center left",
          "label": {
            "en": "Center left",
            "nl": "Links midden"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center center",
            "nl": "Midden"
          }
        },
        {
          "value": "center right",
          "label": {
            "en": "Center right",
            "nl": "Rechts midden"
          }
        },
        {
          "value": "bottom left",
          "label": {
            "en": "Bottom left",
            "nl": "Linksonder"
          }
        },
        {
          "value": "bottom center",
          "label": {
            "en": "Bottom center",
            "nl": "Onder midden"
          }
        },
        {
          "value": "bottom right",
          "label": {
            "en": "Bottom right",
            "nl": "Rechtsonder"
          }
        }
      ],
      "default": "center center"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Nieuwsbericht item",
      "settings": [
        {
          "type": "text",
          "id": "promo_title",
          "label": {
            "en": "Title",
            "nl": "Titel"
          }
        },
          {
          "type": "image_picker",
          "id": "promo_image",
          "label": {
          "en": "Image",
          "nl": "Afbeelding"
          }
        },
          {
          "type": "url",
          "id": "promo_url",
          "label": {
          "en": "Link",
          "nl": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "category": {
        "en": "Blog",
        "nl": "Blog"
      },
      "name": {
        "en": "Blogposts & Promo",
        "nl": "Blogberichten & Promo"
      },
      "settings": {}
    }
  ]
}
{% endschema %}
