<ul class="list-featured blogs">
  {% for block in section.blocks %}
    {% assign blog = blogs[block.settings.blog] %}
    <li>
      <a href="{{ blog.url }}">
        <img {% if section.settings.lazyload %}data-{% endif %}src="{{ block.settings.image | img_url: '350x250', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner1_title }}" width="450" height="250">
        <span>
        <span class="span-strong">{{ blog.title }}</span>
        <span class="link">{{ section.settings.linktext }}</span></span>
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": {
      "en": "Blogs",
      "nl": "Blogs"
    },
    "settings": [
      {
        "id": "lazyload",
        "type": "checkbox",
        "label": {
          "en": "Lazyload images",
          "nl": "Laad afbeeldingen later in"
        },
        "info": {
          "en": "You can disable this wehen you use this section at the very top of the page, to show your images immediately when loading the page. If not, keep this enabled to optimize page performance.",
          "nl": "Je kunt dit uitschakelen wanneer de sectie helemaal bovenaan de pagina wordt gebruikt, om de afbeeldingen direct te laten zien bij het laden van de pagina. Zo niet, laat dit ingeschakeld staan om de prestatie van de webpagina te optimaliseren."
        },
        "default": true
      },
      {
        "id": "linktext",
        "type": "text",
        "label": {
          "en": "Link text",
          "nl": "Link tekst"
        },
        "default": "Bekijk blog",
        "placeholder":{
          "en": "Link text",
          "nl": "Link tekst"
        }
      }
    ],
    "blocks": [
      {
        "type": "blog",
        "name": {
          "en": "Blog",
          "nl": "Blog"
        },
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image",
              "nl": "Afbeelding"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
