{% include 'advanced-tag-loop' %}
{% assign loadmore_limit = section.settings.posts_showing %}

{% include 'breadcrumbs' %}
<h1>{{ blog.title }}</h1>

{% paginate blog.articles by loadmore_limit %}
  <ul class="list-news">
    {% for article in blog.articles %}
    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
      <li>
        <figure>
          <a href="{{ article.url }}">
            <div class="pusher landscape"></div>
            {% if article.image %}
              <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ article.image | img_url: '445x315', scale: 2, crop: 'center' }}" alt="{{ article.image.alt }}" width="445" height="315">
            {% else %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if section.settings.show_date %}
              <span>
                {{ article.published_at | date: format: 'day_month_inspan_html' | replace: '.', '' }}
              </span>
            {% endif %}
          </a>
        </figure>
        <h2>{% if section.settings.show_author %}<span class="small">{{ 'blog.article.placed_by' | t: author: article.author }}</span>{% endif %}<a href="{{ article.url }}"> {{ article.title }}</a></h2>
        <p class="link-more"><a href="{{ article.url }}">{{ 'blog.read_more' | t }}</a></p>
      </li>
    {% endfor %}
  </ul>
{% endpaginate %}

{% if blog.all_tags.size > 0 and section.settings.show_tags %}
  <ul class="list-tags blog-tags">
    <li class="strong">{{ 'blog.tags' | t }}</li>
    {% for tag_item in tag_array %}
      {% assign tagCount = 0 %}
      {% for article in blog.articles %}
        {% if article.tags contains tag_item %}
          {% assign tagCount = tagCount | plus: 1 %}
        {% endif %}
      {% endfor %}
      <li style="display: none" {% if current_tags contains tag_item %}class="active"{% endif %}>
        {% if current_tags contains tag_item %}
          {{ tag_item | link_to_remove_tag: tag_item }}<span>({{tagCount}})</span>
        {% else %}
          {{ tag_item | link_to_add_tag: tag_item }}<span>({{tagCount}})</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% paginate blog.articles by loadmore_limit %}
  <p class="link-btn text-center">
    {% assign seenArticles = blog.articles.size | times: paginate.current_page %}
      {% unless paginate.next %}{% assign seenArticles = blog.articles_count %}{% endunless %}
    <span>  {{ 'blog.articles_seen' | t: seen_number: seenArticles, total_number: blog.articles_count }}</span>
    {% if paginate.next %}
      <a class="load-more-button" data-href="{{paginate.next.url}}" data-pages="{{paginate.pages}}">{{ 'blog.load_more_articles' | t }}</a>
    {% endif %}
  </p>
{% endpaginate %}

{% schema %}
  {
    "name": {
      "en": "Blog",
      "nl": "Blog"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Article",
          "nl": "Blogbericht"
        }
      },
      {
        "id": "show_date",
        "type": "checkbox",
        "label": {
          "en": "Show article date",
          "nl": "Toon datum"
        },
        "default": true
      },
      {
        "id": "show_author",
        "type": "checkbox",
        "label": {
          "en": "Show article author",
          "nl": "Toon auteur"
        },
        "default": true
      },
      {
        "id": "show_tags",
        "type": "checkbox",
        "label": {
          "en": "Show tags",
          "nl": "Toon tags"
        },
        "default": true
      },
      {
        "type": "header",
        "content": {
          "en": "Pagination",
          "nl": "Paginering"
        }
      },
      {
        "type": "range",
        "id": "posts_showing",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": {
          "en": "Number of posts per page",
          "nl": "Aantal blogberichten per pagina"
        },
        "info": {
          "en": "How many blog posts should be showing per page?",
          "nl": "Hoeveel blogberichten moeten er per pagina getoond worden?"
        },
        "default": 3
      }
    ]
  }
{% endschema %}
