{% if section.settings.title != empty %}<h2 class="s38">{{ section.settings.title }}</h2>{% endif %}
<ul class="list-news homepage section-{{section.id}}">
  {%- for article in blogs[section.settings.blog].articles limit: section.settings.blogs_showing -%}
    {% assign modulo = forloop.index | modulo: section.settings.blogs_showing_row %}
    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
    <li class="flex-grow">
      <figure>
        <a href="{{ article.url }}">
          {% if article.image %}
            <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ article.image | img_url: '445x315', scale: 2, crop: 'center' }}" alt="{{ article.image.alt }}" width="445" height="315">
          {% else %}
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <span>
            {{ article.published_at | date: format: 'day_month_inspan_html' | replace: '.', '' }}
          </span>
        </a>
      </figure>
      <h2>{% if section.settings.show_author %}<span class="small">{{ 'blog.article.placed_by' | t: author: article.author }}</span>{% endif %}<a href="{{ article.url }}"> {{ article.title }}</a></h2>
      <p class="link-more"><a href="{{ article.url }}">{{ 'blog.read_more' | t }}</a></p>
    </li>
    {% if modulo == 0 and forloop.index != section.settings.blogs_showing %}
      <li class="break"></li>
    {% endif %}
  {% endfor %}
</ul>

<style>
  .section-{{section.id}} img {
    object-position: {{ section.settings.image_position }};
  }
</style>

{% schema %}
  {
    "name": {
      "en": "Recent blogposts",
      "nl": "Recente blogberichten"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "blog",
        "id": "blog",
        "label": {
          "en": "Blog",
          "nl": "Blog"
        }
      },
      {
        "id": "blogs_showing",
        "type":"range",
        "label": {
          "en": "Number of blogposts showing",
          "nl": "Aantal getoonde blogberichten"
        },
        "min": 1,
        "max": 8,
        "step": 1,
        "default": 3
      },
      {
        "id": "blogs_showing_row",
        "type":"range",
        "label": {
          "en": "Blogposts per row",
          "nl": "Aantal blogberichten per rij"
        },
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "id": "image_position",
        "type": "select",
        "label": {
          "en": "Image position",
          "nl": "Afbeeldingspositie"
        },
        "options": [
           {
             "value": "top left",
             "label": {
               "en": "Top left",
               "nl": "Linksboven"
             }
           },
           {
             "value": "top center",
             "label": {
               "en": "Top center",
               "nl": "Midden boven"
             }
           },
           {
             "value": "top right",
             "label": {
               "en": "Top right",
               "nl": "Rechtsboven"
             }
           },
           {
             "value": "center left",
             "label": {
               "en": "Center left",
               "nl": "Links midden"
             }
           },
           {
             "value": "center center",
             "label": {
               "en": "Center center",
               "nl": "Midden"
             }
           },
           {
             "value": "center right",
             "label": {
               "en": "Center right",
               "nl": "Rechts midden"
             }
           },
           {
             "value": "bottom left",
             "label": {
               "en": "Bottom left",
               "nl": "Linksonder"
             }
           },
           {
             "value": "bottom center",
             "label": {
               "en": "Bottom center",
               "nl": "Onder midden"
             }
           },
           {
             "value": "bottom right",
             "label": {
               "en": "Bottom right",
               "nl": "Rechtsonder"
             }
           }
        ],
        "default": "center center"
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Blog",
          "nl": "Blog"
        },
        "name": {
          "en": "Recent blogposts",
          "nl": "Recente blogberichten"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
