<article class="brands">
    <header>
      <h1>Merken</h1>
    </header>
    <div>
      <ul>
        {% for block in section.blocks %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {% assign collection = collections[block.settings.collection] %}
          <div class="brand">
            <li>
              <a href="{{ collection.url }}">
                {% if collection != blank and collection.image %}
                  <img class="owl-lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ block.settings.image | img_url: '366x240', crop: 'center', scale: 2 }}" alt="{{ collection.title }}" width="330" height="325">
                {% else %}
                  {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </a>
            </li>
            <div class="brands-sub">
              <a href="{{ collection.url }}">{{ collection.title }}</a>
              <a href="{{ collection.url }}">Bekijk collectie</a>
            </div>
          </div>
        {% endfor %}
      </ul>
    </div>
  </article>
  
  {% schema %}
    {
      "name": {
        "en": "Brands",
        "nl": "Merken"
      },
      "blocks": [
        {
          "type": "Collection",
          "name": {
            "en": "Collection",
            "nl": "collectie"
          },
          "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": {
                "en": "Collection",
                "nl": "collectie"
              }
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": {
              "en": "Image",
              "nl": "Afbeelding"
              }
            }
          ]
        }
      ],
      "presets": [
        {
          "category": {
            "en": "Collection",
            "nl": "Collectie"
          },
          "name": {
            "en": "Featured collections",
            "nl": "Uitgelichte collecties"
          },
          "settings": {}
        }
      ]
    }
  {% endschema %}
  