{% assign page_handle = page.handle %}

<ul class="list-breadcrumbs">
    <li>
      <a href="/">Home</a>
    </li>
    {% if section.blocks.size > 0 %}
  		{% for block in section.blocks %}
  			{% if block.settings.page_handle == page_handle %}
  				{% if block.settings.page_breadcrumb != '' %}
  
  					{% assign bcPage =  pages[block.settings.page_breadcrumb] %}
  					{% if block.settings.page_breadcrumb_title != empty %}
  						<li><a href="{{bcPage.url}}">{{block.settings.page_breadcrumb_title }}</a></li>
  					{% else %}
  						<li><a href="{{bcPage.url}}">{{ bcPage.title }}</a></li>
  					{% endif %}
  {% endif %}
  			{% endif %}
  		{% endfor %}
  	{% endif %}
    {% if page.title %}
      <li>{{ page.title }}</li>
    {% endif %}
</ul>


{% schema %}
  {
    "name": "Breadcrumbs setting",
    "class": "breadcrumbs-section",
    "blocks": [
      {
        "type": "text_block",
        "name": "Breadcrumb setting",
        "settings": [
		  {
            "type": "page",
            "id": "page_handle",
            "label": "Select a page"
          },
		  {
            "type": "page",
            "id": "page_breadcrumb",
            "label": "Select page to show as breadcrumb"
          },
		  {
            "type": "text",
            "id": "page_breadcrumb_title",
            "label": "Fill in a title, otherwhise the page's actual title will be shown"
          }  
        ]
      }
    ]
  }
{% endschema %}
