{% assign stylingServiceProduct = all_products['advies-vloerkleden-stylingadvies'].selected_or_first_available_variant %}
{% assign zichtserviceServiceProduct = all_products['zichtservice-bekijk-tot-3-kleden-bij-je-thuis'].selected_or_first_available_variant %}
{% assign reparatieServiceProduct = all_products['vermaak-reparatiewerkzaamheden'].selected_or_first_available_variant %}

{% assign staalProduct = all_products['staalaanvraag'].selected_or_first_available_variant %}
{% assign zichtProduct = all_products['zichtservice'].selected_or_first_available_variant %}
{% assign maatwerkProduct = all_products['maatwerk'].selected_or_first_available_variant %}
{% assign upsellProduct = all_products['antislip-ondertapijt-comfort'] %}
{% for variant in upsellProduct.variants %}
	{% if variant.title == '140x200cm' %}
    	{% assign upsellProduct_S = variant %}
   	{% endif %}
	{% if variant.title == '170x240cm' %}
    	{% assign upsellProduct_M = variant %}
   	{% endif %}
	{% if variant.title == '200x300cm' %}
    	{% assign upsellProduct_L = variant %}
   	{% endif %}
	{% if variant.title == '250x350cm' %}
    	{% assign upsellProduct_XL = variant %}
   	{% endif %}
{% endfor %}
{% assign starterssetProduct = all_products['starterset-onderhoud-reiniging-vloerkleed'] %}
{% assign starterssetProductVariant = all_products['starterset-onderhoud-reiniging-vloerkleed'].selected_or_first_available_variant %}
{% assign showStartersset = true %}
{% assign showUpsellProduct_S = false %}
{% assign showUpsellProduct_S_twice = false %}
{% assign showUpsellProduct_M = false %}
{% assign showUpsellProduct_L = false %}
{% assign showUpsellProduct_XL = false %}
{% assign showStarterssetDef = true %}
{% assign showUpsellProduct_SDef = true %}
{% assign showUpsellProduct_MDef = true %}
{% assign showUpsellProduct_LDef = true %}
{% assign showUpsellProduct_XLDef = true %}

{% if settings.discount_enabled and settings.discount_percentage != '' %}
	{% assign discount_times = settings.discount_percentage | remove: '%' | strip | plus: 0 %}
    {% assign discount_times = 100 | minus: discount_times %}
    {% assign discount_times = '0.' | append: discount_times | plus: 0 %}
{% endif %}


<header class="m30">
    {% include 'breadcrumbs' %}
  <h1>{{ 'cart.title' | t }}</h1>
   
</header>

<form action="{{ routes.cart_url }}" method="post">
<input type="hidden" name="attributes[collection_products_limit]" value="">
<input type="hidden" name="attributes[show_maatwerk_on_productpage]" value="">
<div class="cols-b">
  <article>
    <div class="form-cart">
      <ul class="list-cart-main">
        {% if cart.item_count > 0 %}
          {% assign zichtserviceInCart = false %}
			{% assign staalInCart = false %}
			{% assign nonStaalInCart = false %}
          {% assign productsInCart = false %}
          {% for item in cart.items %}
            {% if item.variant.compare_at_price > item.price %}
              {% assign has_discount = true %}
              {% include 'calculate-discount-percentage', product: item.variant %}
            {% endif %}
        	
			{% if item.product.type == 'Accessoires' %}{% assign isAcc = true %}{% else %}{% assign isAcc = false %}{% endif %}
            {% if item.title contains 'staal' or item.title contains 'Staal' %}{% assign isStaal = true %}{% assign staalInCart = true %}{% else %}{% assign isStaal = false %}{% assign nonStaalInCart = true %}{% endif %}
            {% if maatwerkProduct.id == item.id %}{% assign isMaatwerk = true %}{% else %}{% assign isMaatwerk = false %}{% endif %}
            {% if item.product.title contains "(maatwerk)"%}{% assign isAppMaatwerk = true %}{% endif %}
            {% if isMaatwerk or isStaal %}
              {% for property in item.properties %}
                {% if property.first == '_handle' %}
                  {% assign mainHandle = property.last %}
                  {% assign mainProduct = all_products[mainHandle] %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% include 'swym-product-view', product: mainProduct %}
            {% else %}
							{% assign mainProduct = false %}
              {% include 'swym-product-view', product: item.product %}
            {% endif %}

            {% comment %} Skip if product is zichtservice {% endcomment %}
            {% if zichtProduct.id == item.id %}
              {% assign zichtserviceInCart = true %}
            {% else %}
        		{% assign productsInCart = true %}
              <li>
                <figure><img src="{{ 'pixel.png' | asset_url }}" data-src="{% if mainProduct %}{{ mainProduct | img_url: '120x160', scale: 2, crop: 'center'}}{% else %}{{ item | img_url: '120x160', scale: 2, crop: 'center'}}{% endif %}" alt="Placeholder" width="120" height="160"></figure>
                <h2><a href="{% if mainProduct %}{{mainProduct.url}}{% else %}{{ item.url }}{% endif %}">{% if mainProduct and isMaatwerk %}{{ mainProduct.title }}{% else %}{{ item.product.title }}{% endif %}</a></h2>
                <ul class="list-inline">
                  {% for option in item.options_with_values %}
	                  {% unless option.value == 'Default Title'%}
	                    <li>
	                        {{ option.value | capitalize}}
	                    </li>
	                  	{% assign firstSize = option.value | split: 'x' | first | plus: 0 %}
	                  	{% if firstSize > 129 and firstSize < 151 %}
	                  		{% assign showUpsellProduct_S = true %}
	                  	{% elsif firstSize > 159 and firstSize < 181%}
	                  		{% assign showUpsellProduct_M = true %}
	                    {% elsif firstSize > 189 and firstSize < 211%}
	                  		{% assign showUpsellProduct_L = true %}
	                    {% elsif firstSize > 239 and firstSize < 261%}
	                  		{% assign showUpsellProduct_XL = true %}
	                  	{% elsif firstSize > 299 %}
	                  		{% assign showUpsellProduct_S = true %}
	                  		{% assign showUpsellProduct_S_twice = true %}
	                    {% endif %}
	                  {% endunless %}
                  {% endfor %}
                  
                    {% unless item.properties == empty %}
                      {% for property in item.properties %}
                        {% assign first_character_in_key = property.first | truncate: 1, '' %}
                        {% unless first_character_in_key == '_' or property.first == 'Product' %}
                          <li>{{ property.first }}: {{ property.last }}</li>
                        {% endunless %}

												{% if isMaatwerk or isAppMaatwerk %}
													{% if property.first == 'Lengte' %}
														{% assign maatwerkLengte = property.last | remove: 'cm' | plus: 0 %}
													{% elsif property.first == 'Breedte' %}
														{% assign maatwerkBreedte = property.last | remove: 'cm' | plus: 0 %}
													{% endif %}
												{% endif %}

                      {% endfor %}
                    {% endunless %}

									{% if isMaatwerk and maatwerkLengte %}
										{% if maatwerkLengte > 299 or maatwerkBreedte > 299 %}
											{% assign showUpsellProduct_S = true %}
											{% assign showUpsellProduct_S_twice = true %}
										{% endif %}
										{% if showUpsellProduct_S == false %}
											{% if maatwerkLengte > 239 or maatwerkBreedte > 239 %}
												{% if maatwerkLengte < 261 or maatwerkBreedte < 261 %}
													{% assign showUpsellProduct_XL = true %}
												{% endif %}
											{% endif %}
										{% endif %}
										{% if showUpsellProduct_S == false and showUpsellProduct_XL == false %}
											{% if maatwerkLengte > 189 or maatwerkBreedte > 189 %}
												{% if maatwerkLengte < 211 or maatwerkBreedte < 211 %}
													{% assign showUpsellProduct_L = true %}
												{% endif %}
											{% endif %}
										{% endif %}
										{% if showUpsellProduct_S == false and showUpsellProduct_XL == false and showUpsellProduct_L == false %}
											{% if maatwerkLengte > 159 or maatwerkBreedte > 159 %}
												{% if maatwerkLengte < 181 or maatwerkBreedte < 181 %}
													{% assign showUpsellProduct_M = true %}
												{% endif %}
											{% endif %}
										{% endif %}
										{% if showUpsellProduct_S == false and showUpsellProduct_XL == false and showUpsellProduct_L == false and showUpsellProduct_M == false %}
											{% if maatwerkLengte > 129 or maatwerkBreedte > 129 %}
											 	{% if maatwerkLengte < 151 or maatwerkBreedte < 151 %}
													{% assign showUpsellProduct_S = true %}
												{% endif %}
											{% endif %}
										{% endif %}
                  {% endif %}
                  
									{% if isAppMaatwerk and maatwerkLengte %}
                  {% if maatwerkLengte > 299 or maatwerkBreedte > 299 %}
                    {% assign showUpsellProduct_S = true %}
                    {% assign showUpsellProduct_S_twice = true %}
                  {% endif %}
                  {% if showUpsellProduct_S == false %}
                    {% if maatwerkLengte > 239 or maatwerkBreedte > 239 %}
                      {% if maatwerkLengte < 261 or maatwerkBreedte < 261 %}
                        {% assign showUpsellProduct_XL = true %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  {% if showUpsellProduct_S == false and showUpsellProduct_XL == false %}
                    {% if maatwerkLengte > 189 or maatwerkBreedte > 189 %}
                      {% if maatwerkLengte < 211 or maatwerkBreedte < 211 %}
                        {% assign showUpsellProduct_L = true %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  {% if showUpsellProduct_S == false and showUpsellProduct_XL == false and showUpsellProduct_L == false %}
                    {% if maatwerkLengte > 159 or maatwerkBreedte > 159 %}
                      {% if maatwerkLengte < 181 or maatwerkBreedte < 181 %}
                        {% assign showUpsellProduct_M = true %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  {% if showUpsellProduct_S == false and showUpsellProduct_XL == false and showUpsellProduct_L == false and showUpsellProduct_M == false %}
                    {% if maatwerkLengte > 129 or maatwerkBreedte > 129 %}
                       {% if maatwerkLengte < 151 or maatwerkBreedte < 151 %}
                        {% assign showUpsellProduct_S = true %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}

									{% if item.variant.available and item.variant.inventory_quantity <= 0 %}
                  	{% unless item.variant.metafields.product.product_levertijd == blank %}<li class="overlay-c">Levertijd: {{ item.variant.metafields.product.product_levertijd }}</li>{% endunless %}
									{% endif %}
                </ul>
                {% unless isMaatwerk or isStaal %}
                <p class="qty">
                  <label for="fca" class="hidden">{{ 'cart.product.quantity' | t }}</label>
                  <select
                    name="updates[]"
                    id="updates_{{ item.key }}"
                    class="qty_update"
                    data-line="{{ forloop.index }}">
                    {% for i in (1..99) %}
                      <option value="{{ forloop.index }}"{% if item.quantity == forloop.index %} selected{% endif %}>{{ forloop.index }}</option>
                    {% endfor %}
                  </select>
                </p>
                {% endunless %}
                <p class="price">
                  {% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}
                  	<span class="old">{{ item.line_price | money }}</span>
                  	{{ item.line_price | times: discount_times | money }}
                  {% else %}
                      {% comment %}<span class="old-price">{{ item.original_line_price | money }}</span>{% endcomment %}
                      <span>{{ item.line_price | money }}</span>
                  {% endif %}
                </p>
								{% if isStaal %}
                <ul class="list-tags a">
                  {% comment %}<li>{{ 'cart.product.add_to' | t }}:</li>
                  
                {% assign showZichtservice = true %}
                  {% for second_item in cart.items %}
                    {% if second_item.title == 'Zichtservice' %}
                    {% unless second_item.properties == empty %}
                      {% for property in second_item.properties %}
                        {% if property.first == '_handle' %}
                          {% assign second_item_handle = property.last %}
                          {% if second_item_handle == item.product.handle or second_item_handle == mainHandle %}
                            {% assign showZichtservice = false %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% endunless %}
                    {% endif %}
                  {% endfor %}

                  {% comment %} reset to original product info
                  {% include 'product-info', product: item.product %}{% endcomment %}

                      <li>
                        <a class="change-to-zichtservice{% unless showZichtservice %} active{% endunless %}" data-line="{{ forloop.index }}" data-zichtservice-id="{{ zichtProduct.id }}" product-title="{% if mainProduct %}{{ mainProduct.title }}{% else %}{{ item.product.title }}{% endif %}" product-handle="{% if mainProduct %}{{ mainProduct.handle }}{% else %}{{ item.product.handle }}{% endif %}">
                          {{ 'product.service' | t }}
                        </a>
                        <span class="tooltip">{{ 'product.service_info' | t }}</span>
                      </span>
                    </li>{% endcomment %}
                </ul>
								{% endif %}
                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove">
                  {{ 'cart.product.remove' | t }}
                </a>
              </li>

   				{% if starterssetProductVariant.id == item.id or stylingServiceProduct.id == item.id or zichtserviceServiceProduct.id == item.id or reparatieServiceProduct.id == item.id %}
                	{% assign showStarterssetDef = false %}
                {% endif %}
        		{% if upsellProduct_S.id == item.id %}
                	{% assign showUpsellProduct_SDef = false %}
                {% endif %}
        		{% if upsellProduct_M.id == item.id %}
                	{% assign showUpsellProduct_MDef = false %}
                {% endif %}
        		{% if upsellProduct_L.id == item.id %}
                	{% assign showUpsellProduct_LDef = false %}
                {% endif %}
        		{% if upsellProduct_XL.id == item.id %}
                	{% assign showUpsellProduct_XLDef = false %}
                {% endif %}

            {% endif %}
          {% endfor %}
        {% else %}
          {{ 'cart.empty_subtitle' | t }}
          {{ 'cart.empty' | t }}
        {% endif %}
      </ul>

      {% assign amountZichtservice = 0 %}
			{% if zichtserviceInCart == true or cart.item_count == 0%}
	      <div id="zichtservice" class="zichtservice">
	        <div class="top">
	          <div class="title">
	            <h2>{{ 'product.service' | t }} <span class="tooltip">{{ 'product.service_info' | t }}</span></h2>
	            <p class="zs-message"><i class="icon-check"></i>{{ section.settings.zichtservice_subtext }}</p>
	          </div>
	          <div class="price">€0<sup>,00</sup></div>
	        </div>
	        <ul class="list-cart">
	          {% for item in cart.items %}
	            {% for property in item.properties %}
	              {% if property.first == '_handle' %}
	                {% assign item_handle = property.last %}
	                {% assign mainProduct = all_products[item_handle] %}
	              {% endif %}
	            {% endfor %}
	            {% if zichtProduct.id == item.id %}
	              <li class="product">
	                <figure><img src="{{ 'pixel.png' | asset_url }}" data-src=" {{ mainProduct | img_url: '55x55', scale: 2, crop: 'center'}}" alt="Placeholder" width="55" height="55"></figure>
	                <a href="{{ mainProduct.url }}">{{ mainProduct.title }}</a>
	                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove">icon</a>
	              </li>
	              {% assign amountZichtservice = amountZichtservice | plus : 1 %}
	            {% endif %}
	          {% endfor %}
	          {% for i in (1..3) %}
	            {% if amountZichtservice < 3 %}
	              <li class="add">
	                <a href="/collections/vloerkleden">
	                  <i class="icon-plus"></i>
	                  <span>{{ section.settings.zichtservice_add }}</span>
	                </a>
	              </li>
	              {% assign amountZichtservice = amountZichtservice | plus : 1 %}
	            {% else %}
	              {% break %}
	            {% endif %}
	          {% endfor %}
	          <li class="message">{{ section.settings.zichtservice_text }}</li>
	        </ul>
	      </div>
			{% endif %}

			{% if starterssetProduct.available == false or showStarterssetDef == false%}{% assign showStartersset = false %}{% endif %}
			{% if upsellProduct_S.available == false or showUpsellProduct_SDef == false %}{% assign showUpsellProduct_S = false %}{% endif %}
			{% if upsellProduct_M.available == false or showUpsellProduct_MDef == false%}{% assign showUpsellProduct_M = false %}{% endif %}
			{% if upsellProduct_L.available == false or showUpsellProduct_LDef == false %}{% assign showUpsellProduct_L = false %}{% endif %}
			{% if upsellProduct_XL.available == false or showUpsellProduct_XLDef == false %}{% assign showUpsellProduct_XL = false %}{% endif %}

			{% comment %}{% if productsInCart and nonStaalInCart %}
	      {% if showStartersset or showUpsellProduct_S or showUpsellProduct_M or showUpsellProduct_L or showUpsellProduct_XL %}
	          <h2>{{ section.settings.recommended_title }}</h2>
	          <ul class="list-cart-main recommended">
	              {% if showUpsellProduct_S %}{% if showUpsellProduct_S_twice %}{% assign qty = 2 %}{% else %}{% assign qty = 1 %}{% endif %}{% include 'cart-product-card' with product: upsellProduct, addToCartVariant: upsellProduct_S, showVariantTitle: true, extra_button: 'addtocart', qty: qty %}{% endif %}
	              {% if showUpsellProduct_M %}{% include 'cart-product-card' with product: upsellProduct, addToCartVariant: upsellProduct_M, showVariantTitle: true, extra_button: 'addtocart' %}{% endif %}
	              {% if showUpsellProduct_L %}{% include 'cart-product-card' with product: upsellProduct, addToCartVariant: upsellProduct_L, showVariantTitle: true, extra_button: 'addtocart' %}{% endif %}
	              {% if showUpsellProduct_XL %}{% include 'cart-product-card' with product: upsellProduct, addToCartVariant: upsellProduct_XL, showVariantTitle: true, extra_button: 'addtocart' %}{% endif %}
	            	{% if showStartersset %}{% include 'cart-product-card' with product: starterssetProduct, extra_button: 'addtocart' %}{% endif %}
	          </ul>
	      {% endif %}
	  	{% endif %}{% endcomment %}

      <ul class="list-total">
        {% comment %} <li><span>{{ 'cart.shipping_costs' | t }}</span> <span class="overlay-a">{{ 'cart.free_shipping' | t }}</span></li> {% endcomment %}
        <li class="strong">
          <span>{{ 'cart.total' | t }} excl. BTW </span>
          <span class="overlay-a price">
         	{% if settings.discount_enabled and settings.discount_percentage != '' %}
              {{ cart.total_price | times: discount_times | money }}
            {% else %}
              {{ cart.total_price | money }}
            {% endif %}
          </span>
        </li>
      </ul>
      <footer>
        <p>
          <a href="javascript:history.go(-1)" class="btn">{{ 'cart.continue_shopping' | t }}</a>
          <button type="submit" name="checkout">{{ 'cart.checkout' | t }}</button>
        </p>
        <div class="reference_note_container">
          <label for="cart-order-note" class="cart-note__label small--text-center">{{ 'Referentie' }}</label>
          <p>{{ 'Indien je bestelling een referentie heeft, kan je deze hieronder invullen (dit verschijnt op je factuur).' }}</p>
          <input type="text" name="note" id="cart-order-note" class="cart-note__input" placeholder="Hier invullen s.v.p."/>
        </div>
      </footer>
    </div>
  </article>
  <aside>
		{% if section.settings.usp_title != '' %}<h2>{{ section.settings.usp_title }}</h2>{% endif %}
    <div class="module-aside-box">
      <ul class="list-check">
        {% for block in section.blocks %}
          <li class="span-strong">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
            {{ block.settings.text }}
          </li>
        {% endfor %}
      </ul>
    </div>
		<h3>{{ section.settings.tab_1_title }}</h3>
		<div class="cart-service-box">
      {% if section.settings.tab_1_image %}
        <figure>
          <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ section.settings.tab_1_image | img_url: '95x95', scale: 2 }}" alt="Placeholder" width="95" height="95">
        </figure>
      {% endif %}
			{% if section.settings.tab_1_text != '' %}{{ section.settings.tab_1_text }}{% endif %}
			{% if section.settings.show_mail_link %}
				<p class="overlay-a">
					<span><a href="mailto:{{ shop.email }}" class="email">{{ shop.email }}</a></span>
				</p>
			{% endif %}
			{% if section.settings.show_chat_button %}
				<p class="link-btn overlay-a">
					<a href="#chat">{{ 'cart.livechat' | t }}</a>
				</p>
			{% endif %}
		</div>
		{% comment %}
    <div class="accordion-a small">
      <div>
        <h3>{{ section.settings.tab_1_title }}</h3>
        <div>
          <p>{{ section.settings.tab_1_text }}</p>
          {% if section.settings.show_mail_link %}
            <p class="overlay-a">
              <span><a href="mailto:{{ shop.email }}" class="email">{{ shop.email }}</a></span>
            </p>
          {% endif %}
          {% if section.settings.show_chat_button %}
            <p class="link-btn overlay-a">
              <a href="#chat">{{ 'cart.livechat' | t }}</a>
            </p>
          {% endif %}
        </div>
      </div>
      {% if section.settings.enable_giftcard_or_discount_tab %}
      <div>
        <h3>{{ section.settings.tab_2_title }}</h3>
        <div>
          <p class="form-inline">
            <label for="discount" class="hidden">{{ 'cart.giftcard_or_discount_code.placeholder' | t }}</label>
            <input type="text" name="discount" placeholder="{{ 'cart.giftcard_or_discount_code.placeholder' | t }}">
            <button type="submit" name="checkout">{{ 'cart.giftcard_or_discount_code.submit' | t }}</button>
          </p>
        </div>
      </div>
      {% endif %}
      {% if section.settings.tab_3_title != empty %}
        <div>
          <h3>{{ section.settings.tab_3_title }}</h3>
          <div>
            {{ section.settings.tab_3_text }}
          </div>
      	</div>
      {% endif %}
    </div>
		{% endcomment %}
  </aside>
</form>
</div>

<style>
  .reference_note_container {
    background-color: var(--sand);
    padding: 20px;
  }
  .list-check svg {
    width: 15px;
    color: #009c02;
    position: absolute;
    top: 5px;
    left: 0;
  }
  .list-check li {
    padding-left: 20px;
  }
  .list-check li::before {
    content: '';
  }
  .module-aside-box::before {
    background: none;
  }
  .list-cart-main li a {
    font-size: .8em;
  }
  .list-total li span {
    font-size: .9em !important;
  }
  .list-cart-main li {
    padding: 10px 310px 10px 115px;
  }
  .list-cart-main figure {
    width: fit-content;
    height: fit-content;
  }
  .list-cart-main figure img {
    width: 100px;
    height: 133px;
    object-fit: cover;
  }
  .cart-note__label {
    font-size: 16px;
  }
</style>

{% schema %}
  {
    "name": {
      "en": "Cart",
      "nl": "Winkelwagen"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Accordion",
          "nl": "Accordeon"
        }
      },
		 {
        "type": "image_picker",
        "id": "tab_1_image",
        "label": {
          "en": "Customer service image",
          "nl": "Klantenservice afbeelding"
        }
      },
      {
        "type": "text",
        "id": "tab_1_title",
        "label": {
          "en": "Tab 1 title",
          "nl": "Tab 1 titel"
        }
      },
      {
        "type": "richtext",
        "id": "tab_1_text",
        "label": {
          "en": "Tab 1 text",
          "nl": "Tab 1 tekst"
        }
      },
      {
        "type": "checkbox",
        "id": "show_mail_link",
        "label": {
          "en": "Show mail link",
          "nl": "Toon mail link"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_chat_button",
        "label": {
          "en": "Show chat button",
          "nl": "Toon chatknop"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "tab_2_title",
        "label": {
          "en": "Tab 2 title",
          "nl": "Tab 2 titel"
        }
      },
      {
        "type": "checkbox",
        "id": "enable_giftcard_or_discount_tab",
        "label": {
          "en": "Show giftcard/discount code redeem button",
          "nl": "Toon cadeaubon/kortingscode activeerknop"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "tab_3_title",
        "label": {
          "en": "Tab 3 title",
          "nl": "Tab 3 titel"
        }
      },
      {
        "type": "richtext",
        "id": "tab_3_text",
        "label": {
          "en": "Tab 3 text",
          "nl": "Tab 3 tekst"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "USP's",
          "nl": "USP's"
        }
      },
      {
        "type": "text",
        "id": "usp_title",
        "label": {
          "en": "USP's title",
          "nl": "USP's titel"
        }
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Add USP's by clicking 'Add USP' below.",
          "nl": "Voeg USP's toe door onderaan op 'Voeg USP toe' te klikken."
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Recommended products",
          "nl": "Aanbevolen producten"
        }
      },
      {
        "type": "text",
        "id": "recommended_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Zichtservice",
          "nl": "Zichtservice"
        }
      },
      {
        "type": "text",
        "id": "zichtservice_subtext",
        "label": {
          "en": "Text underneath title",
          "nl": "Tekst onder titel"
        }
      },
      {
        "type": "text",
        "id": "zichtservice_add",
        "label": {
          "en": "Text add carpets",
          "nl": "Tekst voeg zichtservice toe"
        }
      },
      {
        "type": "richtext",
        "id": "zichtservice_text",
        "label": {
          "en": "Text underneath products",
          "nl": "Tekst onder producten"
        }
      }
    ],
    "blocks": [
      {
        "type": "USP",
        "name": {
          "en": "USP",
          "nl": "USP"
        },
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "info": {
              "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
              "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "select",
            "id": "icon",
            "label": {
              "en": "Icon",
              "nl": "Icoon"
            },
            "default": "none",
            "options": [
              {
                "value": "truck",
                "label": {
                  "en": "Truck",
                  "nl": "Truck"
                }
              },
              {
                "value": "check-circle",
                "label": {
                  "en": "Checkmark",
                  "nl": "Vinkje"
                }
              },
              {
                "value": "open",
                "label": {
                  "en": "'Open' sign'",
                  "nl": "Bordje 'open'"
                }
              },
              {
                "value": "logout",
                "label": {
                  "en": "Circled arrow to the right",
                  "nl": "Omcirkelde pijl naar rechts"
                }
              },
              {
                "value": "kiyoh",
                "label": {
                  "en": "Kiyoh logo",
                  "nl": "Kiyoh logo"
                }
              },
              {
                "value": "none",
                "label": {
                  "en": "None",
                  "nl": "Geen"
                }
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
