{% assign swatches = '' %}
{% assign color_blocks = section.blocks | where: 'type', 'color' %}
{% for block in color_blocks %}
  {%- capture colorswatch -%}
    {%- if block.settings.color_img -%}
      url({{ block.settings.color_img | img_url: '25x25', scale: 2, crop: 'center' }})
    {%- else -%}
      {{- block.settings.color_hex -}}
    {%- endif -%}
  {%- endcapture -%}
 {%- assign swatches = swatches | append: block.settings.color | append: '---' | append: colorswatch | append: ';' -%}
{% endfor %}
{%- assign swatches = swatches | split: ';' -%}

{%- assign show_images = cart.attributes.collection_show_images | default: 'product' -%}

{%- assign products_per_page = cart.attributes.collection_products_limit | default: 24 | times: 1 -%}
{%- paginate collection.products by products_per_page -%}

{% assign collectionDescription = collection.description | split:"<!-- split -->"%}

{% assign collection_label = '' %}
{% assign collection_label_color = '' %} 
{% for i in (1..10) %}
	{% assign collection_handle = 'label_collection_y' | replace: 'y', i %}
  	{% if settings[collection_handle] == collection.handle %}
		{% assign text_handle = 'label_text_y' | replace: 'y', i %}
		{% assign color_handle = 'label_color_y' | replace: 'y', i %}
		{% assign collection_label = settings[text_handle] %}
		{% assign collection_label_color = settings[color_handle] %}
  		{% break %}
  	{% endif %}
{% endfor %}

{% assign collection_handle_1 = settings.label_collection_1 %}
{% assign collection_label_1 = settings.label_text_1 %}
{% assign collection_label_color_1 = settings.label_color_1 %}
{% assign collection_handle_2 = settings.label_collection_2 %}
{% assign collection_label_2 = settings.label_text_2 %}
{% assign collection_label_color_2 = settings.label_color_2 %}
{% assign collection_handle_3 = settings.label_collection_3 %}
{% assign collection_label_3 = settings.label_text_3 %}
{% assign collection_label_color_3 = settings.label_color_3 %}
{% assign collection_handle_4 = settings.label_collection_4 %}
{% assign collection_label_4 = settings.label_text_4 %}
{% assign collection_label_color_4 = settings.label_color_4 %}
{% assign collection_handle_5 = settings.label_collection_5 %}
{% assign collection_label_5 = settings.label_text_5 %}
{% assign collection_label_color_5 = settings.label_color_5 %}
{% assign collection_handle_6 = settings.label_collection_6 %}
{% assign collection_label_6 = settings.label_text_6 %}
{% assign collection_label_color_6 = settings.label_color_6 %}
{% assign collection_handle_7 = settings.label_collection_7 %}
{% assign collection_label_7 = settings.label_text_7 %}
{% assign collection_label_color_7 = settings.label_color_7 %}
{% assign collection_handle_8 = settings.label_collection_8 %}
{% assign collection_label_8 = settings.label_text_8 %}
{% assign collection_label_color_8 = settings.label_color_8 %}
{% assign collection_handle_9 = settings.label_collection_9 %}
{% assign collection_label_9 = settings.label_text_9 %}
{% assign collection_label_color_9 = settings.label_color_9 %}
{% assign collection_handle_10 = settings.label_collection_10 %}
{% assign collection_label_10 = settings.label_text_10 %}
{% assign collection_label_color_10 = settings.label_color_10 %}

{% include 'breadcrumbs' %}
<div style="background-image: url('{{ collection.image | img_url: 'large' }});" class="collection-header-hero-mobile"></div>

{% if collection.description != '' %}
<div style="background-image: url('{{ collection.image | img_url: 'large',  scale: 4 }});" class="intro collection-header-container collection-header-container-vendor">
  <!-- {% if collection.image %}<img class="hidden-pocket" src="{{ 'pixel.png' | asset_url }}"
    data-src="{{ collection.image | img_url: '250x250', crop: 'center', scale: 2 }}" alt="{{ collection.title }}" />
    {% endif %} -->
  {% endif %}

  <div class="collection-header-content">
    <div class="collection-header-content-inner">
      <h1>{{ collection.title }}</h1>
      <span  id="truncate-description" class="read-more read-more-mobile read-more-truncate">{{ collectionDescription[0] }}</span>
      {% if collectionDescription != blank %}
        <div id="read-more-button"></div>
        <script>
          var allowReadMore = true;
          var descriptionText = document.getElementById("truncate-description");
          var readMoreButton = document.getElementById("read-more-button");
  
          var desktopString = '<a href="#lees-meer" class="seo-text read-more-seo">Lees meer › </a>';
          var mobileString = '<a class="seo-text read-more-seo unset-lineclamp readmore-down-arrow">Toon meer </a>';
  
          readMoreButton.innerHTML = ($(window).width() > 743) ? desktopString : mobileString;
  
          $(window).resize(function() {
            if ($(window).width() > 743) {
              allowReadMore = false;
              readMoreButton.innerHTML = desktopString;
            }
            else {
              allowReadMore = true;
              readMoreButton.innerHTML = mobileString;
            }
          });
          
          if ($(window).width() < 743) {
            $('#read-more-button').on('click', function() {
              if (allowReadMore) {
                if ($(descriptionText).hasClass("read-more-truncate")) {
                  descriptionText.classList.remove("read-more-truncate");
                  readMoreButton.innerHTML = '<a class="seo-text read-more-seo unset-lineclamp readmore-up-arrow">Toon minder </a>';
                }
                else {
                  descriptionText.classList.add("read-more-truncate");
                  readMoreButton.innerHTML = '<a class="seo-text read-more-seo unset-lineclamp readmore-down-arrow">Toon meer </a>';
                }
              }
            });
          }
        </script>
        <div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="cols-a a">
  <header>
    <form action="./" method="post" class="form-filter mobile-hide">
      <p class="h2">{{ 'collection.filter_by' | t }}</p>
      <ul class="list-filter">

        <div class="boost-pfs-container-default boost-pfs-filter-wrapper-page">
        	<div class="boost-pfs-filter-wrapper">
              <div class="boost-pfs-filter-left-col">
                <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{%- include 'boost-pfs-filter-skeleton', type: 'filter-tree' -%}</div>
              </div>
            </div>
        </div>

      </ul>
    </form>
  </header>
  <article>

    {% for customer-tag in customer.tags %}
      <div class="customer-tag">{{ customer-tag }}</div>
    {% endfor %}

    <div class="actions actions_1 mobile-hide">
      <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count mobile-hide">
          <span class="product-count-custom">
          </span>
          <span class="boost-pfs-filter-total-product">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</span>
      </div>
      
      
      <div class="show-products mobile-hide">
        Toon:
        <a class="show-products-limit{% if products_per_page == 24 %} active{% endif %}" data-limit="24">24</a>
        <a class="show-products-limit{% if products_per_page == 36 %} active{% endif %}" data-limit="36">36</a>
        <a class="show-products-limit{% if products_per_page == 48 %} active{% endif %}" data-limit="48">48</a>
      </div>
      
      <div class="boost-pfs-filter-bottom-pagination small list-pagination mobile-hide">
        {%- if paginate.pages > 1 -%}
          {% include 'pagination' %}
        {%- endif -%}
      </div>
    </div>
      
    <div class="actions actions_2 mobile-hide">
      <div class="boost-pfs-filter-refine-by-wrapper-v"></div>
    </div>
      
    <div class="actions actions_3">
      <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count mobile-only">
          <span class="boost-pfs-filter-total-product">{%- include 'boost-pfs-filter-skeleton', width: 1 -%}</span>
      </div>
      <div class="show-images">
        <a class="show-product-images{% if show_images == 'product' %} active{% endif %}" data-show-images="product">Productfoto's</a>
        <a class="show-product-images{% if show_images == 'sfeer' %}  active{% endif %}" data-show-images="sfeer">Sfeerfoto's</a>
      </div>      

      <div class="form-sort">
        <button class="a toggle-filter mobile-only">{{ 'collection.filter' | t }} <i class="icon-settings"></i><span class="count hidden"></span></button>
        <form action="./" method="post" class="form-filter mobile">
          <p class="h2">{{ 'collection.filter_by' | t }} <a class="toggle-filter">sluit</a></p>
          <ul class="list-filter">
            <div class="boost-pfs-container-default boost-pfs-filter-wrapper-page">
                <div class="boost-pfs-filter-wrapper">
                  <div class="boost-pfs-filter-left-col">
                    <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">{%- include 'boost-pfs-filter-skeleton', type: 'filter-tree' -%}</div>
                  </div>
                </div>
            </div>
          </ul>
          <div class="bottom"><button class="toggle-filter">Toon <span class="count boost-pfs-filter-total-product"></span></button></div>
        </form>

        {% comment %}<button class="a toggle-sorting">{{ 'collection.sort_by.sort_by' | t }} <i class="icon-sort"></i></button>{% endcomment %}
        <span class="mobile-hide">Sorteer op: </span><select id="selectTagWidth"><option id="widthTempOption"></option></select>
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">
          {%- include 'boost-pfs-filter-skeleton', width: 1 -%}
        </div>
      </div>
    </div>



        <ul class="boost-pfs-filter-products list-collection" data-bc-sort="{{ collection.default_sort_by }}">
        {%- for product in collection.products -%}
            {%- include 'boost-pfs-filter-product-item', product: product -%}
        {%- endfor -%}
      </ul>

      <div class="boost-pfs-filter-bottom-pagination list-pagination text-right">
        {%- if paginate.pages > 1 -%}
          {% include 'pagination' %}
        {%- endif -%}
      </div>

    	{% assign banner_blocks = section.blocks | where: 'type', 'banner' %}
       	{% for block in banner_blocks %}
    		{% assign show = false %}
    		{% if block.settings.banner_show_all %}
    			{% assign show = true %}
    		{% elsif block.settings.banner_show_one_collection != '' and block.settings.banner_show_one_collection == collection.handle %}
    			{% assign show = true %}
            {% elsif block.settings.banner_show_multiple_collections != '' %}
    			{% assign multiple_collections = block.settings.banner_show_multiple_collections | split: ',' %}
    			{% for collection_handle in multiple_collections %}
    				{% if collection_handle == collection.handle %}
    					{% assign show = true %}	
    					{% break %}
    				{% endif %}
    			{% endfor %}
    		{% endif %}
    		{% if show %}
              <ul class="list-collection banner" data-position={{block.settings.banner_position}} >
                <li class="list-collection-banner">
                  <span>{{block.settings.title}}</span>
                  <p>{{block.settings.subtitle}}</p>
                  <a href="{{block.settings.button_link}}"><button>{{block.settings.button_text}}</button></a>
                  {% if block.settings.banner_stars %}<span class="rating-a" data-val="5" data-of="5"></span>{% endif %}
                </li>
              </ul>
        	{% endif %}
    	{% endfor %}
    

    {% if collection.description != '' and collectionDescription[1]%}
      <div id="read-more" class="content-wrapper">
        {{ collectionDescription[1] }}
      </div>
    {% endif %}

    <div id="lees-meer"></div>

    <div class="collection-header-content-seo">
      <div class="collection-header-content-inner">
          <h1>{{ collection.title }}</h1>
          <span class="read-more read-more-mobile">{{ collectionDescription[0] }}</span>
      </div>
    </div>

  </article>
</div>



{% endpaginate %}

<style>
  {%- for swatch in swatches -%}
    {%- assign curSwatch = swatch | split: '---' -%}
    {%- assign color = curSwatch | first -%}
    {%- assign style = curSwatch | last -%}
    .boost-pfs-filter-option-swatch-image[title="{{color}}"] {
      background:{{ style }}!important;
    }
  {%- endfor -%}

    .collection-header-container {
      position: relative;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    margin-bottom: 30px;
    height: 420px;
  }

  .collection-header-container img {
    width: 100%;
    height: 420px;
    border-radius: 6px;
  }

  
  .collection-header-container-vendor {
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 760px) {
    .collection-header-container-vendor {
      background-image: none !important;
    }
  }

  @media only screen and (max-width: 760px) {
    .collection-header-content {
      top: 0 !important;
      left: 0 !important;
      /*background: none !important;*/
        padding: 32px 18px 18px !important;
        padding-bottom: 5px !important;
    }
  }

  .collection-header-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: rgba(249, 249, 249, 0.85);
    padding: 24px;
    border-radius: 6px;
  }

  .collection-header-content-inner {
      max-width: 658px;
  }

  .more-toggle,
  .read-more.enabled:not(.more-toggled):after {
      display: none !important;
  }
  .collection-header-content-seo,
  .collection-header-content-seo .collection-header-content-inner {
    padding: 0;
    max-width: none;
    background: none !important;
  }

  @media only screen and (min-width: 760px) {
    .collection-header-content-seo {
    margin-left: -30px;
    }
  }

  @media only screen and (max-width: 760px) {
    .collection-header-hero-mobile {
      display: block;
      width: 100%;
      height: 372px;
      background-repeat: no-repeat;
      background-size: cover;
    }

  }

  @media only screen and (min-width: 760px) {
    .collection-header-hero-mobile {
      display: none;

    }
  }


  .boost-pfs-filter-bottom-pagination.small ul li {
    margin: 0 20px;
  }

  .boost-pfs-filter-bottom-pagination.small ul li:last-child {
      margin-right: 0;
  }

  .boost-pfs-filter-bottom-pagination.small {
      margin-right: 0;
  }

  .boost-pfs-filter-bottom-pagination.small ul li:last-child a {
    background-color: #f9f9f9;
    padding: 12px 20px 12px 20px;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
  }

  .boost-pfs-filter-option-content .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list li .boost-pfs-check-box { left: 3px;}

</style>

<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
      sorting_heading: {%- assign temp = 'collection.sort_by.title' | t  -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Sorting" {%- endunless -%},
      sorting_best_selling: {%- assign temp = 'collection.sort_by.best-selling' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Best Selling" {%- endunless -%},
      sorting_featured: {%- assign temp = 'collection.sort_by.featured' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Featured" {%- endunless -%},
      sorting_manual: {%- assign temp = 'collection.sort_by.manual' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Featured" {%- endunless -%},
      sorting_title_ascending: {%- assign temp = 'collection.sort_by.title-ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Alphabetically, A-Z" {%- endunless -%},
      sorting_title_descending: {%- assign temp = 'collection.sort_by.title-descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Alphabetically, Z-A" {%- endunless -%},
      sorting_price_ascending: {%- assign temp = 'collection.sort_by.price-ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Lowest Price" {%- endunless -%},
      sorting_price_descending: {%- assign temp = 'collection.sort_by.price-descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Highest Price" {%- endunless -%},
      sorting_created_ascending: {%- assign temp = 'collection.sort_by.created-ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, Old to New" {%- endunless -%},
      sorting_created_descending: {%- assign temp = 'collection.sort_by.created-descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, New to Old" {%- endunless -%},
      sorting_date_ascending: {%- assign temp = 'collection.sort_by.created-ascending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, Old to New" {%- endunless -%},
      sorting_date_descending: {%- assign temp = 'collection.sort_by.created-descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Date, New to Old" {%- endunless -%},
      sorting_sale_descending: {%- assign temp = 'collection.sort_by.sale-descending' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "% Off" {%- endunless -%},
      sorting_relevance: {%- assign temp = 'collection.sort_by.relevance' | t -%} {%- unless temp contains 'translation missing'  -%} "{{ temp }}" {%- else -%} "Relevance" {%- endunless -%},
      toolbar_viewas: "View As",
      items_with_count_one: "resultaat",
      items_with_count_other: "resultaten",
    },
    label_basic: {
      sale: "Sale",
      sold_out: "Uitverkocht",
      from: "Vanaf",
    },
    custom: {
      products_per_page: {%- if products_per_page -%} {{ products_per_page | json }} {%- else -%} 24 {%- endif -%},
      products_per_row: 3,
      products_per_row_mobile: 2,
      show_vendor: false,
      show_price: true,
      sale_text: "{{ 'product.form.sale' | t }}",
      extra_label: {{ settings.extra_label | json }},
      collection_label: {{ collection_label | json }},
      collection_label_color: {{ collection_label_color | json }},
      collection_label_handle_1: {{ collection_handle_1 | json }},
      collection_label_1: {{ collection_label_1 | json }},
      collection_label_color_1: {{ collection_label_color_1 | json }},
	  collection_label_handle_2: {{ collection_handle_2 | json }},
      collection_label_2: {{ collection_label_2 | json }},
      collection_label_color_2: {{ collection_label_color_2 | json }},
      collection_label_handle_3: {{ collection_handle_3 | json }},
      collection_label_3: {{ collection_label_3 | json }},
      collection_label_color_3: {{ collection_label_color_3 | json }},
      collection_label_handle_4: {{ collection_handle_4 | json }},
      collection_label_4: {{ collection_label_4 | json }},
      collection_label_color_4: {{ collection_label_color_4 | json }},
      collection_label_handle_5: {{ collection_handle_5 | json }},
      collection_label_5: {{ collection_label_5 | json }},
      collection_label_color_5: {{ collection_label_color_5 | json }},
      collection_label_handle_6: {{ collection_handle_6 | json }},
      collection_label_6: {{ collection_label_6 | json }},
      collection_label_color_6: {{ collection_label_color_6 | json }},
      collection_label_handle_7: {{ collection_handle_7 | json }},
      collection_label_7: {{ collection_label_7 | json }},
      collection_label_color_7: {{ collection_label_color_7 | json }},
      collection_label_handle_8: {{ collection_handle_8 | json }},
      collection_label_8: {{ collection_label_8 | json }},
      collection_label_color_8: {{ collection_label_color_8 | json }},
      collection_label_handle_9: {{ collection_handle_9 | json }},
      collection_label_9: {{ collection_label_9 | json }},
      collection_label_color_9: {{ collection_label_color_9 | json }},
      collection_label_handle_10: {{ collection_handle_10 | json }},
      collection_label_10: {{ collection_label_10 | json }},
      collection_label_color_10: {{ collection_label_color_10 | json }},
      show_sale_label: false,
      show_sold_out_label:false,
      active_image_swap:true ,
      show_sorting: true,
      display_item_swatch: false,
      enable_equal_height:false ,
      equal_height_crop_image_position:"center",
      collection_show_images: {{ show_images | json }}
    }
  };

  // Declare Templates
  var boostPFSTemplate = {
      'soldOutClass': ' sold-out',
      'saleClass': ' on-sale',
      'soldOutLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' -%},
      'saleLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'saleLabelHtml' -%},
      'tagLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'tagLabelHtml' -%},
      'vendorHtml': {%- render 'boost-pfs-filter-html', layout: 'vendorHtml' -%},
      // Grid Template
      'productGridItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productGridItemHtml' -%},
      // For List View
      // List Template
      'productListItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productListItemHtml' -%},
      // End For List View
      'productListPlaceholderHtml': {%- render 'boost-pfs-filter-html', layout: 'productListPlaceholderHtml' -%},
      // Pagination Template
      'previousActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'previousActiveHtml' -%},
      'previousDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' -%},
      'nextActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'nextActiveHtml' -%},
      'nextDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' -%},
      'pageItemHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemHtml' -%},
      'pageItemSelectedHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' -%},
      'pageItemRemainHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' -%},
      'paginateHtml': {%- render 'boost-pfs-filter-html', layout: 'paginateHtml' -%},
      // Sorting Template
      'sortingHtml': {%- render 'boost-pfs-filter-html', layout: 'sortingHtml' -%},
      // Show Limit Template
      'showLimitHtml': {%- render 'boost-pfs-filter-html', layout: 'showLimitHtml' -%},
      // Breadcrumb Template
      'breadcrumbHtml': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' -%},
      'breadcrumbDivider': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' -%},
      'breadcrumbItemLink': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' -%},
      'breadcrumbItemSelected': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' -%},
  };

</script>

{% schema %}
  {
    "name": {
      "en": "Collection page",
      "nl": "Collectiepagina"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Filter colors",
          "nl": "Filterkleuren"
        }
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Add filter colors by clicking 'Add content -> color'.",
          "nl": "Voeg filterkleuren toe door te klikken op 'Voeg content toe -> kleur' toe"
        }
      },
      {
        "type": "header",
        "content": "Banner 1"
      },
      {
        "type": "image_picker",
        "id": "banner1_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "textarea",
        "id": "banner1_subtitle",
        "label": {
          "en": "Subtitle",
          "nl": "Subtitel"
        }
      },
      {
        "type": "textarea",
        "id": "banner1_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "url",
        "id": "banner1_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner1_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      },
      {
        "type": "header",
        "content": "Banner 2"
      },
      {
        "type": "image_picker",
        "id": "banner2_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "textarea",
        "id": "banner2_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "url",
        "id": "banner2_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "textarea",
        "id": "banner2_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      }
    ],
    "blocks": [
      {
        "type": "color",
        "name": {
          "en": "Color",
          "nl": "Kleur"
        },
        "settings": [
          {
            "type": "text",
            "id": "color",
            "label": {
              "en": "Color name",
              "nl": "Kleurnaam"
            }
          },
          {
            "type": "paragraph",
            "content": {
              "en": "Choose a color in the colorpicker, or upload a colorswatch image.",
              "nl": "Kies een kleur uit de kleurselectie of upload een kleurswatch afbeelding."
            }
          },
          {
            "type": "color",
            "id": "color_hex",
            "label": {
              "en": "Color",
              "nl": "Kleur"
            }
          },
          {
            "type": "image_picker",
            "id": "color_img",
            "label": {
              "en": "Color image",
              "nl": "Kleur afbeelding"
            }
          }
        ]
      },
	{
        "type": "usp",
        "name": {
          "en": "Banner USP",
          "nl": "Banner USP"
        },
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": {
              "en": "Banner USP",
              "nl": "Banner USP"
            }
          }
        ]
      },
		{
        "type": "banner",
        "name": {
          "en": "Banner",
          "nl": "Banner"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Banner title",
              "nl": "Banner titel"
            }
          },
			{
              "type": "text",
              "id": "subtitle",
              "label": {
                "en": "Banner subtitle",
                "nl": "Banner ondertitel"
              }
			},
          	{
              "type": "text",
              "id": "button_text",
              "label": {
                "en": "Banner button text",
                "nl": "Banner knoptekst"
              }
			},
			{
              "type": "url",
              "id": "button_link",
              "label": {
                "en": "Banner button link",
                "nl": "Banner knop link"
              }
			},
			{
              "type": "checkbox",
              "id": "banner_stars",
			  "default": true,
              "label": {
                "en": "Show stars",
                "nl": "Toon sterren"
              }
			},
			{
              "type": "range",
              "id": "banner_position",
              "label": {
                "en": "Banner position",
                "nl": "Banner positie"
              },
				"info": {
                "en": "On what position between the products should this banner be?",
                "nl": "Op welke plek tussen de producten moet deze banner staan?"
              },
              "default": 5,
              "min": 1,
              "max": 24,
              "step": 1
			},
			{
              "type": "header",
              "content": {
                "en": "Show on collection(s)",
                "nl": "Toon op collectie(s)"
              }
			},
			{
              "type": "checkbox",
              "id": "banner_show_all",
              "label": {
                "en": "Show this banner on all collections",
                "nl": "Toon deze banner op alle collecties"
              }
			},
			{
              "type": "header",
              "content": {
                "en": "OR",
                "nl": "OF"
              }
			},
			{
              "type": "collection",
              "id": "banner_show_one_collection",
              "label": {
                "en": "Show this banner only on this collection",
                "nl": "Toon deze banner alleen op deze collectie"
              }
			},
			{
              "type": "header",
              "content": {
                "en": "OR",
                "nl": "OF"
              }
			},
			{
              "type": "textarea",
              "id": "banner_show_multiple_collections",
              "label": {
                "en": "Show this banner on these collections",
                "nl": "Toon deze banner op deze collecties"
              },
              "info": {
                  "en": "Type the handles of the collections, separated by comma's and without spaces. Like: vloerkleden,soort-stijl,accessoires",
                  "nl": "Type de handles van de collecties, gescheiden door komma's en zonder spaties. Voorbeeld: vloerkleden,soort-stijl,accessoires"
              }
			}
        ]
      }
    ]
  }
{% endschema %}
