<h2 class="s38 text-center">{{ section.settings.title }}</h2>
<ul class="list-color">
  {% for block in section.blocks %}
    {% capture colorswatch %}
      {% if block.settings.color_img %}
        url({{ block.settings.color_img | img_url: '45x45', scale: 2, crop: 'center' }})
      {% else %}
        {{ block.settings.color_hex }}
      {% endif %}
    {% endcapture %}

    <li style="background: {{ colorswatch }};">
      <a href="/collections/all/{{ block.settings.color_tag | downcase }}">
        <span>{{ block.settings.color_name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": {
      "en": "Color filter",
      "nl": "Kleurfilter"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Add colors by clicking 'Add color' below.",
          "nl": "Voeg kleuren toe door onderaan te klikken op 'Voeg kleur' toe"
        }
      }
    ],
    "blocks": [
      {
        "type": "color",
        "name": {
          "en": "Color",
          "nl": "Kleur"
        },
        "settings": [
          {
            "type": "text",
            "id": "color_name",
            "label": {
              "en": "Color name",
              "nl": "Kleurnaam"
            }
          },
          {
            "type": "text",
            "id": "color_tag",
            "label": {
              "en": "Product tag which is associated with this color",
              "nl": "Producttag welke met deze kleur geassocieerd is"
            }
          },
          {
            "type": "paragraph",
            "content": {
              "en": "Choose a color in the colorpicker, or upload a colorswatch image.",
              "nl": "Kies een kleur uit de kleurselectie of upload een kleurswatch afbeelding."
            }
          },
          {
            "type": "color",
            "id": "color_hex",
            "label": {
              "en": "Color",
              "nl": "Kleur"
            }
          },
          {
            "type": "image_picker",
            "id": "color_img",
            "label": {
              "en": "Color image",
              "nl": "Kleur afbeelding"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Filter",
          "nl": "Filter"
        },
        "name": {
          "en": "Color filter",
          "nl": "Kleurfilter"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
