{% form 'contact', id: page.id, class: 'form-comment' %}
  {% if form.posted_successfully? %}
    <script>
      if ($('.list-notifications').length == 0) {
        $("<ul class='list-notifications'><li>"+
        "<p class='overlay-a'>"+
        "{{ 'service.contact_form.posted_successfully' | t }}"+
        "</p>"+
        "</li></ul>").insertAfter("#top");
      };
    </script>
  {% else %}
    {%- if form.errors -%}
      <script>
        if ($('.list-notifications').length == 0) {
          $("<ul class='list-notifications'><li>"+
          "<p class='overlay-d'>"+
          "{{ 'service.contact_form.email' | t }} {{ form.errors.messages['email'] }}"+
          "</p>"+
          "</li></ul>").insertAfter("#top");
        };
      </script>
    {%- endif -%}
  {% endif %}

  <div class="contact-form">
    <div class="double a">
      <p>
        <label for="ContactFormName">{{ 'service.contact_form.name' | t }}</label>
        <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'service.contact_form.name' | t }}" required>
      </p>
      <p>
        <label for="ContactFormCompany">{{ 'service.contact_form.company' | t }}</label>
        <input type="text" id="ContactFormCompany" name="contact[company]" placeholder="{{ 'service.contact_form.company' | t }}">
      </p>
    </div>
    <div class="double a">
      <p>
        <label for="ContactFormEmail">{{ 'service.contact_form.email' | t }}</label>
        <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'service.contact_form.email' | t }}" required>
        {% comment %}<span class="sticky overlay-a">* {{ 'service.contact_form.email_disclaimer' | t }}</span>{% endcomment %}
      </p>
      <p>
        <label for="ContactFormPhone">{{ 'service.contact_form.phone' | t }}</label>
        <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="{{ 'service.contact_form.phone' | t }}" required>
      </p>
    </div>
    <p>
      <label for="ContactFormSubject">{{ 'service.contact_form.subject' | t }}</label>
      <select id="ContactFormSubject" name="contact[subject]" required>
        <option selected disabled value="">{{ 'service.contact_form.select_subject' | t }}</option>
        {% for block in section.blocks %}
        	<option value="{{ block.settings.text }}">{{ block.settings.text }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      <label for="ContactFormMessage">{{ 'service.contact_form.message' | t }}</label>
      <textarea id="ContactFormMessage" name="contact[body]" placeholder="{{ 'service.contact_form.message' | t }}" required></textarea>
      <span class="text-right overlay-a">* {{ 'service.contact_form.required' | t }}</span>
    </p>
    <p><button type="submit">{{ 'service.contact_form.send' | t }}</button></p>
  </div>

  {% comment %}
  <header class="module-author">
    <figure><img src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'need-advice.png' | asset_img_url: 'master' }}" alt="Placeholder" width="95" height="95"></figure>
    <h2>{{ 'service.contact_form.title' | t }}</h2>
    <p>{{ 'service.contact_form.subtitle' | t }}</p>
  </header>
  <div class="double a">
    <p>
      <label for="ContactFormName">{{ 'service.contact_form.name' | t }}</label>
      <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'service.contact_form.name' | t }}" required>
    </p>
    <p>
      <label for="ContactFormCompany">{{ 'service.contact_form.company' | t }}</label>
      <input type="text" id="ContactFormCompany" name="contact[company]" placeholder="{{ 'service.contact_form.company' | t }}">
    </p>
  </div>
  <div class="double a">
    <p>
      <label for="ContactFormEmail">{{ 'service.contact_form.email' | t }}</label>
      <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'service.contact_form.email' | t }}" required>
      <span class="sticky overlay-a">* {{ 'service.contact_form.email_disclaimer' | t }}</span>
    </p>
    <p>
      <label for="ContactFormPhone">{{ 'service.contact_form.phone' | t }}</label>
      <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="{{ 'service.contact_form.phone' | t }}" required>
    </p>
  </div>
  <p>
    <label for="ContactFormSubject">{{ 'service.contact_form.subject' | t }}</label>
    <input type="text" id="ContactFormSubject" name="contact[subject]" placeholder="{{ 'service.contact_form.subject' | t }}" required>
  </p>
  <p>
    <label for="ContactFormMessage">{{ 'service.contact_form.message' | t }}</label>
    <textarea id="ContactFormMessage" name="contact[body]" placeholder="{{ 'service.contact_form.message' | t }}" required></textarea>
    <span class="text-right overlay-a">* {{ 'service.contact_form.required' | t }}</span>
  </p>
  <p><button type="submit">{{ 'service.contact_form.send' | t }}</button></p>
  {% endcomment %}
{% endform %}

{% schema %}
  {
    "name": "Contact form",
    "settings": [],
	"blocks": [
		{
			"name": "Contactform onderwerp",
			"type": "Onderwerp",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Onderwerp"
				}
			]
		}
	]
  }
{% endschema %}
