<div id="account-contact" class="tab-account-content no-padding">
  <div class="account-doublerow">
    <div class="account-doublecolumn">
      {% if section.settings.info_title_lb != empty %}
        <h3>{{ section.settings.info_title_lb }}</h3>
      {% endif %}
      {{ section.settings.info_richtext_lb }}

      <div class="contact-flex-links">
        <span class="account-contact-item"><i class="icon-phone icon-rounded"></i>
            <a href="tel:{{ shop.phone }}">{{ shop.phone }}</a>
          </span>
          <span class="account-contact-item"><i class="icon-pencil icon-rounded"></i>
            <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
          </span>
          <span class="account-contact-item"><i class="icon-chat icon-rounded"></i>
            <a id="liveChatStart" href="#" onclick="StartLiveChat();">Start live chat</a>
          </span>
      </div>
    </div>
    {% if section.settings.info_title_rb != empty %}
        <div class="account-doublecolumn no-background">
          <h3>{{ section.settings.info_title_rb }}</h3>
          {{ section.settings.info_richtext_rb }}
          <div class="contact-flex-links">
            {% if section.settings.title_url1_rb and section.settings.link_url1_rb %}
              <a href="{{ section.settings.link_url1_rb }}">{{ section.settings.title_url1_rb }}</a>
            {% endif %}
            {% if section.settings.title_url2_rb and section.settings.link_url2_rb %}
                <a href="{{ section.settings.link_url2_rb }}">{{ section.settings.title_url2_rb }}</a>
            {% endif %}
            {% if section.settings.title_url3_rb and section.settings.link_url3_rb %}
                <a href="{{ section.settings.link_url3_rb }}">{{ section.settings.title_url3_rb }}</a>
            {% endif %}
            {% if section.settings.title_url4_rb and section.settings.link_url4_rb %}
                <a href="{{ section.settings.link_url4_rb }}">{{ section.settings.title_url4_rb }}</a>
            {% endif %}
            {% if section.settings.title_url5_rb and section.settings.link_url5_rb %}
                <a href="{{ section.settings.link_url5_rb }}">{{ section.settings.title_url5_rb }}</a>
            {% endif %}
          </div>
        </div>
    {% endif %}
  </div>

  <div class="seperatorspacer"></div>

  <div class="account-contact-form-container darker contact-form-extended">
    {% form 'contact' %}
    <div class="doublecolumn-container">
      <div class="account-contact doublecolumn">
        <label for="ContactFormName">{{ 'service.contact_form.name' | t }}</label>
        <input type="name" id="ContactFormName" name="contact[name]" placeholder="Naam" required/>
      </div>
      <div class="account-contact doublecolumn">
        <label for="ContactFormCompany">{{ 'service.contact_form.company' | t }}</label>
        <input type="company" id="ContactFormCompany" name="contact[company]" placeholder="Bedrijf" required/>
      </div>
    </div>
    <div class="doublecolumn-container">
      <div class="account-contact doublecolumn">
        <label for="ContactFormEmail">{{ 'service.contact_form.email' | t }}</label>
        <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="E-mailadres" required/>
      </div>
      <div class="account-contact doublecolumn">
        <label for="ContactFormPhone">{{ 'service.contact_form.phone' | t }}</label>
        <input type="phone" id="ContactFormPhone" name="contact[phone]" placeholder="Telefoonnummer" required/>
      </div>
    </div>
    <div class="account-contact-subject">
      <label for="ContactFormSubject">{{ 'service.contact_form.subject' | t }}</label>
      <select id="ContactFormSubject" name="contact[subject]" required>
        <option selected disabled value="">{{ 'service.contact_form.select_subject' | t }}</option>
        {% for block in section.blocks %}
        	<option value="{{ block.settings.text }}">{{ block.settings.text }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="account-contact-message">
      <label for="ContactFormMessage">{{ 'service.contact_form.message' | t }}<span class="required">*</span></label>
      <textarea name="contact[{{ 'service.contact_form.message' | t }}]" id="ContactFormMessage" placeholder="Bericht" required></textarea>
    </div>
    <div class="account-contact-submit">
      <span class="text-right overlay-a" style="z-index: 11;">* Verplicht veld</span>
    </div>
    <div class="account-contact-submit">
      <input type="submit" value="{{ 'service.contact_form.send' | t }} ›" />
    </div>

    {% if form.posted_successfully? %}
      <script>
        if ($('.list-notifications').length == 0) {
          $("<ul class='list-notifications'><li>"+
          "<p class='overlay-a'>"+
          "{{ 'service.contact_form.posted_successfully' | t }}"+
          "</p>"+
          "</li></ul>").insertAfter("#top");
        };
      </script>
      {% else %}
      {%- if form.errors -%}
        <script>
          if ($('.list-notifications').length == 0) {
            $("<ul class='list-notifications'><li>"+
            "<p class='overlay-d'>"+
            "{{ 'service.contact_form.email' | t }} {{ form.errors.messages['email'] }}"+
            "</p>"+
            "</li></ul>").insertAfter("#top");
          };
        </script>
      {%- endif -%}
    {% endif %}
    {% endform %}
  </div>
</div>


{% schema %}
{
  "name": "Contact section",
  "settings":
  [
    {
      "type": "header",
      "content": {
        "en": "Content for the >>first<< infobox.",
        "nl": "Content voor de >>eerste<< infobox."
      }
    },
    {
      "type": "text",
      "id": "info_title_lb",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    },
    {
      "type": "richtext",
      "id": "info_richtext_lb",
      "info": {
        "en": "You can select your own texts and link them or use the linkboxes below.",
        "nl": "Je kan eigen teksten selecteren en linken of gebruik maken van onderstaande linkboxes."
      },
      "label": {
        "en": "Content",
        "nl": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Content for the >>second<< infobox.",
        "nl": "Content voor de >>tweede<< infobox."
      }
    },
    {
      "type": "text",
      "id": "info_title_rb",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    },
    {
      "type": "richtext",
      "id": "info_richtext_rb",
      "info": {
        "en": "You can select your own texts and link them or use the linkboxes below.",
        "nl": "Je kan eigen teksten selecteren en linken of gebruik maken van onderstaande linkboxes."
      },
      "label": {
        "en": "Content",
        "nl": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 1/5",
        "nl": "Link 1/5"
      }
    },
    {
      "type": "text",
      "id": "title_url1_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url1_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 2/5",
        "nl": "Link 2/5"
      }
      },
    {
      "type": "text",
      "id": "title_url2_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url2_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 3/5",
        "nl": "Link 3/5"
      }
    },
    {
      "type": "text",
      "id": "title_url3_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url3_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    }
    ,
    {
      "type": "header",
      "content": {
        "en": "Link 4/5",
        "nl": "Link 4/5"
      }
    },
    {
      "type": "text",
      "id": "title_url4_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url4_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Link 5/5",
        "nl": "Link 5/5"
      }
    },
    {
      "type": "text",
      "id": "title_url5_rb",
      "label": {
        "en": "Link text",
        "nl": "Link tekst"
      }
    },
    {
      "type": "url",
      "id": "link_url5_rb",
      "label": {
        "en": "Link to:",
        "nl": "Linken naar:"
      }
    }
  ],
  "blocks": [
		{
			"name": "Contact-form onderwerp",
			"type": "Onderwerp",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"label": "Onderwerp"
				}
			]
		}
	]
}
{% endschema %}
