<div class="text-blocks contact">
  <div class="content w-100">
    {% if section.settings.content_title != empty %}<q>{{ section.settings.content_title }}</q>{% endif %}
    {% if section.settings.content_text != empty %}{{ section.settings.content_text }}{% endif %}
    <div class="d-flex default">
      {% if section.settings.link_text_1 != '' %}<div>{{ section.settings.link_text_1 }}</div>{% endif %}
      {% if section.settings.link_text_2 != '' %}<div>{{ section.settings.link_text_2 }}</div>{% endif %}
      {% if section.settings.link_text_3 != '' %}<div>{{ section.settings.link_text_3 }}</div>{% endif %}
    </div>
    {% if section.settings.linktext_1 != empty or section.settings.linktext_2 != empty %}
      <div class="d-flex btns">
        {% if section.settings.linktext_1 != empty %}<a href="{{ section.settings.link_1 }}"><button>{{ section.settings.linktext_1 }}</button></a>{% endif %}
        {% if section.settings.linktext_2 != empty %}<a href="{{ section.settings.link_2 }}"><button class="light">{{ section.settings.linktext_2 }}</button></a>{% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Contact blocks",
      "nl": "Contact blocks"
    },
    "settings": [
	  {
        "type": "header",
        "content": "Content"
      },
	  {
        "type": "text",
        "id": "content_title",
        "label": {
          "en": "Title above text",
          "nl": "Titel boven tekst"
        },
        "placeholder": {
          "en": "Title above text",
          "nl": "Titel boven tekst"
        }
      },
      {
        "type": "richtext",
        "id": "content_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
	  {
        "type": "header",
        "content": "Links"
      },
	  {
        "type": "richtext",
        "id": "link_text_1",
        "label": {
          "en": "Link text 1",
          "nl": "Link tekst 1"
        }
      },
	  {
        "type": "richtext",
        "id": "link_text_2",
        "label": {
          "en": "Link text 2",
          "nl": "Link tekst 2"
        }
      },
	  {
        "type": "richtext",
        "id": "link_text_3",
        "label": {
          "en": "Link text 3",
          "nl": "Link tekst 3"
        }
      },
	  {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": {
          "en": "Button 1 link",
          "nl": "Knop 1 link"
        }
      },
      {
        "type": "text",
        "id": "linktext_1",
        "label": {
          "en": "Button 1 link text",
          "nl": "Knop 1 linktekst"
        }
      },
	  {
        "type": "url",
        "id": "link_2",
        "label": {
          "en": "Button 2 link",
          "nl": "Knop 2 link"
        }
      },
      {
        "type": "text",
        "id": "linktext_2",
        "label": {
          "en": "Button 2 link text",
          "nl": "Knop 2 linktekst"
        }
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Text",
          "nl": "Tekst"
        },
        "name": {
          "en": "Text with blocks",
          "nl": "Tekst met blokken"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
