{% include 'breadcrumbs' %}
<div class="container download-pdf-container">
  <h1>{{ page.title }}</h1>
  <div>{{ page.content }}</div>

  <ul class="download-pdf-list">
    {% for block in section.blocks %}
      <li>
        <a href="{{ block.settings.url }}">
          <img style="width: 100%;" src="{{ block.settings.pdf_image | img_url: 'large' }}"/>
        </a>
        <p>{{ block.settings.pdf_paragraph | truncatewords: 20, '...' }}</p>
        <div class="download-pdf-sub">
          <p class="link"><a class="download-pdf-text" href="{{ block.settings.url }}" target="get">{{ block.settings.pdf_text }}</a></p>
          <a class="btn download-pdf-btn" href="{{ block.settings.url }}" target="get">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 17.283c-5.122 0-9.597-2.31-11.855-5.721a1.015 1.015 0 0 1-.145-.47c0-.138.065-.349.145-.471C2.405 7.209 6.878 4.9 12 4.9c5.122 0 9.597 2.31 11.855 5.72.08.123.145.334.145.472 0 .137-.065.348-.145.47-2.26 3.412-6.733 5.72-11.855 5.72zm-.102-1.382h.003a4.792 4.792 0 0 0 4.79-4.79 4.792 4.792 0 0 0-4.79-4.79 4.792 4.792 0 0 0-4.79 4.79v.002a4.79 4.79 0 0 0 4.787 4.788zm-.925-1.535a3.415 3.415 0 0 1-2.266-4.263 3.415 3.415 0 0 1 4.263-2.266c.25.08.287.08.5.218-.218.185-.442.185-.718 1.017-.277.832.225 2.223 1.435 2.549.299.08.757.102 1.049 0a2.283 2.283 0 0 1-.099.665c-.55 1.802-2.362 2.63-4.164 2.08z" fill="#473D3D" fill-rule="nonzero"/>
            </svg>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>


{% schema %}
{
  "name": "Download pdf section",
  "max_blocks": 250,
  "settings": [
  ],
  "blocks": [
    {
      "type": "select",
      "name": "PDF file",
      "settings": [
        {
          "id": "pdf_image",
          "type": "image_picker",
          "label": "use 295x330 png use the same width and height for all the pictures"
        },
        {
          "id": "url",
          "type": "url",
          "label": "link to content page"
        },
        {
          "id": "pdf_paragraph",
          "type": "richtext",
          "label": "PDF text",
          "default": "<p>PDF Name collection 2021</p>"
        },
        {
        "id": "pdf_text",
        "type": "text",
        "label": "Text",
        "default": "Bekijk PDF"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Call to Action Blocks",
      "category": "CTA button",
      "blocks": [
        {
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

  {% stylesheet %}
  .download-pdf-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  row-gap: 16px;
  }

  @media only screen and (min-width: 760px) {
    .download-pdf-list {
        grid-template-columns: 25% 25% 25% 25%;
    }
  }

  .download-pdf-list li {
  position: relative;
  box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
  margin: 10px;
  }

    .download-pdf-list li p {
    margin: 10px;
    }

  .download-pdf-list h2 {
  min-height: 50px;
  margin: 0;
  }

    .download-pdf-btn {
        color: #000 !important;
    }

  {% endstylesheet %}

  {% javascript %}
  {% endjavascript %}
