<article>
  <header>
    <h2 class="s38 m5">{{ section.settings.title }}</h2>
    <p>{{ section.settings.subtitle }}</p>
  </header>
  <div class="accordion-a">
    {% for block in section.blocks %}
    <div class="block-{{block.id}}" {{ block.shopify_attributes }}>
      <h3>{{ block.settings.question }}</h3>
      <div>
        <p>{{ block.settings.answer }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</article>

{% schema %}
  {
    "name": {
      "en": "FAQ",
      "nl": "Veelgestelde vragen"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": {
          "en": "Subtitle",
          "nl": "Subtitel"
        }
      }
    ],
    "blocks": [
      {
        "type": "FAQ_item",
        "name": "FAQ item",
        "settings": [
          {
            "type": "textarea",
            "id": "question",
            "label": {
              "en": "Question",
              "nl": "Vraag"
            }
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": {
              "en": "Answer",
              "nl": "Antwoord"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
