<article class="module-gallery featured-brands">
  <div class="featured-brands-top">
    <h2>{{ section.settings.title }}</h2>
    <a href="{{ section.settings.link }}">{{ section.settings.text-link }}</a>
  </div>
  <div>
    <ul class="list-featured featured-brands-ul slider">
      {% for block in section.blocks %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {% assign collection = collections[block.settings.collection] %}
        <li>
          <a href="{{ collection.url }}">
            {% if collection != blank and collection.image %}
              <img class="owl-lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ block.settings.image | img_url: '250x245', crop: 'center', scale: 2 }}" alt="{{ collection.title }}" width="330" height="325">
            {% else %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </a>
          <div class="brands-title-link">
            <a href="{{ collection.url }}">
              <span>{{ collection.title }}</span>
            </a>
            <span class="link"><a href="{{ collection.url }}">{{ block.settings.linktext }}</a></span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>

{% schema %}
  {
    "name": {
      "en": "Featured brands",
      "nl": "Uitgelichte merken"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
        {
        "type": "text",
        "id": "text-link",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link",
        "label": {
        "en": "Link",
        "nl": "Link"
        }
      }
    ],
    "blocks": [
      {
        "type": "Collection",
        "name": {
          "en": "Collection",
          "nl": "collectie"
        },
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": {
              "en": "Collection",
              "nl": "collectie"
            }
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
            "en": "Image",
            "nl": "Afbeelding"
            }
          },
          {
            "type": "text",
            "id": "linktext",
            "label": {
              "en": "Link text",
              "nl": "Linktekst"
            },
            "default": "Bekijk collecties"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Collection",
          "nl": "Collectie"
        },
        "name": {
          "en": "Featured brands",
          "nl": "Uitgelichte merken"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
