<article class="module-gallery">
  <header>
    <p>{{ section.settings.subtitle }}</p>
    <h2>{{ section.settings.title }}</h2>
    <p><a href="{{ section.settings.link }}">{{ section.settings.linktext }} <i class="icon-chevron-right"></i></a></p>
  </header>
  <div>
    <ul class="list-featured slider">
      {% for block in section.blocks %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {% assign collection = collections[block.settings.collection] %}
        <li>
          <a href="{{ collection.url }}">
            {% if collection != blank and collection.image %}
              <img class="owl-lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ collection.image | img_url: '250x245', crop: 'center', scale: 2 }}" alt="{{ collection.title }}" width="330" height="325">
            {% else %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <span>{{ collection.title }} <span class="link">{{ block.settings.linktext }}</span>
          </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>

{% schema %}
  {
    "name": {
      "en": "Featured collections",
      "nl": "Uitgelichte collecties"
    },
    "settings": [
      {
        "type": "text",
        "id": "subtitle",
        "label": {
          "en": "Subtitle",
          "nl": "Subtitel"
        }
      },
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "url",
        "id": "link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      }
    ],
    "blocks": [
      {
        "type": "Collection",
        "name": {
          "en": "Collection",
          "nl": "collectie"
        },
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": {
              "en": "Collection",
              "nl": "collectie"
            }
          },
          {
            "type": "text",
            "id": "linktext",
            "label": {
              "en": "Link text",
              "nl": "Linktekst"
            },
            "default": "Bekijk vloerkleden"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Collection",
          "nl": "Collectie"
        },
        "name": {
          "en": "Featured collections",
          "nl": "Uitgelichte collecties"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
