<article class="tabs-b featured-products">
  <nav>
    <h2>{{ section.settings.title }}</h2>
    <ul>
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        <li><a href="./">{% if block.settings.tabtext != empty %}{{ block.settings.tabtext }}{% else %}{{ collection.title }}{% endif %}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div>
    {% for block in section.blocks %}
    {% assign collection = collections[block.settings.collection] %}
    <div>
      <ul class="list-collection slider">
        {% for product in collection.products limit: block.settings.qty %}
          {% include 'product-card' with product: product %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</article>

<script>
    $(document).ready(function() {
        let price = document.getElementsByClassName("sup-convert");
        for (let i = 0; i < price.length; i++) {
            let splitPrice_before = price[i].textContent.split(",")[0];
            let splitPrice_after = price[i].textContent.split(",")[1];
            price[i].innerHTML = '<span>' + splitPrice_before + ',' + '<sup>' + splitPrice_after + '</sup>' + '</span>';
        }
    });
</script>

{% schema %}
  {
    "name": {
      "en": "Featured products",
      "nl": "Uitgelichte producten"
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      }
    ],
    "blocks": [
      {
        "type": "Collection",
        "name": {
          "en": "Collection",
          "nl": "Collectie"
        },
        "settings": [
          {
            "type": "text",
            "id": "tabtext",
            "label": {
              "en": "Tab text",
              "nl": "Tabtekst"
            }
          },
          {
            "type": "collection",
            "id": "collection",
            "label": {
              "en": "Collection",
              "nl": "Collectie"
            }
          },
          {
            "type": "range",
            "id": "qty",
            "label": {
              "en": "Number of products shown",
              "nl": "Aantal getoonde producten"
            },
            "info": {
              "en": "How many products do you want to show for this collection? Don't go too high on this to prevent your page from becoming slow.",
              "nl": "Hoeveel producten wil je van deze collectie tonen? Houd dit nummer laag om te voorkomen dat de pagina langzamer wordt."
            },
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 6
          }
        ]
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Products",
          "nl": "Producten"
        },
        "name": {
          "en": "Featured products",
          "nl": "Uitgelichte producten"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
