<footer id="footer">
  <div class="footer__container">
    <div class="list footer_first">
      <h3>{{ section.settings.first_footer_title }}</h3>
      <p>{{ section.settings.first_footer_text }}</p>
      <p class="footer_first-p2">{{ section.settings.first_footer_text2 }}</p>
      <div class="logos-container tablet-mode">
        <div class="logos">
          {% if section.settings.show_kiyoh %}
            <a rel="noopener" href="https://www.kiyoh.com/reviews/1047084/vloerkledenwinkel_nl?lang=nl" target="_blank" class="kiyoh">
              <div class="img">
                <img width="40" height="40" src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'Kiyoh.png' | asset_url }}" alt="Kiyoh" />
                <span>{{ section.settings.score }}</span>
              </div>
              <div class="text">
                <div class="title">Kiyoh</div>
                <div class="score">{{ section.settings.score_text }}</div>
                <span class="rating-a" data-val="{{ section.settings.stars }}" data-of="5"></span>
              </div>
            </a>
          {% endif %}
        </div>
        <div class="logos">
          <a rel="noopener" href="https://www.thuiswinkel.org/leden/vloerkledenwinkel.nl/certificaat" target="_blank" class="second_logo">
            <img width="120" height="35" src="{{ 'pixel.png' | asset_url }}" data-src="{{ section.settings.second_logo | img_url : '240x70' }}" alt="Thuiswinkelwaarborg" />
          </a>
          <a rel="noopener" href="https://www.becommerce.be/report/html/becommerce_certification.report_certificate/17752" target="_blank" class="third_logo">
            <img width="55" height="55" src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'ecommerce-europe.png' | asset_img_url: '65x65', scale: 2 }}" alt="Trust Ecommerce Europe" />
          </a>
        </div>
      </div>
    </div>

    <div class="list footer_second">
      <h3>{{ section.settings.openingtimes_title }}</h3>
      <p class="p-footer_second-one">{{ section.settings.openingtimes_text_one }}</p>
      <p class="p-footer_second">{{ section.settings.openingtimes_text }}</p>

      <h3 class="footer_newsletter">{{ section.settings.newsletter_title }}</h3>
      <p>{{ section.settings.newsletter_text }}</p>
      {% form 'customer' %}
        {%- if form.errors -%}
          <script>
            if ($('.list-notifications').length == 0) {
              $("<ul class='list-notifications'><li>"+
              "<p class='overlay-d'>"+
              "{{ 'footer.newsletter_form.email_placeholder' | t }} {{ form.errors.messages['email'] }}"+
              "</p>"+
              "</li></ul>").insertAfter("#top");
            };
          </script>
        {%- elsif form.posted_successfully? -%}
        <script>
          if ($('.list-notifications').length == 0) {
            $("<ul class='list-notifications'><li>"+
            "<p class='overlay-a'>"+
            "{{ 'footer.newsletter_form.confirmation' | t }}"+
            "</p>"+
            "</li></ul>").insertAfter("#top");
          }
        </script>
        {%- endif -%}
        <p class="footer-form-input">
          <label for="tags" hidden>{{ section.settings.newsletter_emailaddress_placeholder }}</label>
          <input type="hidden" id="tags" name="contact[tags]" value="newsletter">
          <label for="email">{{ section.settings.newsletter_emailaddress_placeholder }}</label>
          <input type="email" id="email" name="contact[email]" placeholder="{{ section.settings.newsletter_emailaddress_placeholder }}" required>
          <button class="newsletter-btn" type="submit">{{ section.settings.newsletter_buttontext }}</button>
        </p>
      {% endform %}
    </div>

    <div class="list footer_third">
      <h3 class="header-toggle">{{ section.settings.contact_title }}</h3>
      <p>{{ section.settings.contact_text }}</p>
      {% if section.settings.contact_show_contactoptions %}
        <ul>
          <li><a href="tel:{{ shop.phone }}">{{ shop.phone }}</a></li>
          <li><a href="mailto:{{ section.settings.email }}"><i class="icon2-envelope-circle"></i> {{ section.settings.email }}</a></li>
          <li><a href="{{ section.settings.chat_url }}"><i class="icon2-chat-circle"></i> {{ section.settings.chat_text }}</a></li>
        </ul>
      {% endif %}
      <p>{{ section.settings.contact_text2 }}</p>
      <button onclick="window.location = '/pages/contact'" class="footer-contact-btn">{{ section.settings.contact_btn }}</button>
    </div>
    <div class="seperator show-mobile"></div>
    
    <div class="bot menu show-small-mobile">
      <h3>{{ section.settings.first_menu_text }}</h3>
      <ul>
        {% for link in linklists[section.settings.first_menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="bot menu show-small-mobile">
      <h3>{{ section.settings.second_menu_text }}</h3>
      <ul class="menu-overons">
        {% for link in linklists[section.settings.second_menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <h3>{{ section.settings.third_menu_text }}</h3>
      <ul>
        {% for link in linklists[section.settings.third_menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="bot menu show-small-mobile">
      <h3>{{ section.settings.fourth_menu_text }}</h3>
      <ul>
        {% for link in linklists[section.settings.fourth_menu].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>


    <div class="logos-container-mobile">
      <div class="logos">
        {% if section.settings.show_kiyoh %}
          <a rel="noopener" href="https://www.kiyoh.com/reviews/1047084/vloerkledenwinkel_nl?lang=nl" target="_blank" class="kiyoh">
            <div class="img">
              <img width="40" height="40" src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'Kiyoh.png' | asset_url }}" alt="Kiyoh" />
              <span>{{ section.settings.score }}</span>
            </div>
            <div class="text">
              <div class="title">Kiyoh</div>
              <div class="score">{{ section.settings.score_text }}</div>
              <span class="rating-a" data-val="{{ section.settings.stars }}" data-of="5"></span>
            </div>
          </a>
        {% endif %}
      </div>
      <div class="logos hide-mobile">
        <a rel="noopener" href="https://www.thuiswinkel.org/leden/vloerkledenwinkel.nl/certificaat" target="_blank" class="second_logo">
          <img width="120" height="35" src="{{ 'pixel.png' | asset_url }}" data-src="{{ section.settings.second_logo | img_url : '240x70' }}" alt="Thuiswinkelwaarborg" />
        </a>
        <a rel="noopener" href="https://www.becommerce.be/report/html/becommerce_certification.report_certificate/17752" target="_blank" class="third_logo">
          <img width="55" height="55" src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'ecommerce-europe.png' | asset_img_url: '65x65', scale: 2 }}" alt="Trust Ecommerce Europe" />
        </a>
      </div>
    </div>
  </div>

  <div class="full-width-footer-wrapper tablet-mode">
    <div class="footer-section-grey-wrapper">
      <div class="footer-section-grey-container">
        <div class="bot menu">
          <h3>{{ section.settings.first_menu_text }}</h3>
          <ul>
            {% for link in linklists[section.settings.first_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="bot menu">
          <h3>{{ section.settings.second_menu_text }}</h3>
          <ul class="menu-overons">
            {% for link in linklists[section.settings.second_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          <h3>{{ section.settings.third_menu_text }}</h3>
          <ul>
            {% for link in linklists[section.settings.third_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="bot menu">
          <h3>{{ section.settings.fourth_menu_text }}</h3>
          <ul>
            {% for link in linklists[section.settings.fourth_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
  
        <div class="bot payments footer_last">
          <h3>{{ section.settings.logos_title }}</h3>
          <p>{{ section.settings.address_menu_text }}</p>
          <p>{{ section.settings.address_menu_text_second }}</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="lazy-bg" style="background: #fff;">
    <ul class="copyright-wrapper">
      {% for link in linklists[section.settings.menu].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
      <li class="span-overlay-a">{{ section.settings.privacy }}</li>
      <li class="span-overlay-a">{{ section.settings.disclaimer }}</li>
      <li class="span-overlay-a">{{ section.settings.copyright_text }}</li>
    </ul>
  </nav>
</footer>

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 6,
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Vloerkledenwinkel",
          "nl": "Vloerkledenwinkel"
        }
      },
      {
        "type": "text",
        "id": "first_footer_title",
        "label": {
          "en": "Title",
          "nl": "Title"
        }
      },
      {
        "type": "textarea",
        "id": "first_footer_text",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
        {
        "type": "textarea",
        "id": "first_footer_text2",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "checkbox",
        "id": "show_kiyoh",
        "label": {
        "en": "Show Kiyoh",
        "nl": "Toon Kiyoh"
        }
      },
      {
      "type": "range",
      "id": "score",
      "label": {
      "en": "Score",
      "nl": "Score"
      },
      "min": 0,
      "max": 10,
      "step": 0.1,
      "default": 9.4
      },
      {
      "type": "text",
      "id": "score_text",
      "label": {
      "en": "Text beside score",
      "nl": "Tekst naast score"
      },
      "placeholder": {
      "en": "beoordelingen",
      "nl": "beoordelingen"
      },
      "default": {
      "en": "beoordelingen",
      "nl": "beoordelingen"
      }
      },
      {
      "type": "range",
      "id": "stars",
      "label": {
      "en": "Number of stars",
      "nl": "Aantal sterren"
      },
      "min": 0,
      "max": 5,
      "step": 0.1,
      "default": 4.5
      },
        {
        "type": "image_picker",
        "id": "second_logo",
        "label": {
        "en": "Second logo",
        "nl": "Tweede logo"
        }
        },
      {
        "type": "header",
        "content": {
        "en": "Showroom",
        "nl": "Showroom"
        }
      },
      {
        "type": "text",
        "id": "openingtimes_title",
        "label": {
        "en": "Title",
        "nl": "Title"
        }
      },
      {
        "type": "textarea",
        "id": "openingtimes_text_one",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "textarea",
        "id": "openingtimes_text",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Newsletter",
          "nl": "Nieuwsbrief"
        }
      },
      {
        "type": "text",
        "id": "newsletter_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "newsletter_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
      {
        "type": "text",
        "id": "newsletter_emailaddress_placeholder",
        "label": {
          "en": "Email adress placeholder",
          "nl": "E-mailadres placeholder"
        }
      },
      {
        "type": "text",
        "id": "newsletter_buttontext",
        "label": {
          "en": "Button text",
          "nl": "Button tekst"
        }
      },
      {
        "type": "header",
        "content": {
        "en": "Contact block",
        "nl": "Contactblok"
        }
      },
      {
        "type": "text",
        "id": "contact_title",
        "label": {
        "en": "Title",
        "nl": "Title"
        }
      },
      {
        "type": "textarea",
        "id": "contact_text",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
      "type": "checkbox",
      "id": "contact_show_contactoptions",
      "label": {
      "en": "Show mail and phone options",
      "nl": "Toon mail en telefoon opties"
      },
      "default": true
      },
      {
      "type": "text",
      "id": "email",
      "label": {
      "en": "Email address",
      "nl": "E-mailadres"
      }
      },
      {
      "type": "text",
      "id": "chat_text",
      "label": {
      "en": "Text chat",
      "nl": "Tekst chat"
      }
      },
      {
      "type": "text",
      "id": "chat_url",
      "label": {
      "en": "URL chat",
      "nl": "URL chat"
      }
      },
      {
      "type": "textarea",
      "id": "contact_text2",
      "label": {
      "en": "Text",
      "nl": "Tekst"
      }
      },
      {
      "type": "text",
      "id": "contact_btn",
      "label": {
      "en": "Button text",
      "nl": "Button tekst"
      }
      },
      /*{
        "type": "header",
        "content": {
          "en": "Store block",
          "nl": "Winkelblok"
        }
      },
      {
        "type": "text",
        "id": "store_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "store_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
      {
        "type": "textarea",
        "id": "store_address",
        "label": {
          "en": "Address",
          "nl": "Adres"
        }
      },*/
      {
        "type": "header",
        "content": {
          "en": "Second bar",
          "nl": "Tweede balk"
        }
      },
      {
        "type": "text",
        "id": "first_menu_text",
        "label": {
          "en": "First menu title",
          "nl": "Eerste menu titel"
        }
      },
      {
        "type": "link_list",
        "id": "first_menu",
        "label": {
          "en": "First menu",
          "nl": "Eerste menu"
        },
        "default": "footer"
      },
      {
        "type": "text",
        "id": "second_menu_text",
        "label": {
          "en": "Second menu title",
          "nl": "Tweede menu titel"
        }
      },
      {
        "type": "link_list",
        "id": "second_menu",
        "label": {
          "en": "Second menu",
          "nl": "Tweede menu"
        },
        "default": "footer"
      },
      {
        "type": "text",
        "id": "third_menu_text",
        "label": {
          "en": "Third menu title",
          "nl": "Derde menu titel"
        }
      },
      {
        "type": "link_list",
        "id": "third_menu",
        "label": {
          "en": "Third menu",
          "nl": "Derde menu"
        },
        "default": "footer"
      },
      {
        "type": "text",
        "id": "fourth_menu_text",
        "label": {
          "en": "Fourth menu title",
          "nl": "Vierde menu titel"
        }
      },
      {
        "type": "link_list",
        "id": "fourth_menu",
        "label": {
          "en": "Fourth menu",
          "nl": "Vierde menu"
        },
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Address"
      },
      {
        "type": "text",
        "id": "logos_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "address_menu_text",
        "label": {
        "en": "Address text",
        "nl": "Address tekst"
      }
      },
      {
        "type": "textarea",
        "id": "address_menu_text_second",
        "label": {
        "en": "Address text",
        "nl": "Address tekst"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Bottom bar",
          "nl": "Onderste balk"
        }
      },
      {
        "type": "text",
        "id": "menu_title",
        "label": {
          "en": "Menu title (on mobile)",
          "nl": "Menu titel (op mobiel)"
        }
      },
      {
        "type": "text",
        "id": "privacy",
        "label": {
        "en": "Privacy",
        "nl": "Privacy"
        }
      },
      {
        "type": "text",
        "id": "disclaimer",
        "label": {
        "en": "Disclaimer",
        "nl": "Disclaimer"
        }
      },
      {
        "type": "textarea",
        "id": "copyright_text",
        "label": {
          "en": "Copyright text",
          "nl": "Copyright tekst"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>purple</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>paars</span>"
        }
      }
    ],
    "blocks": [
      {
        "type": "USP",
        "name": {
          "en": "USP",
          "nl": "USP"
        },
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": {
              "en": "Icon",
              "nl": "Icoon"
            },
            "options": [
              {
                "value": "truck",
                "label": {
                  "en": "Truck",
                  "nl": "Truck"
                }
              },
              {
                "value": "check-circle",
                "label": {
                  "en": "Checkmark",
                  "nl": "Vinkje"
                }
              },
              {
                "value": "open",
                "label": {
                  "en": "'Open' sign'",
                  "nl": "Bordje 'open'"
                }
              },
              {
                "value": "logout",
                "label": {
                  "en": "Circled arrow to the right",
                  "nl": "Omcirkelde pijl naar rechts"
                }
              },
              {
                "value": "thumbs-up",
                "label": {
                  "en": "Thumbs up",
                  "nl": "Thumbs up"
                }
              },
              {
                "value": "eye",
                "label": {
                  "en": "Eye",
                  "nl": "Oog"
                }
              },
              {
                "value": "star",
                "label": {
                  "en": "Star",
                  "nl": "Ster"
                }
              },
              {
                "value": "none",
                "label": {
                  "en": "None",
                  "nl": "Geen"
                }
              }
            ]
          },
          {
            "type": "text",
            "id": "text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "info": {
              "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
              "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
