{% include 'breadcrumbs' %}

<div class="form-wrapper">
  <h2><center>{{ page.title }}</center></h2>
  {% form 'recover_customer_password' %}
  {%- if form.errors -%}
        <script>
          if ($('.list-notifications').length == 0) {
              $('<ul class="list-notifications">'+
              {% for error in form.errors %}
                '<li>'+
                '<p class="overlay-d">'+
                {% if error == 'form' %}
                  '{{ form.errors.messages[error] }}'+
                {% else %}
                  '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                {% endif %}
                '</p>'+
                '</li>'+
              {% endfor %}
              '</ul>').insertAfter('#top');
          };
        </script>
    {%- endif -%}
    {{ form.errors | default_errors }}
    <div class="account-form-input">
      <p>
        <label for="email">Email</label>
        <input type="email" value="" name="email" id="recover-email"/>
      </p>
    </div>
    <div class="account-form-submit">
      <p><button type="submit" value="Verstuur" onclick="redirect()">Verstuur</button></p>
    </div>
  {% endform %}
</div>

<script>function redirect() { window.location.href = "/pages/wachtwoord-vergeten-email-verstuurd"; }</script>
