<script src="{{ 'svg-inject.min.js' | asset_url }}"></script>
<script src="{{ 'jquery.js' | asset_url }}"></script>

{% include 'cart-count' %}
<div class="top-container">
  <header id="top" class="move-top">
    <div class="container">

      <div class="container-fix">

      <p id="logo">
        <a href="{{ routes.root_url }}" accesskey="h">
          <img class="mobile-hide" width="330" height="82" src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'Vloerkledenwinkel-logo.svg' | asset_url }}" alt="{{ shop.name }} Logo" />
          <img class="mobile-only" width="190" height="60" src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'vloerkledenwinkel-logo-small-v2.svg' | asset_url }}" alt="{{ shop.name }} Logo" />
        </a>
      </p>
      <nav id="nav" aria-label="Navigatie">
        <ul>
          {% assign menuBlocks = section.blocks | where: 'type', 'menu' %}
          {% for block in menuBlocks %}
                {% assign menuhandle = block.settings.main_menu %}
                {% assign menuCollection = block.settings.collection_menu %}

                {% for link in linklists[menuhandle].links %}
                  {% assign buttonDisplayed = false %}
                  {% if link.title contains 'Sale' or link.title contains 'FRIDAY' or link.title contains 'SALE' %}
                    {% assign linkClass = 'sale' %}
                  {% else %}
                    {% assign linkClass = '' %}
                  {% endif %}
                  {% if link.title contains 'Maat' %}
                    {% assign isMatenSub = true %}
                  {% else %}
                    {% assign isMatenSub = false %}
                  {% endif %}

                  <li class="{{ linkClass }} {% if block.settings.mobile_only %} mobile-only{% if block.settings.grey %} grey{% endif %}{% endif %}{% if block.settings.mobile_hide %} mobile-hide{% endif %}{% if link.title == 'Vloerkleden' %} all-rugs{% endif %}{% if link.title == 'Merken' %} brands{% endif %}{% if link.title == 'Over ons' %} last{% endif %}">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>

                    {%- if section.settings.show_colors != '' and link.title == 'Kleuren' -%}
                      <ul class="megamenu colors">
                        <li data-mobile-text="{{ 'general.breadcrumbs.back_to_menu' | t }}">
                          <div class="w-100">
                            <a href="{{ section.settings.colors_link }}">
                              {{ section.settings.colors_text }}
                            </a>
                            <ul>
                              {% for block in section.blocks %}
                                {% if block.type == 'color' %}
                                  {% capture colorswatch %}
                                    {% if block.settings.color_img %}
                                      url({{ block.settings.color_img | img_url: '56x56', scale: 2, crop: 'center' }})
                                    {% else %}
                                      {{ block.settings.color_hex }}
                                    {% endif %}
                                  {% endcapture %}

                                  <li style="background: {{ colorswatch }};">
                                    <a href="/collections/{% if block.settings.color_collection %}{{ block.settings.color_collection }}{% else %}all/{{ block.settings.color_tag }}{% endif %}">
                                      {{ block.settings.color_name }}</a>
                                  </li>
                                {% endif %}
                              {% endfor %}
                              {% if section.settings.show_colors_btn != '' %}
                                  <li class="btn mobile-hide"><a href="{{ section.settings.colors_btn_link }}"><button>{{ section.settings.colors_btn_text }}</button></a></li>
                                <li class="mobile-only link"><a href="{{ section.settings.colors_btn_link }}">{{ section.settings.colors_btn_text }}</a></li>
                              {% endif %}
                            </ul>
                          </div>
                        </li>
                      </ul>
                    {%- endif -%}

                    {%- if link.links != blank -%}

                      {%- if block.settings.enable_full_size_menu -%}
                        <style>
                          #nav>ul>li>.megamenu>li:first-of-type { width: 100%; gap: 40px }
                          #nav>ul>li>.megamenu>li>.w-50 { width: max-content; min-width: 100px; }
                          ul.megamenu { min-height: max-content; }
                        </style>
                      {%- endif -%}

                      <ul class="megamenu{% if isMatenSub %} matenmenu{% endif %}">
                        <li data-mobile-text="{{ 'general.breadcrumbs.back_to_menu' | t }}">
                          {% comment %} If there is more then 1 submenu {% endcomment %}
                          {% for sub in link.links %}
                            {% if forloop.rindex > 1 %}
                              {% assign divClass = 'w-50' %}

                              {% assign collClass = '' %}

                            {% else %}
                              {% assign divClass = 'w-100' %}

                              {% for sub in sub.links %}
                                {% if forloop.rindex > 4 %}
                                  {% assign collClass = 'two-col' %}
                                {% else %}
                                  {% assign collClass = '' %}
                                {% endif %}
                                {% break %}
                              {% endfor %}
                            {% endif %}
                            {% break %}
                          {% endfor %}

                          {%- for sub in link.links -%}
                            {% comment %} Mobile menu handling {% endcomment %}
                            <div class="mobile-only desktop-hidden {{ divClass }}">
                              <a class="toggle subsub-toggle" href="{{ sub.url }}">{{ sub.title }}</a>
                              {%- if sub.links != blank -%}
                                
                                <ul class="megamenu ul-toggle {{ collClass }}">
                                  {%- for subsub in sub.links -%}
                                    {% if forloop.last %}
                                      {% assign makePink = 'make-pink' %}
                                    {% else %}
                                      {% assign makePink = '' %}
                                    {% endif %}

                                    {% if forloop.index == 11 and block.settings.toggle_more %}
                                     <li class="mobile-only">
                                       <a href="./" class="toggle-more"><i class="icon-chevron-down"></i>{{ 'product.show_more' | t }}</a>
                                     </li>
                                    {% endif %}
                                    <li class="{% if forloop.index >= 11 and block.settings.toggle_more %}hidden{% endif %}">
                                      <a class="{{ makePink }}" href="{{ subsub.url }}">{{ subsub.title }}</a>
                                    </li>

                                  {%- endfor -%}
                                  </ul>
                                  <ul>

                                  {% comment %} this block creates a big pink [show all] button {% endcomment %}
                                  {% if block.settings.menu_button_url != '' and block.settings.menu_button_text != '' and buttonDisplayed == false %}
                                    {% assign buttonDisplayed = true %}
                                      <li class="mobile-hide{% if isMatenSub %} show62{% endif %}"><a href="{{ block.settings.menu_button_url }}"><button>{{ block.settings.menu_button_text }}</button></a></li>
                                  {% endif %}

                                </ul>
                              {%- else -%}
                                <ul class="{{ collClass }}">
                                  <li>
                                    <a href="{{ subsub.url }}">{{ subsub.title }}</a>
                                  </li>
                                </ul>
                              {%- endif -%}
                            </div>
                          
                          {% comment %} Desktop menu handling {% endcomment %}
                            <div class="desktop-only mobile-hidden {{ divClass }}">
                              <a href="{{ sub.url }}">{{ sub.title }}</a>
                              {%- if sub.links != blank -%}
                                
                                <ul class="{{ collClass }}">
                                  {%- for subsub in sub.links -%}

                                  {%- if block.settings.enable_full_size_menu == false -%}
                                    {% if subsub.title contains 'Alle' or subsub.title contains 'alle' %}
                                      {% assign subClass = 'mobile-only' %}
                                    {% else %}
                                      {% assign subClass = '' %}
                                    {% endif %}
                                  {%- endif -%}

                                    {% if forloop.last %}
                                      {% assign makePink = 'make-pink' %}
                                    {% else %}
                                      {% assign makePink = '' %}
                                    {% endif %}

                                    {% if forloop.index == 11 and block.settings.toggle_more %}<li class="mobile-only"><a href="./" class="toggle-more"><i class="icon-chevron-down"></i>{{ 'product.show_more' | t }}</a></li>{% endif %}
                                      <li class="{{ subClass }}{% if forloop.index > 15 and block.settings.toggle_more %} mobile-only hidden{% endif %}">
                                      <a class="{{ makePink }}" href="{{ subsub.url }}">{{ subsub.title }}</a>
                                    </li>

                                    {% if isMatenSub and subsub.title contains 'op maat' %}
                                        {% if block.settings.menu_button_url != '' and block.settings.menu_button_text != '' and buttonDisplayed == false %}
                                            <li class="mobile-hide desktop-only"><a href="{{ block.settings.menu_button_url }}"><button>{{ block.settings.menu_button_text }}</button></a></li>
                                        {% endif %}
                                      </ul>
                                      <ul>
                                    {% endif %}
                                  {%- endfor -%}

                                  {% comment %} this block creates a big pink [show all] button {% endcomment %}
                                  {% if block.settings.menu_button_url != '' and block.settings.menu_button_text != '' and buttonDisplayed == false %}
                                    {% assign buttonDisplayed = true %}
                                      <li class="mobile-hide{% if isMatenSub %} show62{% endif %}"><a href="{{ block.settings.menu_button_url }}"><button>{{ block.settings.menu_button_text }}</button></a></li>
                                  {% endif %}

                                </ul>
                              {%- endif -%}
                            </div>
                          {%- endfor -%}
                        </li>
                        {% if menuCollection != '' %}
                          <li class="visual mobile-hide">
                            {% for link in linklists[menuCollection].links %}
                              <a href="{{ link.url }}">{{ link.title }}</a>
                              {%- if link.links != blank -%}
                                <ul>
                                  {%- for subsub in link.links -%}
                                    <li><a href="{{ subsub.url }}"><div class="img mobile-hide">
                                      {% if subsub.type == 'collection_link' and subsub.object.image %}
                                        <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ subsub.object.image.src | collection_img_url: 'medium' }}" alt="{{ subsub.object.title | escape  }}" />
                                      {% else %}
                                        <img src="{{ 'pixel.png' | asset_url }}" />
                                      {% endif %}
                                      </div><div>{{ subsub.title }}</div>
                                    </a></li>
                                  {%- endfor -%}
                                </ul>
                              {% endif %}
                            {% endfor %}
                          </li>
                        {% endif %}
                      </ul>
                    {%- endif -%}
                  </li>
                {% endfor %}
          {% endfor %}
          
          <div class="extra-corner-links">
            {% if section.settings.menu_corneritem_text1 != empty %}
              <li class="text-right">
                {% if section.settings.menu_corneritem_url1 %}
                  <a href="{{ section.settings.menu_corneritem_url1 }}">
                    {{ section.settings.menu_corneritem_text1 }}
                  </a>
                {% else %}
                  {{ section.settings.menu_corneritem_text1 }}
                {% endif %}
              </li>
            {% endif %}
            {% if section.settings.menu_corneritem_text2 != empty %}
              <li class="text-right">
                {% if section.settings.menu_corneritem_url2 %}
                  <a href="{{ section.settings.menu_corneritem_url2 }}">
                    {{ section.settings.menu_corneritem_text2 }}
                  </a>
                {% else %}
                  {{ section.settings.menu_corneritem_text2 }}
                {% endif %}
              </li>
            {% endif %}
          </div>
        </ul>

        <ul>          
          <li class="contact"><a href="/pages/contact"><i class="icon-phone"></i> <span>Contact</span></a></li>
          <!-- <li class="zs"><a href="#zichtservice-cart" class="hide-mobile"><i class="icon-eye"><span class="header-cart-count no-zs">{{ zichtservice_count }}</span></i> <span>{{ 'product.service' | t }}</span></a><a href="{{ routes.cart_url }}" class="show-mobile"><i class="icon-eye"><span class="header-cart-count no-zs">{{ zichtservice_count }}</span></i> <span>{{ 'product.service' | t }}</span></a></li> -->
          {% if customer %}
            <a href="https://www.thuiswinkel.org/leden/vloerkledenwinkel-nl/certificaat" target="_blank"><img class="header-icon-thuis loggedin" src="{{ 'icons-thuis.svg' | asset_url }}" onload="SVGInject(this)"/></a>
          {% else %}
            <a href="https://www.thuiswinkel.org/leden/vloerkledenwinkel-nl/certificaat" target="_blank"><img class="header-icon-thuis" src="{{ 'icons-thuis.svg' | asset_url }}" onload="SVGInject(this)"/></a>
          {% endif %}
          {% if customer %}
            <li class="account">
              <a href="{{ routes.account_url }}">
                <img src="{{ 'account-icon-dashboard.svg' | asset_url }}" onload="SVGInject(this)"/>
                <span class="my-account-text">Mijn account</span>
              </a>
            </li>
          {% else %}
          <a class="openButton mobile-hide " onclick="toggleLoginForm()">
            <img src="{{ 'account-icon-dashboard.svg' | asset_url }}" onload="SVGInject(this)"/>
            <div class="logindropdown">
              <span class="logintext">Inloggen / Registreren</span>
              <span class="acountxt">Mijn account</span>
            </div>
          </a>
          <script>
            function toggleLoginForm() {
              var target = document.getElementById("loginForm");
              target.style.display = target.style.display === "none" ? target.style.display = "block" : target.style.display = "none";
            }
          </script>

          <div class=" loginForm" id="loginForm">
          {% form  'customer_login', name: 'login', id: 'customer_login', class: 'form-login box' %}
          {%- if form.errors -%}
              <script>
                if ($('.list-notifications').length == 0) {
                    $('<ul class="list-notifications">'+
                    {% for error in form.errors %}
                      '<li>'+
                      '<p class="overlay-d">'+
                      {% if error == 'form' %}
                        '{{ form.errors.messages[error] }}'+
                      {% else %}
                        '{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}'+
                      {% endif %}
                      '</p>'+
                      '</li>'+
                    {% endfor %}
                    '</ul>').insertAfter('#top');
                };
              </script>
            {%- endif -%}

    <p>
      <label for="fla">{{ 'customer.login.email' | t }}</label>
      <input type="email" id="fla" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus required>
      <span><i class="dropdownemail"></i></span>
    </p>

    {% if form.password_needed %}
      <p>
        <label for="flb">{{ 'customer.login.password' | t }}</label>
        <input type="password" id="flb" name="customer[password]" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}" required>
        <span><i class="dropdownpassword"></i></span>
      </p>
    {% endif %}
      <p><button class="custom-corner" onclick='window.location.href="{{ shop.url }}"' type="submit">{{ 'customer.login.submit' | t }}</button></p>

      <li class="account registerinput">Klant worden?<a href="{{ routes.account_register_url }}"><span>{{ 'header.account.my_account' | t }}</span></a></li>
      <div class="recovertext">
        <a onclick="sessionStorage.setItem('recoverInHeaderClicked', 'true')" href="{{ routes.account_login_url }}" class="text-right">{{ 'customer.login.forgot_password' | t }}</a>
      </div>
    {% endform %}
        </div>

            <li class="mobile-only account">
              <a href="{{ routes.account_login_url }}">
                <img src="{{ 'account-icon-dashboard.svg' | asset_url }}" onload="SVGInject(this)"/>
                <span>{{ 'header.account.login' | t }}</span>
              </a>
            </li>
          {% endif %}
          <li class="heart-override"><a href="#swym-wishlist"><i class="icon-hartje"></i> <span>{{ 'header.wishlist' | t }}</span></a></li>
          <li class="cart cart-override"><a id="header-cart" href="#cart"><i class="icon-cart-bag"><span class="header-cart-count no">{{ cart_item_count }}</span></i> <span>{{ 'header.cart' | t }}</span></a><a href="{{ routes.cart_url }}" class="show-mobile"><i class="icon-bag"><span class="header-cart-count no">{{ cart_item_count }}</span></i> <span>{{ 'header.cart' | t }}</span></a></li>
        </ul>
      </nav>
    </div>
    </div>
    <form action="{{ routes.search_url }}" method="get" id="formSearch" data-search-type="desktop">
      <p style="z-index: 39;">
        <label for="q" class="hidden">{{ 'header.search' | t }}</label>
        <input type="search" id="q" name="q">
        <input type="hidden" name="type" value="product" />
        <button type="submit">{{ 'header.search' | t }}</button>
      </p>
      <div class="search-autocomplete" data-search-type="desktop">
        <div class="view-all" data-text="{{ 'search.view_all_results' | t }}"></div>
        <ul class="list-compact m0"></ul>
        <ul class="list-cart images m0"></ul>
      </div>
    </form>

    <ul class="list-usp-top">
      {% for block in section.blocks %}
        {% if block.type == 'Multi-USP' %}
          <li>
            {% unless block.settings.icon == 'none' %}<i class="icon{% if block.settings.icon == 'thumbs-up' %}2{% endif %}-{{block.settings.icon}}"></i>{% endunless %}
            <a id="multi-usp" href="{{ block.settings.link | default: "#"}}">{{ block.settings.text1 }}</a>
          </li>
        {% endif %}
        {% if block.type == 'USP' %}
          <li>
            {% if block.settings.alignright %}
              <a href="{{ block.settings.link | default: "#"}}">{{ block.settings.text }}</a>
              {% unless block.settings.icon == 'none' %}
              <i class="icon{% if block.settings.icon == 'thumbs-up' %}2{% endif %}-{{block.settings.icon}}"></i>
              {% endunless %}
            {% else %}
              {% unless block.settings.icon == 'none' %}
                <i class="icon{% if block.settings.icon == 'thumbs-up' %}2{% endif %}-{{block.settings.icon}}"></i>
              {% endunless %}
              <a href="{{ block.settings.link | default: "#"}}">{{ block.settings.text }}</a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    
    {%- if template contains 'product' -%}
    {% assign stripped_product_title =  product.title | split: 'rkleed' %}
      <div class="module-product-bar">
        <div>
          <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ product.featured_image | img_url: '45x60', scale: 2 }}" width="45" height="60">
          <h3>{% if stripped_product_title.size > 1 %}{{ stripped_product_title[1] }}{% else %}{{product.title}}{% endif %}</h3>
          <p class="price"></p>
          <p class="link-btn"></p>
        </div>
      </div>
    {%- endif -%}
  </header>
</div>

{% for block in section.blocks %}
  {% if block.type == 'Multi-USP' %}
    {% if block.settings.text1 and block.settings.text1 != "" or block.settings.text1 != null %}
      {% assign multi_usp1 = block.settings.text1 %}
    {% endif %}
    {% if block.settings.text2 and block.settings.text2 != "" or block.settings.text2 != null %}
      {% assign multi_usp2 = block.settings.text2 %}
    {% endif %}
    {% if block.settings.text3 and block.settings.text3 != "" or block.settings.text3 != null %}
      {% assign multi_usp3 = block.settings.text3 %}
    {% endif %}
    {% if block.settings.text4 and block.settings.text4 != "" or block.settings.text4 != null %}
      {% assign multi_usp4 = block.settings.text4 %}
    {% endif %}
    {% if block.settings.text5 and block.settings.text5 != "" or block.settings.text5 != null %}
      {% assign multi_usp5 = block.settings.text5 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Menu item in the upper right corner",
          "nl": "Menu item in de rechterbovenhoek"
        }
      },
      {
        "type": "text",
        "id": "corneritem_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        },
        "placeholder": {
          "en": "Text",
          "nl": "Tekst"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "url",
        "id": "corneritem_url",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "select",
        "id": "corneritem_icon",
        "label": {
          "en": "Icon",
          "nl": "Icoon"
        },
        "default": "none",
        "options": [
          {
            "value": "truck",
            "label": {
              "en": "Truck",
              "nl": "Truck"
            }
          },
          {
            "value": "check",
            "label": {
              "en": "Checkmark",
              "nl": "Vinkje"
            }
          },
          {
            "value": "open",
            "label": {
              "en": "'Open' sign'",
              "nl": "Bordje 'open'"
            }
          },
          {
            "value": "logout",
            "label": {
              "en": "Circled arrow to the right",
              "nl": "Omcirkelde pijl naar rechts"
            }
          },
          {
            "value": "kiyoh",
            "label": {
              "en": "Kiyoh logo",
              "nl": "Kiyoh logo"
            }
          },
          {
            "value": "none",
            "label": {
              "en": "None",
              "nl": "Geen"
            }
          }
        ]
      },
      {
        "type": "header",
        "content": {
          "en": "Kiyoh",
          "nl": "Kiyoh"
        }
      },
      {
        "type": "checkbox",
        "id": "show_kiyoh",
        "label": {
          "en": "Show Kiyoh",
          "nl": "Toon Kiyoh"
        }
      },
      {
        "type": "range",
        "id": "score",
        "label": {
          "en": "Score",
          "nl": "Score"
        },
        "min": 0,
        "max": 10,
        "step": 0.1,
        "default": 9.4
      },
      {
        "type": "text",
        "id": "score_text",
        "label": {
          "en": "Text beside score",
          "nl": "Tekst naast score"
        },
        "placeholder": {
          "en": "beoordelingen",
          "nl": "beoordelingen"
        },
        "default": {
          "en": "beoordelingen",
          "nl": "beoordelingen"
        }
      },
      {
        "type": "range",
        "id": "stars",
        "label": {
          "en": "Number of stars",
          "nl": "Aantal sterren"
        },
        "min": 0,
        "max": 5,
        "step": 0.1,
        "default": 4.5
      },
      {
        "type": "header",
        "content": {
          "en": "Menu",
          "nl": "Menu"
        }
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": {
          "en": "Menu",
          "nl": "Menu"
        },
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": {
          "en": "Menu colors",
          "nl": "Menu kleuren"
        }
      },
      {
        "type": "checkbox",
        "id": "show_colors",
        "label": {
          "en": "Show colors in submenu of 'Colors'. Note: 'Colors' must be in the menu",
          "nl": "Toon kleuren in submenu van 'Kleuren' Note: plaats 'Kleuren' in menu"
        }
      },
      {
        "type": "checkbox",
        "id": "show_colors_btn",
        "label": {
          "en": "Show button in megamenu",
          "nl": "Toon knop in megamenu"
        }
      },
      {
        "type": "text",
        "id": "colors_btn_text",
        "label":  {
          "en": "Button text",
          "nl": "Knop tekst"
        },
        "default": "Kleuren"
      },
      {
        "type": "url",
        "id": "colors_btn_link",
        "label": {
          "en": "Button link",
          "nl": "Knop link"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Menu item in the right corner beside menu 1/2",
          "nl": "Menu item aan de rechterkant naast menu 1/2"
        }
      },
      {
        "type": "text",
        "id": "menu_corneritem_text1",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        },
        "placeholder": {
          "en": "Text",
          "nl": "Tekst"
          }
        },
        {
          "type": "url",
          "id": "menu_corneritem_url1",
          "label": {
            "en": "Link",
            "nl": "Link"
          }
        },
        {
        "type": "header",
        "content": {
          "en": "Menu item in the right corner beside menu 2/2",
          "nl": "Menu item aan de rechterkant naast menu 2/2"
        }
      },
      {
        "type": "text",
        "id": "menu_corneritem_text2",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        },
        "placeholder": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "menu_corneritem_url2",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "checkbox",
             "id": "enable_full_size_menu",
             "label": {
               "en": "Enable full width megamenu (text-only variant)",
               "nl": "Activeer volledige breedte megamenu (text-only variant)"
             },
          "default": false
          },
          {
            "type": "link_list",
             "id": "main_menu",
             "label": {
               "en": "Main menu",
               "nl": "Hoofdmenu"
             }
          },
          {
            "type": "link_list",
             "id": "collection_menu",
             "label": {
               "en": "Collections menu",
               "nl": "Collecties menu"
             }
          },
          {
            "type": "text",
             "id": "menu_button_text",
             "label": {
               "en": "Button text",
               "nl": "Button tekst"
             }
          },
          {
            "type": "url",
             "id": "menu_button_url",
             "label": {
               "en": "Button link",
               "nl": "Button link"
             }
          },
{
            "type": "checkbox",
             "id": "mobile_only",
             "label": {
               "en": "Show this menu on mobile only",
               "nl": "Toon dit menu alleen op mobiel"
             },
"default": false
          },
{
            "type": "checkbox",
             "id": "toggle_more",
             "label": {
               "en": "Only for an mobile-only item: toggle more subitems after the first 10",
               "nl": "Allen voor mobile-only menu-item: Toon de eerste 10 items, daarna via toggle"
             },
"default": false
          },
{
            "type": "checkbox",
             "id": "grey",
             "label": {
               "en": "If this is an mobile-only item, do you want its background to be grey?",
               "nl": "Als dit een mobile-only menu-item is, moet de achtergrond dan grijs zijn?"
             },
"default": false
          },
{
            "type": "checkbox",
             "id": "mobile_hide",
             "label": {
               "en": "Hide this menu on mobile (show only on desktop)",
               "nl": "Toon dit menu NIET op mobiel (toon enkel op desktop)"
             },
"default": false
          }
        ]
      },
      {
        "type": "color",
        "name": {
          "en": "Color",
          "nl": "Kleur"
        },
        "settings": [
          {
            "type": "text",
            "id": "color_name",
            "label": {
              "en": "Color name",
              "nl": "Kleurnaam"
            }
          },
          {
            "type": "collection",
            "id": "color_collection",
            "label": {
              "en": "This overrides the product tag option below",
              "nl": "Dit overschrijft de producttag optie hieronder"
            }
          },
          {
            "type": "text",
            "id": "color_tag",
            "label": {
              "en": "Product tag which is associated with this color",
              "nl": "Producttag welke met deze kleur geassocieerd is"
            }
          },
          {
            "type": "paragraph",
            "content": {
              "en": "Choose a color in the colorpicker, or upload a colorswatch image.",
              "nl": "Kies een kleur uit de kleurselectie of upload een kleurswatch afbeelding."
            }
          },
          {
            "type": "color",
            "id": "color_hex",
            "label": {
              "en": "Color",
              "nl": "Kleur"
            }
          },
          {
            "type": "image_picker",
            "id": "color_img",
            "label": {
              "en": "Color image",
              "nl": "Kleur afbeelding"
            }
          }
        ]
      },
      {
        "type": "USP",
        "name": {
          "en": "USP",
          "nl": "USP"
        },
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": {
              "en": "Icon",
              "nl": "Icoon"
            },
            "options": [
              {
                "value": "truck",
                "label": {
                  "en": "Truck",
                  "nl": "Truck"
                }
              },
              {
                "value": "check",
                "label": {
                  "en": "Checkmark",
                  "nl": "Vinkje"
                }
              },
              {
                "value": "open",
                "label": {
                  "en": "'Open' sign'",
                  "nl": "Bordje 'open'"
                }
              },
              {
                "value": "logout",
                "label": {
                  "en": "Circled arrow to the right",
                  "nl": "Omcirkelde pijl naar rechts"
                }
              },
              {
                "value": "thumbs-up",
                "label": {
                  "en": "Thumbs up",
                  "nl": "Thumbs up"
                }
              },
              {
                "value": "eye",
                "label": {
                  "en": "Eye",
                  "nl": "Oog"
                }
              },
              {
                "value": "star",
                "label": {
                  "en": "Star",
                  "nl": "Ster"
                }
              },
              { "value": "star-rating-05", "label": { "en": "Star 0.5","nl": "Ster 0.5" }},
              { "value": "star-rating-10", "label": { "en": "Star 1.0","nl": "Ster 1.0" }},
              { "value": "star-rating-15", "label": { "en": "Star 1.5","nl": "Ster 1.5" }},
              { "value": "star-rating-20", "label": { "en": "Star 2.0","nl": "Ster 2.0" }},
              { "value": "star-rating-25", "label": { "en": "Star 2.5","nl": "Ster 2.5" }},
              { "value": "star-rating-30", "label": { "en": "Star 3.0","nl": "Ster 3.0" }},
              { "value": "star-rating-35", "label": { "en": "Star 3.5","nl": "Ster 3.5" }},
              { "value": "star-rating-40", "label": { "en": "Star 4.0","nl": "Ster 4.0" }},
              { "value": "star-rating-45", "label": { "en": "Star 4.5","nl": "Ster 4.5" }},
              { "value": "star-rating-50", "label": { "en": "Star 5.0","nl": "Ster 5.0" }},
              {
                "value": "none",
                "label": {
                  "en": "None",
                  "nl": "Geen"
                }
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "alignright",
            "label": {
              "en": "Align to right side (default is left)",
              "nl": "Rechts uitlijnen (standaard is links)"
            }
          },
          {
            "type": "text",
            "id": "text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "info": {
              "en": "Tip: Use spans for bold text! For example: <span>Bold</span>",
              "nl": "Tip: Gebruik spans voor dikgedrukte tekst! Bijvoorbeeld: <span>Dikgedrukt</span>"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "url",
            "id": "link",
            "label": {
              "en": "Link",
              "nl": "Link"
            }
          }
        ]
      },
      {
        "type": "Multi-USP",
        "name": {
          "en": "Multi-USP",
          "nl": "Multi-USP"
        },
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": {
              "en": "Icon",
              "nl": "Icoon"
            },
            "options": [
              {
                "value": "truck",
                "label": {
                  "en": "Truck",
                  "nl": "Truck"
                }
              },
              {
                "value": "check",
                "label": {
                  "en": "Checkmark",
                  "nl": "Vinkje"
                }
              },
              {
                "value": "open",
                "label": {
                  "en": "'Open' sign'",
                  "nl": "Bordje 'open'"
                }
              },
              {
                "value": "logout",
                "label": {
                  "en": "Circled arrow to the right",
                  "nl": "Omcirkelde pijl naar rechts"
                }
              },
              {
                "value": "thumbs-up",
                "label": {
                  "en": "Thumbs up",
                  "nl": "Thumbs up"
                }
              },
              {
                "value": "eye",
                "label": {
                  "en": "Eye",
                  "nl": "Oog"
                }
              },
              {
                "value": "star",
                "label": {
                  "en": "Star",
                  "nl": "Ster"
                }
              },
              {
                "value": "none",
                "label": {
                  "en": "None",
                  "nl": "Geen"
                }
              }
            ]
          },
          {
            "type": "text",
            "id": "text1",
            "label": {
              "en": "Text USP #1",
              "nl": "Tekst USP #1"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "text",
            "id": "text2",
            "label": {
              "en": "Text USP #2",
              "nl": "Tekst USP #2"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "text",
            "id": "text3",
            "label": {
              "en": "Text USP #3",
              "nl": "Tekst USP #3"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "text",
            "id": "text4",
            "label": {
              "en": "Text USP #4",
              "nl": "Tekst USP #4"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "text",
            "id": "text5",
            "label": {
              "en": "Text USP #5",
              "nl": "Tekst USP #5"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "url",
            "id": "link",
            "label": {
              "en": "Link",
              "nl": "Link"
            }
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
$(document).ready(function() {
  var usp1 = '{{ multi_usp1 }}';
  var usp2 = '{{ multi_usp2 }}';
  var usp3 = '{{ multi_usp3 }}';
  var usp4 = '{{ multi_usp4 }}';
  var usp5 = '{{ multi_usp5 }}';

  const uspList = [];
  if (usp1) { uspList.push(usp1); }
  if (usp2) { uspList.push(usp2); }
  if (usp3) { uspList.push(usp3); }
  if (usp4) { uspList.push(usp4); }
  if (usp5) { uspList.push(usp5); }
  
  var currentIndex;
  window.setInterval(function() {
    currentIndex = currentIndex < uspList.length ? currentIndex += 1 : currentIndex = 0;
    $("#multi-usp").html(uspList[currentIndex]);
  }, 2000);
});
</script>
