{% for block in section.blocks %}
  {% if page.handle == block.settings.page %}
    {% if block.settings.show_hero == true %}
      <div class="hero-bg-image-container">
        <div class="hero-bg-image-container-inner" style="background-image:url('{{ block.settings.bg_image | img_url: 'master' }}');" aria-label="adorable puppy playing on the grass"></div>
          {% if block.settings.header != blank or
                block.settings.paragraph != blank or
                block.settings.readmore != blank or
                block.settings.readmore_text != blank %}
                <div class="hero-bg-image-content">
                  <h1>{{ block.settings.header }}</h1>
                  {{ block.settings.paragraph }}
                  {% if block.settings.readmore_text != blank %}
                    <a href="{{ block.settings.readmore }}">{{ block.settings.readmore_text }} › </a>
                  {% endif %}
                </div>
          {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

{% schema %}
{
"name": "Hero with bg image",
"blocks": [
{
"type": "USP",
"name": "Hero",
"settings": [
{
"type": "checkbox",
"id": "show_hero",
"label": {
"en": "If checked show hero image",
"nl": "If checked show hero image"
},
"default": true
},
{
"id": "page",
"type": "page",
"label": "Pagina"
},
{
"id": "bg_image",
"type": "image_picker",
"label": "Use a big hero image"
},
{
"id": "header",
"type": "text",
"label": "Enter your header text here"
},
{
"id": "paragraph",
"type": "richtext",
"label": "Enter your paragraph here"
},
{
"id": "readmore",
"type": "url",
"label": "Start with: # like: #idfromtextblock"
},
{
"id": "readmore_text",
"type": "text",
"label": "Lees meer"
}
]
}
]
}
{% endschema %}

{% stylesheet %}

.hero-bg-image-container {
  position: relative;
  padding: 18px;
}

@media only screen and (min-width: 760px) {
  .hero-bg-image-container {
    border-radius: 6px;
    padding: 0;
  }
}

.hero-bg-image-container-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

@media only screen and (min-width: 760px) {
  .hero-bg-image-container-inner {
    height: 420px;
    border-radius: 6px;
  }
}

@media only screen and (min-width: 760px) {
  .hero-bg-image-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 6px;
    background-color: rgba(249, 249, 249, 0.85);
    width: 50%;
    padding: 24px;
  }
}

.hero-bg-image-content h1 {
  font-size: 24px;
  margin: 18px 0 12px 0;
  font-weight: normal;
}

.hero-bg-image-content p {
  font-size: 15px;
  margin-bottom: 12px;
}

@media only screen and (min-width: 760px) {
  .hero-bg-image-container-inner {
    border-radius: 6px;
  }

  .hero-bg-image-content h1 {
    font-size: 38px;
    margin: 0 0 12px 0;
    font-weight: normal;
  }
  
  .hero-bg-image-content p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 47.5em) {
  #shopify-section-hero-image {
    margin-left: -20px ;
    margin-right: -20px;
  }
  .hero-bg-image-container, .hero-bg-image-container-inner {
    margin-bottom: 20px;
  }
  .hero-bg-image-content {
    margin-left: 4px;
  }
}

{% endstylesheet %}
  
