<article class="highlights">
  <div class="highlights-text">
    <div>
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.text }}</p>
      <a href="{{ section.settings.link }}"><button>{{ section.settings.button }}</button></a>
    </div>
  </div>
  <div class="highlights-image">
    {% if section.settings.image != empty %}
      <img src="{{ section.settings.image | img_url: '590x420', crop: 'center', scale: 2 }}" class="highlights-image">
    {% endif %}
  </div>
</article>

{% schema %}
{
"name": {
"en": "Highlights",
"nl": "Highlights"
},
"settings": [
{
"type": "richtext",
"id": "title",
"label": {
"en": "Title",
"nl": "Titel"
}
},
{
"type": "richtext",
"id": "text",
"label": {
"en": "Text",
"nl": "Tekst"
}
},
{
"type": "text",
"id": "button",
"label": {
"en": "Button",
"nl": "Button"
}

},
{
"type": "url",
"id": "link",
"label": {
"en": "Url",
"nl": "Url"
}
},
{
"type": "image_picker",
"id": "image",
"label": {
"en": "Image",
"nl": "Afbeelding"
}
}
],
"presets": [
{
"category": {
"en": "Collection",
"nl": "Collectie"
},
"name": {
"en": "Solutions",
"nl": "Oplossingen"
},
"settings": {}
}
]
}
{% endschema %}
