<header class="heading-main">
  {% include 'breadcrumbs' %}
  <h1>{{ 'collection.collections' | t }}</h1>
</header>
<ul class="list-catalog">
  {% for collection in collections %}
  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    <li>
      <a href="{{ collection.url }}">
        {% if collection.image %}
          <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ collection.image | img_url: '445x430', scale: 2, crop: 'center' }}" alt="{{ collection.title }}" width="445" height="430">
        {% else %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <span>{{ collection.title }}
          <span>{{ 'collection.view_rugs' | t }}</span>
        </span>
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Collection page",
    "settings": [
      
    ]
  }
{% endschema %}
