{% if section.settings.message_desktop or section.settings.message_mobile %}
  {% assign showMessage = false %}
  {% if section.settings.message_all_pages %}{% assign showMessage = true %}
  {% elsif request.page_type == 'index' and section.settings.message_homepage %}{% assign showMessage = true %}
  {% elsif request.page_type == 'collection' and section.settings.message_collectionpage %}{% assign showMessage = true %}
  {% elsif request.page_type == 'product' and section.settings.message_productpage %}{% assign showMessage = true %}{% endif %}
  {% if showMessage %}
    <div class="message top-notification-bar killnotification">
      {% if section.settings.message_mobile != "" %}
        <span class="mobile-only">
          {{ section.settings.message_mobile }}<button id="close-top-notification" class="close-top-notification-btn" onclick="setNotificationSettings()"></button>
        </span>
      {% endif %}
      <span{% if section.settings.announcement_bar_mobile_text != "" or section.settings.announcement_bar_mobile_text != blank %} class="mobile-hide"{% endif %}>
        {{ section.settings.message_desktop }}<button id="close-top-notification" class="close-top-notification-btn" onclick="setNotificationSettings()"></button>
      </span>
    </div>
    <style>#content > .message-bar { margin-bottom: -12px; }</style>
  {% endif %}
{% endif %}

<script>
  var messageDesktop = true;
  var messageMobile = true;
</script>

{% if section.settings.message_desktop == "" or showMessage == false %}
  <script>
    messageDesktop = false;
  </script>
{% endif %}

{% if section.settings.message_mobile == "" or showMessage == false %}
  <script>
    messageMobile = false;
  </script>
{% endif %}

<script>
  var kn = sessionStorage.getItem('killNotification');
  var mobileWidth = 761;
  // On resize DESKTOP & run if message is empty for DESKTOP and not closed before
  $(window).resize(function() {
    if ($(window).width() > mobileWidth && !messageDesktop) {
      $("#shopify-section-message-bar").hide();
      killTopNotification();
    }
    else {
      kn = sessionStorage.getItem('killNotification');
      if (!kn) {
        $("#shopify-section-message-bar").show();
        allowTopNotification();
      }
    }
  });
  // On load DESKTOP & run if message is empty for DESKTOP and not closed before
  if ($(window).width() > mobileWidth && !messageDesktop) {
    $("#shopify-section-message-bar").hide();
    killTopNotification();
  }

  // On resize MOBILE & run if message is empty for MOBILE and not closed before
  $(window).resize(function() {
    if ($(window).width() < mobileWidth && !messageMobile) {
      $("#shopify-section-message-bar").hide();
      killTopNotification();
    }
    else {
      kn = sessionStorage.getItem('killNotification');
      if (!kn) {
        $("#shopify-section-message-bar").show();
        allowTopNotification();
      }
    }
  });
  // On load MOBILE & run if message is empty for MOBILE and not closed before
  if ($(window).width() < mobileWidth && !messageMobile) {
    $("#shopify-section-message-bar").hide();
    killTopNotification();
  }
</script>

{% schema %}
  {
    "name": "Notification bar",
	"class": "message-bar",
    "settings": [
	    {
        "type": "richtext",
        "id": "message_desktop",
        "label": {
          "en": "Message for pc",
          "nl": "Bericht voor pc"
        }
      },
      {
        "type": "richtext",
        "id": "message_mobile",
        "label": {
          "en": "Message for mobile",
          "nl": "Bericht voor mobiel"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Show on",
          "nl": "Toon op"
        }
      },
      {
        "type": "checkbox",
        "id": "message_homepage",
        "label": {
          "en": "Show on the homepage",
          "nl": "Toon op de homepage"
        }
      },
      {
        "type": "checkbox",
        "id": "message_collectionpage",
        "label": {
          "en": "Show on the collection page",
          "nl": "Toon op de collectiepagina"
        }
      },
      {
        "type": "checkbox",
        "id": "message_productpage",
        "label": {
          "en": "Show on the product page",
          "nl": "Toon op de productpagina"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Or",
          "nl": "Of"
        }
      },
      {
        "type": "checkbox",
        "id": "message_all_pages",
        "label": {
          "en": "Show on all pages",
          "nl": "Toon op alle pagina's"
        }
      }
	]
  }
{% endschema %}
