{% if section.settings.message != empty %}
  {% assign showMessage = false %}
  {% if section.settings.message_all_pages %}{% assign showMessage = true %}
  {% elsif request.page_type == 'index' and section.settings.message_homepage %}{% assign showMessage = true %}
  {% elsif request.page_type == 'collection' and section.settings.message_collectionpage %}{% assign showMessage = true %}
  {% elsif request.page_type == 'product' and section.settings.message_productpage %}{% assign showMessage = true %}{% endif %}
  {% if showMessage %}
    {% if section.settings.message != empty %}
      <div class="message-second show-desktop-message">
        {{ section.settings.message }}
      </div>
    {% endif %}
    {% if section.settings.messagemobile != empty %}
      <div class="message-second show-mobile-message">
        {{ section.settings.messagemobile }}
      </div>
    {% endif %}

    <style>
      @media only screen and (min-width: 47.5em) {
        .message-second.show-desktop-message {display: block;}
        .message-second.show-mobile-message {display: none;}
      }
      @media only screen and (max-width: 47.5em) {
        .message-second.show-desktop-message {display: none;}
        .message-second.show-mobile-message {display: block;}
      }
      .list-breadcrumbs {margin: 0px 0 20px 0 !important;}
    </style>
    {% else %}
  {% endif %}
{% endif %}

{% if section.settings.message == empty or showMessage == false %}
  <script>
    $(window).resize(function() {
          if ($(window).width() > 743) {
            $(".message-bar2-wrapper").css("display", "none");
          }
      });
    if ($(window).width() > 743) {
        $(".message-bar2-wrapper").css("display", "none");
    }
  </script>
{% endif %}

{% if section.settings.messagemobile == empty or showMessage == false %}
  <script>
    $(window).resize(function() {
          if ($(window).width() < 743) {
            $(".message-bar2-wrapper").css("display", "none");
          }
      });
    if ($(window).width() < 743) {
        $(".message-bar2-wrapper").css("display", "none");
    }
  </script>
{% endif %}

{% schema %}
{
"name": "Message bar",
"class": "message-bar",
"settings": [
    {
      "type": "richtext",
      "id": "message",
      "label": {
      "en": "Message for desktop",
      "nl": "Bericht voor desktop"
      }
    },
    {
      "type": "richtext",
      "id": "messagemobile",
      "label": {
      "en": "Message for mobile",
      "nl": "Bericht voor mobiel"
      }
    },
    {
      "type": "header",
      "content": {
      "en": "Show on",
      "nl": "Toon op"
      }
    },
    {
      "type": "checkbox",
      "id": "message_homepage",
      "label": {
      "en": "Show on the homepage",
      "nl": "Toon op de homepage"
      }
    },
    {
      "type": "checkbox",
      "id": "message_collectionpage",
      "label": {
      "en": "Show on the collection page",
      "nl": "Toon op de collectiepagina"
      }
    },
    {
      "type": "checkbox",
      "id": "message_productpage",
      "label": {
      "en": "Show on the product page",
      "nl": "Toon op de productpagina"
      }
    },
    {
      "type": "header",
      "content": {
      "en": "Or",
      "nl": "Of"
      }
    },
    {
      "type": "checkbox",
      "id": "message_all_pages",
      "label": {
      "en": "Show on all pages",
      "nl": "Toon op alle pagina's"
      }
    }
  ]
}
{% endschema %}
