<article class="module-gallery featured-brands">
  <h2>{{ section.settings.title }}</h2>
  <div>
    <ul class="moodboard slider">
      {% for block in section.blocks %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {% assign collection = collections[block.settings.collection] %}
        <li>
          <img class="placeholder-svg" src="{{ block.settings.collection | img_url: '1368x420', crop: 'center', scale: 2 }}">
          <h3>{{ block.settings.title }}</h3>
          <div class="moodboard-text">
            <div>
              <p>{{ block.settings.text }}</p>
              <p>{{ block.settings.text_two }}</p>
            </div>
            <div class="moodboard-text-summary">
              <p>{{ block.settings.text_three }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</article>

{% schema %}
{
  "name": {
    "en": "Moodboards",
    "nl": "Moodboards"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title",
        "nl": "Titel"
      }
    }
  ],
  "blocks": [
    {
      "type": "Collection",
      "name": {
        "en": "Moodboard",
        "nl": "Moodboard"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "collection",
          "label": {
            "en": "Moodboard",
            "nl": "Moodboard"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title",
            "nl": "Titel"
          }
        },
          {
          "type": "richtext",
          "id": "text",
          "label": {
          "en": "Text",
          "nl": "Tekst"
          }
        },
          {
          "type": "richtext",
          "id": "text_two",
          "label": {
          "en": "Text",
          "nl": "Tekst"
          }
        },
          {
          "type": "richtext",
          "id": "text_three",
          "label": {
          "en": "Text",
          "nl": "Tekst"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "category": {
        "en": "Collection",
        "nl": "Collectie"
      },
      "name": {
        "en": "Moodboards",
        "nl": "Moodboards"
      },
      "settings": {}
    }
  ]
}
{% endschema %}
