{%- assign menuhandle = section.settings.menu -%}
<aside>
  <nav>
    {% if menuhandle %}
      <h3>Menu</h3>
      <ul class="list-nav">
        {%- for link in linklists[menuhandle].links -%}
          <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if section.settings.hide_banner == false %}
      <li class="link-more box">
        <span>{{ section.settings.banner_title }}</span>
        {% if section.settings.banner_linktext %}
          <a href="{{ section.settings.banner_link }}">
            {{ section.settings.banner_linktext }}
          </a>
        {% endif %}
        <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ section.settings.banner_image | img_url: '125x125', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner_title }}" width="125" height="125">
      </li>
    {% endif %}
  </nav>
</aside>

{% schema %}
  {
    "name": "Menu",
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Menu",
          "nl": "Menu"
        }
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": {
          "en": "Menu",
          "nl": "Menu"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Banner below menu",
          "nl": "Banner onder menu"
        }
      },
      {
        "type": "checkbox",
        "id": "hide_banner",
        "label": {
          "en": "Hide banner",
          "nl": "Banner verbergen"
        }
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "textarea",
        "id": "banner_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
      {
        "type": "url",
        "id": "banner_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      }
    ]
  }
{% endschema %}
