{%- assign menuhandle = section.settings.menu -%}
{%- assign page_handle = page.handle -%}
<aside>
  <nav>
    {% if menuhandle %}
      <h3>Menu</h3>
      <ul class="list-nav">
        {%- for link in linklists[menuhandle].links -%}
          <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
</aside>

{% schema %}
  {
    "name": "Menu",
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Menu",
          "nl": "Menu"
        }
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": {
          "en": "Menu",
          "nl": "Menu"
        }
      }
    ]
  }
{% endschema %}
