{% if product.title contains "(maatwerk)"%}
  <script>window.location.href = '{{ routes.collections_url }}' + '/vloerkleden';</script>
{% endif %}
<script src="{{ 'stalen-landing-fixes.js' | asset_url }}"></script>
{% if product.type == 'Stalen' %}
  {% assign mainProductHandle = product.title | remove: ' (staal)' | handleize %}
  {% assign mainProduct = all_products[mainProductHandle] %}
{% comment %}
  {% if mainProduct != '' %}
	<script>window.location.replace('{{mainProduct.url}}');</script>
  {% endif %}
{% elsif product.tags contains 'customised_product' %}
	<script>window.location.replace("https://www.vloerkledenwinkel.nl/collections/vloerkleden");</script>
{% endcomment %}
{% endif %}

{% include 'product-info', product: product %}
{% assign staalProduct = all_products[product_staal_code].selected_or_first_available_variant %}
{% if staalProduct == blank %}
	{% assign staalHandle = product.title | append: ' (staal)' | handleize %}
	{% assign staalProduct = all_products[staalHandle].selected_or_first_available_variant %}
{% endif %}

{% assign staalHandle = product.title | append: ' (staal)' | handleize %}
{% comment %}staalHandle: {{ staalHandle }}{% endcomment %}
{% assign staalProduct = all_products[staalHandle].selected_or_first_available_variant %}
{% comment %}staalProduct: {{ staalProduct.available }}{% endcomment %}

{% assign zichtProduct = all_products['zichtservice'].selected_or_first_available_variant %}
{% assign maatwerkProduct = all_products['maatwerk'] %}
{% assign maatwerkProductVariant = maatwerkProduct.selected_or_first_available_variant %}

{% comment %}{{ product.handle }} handle?{% endcomment %}

{% assign showStaalaanvraag = true %}
{% assign showZichtservice = true %}

{% for cart_item in cart.items %}
  {% for property in cart_item.properties %}
    {% if property.first == '_handle' %}
      {% assign mainHandle = property.last %}
        {% if mainHandle == product.handle %}
			{% if cart_item.title contains 'staal' or cart_item.title contains 'Staal' %}
        		{% assign showStaalaanvraag = false %}
			{% endif %}
        {% endif %}
        {% if mainHandle == product.handle and cart_item.title == 'Zichtservice' %}
        	{% assign showZichtservice = false %}
        {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
     {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
     {%- assign reviews_rating = product.metafields.spr.reviews | split: '<meta itemprop="ratingValue" content="' | last | split: '">' | first | times: 1  | round: 1 -%}
{%- elsif product.metafields.spr.reviews contains 'reviewCount' -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- assign reviews_rating = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0  | round: 1 -%}
{% else %}
{%- assign reviews_count = 0 -%}
{%- assign reviews_rating = 0 -%}
{%- endif -%}
{% assign zichtserviceQtyInCart = 0 %}
{% assign staalQtyInCart = 0 %}
{% assign staalMaxQtyInCart = 5 %}

{% for item in cart.items %}
  {% if item.title contains "zichtservice" or item.title contains "Zichtservice" %}
    {% capture tempZichtservice %}{{ zichtserviceQtyInCart | plus: item.quantity }}{% endcapture %}
  {% endif %}
  {% assign zichtserviceQtyInCart = tempZichtservice | plus: 0 %}
  {% if item.title contains "staal" or item.title contains "Staal" or item.title contains "stalen" or item.title contains "Stalen" %}
    {% capture tempStaal %}{{ staalQtyInCart | plus: item.quantity }}{% endcapture %}
  {% endif %}
  {% assign staalQtyInCart = tempStaal | plus: 0 %}
{% endfor %}

{% assign price-type = 'locked' %}
{% assign product-vendor = product.vendor |  downcase %}

{% assign accessoiresActive = false %}
{% for collection in product.collections %}
  {% if collection.title == 'Accessoires' %}
    {% assign product-vendor = 'accessoires' %}
    {% assign accessoiresActive = true %}
  {% endif %}
{% endfor  %}

{% assign stalenActive = false %}
{% for collection in product.collections %}
  {% if collection.title == 'Stalen' %}
    {% assign product-vendor = 'stalen' %}
    {% assign stalenActive = true %}
  {% endif %}
{% endfor %}

{% if stalenActive %}
  <style>
    @media only screen and (max-width: 47.5em) {
      .module-product > :nth-child(1) { order: 0; }
      .module-product > :nth-child(2) { order: 4; }
      .module-product > :nth-child(3) { order: 1; }
      .module-product > :nth-child(4) { order: 3; }
      .module-product > :nth-child(5) { order: 3; }
    }
    .prices-wrapper > * { margin-left: 5px !important; }
    .PDP-variant-lister > .variant { display: grid !important; grid-template-columns: 0px 1fr !important; }
  </style>
  {% if price-type == 'locked' %}
    <style>
      @media only screen and (min-width: 1206px) {
        .PDP-variant-lister .prices-wrapper, .variant-lister_column-names { display: grid; }
        .PDP-variant-lister .prices-wrapper { grid-template-columns: 410px 70px 20px 20px; }
        .variant-lister_column-names { grid-template-columns: 370px 20px 20px 134px; }
      }
    </style>
    {% if variant.available or variant.inventory_quantity > 0 or staalProduct.available %}
      <style>
        @media only screen and (min-width: 1206px) {
          .PDP-variant-lister .prices-wrapper {
            display: grid !important;
            grid-template-columns: 410px 0px 90px 30px;
          }
          .PDP-variant-lister .prices-wrapper, .variant-lister_column-names {
            display: grid;
            grid-template-columns: 370px 20px 20px 134px;
          }
        }
      </style>
    {% else %}
      <style>
        @media only screen and (min-width: 1206px) {
          .PDP-variant-lister .prices-wrapper { grid-template-columns: 410px 0px 85px 30px; }
          span.input-price.input-price-locked { margin-left: 0 !important; }
        }
        @media only screen and (max-width: 1206px) {
          .prices-wrapper { width: 480px !important; }
          .prices-wrapper .input-price svg { margin-left: 0 !important; }
        }
      </style>
    {% endif %}
  {% endif %}
{% endif %}

{% if template.suffix == 'accessoire' or product.tags contains 'accessoire' or product.type == 'Accessoires' %}
  {% assign isAcc = true %}
  {% assign showStaalaanvraag = false %}
  {% assign showZichtservice = false %}
{% else %}
  {% assign isAcc = false %}
{% endif %}

{% if product_staal == false or staalProduct == blank %}
	{% assign showStaalaanvraag = false %}
{% endif %}
{% if product_zichtservice == false %}
	{% assign showZichtservice = false %}
{% endif %}

{% if settings.discount_enabled and settings.discount_percentage != '' %}
	{% assign discount_times = settings.discount_percentage | remove: '%' | strip | plus: 0 %}
    {% assign discount_times = 100 | minus: discount_times %}
    {% assign discount_times = '0.' | append: discount_times | plus: 0 %}
{% endif %}

{% assign break_loop = false %}
{% assign collection_label = '' %}
{% for i in (1..10) %}
	{% for productcollection in product.collections %}
      {% assign collection_handle = 'label_collection_y' | replace: 'y', i %}
      {% if settings[collection_handle] == productcollection.handle %}
      	{% assign text_handle = 'label_text_y' | replace: 'y', i %}
		{% assign color_handle = 'label_color_y' | replace: 'y', i %}
        {% assign collection_label = settings[text_handle] %}
		{% assign collection_label_color = settings[color_handle] %}
        {% assign break_loop = true %}
      {% endif %}
  {% endfor %}
  {% if break_loop %}
  	{% break %}
  {% endif %}
{% endfor %}

{% if settings.extra_label != '' %}
     {% assign extra_label = settings.extra_label %}
    {% assign collection_label_color = false %}
{% elsif collection_label != '' %}
	{% assign extra_label = collection_label %}
{% elsif product_label %}
	{% assign extra_label = product_label %}
    {% assign collection_label_color = false %}
{% else %}
    {% assign extra_label = false %}
  	{% assign collection_label_color = false %}
{% endif %}

{% for variant in product.variants %}
  	{% if variant.compare_at_price > variant.price %}
      {% assign has_discount = true %}
      {% break %}
	{% endif %}
{% endfor %}

{% assign stripped_product_title =  product.title | split: 'rkleed' %}

{% include 'breadcrumbs' %}

<header>
	<h1>{{ product.title }}</h1>
  {% if section.settings.show_vendor or section.settings.show_review_stars %}
    <p>
      {% if section.settings.show_review_stars %}
        <a class="review-button">
          <span class="rating-a" data-val="{{ reviews_rating }}" data-of="5"></span>
          {{ reviews_rating }}/5 ({{ reviews_count }})
        </a>
      {% endif %}
      {% if section.settings.show_vendor and section.settings.show_review_stars %}<span class="divider"></span>{% endif %}
      {% if section.settings.show_vendor %}
        {% assign vendor_handle = product.vendor | handleize  %}
        {% assign vendor_handle-1 = product.vendor | handleize | append: '-1' %}
        {% assign vendor_collection = collections[vendor_handle] %}
        {% assign vendor_collection-1 = collections[vendor_handle-1] %}
        {% if vendor_collection != blank %}
          {{ 'product.view_all_from' | t }} <a href="{{ vendor_collection.url }}">{{ product.vendor  | replace: 'merk: ', ' ' | replace: 'Merk: ', ' ' | replace: '_', ', ' }}</a>
        {% elsif vendor_collection-1 != blank %}
          {{ 'product.view_all_from' | t }} <a href="{{ vendor_collection-1.url }}">{{ product.vendor  | replace: 'merk: ', ' ' | replace: 'Merk: ', ' ' | replace: '_', ', ' }}</a>
        {% else %}
          {{ 'product.specifications.vendor' | t }}: {{ product.vendor }}
        {% endif %}
      {% endif %}
    </p>
  {% endif %}
</header>

<article class="module-product">
  <div>
    {% include 'swym-product-view', product: product %}
    <ul class="list-product{% if product_video %} with-video{% endif %}"{% if product_video %} data-video="{{product_video}}"{% endif %}>
      {% for product_image in product.images %}
        <li>
          {% if forloop.first %}
          	{% if product_video %}<a class="video" data-fancybox-group="gallery" href="{{ product_video }}"><i class="icon-play"></i></a>{% endif %}
          {% endif %}
          <a data-fancybox-group="gallery" href="{{ product_image | img_url: 'master' }}">
          	<img {% if product.images.size >  1%}class="dont"{% endif %} loading="lazy" src="{{ 'pixel.png' | asset_url }}" data-src="{{ product_image | img_url: '260x400', scale: 2 }}" alt="{{ product_image.alt }}" width="460" height="610">
          </a>
          {% if forloop.first %}
            <ul>
              <li><a class="wishlist-btn product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"><i class="icon-heart"></i> Wishlist</a></li>
            </ul>
            {% if has_discount %}
                <span class="label sale">{{ 'product.form.sale' | t }}</span>
            {% endif %}
            {% if extra_label != false %}
                <span class="label"{% if collection_label_color != false %}style="background-color:{{collection_label_color}};"{% endif %}>{% if extra_label != false %}{{ extra_label }}{% endif %}{% comment %}{% if has_discount %} -{{discount}}%{% endif %}{% endcomment %}</span>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}

    </ul>
    <a class="zoom" data-fancybox-group="gallery" href="{{ product.featured_image | img_url: 'master' }}"><span></span></a>
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    <div class="roomvo-container">
      <p class="link-more box roomvo-stimr" data-sku="{{ current_variant.sku }}" style="visibility:hidden;">
        <span class="mobile-hide">{{ 'product.ar_block.title' | t }}</span>
        <a class="mobile-hide">{{ 'product.ar_block.linktext' | t }}</a>
        <a class="mobile-only">{{ 'product.ar_block.title_mobile' | t }}</a>
        <img data-src="{{ 'ar-preview.png' | asset_img_url: '80x110' }}" alt="{{ section.settings.ar_title }}" width="50" height="80" data-pin-no-hover="true">
      </p>
    </div>

  </div>

  <div class="product-info">
    <div class="tab-item read-more toggle">
      <h2>{{ 'product.product_information' | t }}</h2>
      <div>
        {{ product.description }}
        {% if stripped_product_title.size > 1 %}
          {{ section.settings.product_info_text | replace: '--title--', stripped_product_title[1] }}
        {% else %}
          {{ section.settings.product_info_text | replace: '--title--', product.title }}
        {% endif %}
      </div>
    </div>

    {% unless accessoiresActive or stalenActive %}
      <div class="tab-item read-more">
        <h2>{{ 'product.specifications.specifications' | t }}</h2>
        <div>
          <ul class="list-info">
            <li><span>{{ 'product.specifications.vendor' | t }}</span>{{ product.vendor }}</li>
            {% if product_material != blank %}<li><span>{{ 'product.specifications.material' | t }}</span> {{ product_material }}</li>{% endif %}
            {% if product_soort != blank %}<li><span>{{ 'product.specifications.soort' | t }}</span> {{ product_soort }}</li>{% endif %}
            {% if product_style != blank %}<li><span>{{ 'product.specifications.style' | t }}</span> {{ product_style | replace: ' vloerkleed', '' }}</li>{% endif %}
            {% if product_color != blank %}<li><span>{{ 'product.specifications.color' | t }}</span> {{ product_color }}</li>{% endif %}
            {% if product_dessin != blank %}<li><span>{{ 'product.specifications.dessin' | t }}</span> {{ product_dessin }}</li>{% endif %}
            {% if product_pile_height != blank %}<li class="poolhoogte"><span>{{ 'product.specifications.pile_height' | t }}</span> {{product_pile_height }}</li>{% endif %}
            {% if product_production_country != blank %}<li><span>{{ 'product.specifications.country' | t }}</span> {{ product_production_country }}</li>{% endif %}
            {% if product_method != blank %}<li><span>{{ 'product.specifications.method' | t }}</span> {{ product_method }}</li>{% endif %}
          </ul>
        </div>
      </div>
    {% endunless %}

    {% comment %}<div class="tab-item read-more">
      {% assign info_page_handle = section.settings.info_page %}
      {% assign info_page = pages[info_page_handle] %}
      <h2>{{ info_page.title }}</h2>
      <div>
        {{ info_page.content | replace: '<ul', '<ul class="list-check cols v2"' }}
      </div>
    </div>{% endcomment %}

    {% if vendor_collection.description != "" %}
      <div class="tab-item read-more">
        <h2>{{ 'product.product_description' | t }}{{ vendor_collection.title }}</h2>
        <div>{{ vendor_collection.description }}</div>
        <a href="{{ vendor_collection.url }}">{{ 'product.product_description2' | t }}</a>
      </div>
    {% elsif vendor_collection-1.description != "" %}
      <div class="tab-item read-more">
        <h2>{{ 'product.product_description' | t }}{{ vendor_collection-1.title }}</h2>
        <div>{{ vendor_collection-1.description }}</div>
        <a href="{{ vendor_collection-1.url }}">{{ 'product.product_description2' | t }}</a>
      </div>
    {% endif %}
  </div>

  {% for collection in product.collections %}
    {% if collection.title == 'Stalen' %}
      {% assign collectionName = 'staalPage' %}
    {% endif %}
  {% endfor %}

  {% if collectionName == 'staalPage' %}
    <div class="stalen-conditions-container">
      <p>
        {{ 'product.stalen_lenen.voorwaarden' |  t }}
      </p>
    </div>
  {% endif %}
  <div>
    <div class="variant-lister_column-names">
      {% if collectionName == 'staalPage' %}
        <span class="variant-lister_column-names-aantal staal-hider"></span>
      {% else %}
        <span class="variant-lister_column-names-aantal">{{ 'product.variant_lister.column1' | t }}</span>
      {% endif %}
      
      {% if collectionName == 'staalPage' %}
      <span class="variant-lister_column-names-variant push-product-name">{{ 'product.variant_lister.column2b' | t }}</span>
      {% else %}
      <span class="variant-lister_column-names-variant">{{ 'product.variant_lister.column2a' | t }}</span>
      {% endif %}
      
      {% if collectionName == 'staalPage' %}
        <span class="variant-lister_column-names-prijs stalen-float-right">{{ 'product.variant_lister.column3' | t }}</span>
      {% else %}
        <span class="variant-lister_column-names-prijs">{{ 'product.variant_lister.column3' | t }}</span>
      {% endif %}
      
      {% if collectionName == 'staalPage' %}
        <span class="variant-lister_column-names-adviesprijs staal-hider"></span>
      {% else %}
        <span class="variant-lister_column-names-adviesprijs">{{ 'product.variant_lister.column4' | t }}</span>
      {% endif %}
    </div>
    {% comment %}<form action="/cart/add" method="post" enctype="multipart/form-data">{% endcomment %}
    {%- form 'product', product, class:'form-product form-product-new', autocomplete: "off" -%}
    <div class="PDP-variant-lister">
      {% assign counter = 0 %}
      {% for variant in product.variants -%}
        {%- assign variant_uit_collectie = false -%}
        {%- assign variant_shape = blank -%}
        {%- assign variant_width = blank -%}
        {%- assign variant_length = blank -%}
        {%- assign variant_levertijd = blank -%}
        {%- assign levertijd = blank -%}
        {%- assign variant_availability_text = blank -%}
        {%- assign variant_stock_disclaimer = false -%}
        {%- unless variant.metafields.product.shape == blank -%}
          {% assign variant_shape = variant.metafields.product.shape | replace: '_', ', ' -%}
        {%- endunless -%}
        {%- unless variant.metafields.product.width == blank -%}
          {% assign variant_width = variant.metafields.product.width | replace: '_', ', ' | append: 'cm' -%}
        {%- endunless -%}
        {%- unless variant.metafields.product.length == blank -%}
          {% assign variant_length = variant.metafields.product.length | replace: '_', ', ' | append: 'cm' -%}
        {%- endunless -%}
        {% comment %}{%- if variant.metafields.product.variant_uit_collectie != blank and variant.metafields.product.variant_uit_collectie == 'Yes' -%}
          {% assign variant_uit_collectie =  true -%}
        {% endif %}{% endcomment %}
        {%- if variant.metafields.erp.variant_uit_collectie != blank and variant.metafields.erp.variant_uit_collectie == 'Yes' -%}
          {% assign variant_uit_collectie =  true -%}
        {% endif %}

        {% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}
          {% assign variant_price = variant.price | times: discount_times %}
          {% assign variant_compare_at_price = variant.price %}
        {% else %}

          {% comment %}check of dit bij alle collection goed gaat: second {% endcomment %}
          {% assign product_collection = product.collections.second %}
          {% if product_collection %}
            {% assign collection = product_collection.title %}
          {% endif %}

          {% assign retail-tag = "korting|" |  append: product-vendor |  downcase %}
          {% assign discount-tag = "inkoop|" |  append: product-vendor |  downcase %}
          {% assign promo-tag = "promotie|" |  append: product-vendor |  downcase %}

          {% assign adviesprijs = variant.price %}
          {% assign variant_price = variant.price %}


          {% comment %} Loop over customer tags and apply personal brand discount {% endcomment %}
          {% for customer-tag in customer.tags %}
            {% if customer-tag contains discount-tag %}
              {% assign price-type = 'inkoop' %}
              {% assign tag = customer-tag | split: "|" %}
              {% assign discount = tag[2] %}
              {% assign percentage = discount %}
              {% assign discount = percentage | divided_by: 100.0 %}
              {% assign discount = 1 | minus: discount %}
              {% assign variant_price = variant_price | divided_by: 121.0 %}
              {% assign variant_price = variant_price | times: 100 %}
              {% assign variant_price = variant_price | times: discount %}
            {% endif %}
          {% endfor %}

          {% comment %} Loop over customer tags and apply additional retail brand discount {% endcomment %}
          {% for customer-tag in customer.tags %}
            {% comment %}TODO: ervoor zorgen dat tag niet perse lowercase hoeft te zijn{% endcomment %}
            {% assign customer-tag = customer-tag |  downcase %}
            {% if customer-tag contains retail-tag %}
              {% assign price-type = 'korting' %}
              {% assign retailtag = customer-tag | split: "|" %}
              {% assign percentage = retailtag[2] %}
              {% assign discount = percentage | divided_by: 100.0 %}
              {% assign discount = 1 | minus: discount %}
              {% assign variant_price_retail = variant_price | times: discount %}
            {% endif %}
          {% endfor %}

          {% comment %} Loop over customer tags and apply additional promo brand discount {% endcomment %}
          {% for customer-tag in customer.tags %}
            {% assign customer-tag = customer-tag |  downcase %}
            {% if customer-tag contains promo-tag %}
              {% assign promotag = customer-tag | split: "|" %}
              {% assign percentage = promotag[2] %}
              {% assign discount = percentage | divided_by: 100.0 %}
              {% assign discount = 1 | minus: discount %}
              {% if price-type == 'inkoop' %}
                {% assign variant_price_promo = variant_price | times: discount %}
              {% endif %}
              {% if price-type == 'korting' %}
                {% assign variant_price_promo = variant_price_retail | times: discount %}
              {% endif %}
              {% assign price-type = 'promo' %}
            {% endif %}
          {% endfor %}

          {% assign variant_compare_at_price = variant.compare_at_price %}
        {% endif %}

        {% if variant.available == false %}
          {% assign levertijd = 'product.form.not_in_stock' | t %}
        {% elsif variant_uit_collectie %}
          {% assign levertijd = 'product.form.not_available' | t %}
        {% elsif variant.inventory_quantity > 0 %}
          {% assign levertijd = '2-4 werkdagen ' %} {% comment %} -- Scenario 1 -- {% endcomment %}
          {% assign variant_availability_text = 'product.form.in_stock' | t %}

        {% else %}

          {% if variant.metafields.erp.product_uit_collectie == "No" or  variant.metafields.erp.product_uit_collectie == blank %}
            {% if variant.metafields.erp.leverancier_product_leverbaar != blank %}
              {% if variant.metafields.erp.leverancier_product_leverbaar == "Yes" %}
                {% assign levertijd = variant.metafields.erp.levertijd_supplier_voorraad %} {% comment %} -- Scenario 2A -- {% endcomment %}
                {% assign variant_availability_text = 'product.form.in_stock' | t %}

              {% elsif variant.metafields.erp.leverancier_product_leverbaar == "No" %}
                {% if variant.metafields.erp.act_levertijd_supplier_feed != "_"%}
                  {% assign levertijd = variant.metafields.erp.act_levertijd_supplier_feed %} {% comment %} -- Scenario 3A -- {% endcomment %}
                  {% assign variant_availability_text = 'product.form.available' | t %}
                {% else %}
                  {% assign levertijd = variant.metafields.erp.levertijd_supplier_backorder %} {% comment %} -- Scenario 3B -- {% endcomment %}
                  {% assign variant_availability_text = 'product.form.available' | t %}
                {% endif %}

              {% endif %}
              {% if variant.metafields.erp.act_levertijd_supplier_feed == blank%}
                {% assign levertijd = variant.metafields.erp.levertijd_supplier_voorraad %} {% comment %} -- Scenario 2B -- {% endcomment %}
                {% assign variant_availability_text = 'product.form.available' | t %}
                {% assign variant_stock_disclaimer = true %}
              {% endif %}
            {% endif %}
          {% else variant.metafields.erp.product_uit_collectie == "Yes" %}
            {% comment %}Niet leverbaar/Out of stock!{% endcomment %}
            {% assign levertijd = 'product.form.not_in_collection' | t %}
          {% endif %}
        {% endif %}

        <div value="{{ variant.id }}"
                {% if levertijd != blank %}
                  data-levertijd="{{ levertijd | strip }}"
                {% endif %}
                {% if variant_availability_text != blank %}
                  data-variant_availability_text="{{ variant_availability_text }}"
                {% endif %}
                data-suffix="{{ variant_price | money }}"
                data-price="{{ variant_price | money }}"
                data-sku="{{ variant.sku }}"
          {% unless variant.title == 'Default Title' %}data-varianttitle="{% if stripped_product_title.size > 1 %}{{stripped_product_title[1] }}{% else %}{{ product.title }}{% endif %} {{ variant.title }}"{% endunless %}
                {% unless variant_shape == blank %} data-shape="{{ variant_shape }}"{% endunless %}
                {% unless variant_length == blank %} data-length="{{ variant_length }}"{% endunless %}
                {% unless variant_width == blank %} data-width="{{ variant_width }}"{% endunless %}
                {% if variant_stock_disclaimer %} data-variant_stock_disclaimer{% endif %}
                {% if variant.available == false %} data-unavailable {% endif %}
                {% if variant_uit_collectie or product_removedfromcollection %} data-removedfromcollection {% endif %}
                {% if variant_compare_at_price > variant_price %}
                  data-price-old="{{ variant_compare_at_price | money }}"
                  data-price-diff="{{ variant_compare_at_price | minus: variant_price | money }}"
                {% endif %}
                class="variant"
               data-variant-id="{{ variant.id }}"
               data-variant-inventory-qty="{{ variant.inventory_quantity }}"
        >
          {% comment %}if product in stock or available{% endcomment %}
          {%- if variant.available and price-type != 'locked' or variant.inventory_quantity > 0  and  price-type != 'locked'  -%}
            {% comment %}if available regardless of being in stock{% endcomment %}
            {%- if variant.inventory_policy == 'continue' -%}
              {% assign max-input = 999 %}
            {% comment %}if in stock{% endcomment %}
            {%- else -%}
              {% assign max-input = variant.inventory_quantity %}
            {%- endif -%}
          <div>
            {% if collectionName == 'staalPage' %}
              <div class="variant-lister-input-container staal-hider">
                <span class="minus">-</span>
                <input class="variant-lister-input" id="input_id" type="number" value="1" min="1" max="3" required>
                <span class="plus">+</span>
              </div>
            {% else%}
              <div class="variant-lister-input-container">
                <span class="minus">-</span>
                <input class="variant-lister-input" id="input_id" type="number" value="0" min="0" max="{{ max-input }}" required>
                <span class="plus">+</span>
              </div>
            {% endif %}
          </div>
          {%- else -%}
            <div class="variant-lister-input-container variant-lister-input-container-absent">
              <span class="minus">-</span>
              <input class="variant-lister-input" id="input_id" type="number" value="0" min="0" max="{{ variant.inventory_quantity }}" required>
              <span class="plus">+</span>
            </div>
          {%- endif -%}
        
        <div class="prices-wrapper">
          {% comment %} if product is in stock {% endcomment %}
          {%- if variant.inventory_quantity > 0 or variant.available -%}
              {%- if variant.title == 'Default Title' -%}
                <span class="input-variant">{{- product.title | replace: ' cm', 'cm' | capitalize -}}</span>
              {%- else -%}
                <span class="input-variant">{{- variant.title | replace: ' cm', 'cm' | capitalize -}}</span>
              {%- endif -%}
            {%- if price-type == 'locked' -%}
            <div class="prijs-container">
              {% if collectionName != 'staalPage' %}
                <span id="prijs-mobile">Prijs: </span>
              {% endif %}
              <span class="input-price input-price-locked">
                <svg width="14px" height="16px" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>icons-lock</title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="icons-lock" fill="#473D3D">
                            <path d="M12.5,16.0000049 C13.3284271,16.0000049 14,15.3284323 14,14.5000049 L14,7.50000492 C14,6.67158069 13.3284271,6.00000492 12.5,6.00000492 L11.5,6.00000492 L11.5,4.54400847 C11.5,2.05600923 9.5,0.00600985998 7.01266667,4.91713677e-06 C5.81748542,-0.00175947856 4.67056262,0.471373664 3.82425401,1.3153065 C2.9779454,2.15923934 2.50159015,3.30482735 2.5,4.50000492 L2.5,6.00000492 L1.5,6.00000492 C0.671572875,6.00000492 0,6.67158069 0,7.50000492 L0,14.5000049 C0,14.89783 0.158035261,15.2793608 0.439339828,15.5606653 C0.720644396,15.8419697 1.10217527,16.0000049 1.5,16.0000049 L12.5,16.0000049 Z M7,1.16667617 C7.91866667,1.16667617 8.752,1.51667606 9.35533333,2.08134256 C9.96,2.64600905 10.3333333,3.42600881 10.3333333,4.28467521 L10.3333333,6.00000802 L3.66666667,6.00000802 L3.66666667,4.28467521 C3.66666667,3.42600881 4.04,2.64600905 4.64466667,2.08134256 C5.28540016,1.48883418 6.12731285,1.16188715 7,1.16667617 Z M12.8333333,7.16667433 L12.8333333,14.8333386 L1.16666667,14.8333386 L1.16666667,7.16667433 L12.8333333,7.16667433 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
              </span>
            </div>
            {%- elsif price-type == 'inkoop' -%}
              <div class="prijs-container">
                {% if collectionName != 'staalPage' %}
                  <span id="prijs-mobile" class="prijs-mobile-available">Prijs: </span>
                  <span class="input-price input-price-inkoop"> {{ variant_price | money }} </span>
                {% endif %}
              </div>
            {% elsif price-type == 'korting' %}
              <div class="prijs-container">
                <span id="prijs-mobile" class="prijs-mobile-available">Prijs: </span>
                <div class="discount-price">
                    <span class="input-price input-price-old"> {{ variant_price | money }} </span>
                    <span class="input-price"> {{ variant_price_retail | money }} </span>
                  </div>
              </div>
            {% elsif price-type == 'promo' %}
              <div class="prijs-container">
                <span id="prijs-mobile" class="prijs-mobile-available">Prijs: </span>
                  <div class="discount-price">
                    <span class="input-price input-price-old"> {{ variant_price | money }} </span>
                    <span class="input-price"> {{ variant_price_promo | money }} </span>
                  </div>
              </div>
            {%- endif -%}
              <div class="adviesprijs-container">
                {% if collectionName == 'staalPage' %}
                  {%- if price-type != 'locked' -%}
                    <span id="adviesprijs-mobile">Prijs: </span>
                    <span class="input-adviesprijs"> {{ adviesprijs | money }} </span>
                  {% endif %}
                  
                {% else %}
                  <span id="adviesprijs-mobile">Adviesprijs: </span>
                  <span class="input-adviesprijs"> {{ adviesprijs | money }} </span>
                {% endif %}
              </div>
              {% if collectionName == 'staalPage' %}
                {% if variant.inventory_quantity > 0 or variant.available %}
                  <script>ExecuteStaalStyling();</script>
                {% endif %}
              {% endif %}
              {% if price-type == 'locked' and variant.inventory_quantity > 0 or variant.available %}
                <script>ExecuteLockedStylingWithAvailable();</script>
              {% elsif price-type == 'locked' %}
                <script>ExecuteLockedStyling();</script>
              {% endif %}

            {% comment %} if product is NOT in stock {% endcomment %}
          {%- else -%}
            {%- if variant.title == 'Default Title' -%}
              <span class="input-variant price-no-inventory">{{- product.title | replace: ' cm', 'cm' | capitalize -}}</span>
            {%- else -%}
              <span class="input-variant price-no-inventory">{{- variant.title | replace: ' cm', 'cm' | capitalize -}}</span>
            {%- endif -%}

            {%- if price-type == 'locked' -%}
            <div class="prijs-container">
              <span id="prijs-mobile" class="price-no-inventory">Prijs: </span>
                <span class="input-price input-price-locked">
                  <svg width="14px" height="16px" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>icons-lock</title>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="icons-lock" fill="#473D3D">
                              <path d="M12.5,16.0000049 C13.3284271,16.0000049 14,15.3284323 14,14.5000049 L14,7.50000492 C14,6.67158069 13.3284271,6.00000492 12.5,6.00000492 L11.5,6.00000492 L11.5,4.54400847 C11.5,2.05600923 9.5,0.00600985998 7.01266667,4.91713677e-06 C5.81748542,-0.00175947856 4.67056262,0.471373664 3.82425401,1.3153065 C2.9779454,2.15923934 2.50159015,3.30482735 2.5,4.50000492 L2.5,6.00000492 L1.5,6.00000492 C0.671572875,6.00000492 0,6.67158069 0,7.50000492 L0,14.5000049 C0,14.89783 0.158035261,15.2793608 0.439339828,15.5606653 C0.720644396,15.8419697 1.10217527,16.0000049 1.5,16.0000049 L12.5,16.0000049 Z M7,1.16667617 C7.91866667,1.16667617 8.752,1.51667606 9.35533333,2.08134256 C9.96,2.64600905 10.3333333,3.42600881 10.3333333,4.28467521 L10.3333333,6.00000802 L3.66666667,6.00000802 L3.66666667,4.28467521 C3.66666667,3.42600881 4.04,2.64600905 4.64466667,2.08134256 C5.28540016,1.48883418 6.12731285,1.16188715 7,1.16667617 Z M12.8333333,7.16667433 L12.8333333,14.8333386 L1.16666667,14.8333386 L1.16666667,7.16667433 L12.8333333,7.16667433 Z" id="Shape"></path>
                          </g>
                      </g>
                  </svg>
                </span>
            </div>
            {%- elsif price-type == 'inkoop' -%}
              <div class="prijs-container">
                <span id="prijs-mobile" class="price-no-inventory">Prijs: </span>
                <span class="input-price input-price-inkoop price-no-inventory "> {{ variant_price | money }} </span>
              </div>
            {% elsif price-type == 'korting' %}
              <div class="prijs-container">
                <span id="prijs-mobile" class="price-no-inventory">Prijs: </span>
                <div class="discount-price">
                    <span class="input-price input-price-old price-no-inventory "> {{ variant_price | money }} </span>
                    <span class="input-price price-no-inventory "> {{ variant_price_retail | money }} </span>
                  </div>
              </div>
            {% elsif price-type == 'promo' %}
              <div class="prijs-container">
                <span id="prijs-mobile" class="price-no-inventory">Prijs: </span>
                <div class="discount-price">
                    <span class="input-price input-price-old price-no-inventory"> {{ variant_price | money }} </span>
                    <span class="input-price price-no-inventory"> {{ variant_price_promo | money }} </span>
                </div>
              </div>
            {%- endif -%}
            <div class="adviesprijs-container price-no-inventory">
              <span id="adviesprijs-mobile">Adviesprijs: </span>
              <span class="input-adviesprijs price-no-inventory "> {{ adviesprijs | money }} </span>
            </div>

            {% if collectionName == 'staalPage' and collectionName == 'staalPage' %}
              {% if customer %}
                <script>ExecuteNoInventoryStyling();</script>
              {% else %}
                <script>
                  ExecuteNoInventoryStyling();
                  NoCustomerStyling();
                </script>
              {% endif %}
            {% endif %}

          {%- endif -%}

          {% if variant.inventory_quantity > 0 or variant.available %}
            <span class="input-inventory available">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
              {% comment %}<img src="{{ 'icons-check.svg' | asset_url }}" onload="SVGInject(this)"/>{% endcomment %}
            </span>
          {% else %}
            <span class="input-inventory not-available">
              <div class="toggleInfo" data-counter="{{ counter }}"><img src="{{ 'icons-info.svg' | asset_url }}" onload="SVGInject(this)"/></div>
            {% endif %}
          </span>
        </div>
    </div>
        {% if variant.inventory_quantity < 1 %}
          {% unless variant.available %}
            <div class="soldoutInfo" data-counter="{{ counter }}">
              <div>{{ 'products.product.soldout_text' | t }}</div>
              <div class="bis-button BIS_trigger">{{ 'products.product.soldout_text_two' | t }}</div>
            </div>
          {% endunless %}
        {% endif %}
        {% assign counter = counter | plus: 1 %}
      {%- endfor -%}

      {%- if product_customizable -%}
      <div class="PDP-custom variant"
           value="{{ maatwerkProductVariant.id }}"
           data-product-id="{{ product.selected_or_first_available_variant.id }}"
           product-handle="{{ product.handle }}"
           data-suffix="{% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}{{ product_price_m2 | times: 100 | times: discount_times | money }}{% else %}{{ product_price_m2_money }}{% endif %} per m2"
           data-price="{{ product_price_m2_money}}"
           data-datalayerprice="{{ product_price_m2 }}"
           data-price-per-cm2="{{ product_price_m2 | divided_by: 100 }}"
           data-producttitle="{{ product.title }}"
           data-vendor="{{ product.vendor }}"
           data-varianttitle="{{ product.title }} maatwerk"
           data-customizable="custom_variant"
      >
        {% assign advies-product_price_m2 = product_price_m2 %}

        {% if accessoiresActive == false and stalenActive == false %}
          {% assign price-type = 'locked' %}
        {% endif %}

        {% comment %} Loop over customer tags and apply brand discount {% endcomment %}
        {% for customer-tag in customer.tags %}
          {% if customer-tag contains discount-tag %}
            {% assign price-type = 'inkoop' %}
            {% assign tag = customer-tag | split: "|" %}
            {% assign discount = tag[2] %}
            {% assign percentage = discount %}
            {% assign discount = percentage | divided_by: 100.0 %}
            {% assign discount = 1 | minus: discount %}
            {% assign product_price_m2 = product_price_m2 | divided_by: 121.0 %}
            {% assign product_price_m2 = product_price_m2 | times: 100 %}
            {% assign product_price_m2 = product_price_m2 | times: discount %}
          {% endif %}
        {% endfor %}

        {% comment %} Loop over customer tags and apply additional retail brand discount {% endcomment %}
        {% for customer-tag in customer.tags %}
          {% if customer-tag contains retail-tag %}
            {% assign price-type = 'korting' %}
            {% assign retailtag = customer-tag | split: "|" %}
            {% assign percentage = retailtag[2] %}
            {% assign discount = percentage | divided_by: 100.0 %}
            {% assign discount = 1 | minus: discount %}
            {% assign product_price_m2_retail = product_price_m2 | times: discount %}
          {% endif %}
        {% endfor %}

        {% comment %} Loop over customer tags and apply additional promo brand discount {% endcomment %}
        {% for customer-tag in customer.tags %}
          {% assign customer-tag = customer-tag |  downcase %}
          {% if customer-tag contains promo-tag %}
            {% assign promotag = customer-tag | split: "|" %}
            {% assign percentage = promotag[2] %}
            {% assign discount = percentage | divided_by: 100.0 %}
            {% assign discount = 1 | minus: discount %}
            {% if price-type == 'inkoop' %}
              {% assign product_price_m2_promo = product_price_m2 | times: discount |  times: 100.0 %}
            {% endif %}
            {% if price-type == 'korting' %}
              {% assign product_price_m2_promo = product_price_m2_retail | times: discount |  times: 100.0 %}
            {% endif %}
            {% assign price-type = 'promo' %}
          {% endif %}
        {% endfor %}

        <div>
          {%- if price-type != 'locked' -%}
            <div class="PDP-custom-input-container">
              <span class="minus">-</span>
              <input class="variant-lister-input__custom variant-lister-input" type="number" value="0" id="input_id" required>
              <span class="plus">+</span>
            </div>
        {%- else -%}
          <div class="PDP-custom-input-container PDP-custom-input-container-absent">
            <span class="minus">-</span>
            <input class="variant-lister-input__custom variant-lister-input" type="number" value="0" id="input_id" required>
            <span class="plus">+</span>
          </div>
        {%- endif -%}
      </div>
        {%- if product_customizable == true and product_removedfromcollection == false -%}
        <div class="prices-wrapper">
          <span class="PDP-custom-input-container-number"><div class="form-size">
            <input type="hidden" id="producttitle" value="{{ product.title }}"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            <input type="hidden" id="productid" value="{{ product.id }}"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            <input type="hidden" id="unique_number"> {% comment %} Unique number so multiple 'maatwerk' items of the same width/length can be added and the cm2 quantity isn't just added to an existing cart item ;) Name and value is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            <input type="hidden" id="lengthcm" value="100cm"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            <input type="hidden" id="widthcm" value="100cm"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            <p>
              <input class="variant-lister-input__custom-cm1" type="number" id="length" value="100" min="{{ product_min_length }}" max="{{ product_max_length }}" required> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            </p>
              <span>x</span>
            <p>
              <input class="variant-lister-input__custom-cm2" type="number" id="width" value="100" min="{{ product_min_width }}" max="{{ product_max_length }}" required> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
            </p>
              <span>cm</span>
          </div></span>
        {%- endif -%}
        {%- if price-type == 'locked' -%}
          <div class="prijs-container prijs-container-custom">
            <span id="prijs-mobile">Prijs: </span>
            <span class="input-price input-price-locked-custom">
                <svg width="14px" height="16px" viewBox="0 0 14 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>icons-lock</title>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="icons-lock" fill="#473D3D">
                            <path d="M12.5,16.0000049 C13.3284271,16.0000049 14,15.3284323 14,14.5000049 L14,7.50000492 C14,6.67158069 13.3284271,6.00000492 12.5,6.00000492 L11.5,6.00000492 L11.5,4.54400847 C11.5,2.05600923 9.5,0.00600985998 7.01266667,4.91713677e-06 C5.81748542,-0.00175947856 4.67056262,0.471373664 3.82425401,1.3153065 C2.9779454,2.15923934 2.50159015,3.30482735 2.5,4.50000492 L2.5,6.00000492 L1.5,6.00000492 C0.671572875,6.00000492 0,6.67158069 0,7.50000492 L0,14.5000049 C0,14.89783 0.158035261,15.2793608 0.439339828,15.5606653 C0.720644396,15.8419697 1.10217527,16.0000049 1.5,16.0000049 L12.5,16.0000049 Z M7,1.16667617 C7.91866667,1.16667617 8.752,1.51667606 9.35533333,2.08134256 C9.96,2.64600905 10.3333333,3.42600881 10.3333333,4.28467521 L10.3333333,6.00000802 L3.66666667,6.00000802 L3.66666667,4.28467521 C3.66666667,3.42600881 4.04,2.64600905 4.64466667,2.08134256 C5.28540016,1.48883418 6.12731285,1.16188715 7,1.16667617 Z M12.8333333,7.16667433 L12.8333333,14.8333386 L1.16666667,14.8333386 L1.16666667,7.16667433 L12.8333333,7.16667433 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
              </span>
          </div>
        {%- elsif price-type == 'inkoop' -%}
          <div class="prijs-container prijs-container-custom">
            <span id="prijs-mobile" class="prijs-mobile-available">Prijs: </span>
            <span class="PDP-custom-price">{{ product_price_m2 | times: 100 | money }}</span>
          </div>
        {% elsif price-type == 'korting' %}
          <div class="prijs-container prijs-container-custom">
            <span id="prijs-mobile" class="prijs-mobile-available">Prijs: </span>
            <div class="discount-price">
              <span class="PDP-custom-price input-price-old">{{ product_price_m2 | times: 100 | money }}</span>
              <span class="PDP-custom-price-retail">{{ product_price_m2_retail | times: 100 | money }}</span>
            </div>
          </div>
        {% elsif price-type == 'promo' %}
          <div class="prijs-container prijs-container-custom">
            <span id="prijs-mobile" class="prijs-mobile-available">Prijs: </span>
            <div class="discount-price">
              <span class="PDP-custom-price input-price-old"> {{ product_price_m2 | times: 100.0 | money }} </span>
              <span class="PDP-custom-price-retail"> {{ product_price_m2_promo | money }} </span>
            </div>
          </div>
        {%- endif -%}
          <div class="adviesprijs-container adviesprijs-container-custom">
            <span id="adviesprijs-mobile">Adviesprijs: </span>
            <span class="product_m2_adviesprijs">{{ advies-product_price_m2 | times: 100 | money }}</span>
          </div>
        <span class="product_m2_price">{{product_price_m2}}</span>
        <span class="product_m2_price_retail">{{product_price_m2_retail}}</span>
      </div>
      </div>
      {%- endif -%}

      {% if section.settings.custom_text != empty %}<span class="retour">{{ section.settings.custom_text }}</span>{% endif %}
        </div>
            <p class="submit">
              <div class="submit-container">
                <span class="submit-title">Totaal</span>
                <span class="price">
                  {{ 0 | money }}
                </span>
              </div>

            {% if customer %}
              {% if price-type == 'locked' %}
                <script>function setAccountContact(){sessionStorage.setItem('tabClicked', 'account-contact');}</script>
                <a onclick="setAccountContact()" class="a-showprices" href="/account"><div class="btn-showprices">Vraag toegang om prijzen te zien ›</div></a>
              {% else %}
              {% endif %}
            {% else %}
              <a class="a-showprices" href="/account/register"><div class="btn-showprices">Klik hier om prijzen te zien ›</div></a>
            {% endif %}

            <span class="levertijd-message"><span></span><span class="stock-message hidden">{{ 'product.form.stock_disclaimer' | t }}</span></span>

    {%- endform -%}
    {% comment %}</form>{% endcomment %}

    {% comment %}show buy button only when customer has access to brand or is on accessory pages{% endcomment %}
    {% assign addToCartBtnExists = false %}
    {% for customer-tag in customer.tags %}
      {% assign customer-tag = customer-tag |  downcase %}
      {% if customer-tag contains discount-tag and addToCartBtnExists == false %}
        {% if product-vendor == "stalen" %}
          {% if staalQtyInCart < staalMaxQtyInCart and product.available or product.inventory > 0 %}
            <a class="cart cart-override addToCartStalen" id="addToCartStalen" data-staal-id="{{ product.id }}" product-title="{{ product.title }}" product-handle="{{ product.handle }}" {% if staalQtyInCart >= staalMaxQtyInCart %}style="display:none"{% endif %}>
              <span>{{ 'product.form.add-to-cart' | t }}</span>
              <span class="price">{{ 0 | money }}</span>
              <span class="loader" style='background-image:url("https://cdn.shopify.com/s/files/1/0278/1301/9785/files/Display-Loading.gif?v=1611130803");'></span>
          </a>
          {% endif %}
        {% else %}
          <button class="cart cart-override" id="addToCartBtn" >
            <span>{{ 'product.form.add-to-cart' | t }}</span>
            <span class="price">{{ 0 | money }}</span>
            <span class="loader" style='background-image:url("https://cdn.shopify.com/s/files/1/0278/1301/9785/files/Display-Loading.gif?v=1611130803");'></span>
          </button>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %} check if customer should have access to stalen {% endcomment %}
    {% for customer-tag in customer.tags %}
      {% if customer-tag contains 'stalen' %}
        {% assign staal-tag = true %}
      {% endif %}
    {% endfor %}

    {% if staal-tag %}
      {% if staalProduct.available %}
        <button id="staal-btn" data-staal-id="{{ staalProduct.id }}" product-title="{{ product.title }}" product-handle="{{ product.handle }}"{% if staalQtyInCart >= staalMaxQtyInCart %} style="display:none"{% endif %}>
          <span>{{ 'product.form.order_samples' | t }}</span> {% if section.settings.extra_button_tooltip != '' %} <span class="tooltip">{{ section.settings.extra_button_tooltip }}</span>{% endif %}
        </button>
      {% endif %}
    {% endif %}

    <ul class="list-check cols v2">
      {% assign usp_blocks = section.blocks | where: 'type', 'USP' %}
      {% for block in usp_blocks %}
        <li class="span-strong span-overlay-a">
          {{ block.settings.title }}
          {% if block.settings.tooltip != empty %}
            <span class="tooltip">
                       	{{ block.settings.tooltip }}
                       </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {%- form 'product', product, class:'form-product form-product-old', autocomplete: "off" -%}
      {% assign title =  'product.form.sizes' | t %}
      {%- if isAcc -%}
          {%- assign text = 'product.form.select_product' | t -%}
          {% assign title =  'product.form.variants' | t %}
      {%- elsif product_customizable -%}
          {%- assign text = 'product.form.select_size_or_custom' | t -%}
      {%- else -%}
          {%- assign text = 'product.form.select_size' | t -%}
      {%- endif -%}

      {% if section.settings.message != '' %}
        <div class="message">
            {{ section.settings.message }}
        </div>
      {% endif %}

      <input type="hidden" id="quantity" name="quantity" value="1">
      <input disabled type="hidden" class="order_tag" id="tags" name="properties[Maatwerk]" value="yes">
      <div class="form-options">
        <label for="id"><strong>{{ title }}</strong></label>
          <div>

        <select required id="id" name="id" autocomplete="off" class="{% if product.variants.size == 1 and product_removedfromcollection == false %} single-variant{% endif %}">

          <option value=""{% unless products.variants.size == 1 %}selected{% endunless %} disabled>{{- text -}}</option>
            {% for variant in product.variants -%}
              {%- assign variant_uit_collectie = false -%}
              {%- assign variant_shape = blank -%}
              {%- assign variant_width = blank -%}
              {%- assign variant_length = blank -%}
              {%- assign variant_levertijd = blank -%}
              {%- assign levertijd = blank -%}
              {%- assign variant_availability_text = blank -%}
              {%- assign variant_stock_disclaimer = false -%}
              {%- unless variant.metafields.product.shape == blank -%}
                {% assign variant_shape = variant.metafields.product.shape | replace: '_', ', ' -%}
              {%- endunless -%}
              {%- unless variant.metafields.product.width == blank -%}
                {% assign variant_width = variant.metafields.product.width | replace: '_', ', ' | append: 'cm' -%}
              {%- endunless -%}
              {%- unless variant.metafields.product.length == blank -%}
                {% assign variant_length = variant.metafields.product.length | replace: '_', ', ' | append: 'cm' -%}
              {%- endunless -%}
              {% comment %}{%- if variant.metafields.product.variant_uit_collectie != blank and variant.metafields.product.variant_uit_collectie == 'Yes' -%}
                {% assign variant_uit_collectie =  true -%}
              {% endif %}{% endcomment %}
              {%- if variant.metafields.erp.variant_uit_collectie != blank and variant.metafields.erp.variant_uit_collectie == 'Yes' -%}
                {% assign variant_uit_collectie =  true -%}
              {% endif %}

              {% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}
                  {% assign variant_price = variant.price | times: discount_times %}
                  {% assign variant_compare_at_price = variant.price %}
              {% else %}
                  {% assign variant_price = variant.price %}
                  {% assign variant_compare_at_price = variant.compare_at_price %}
              {% endif %}

                  {% if variant.available == false %}
                    {% assign levertijd = 'product.form.not_in_stock' | t %}
            		  {% elsif variant_uit_collectie %}
            		  	{% assign levertijd = 'product.form.not_available' | t %}
            		  {% elsif variant.inventory_quantity > 0 %}
                      {% assign levertijd = '2-4 werkdagen ' %} {% comment %} -- Scenario 1 -- {% endcomment %}
                      {% assign variant_availability_text = 'product.form.in_stock' | t %}

                  {% else %}

    {% if variant.metafields.erp.product_uit_collectie == "No" or  variant.metafields.erp.product_uit_collectie == blank %}
                    {% if variant.metafields.erp.leverancier_product_leverbaar != blank %}
                      {% if variant.metafields.erp.leverancier_product_leverbaar == "Yes" %}
                        {% assign levertijd = variant.metafields.erp.levertijd_supplier_voorraad %} {% comment %} -- Scenario 2A -- {% endcomment %}
                        {% assign variant_availability_text = 'product.form.in_stock' | t %}

                      {% elsif variant.metafields.erp.leverancier_product_leverbaar == "No" %}
                        {% if variant.metafields.erp.act_levertijd_supplier_feed != "_"%}
                          {% assign levertijd = variant.metafields.erp.act_levertijd_supplier_feed %} {% comment %} -- Scenario 3A -- {% endcomment %}
                          {% assign variant_availability_text = 'product.form.available' | t %}
                        {% else %}
                          {% assign levertijd = variant.metafields.erp.levertijd_supplier_backorder %} {% comment %} -- Scenario 3B -- {% endcomment %}
                          {% assign variant_availability_text = 'product.form.available' | t %}
                        {% endif %}

                      {% endif %}
                  {% if variant.metafields.erp.act_levertijd_supplier_feed == blank%}
                      {% assign levertijd = variant.metafields.erp.levertijd_supplier_voorraad %} {% comment %} -- Scenario 2B -- {% endcomment %}
                      {% assign variant_availability_text = 'product.form.available' | t %}
                      {% assign variant_stock_disclaimer = true %}
                    {% endif %}
                    {% endif %}
			{% else variant.metafields.erp.product_uit_collectie == "Yes" %}
                        {% comment %}Niet leverbaar/Out of stock!{% endcomment %}
                          {% assign levertijd = 'product.form.not_in_collection' | t %}
                      {% endif %}
                  {% endif %}

                <option value="{{ variant.id }}"
                  {% if product.variants.size == 1 %} selected{% endif %}
                  {% if levertijd != blank %}
                        data-levertijd="{{ levertijd | strip }}"
                  {% endif %}
                  {% if variant_availability_text != blank %}
                        data-variant_availability_text="{{ variant_availability_text }}"
                  {% endif %}
                  data-suffix="{{ variant_price | money }}"
                  data-price="{{ variant_price | money }}"
                  data-sku="{{ variant.sku }}"
                  {% unless variant.title == 'Default Title' %}data-varianttitle="{% if stripped_product_title.size > 1 %}{{stripped_product_title[1] }}{% else %}{{ product.title }}{% endif %} {{ variant.title }}"{% endunless %}
                  {% unless variant_shape == blank %} data-shape="{{ variant_shape }}"{% endunless %}
                  {% unless variant_length == blank %} data-length="{{ variant_length }}"{% endunless %}
                  {% unless variant_width == blank %} data-width="{{ variant_width }}"{% endunless %}
                  {% if variant_stock_disclaimer %} data-variant_stock_disclaimer{% endif %}
                  {% if variant.available == false %} data-unavailable {% endif %}
                  {% if variant_uit_collectie or product_removedfromcollection %} data-removedfromcollection {% endif %}
                  {% if variant_compare_at_price > variant_price %}
                  	data-price-old="{{ variant_compare_at_price | money }}"
                    data-price-diff="{{ variant_compare_at_price | minus: variant_price | money }}"
                  {% endif %}
                  >
                  {%- if variant.title == 'Default Title' -%}
                  	{{- product.title | replace: ' cm', 'cm' | capitalize -}}
                  {%- else -%}
                  	{{- variant.title | replace: ' cm', 'cm' | capitalize -}}
                  {%- endif -%}
                  <span>, 	{{ variant_price | money }}
                    		{% comment %}{% if levertijd != blank %}
                    			- {% if variant_uit_collectie == false and variant.available == true %}{{'product.form.levertijd' | t }}: {% endif %}
                    			{{ levertijd | downcase }}
                    		{% elsif variant_levertijd != blank %}
                               	- {% if variant_uit_collectie == false and variant.available == true %}{{'product.form.levertijd' | t }}: {% endif %}
                    			{{ variant_levertijd | downcase }}
                            {% endif %}{% endcomment %}
                  </span>
                </option>
          {%- endfor -%}
          {%- if product_customizable -%}
            <option value="{{ maatwerkProductVariant.id }}"
              product-handle="{{ product.handle }}"
              data-suffix="{% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}{{ product_price_m2 | times: 100 | times: discount_times | money }}{% else %}{{ product_price_m2_money }}{% endif %} per m2"
              data-price="{{ product_price_m2_money}}"
              data-datalayerprice="{{ product_price_m2 }}"
              data-price-per-cm2="{{ product_price_m2 | divided_by: 100 }}"
              data-producttitle="{{ product.title }}"
              data-varianttitle="{{ product.title }} maatwerk"
              data-customizable="custom_variant"
              >
              {{- maatwerkProduct.title | capitalize -}}
              <span>, {% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}{{ product_price_m2 | times: 100 | times: discount_times | money }}{% else %}{{ product_price_m2_money }}{% endif %}  per m2</span>
            </option>
          {%- endif -%}
        </select>
             {%- if product_customizable -%}<span class="btn" data-customizable="custom_variant">{{ 'product.form.custom.title' | t }}</span>{%- endif -%}

            </div>
            <span class="mobile-hide"> {{ section.settings.extra_text_above_productoptions }}</span>
          {%- if product_customizable == true and product_removedfromcollection == false -%}
        <div class="form-size hidden">
          <input type="hidden" id="producttitle" value="{{ product.title }}"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="productid" value="{{ product.id }}"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="unique_number"> {% comment %} Unique number so multiple 'maatwerk' items of the same width/length can be added and the cm2 quantity isn't just added to an existing cart item ;) Name and value is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="lengthcm" value="100cm"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="widthcm" value="100cm"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <p>
            <label for="length">{{ 'product.form.custom.length' | t }}</label>
            <input type="number" id="length" value="100" min="{{ product_min_length }}" max="{{ product_max_length }}" required> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          </p>
          <p>
            <label for="width">{{ 'product.form.custom.width' | t }}</label>
            <input type="number" id="width" value="100" min="{{ product_min_width }}" max="{{ product_max_length }}" required> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          </p>
          {% if section.settings.custom_text != empty %}<span class="wide">{{ section.settings.custom_text }}</span>{% endif %}
        </div>
      {%- endif -%}
      </div>
      <p class="submit">
          <span class="price">
            {% if settings.discount_enabled and isAcc == false %}
            	{% assign discountPrice = product.price | times: discount_times %}
            	<span class="old">
                 {{ product.price | money }}
                </span>
            	{{ discountPrice | money }}
                  <span class="diff">
                    {{ 'product.form.you_save' | t }} {{ discountPrice | minus: product.price | money }}
                  </span>
            {% else %}
            	{% if product.compare_at_price > product.price %}
                <span class="old">
                  {{ product.compare_at_price | money }}
                </span>
                {% endif %}
              	{{ product.price | money }}
            	{% if product.compare_at_price > product.price %}
                  <span class="diff">
                    {{ 'product.form.you_save' | t }} {{ product.compare_at_price | minus: product.price | money }}
                  </span>
                {% endif %}
            {% endif %}
          </span>
          <span class="levertijd-message"><span></span><span class="stock-message hidden">{{ 'product.form.stock_disclaimer' | t }}</span></span>

          <button type="submit" class="buy-button hidden"><span class="cart_button_text"{% if product_removedfromcollection %}disabled{% endif %}>{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% elsif isAcc %}{{ 'product.form.add_to_cart_product_html' | t }}{% else %}{{ 'product.form.in_cart_html' | t }}{% endif %}</span> <span class="loader" style='background-image:url("https://cdn.shopify.com/s/files/1/0278/1301/9785/files/Display-Loading.gif?v=1611130803");'></span></button>
          <button type="submit" class="unavailable-buy-button hidden" disabled>{{ 'product.form.not_in_collection' | t }} <i class="icon-bag module-product-bar-only"></i></button>
          <button class="select-before-buy-button"{% if product_removedfromcollection %} disabled{% endif %} data-validity="{{text}}">{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% else %}{{ 'product.form.in_cart_html' | t }}{% endif %}</button>
       </p>

       <ul class="list-check cols v2">
        {% assign usp_blocks = section.blocks | where: 'type', 'USP' %}
       	{% for block in usp_blocks %}
           	<li class="span-strong span-overlay-a">
               	{{ block.settings.title }}
                   {% if block.settings.tooltip != empty %}
                   	<span class="tooltip">
                       	{{ block.settings.tooltip }}
                       </span>
                   {% endif %}
               </li>
           {% endfor %}
      	</ul>

       <ul class="btns">
       	{% if settings.extra_button_text != '' and isAcc == false and product_stylingadvies == true and settings.show_stylingadvies == true %}
           	<li class="btn">
               	<a href="{{ section.settings.extra_button_link }}">
                    {{ section.settings.extra_button_text }}
                   </a>
                   {% if section.settings.extra_button_tooltip != '' %}<span class="tooltip">{{ section.settings.extra_button_tooltip }}</span>{% endif %}
           	</li>
           {% endif %}
           {% if showZichtservice %}
                 <li class="btn"{% if zichtserviceQtyInCart > 2 %} style="display:none"{% endif %}>
                   <a data-zichtservice-id="{{ zichtProduct.id }}" product-title="{{ product.title }}" product-handle="{{ product.handle }}">
                     {{ 'product.form.add_to_service' | t }}
                   </a>
                   <span class="tooltip">{{ 'product.service_info_html' | t }}</span>
                 </li>
            {% endif %}
           {% if showStaalaanvraag and staalProduct.available and staalQtyInCart < staalMaxQtyInCart %}
                 <li class="btn">
                   <a data-staal-id="{{ staalProduct.id }}" product-title="{{ product.title }}" product-handle="{{ product.handle }}"{% if staalQtyInCart >= staalMaxQtyInCart %} style="display:none"{% endif %}>
                     {{ 'product.form.order_samples' | t }}
                   </a>
                   <span class="tooltip">{{ 'product.sample_info_html' | t }}</span>
                 </li>
           {% endif %}
       </ul>

    {%- endform -%}


    {% assign serie_tag = blank %}
    {% for tag in product.tags %}
      {% if tag contains 'serie' %}
        {% assign serie_tag = tag %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if serie_tag != blank %}
      <h2 class="p hidden">{{ 'product.form.available_colors' | t }} (<span class="related-products-count"></span>)</h2>
      <ul class="list-gallery slider related-products hidden" data-tag="{{ serie_tag | handleize }}">
      </ul>
    {% endif %}

  </div>

  <div class="bordered tab-item toggle">
    <h2>{{ section.settings.right_block_title }}</h2>
    <div>
      <p class="compact">{{ section.settings.right_block_text }}</p>
      <ul class="list-items-icons">
        {% assign service_blocks = section.blocks | where: 'type', 'Service' %}
        {% for block in service_blocks %}
          <li{% unless block.settings.show_desktop %} class="mobile-only"{% endunless %}{% unless block.settings.show_mobile %} class="mobile-hide"{% endunless %}>
            <i class="icon{{ block.settings.icon }}"></i>
            <span>{{ block.settings.title }}</span>
            <span>{{ block.settings.subtitle }}</span>
            <span class="link-more"><a href="{{ block.settings.link }}">{{ block.settings.link_text }}</a></span>
            {% if block.settings.link_2 != null %}
              <span class="link-more"><a href="{{ block.settings.link_2 }}">{{ block.settings.link_text_2 }}</a></span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</article>

{% comment %}
{% if section.settings.show_reviews %}
  <div class="tab-item">
    <h2>{{ 'product.reviews' | t }}</h2>
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
{% endif %}
{% endcomment %}
<script>
$("#staal-btn").click(
  function() {
    setTimeout(
      function() {
        $("#header-cart")[0].click();
      },
  1000);
});
$("#addToCartStalen").click(
  function() {
    setTimeout(
      function() {
        $("#header-cart")[0].click();
      },
  1000);
});
</script>
{% comment %}
{% if product-vendor != "stalen" %}
<script>
    var MobileWidthPixels = 1206;
    $( window ).resize(function() {
        if ($(window).width() < MobileWidthPixels) {
            $(".input-adviesprijs").css("display", "none");
        }
        else {
            $(".input-adviesprijs").css("display", "flex");
        }
    });
    if ($(window).width() < MobileWidthPixels) {
        $(".input-adviesprijs").css("display", "none");
    }
    else {
        $(".input-adviesprijs").css("display", "flex");
    }
</script>
{% endif %}
{% endcomment %}

{% schema %}
  {
    "name": {
      "en": "Product",
      "nl": "Product"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Augmented Reality block",
          "nl": "Augmented Reality blok"
        }
      },
      {
        "type": "paragraph",
        "content": {
           "en": "The text settings for the AR block used to be here, but can now be found in the theme translations under 'Product'!",
           "nl": "De tekst instellingen voor het AR block waren hier te vinden, maar zijn nu in te stellen in de themavertalingen onder 'Product'!"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Form",
          "nl": "Formulier"
        }
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "en": "Show vendor/brand",
          "nl": "Toon vendor/merk"
        }
      },
      {
        "type": "checkbox",
        "id": "show_review_stars",
        "label": {
          "en": "Show review stars",
          "nl": "Toon review sterren"
        }
      },
  		{
        "type": "richtext",
        "id": "extra_text_above_productoptions",
        "label": {
          "en": "Extra text above the product options",
          "nl": "Extra tekst boven de productopties"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Custom rug calculator",
          "nl": "Maatwerk vloerkleed calculator"
        }
      },
      {
        "type": "richtext",
        "id": "custom_text",
        "label": {
          "en": "Disclaimer text",
          "nl": "Disclaimer tekst"
        }
      },
{
        "type": "header",
        "content": {
          "en": "Extra message",
          "nl": "Extra bericht"
        }
      },
		{
        "type": "richtext",
        "id": "message",
        "label": {
          "en": "Extra message",
          "nl": "Extra bericht"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Extra button",
          "nl": "Extra button"
        }
      },
      {
        "type": "text",
        "id": "extra_button_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "extra_button_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "textarea",
        "id": "extra_button_tooltip",
        "label": {
          "en": "Tooltip (optional)",
          "nl": "Tooltip (optioneel)"
        }
      },
    {
        "type": "paragraph",
        "content": {
          "en": "Add USP's by clicking 'Add content' and then clicking 'Add USP'.",
          "nl": "Voeg USP's toe door onder 'Voeg content toe' op 'Voeg USP toe' te klikken."
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Services block",
          "nl": "Services blok"
        }
      },
      {
        "type": "text",
        "id": "right_block_title",
        "label": {
          "en": "Title",
          "nl": "Title"
        }
      },
      {
        "type": "textarea",
        "id": "right_block_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Add service option by clicking 'Add content' and then clicking 'Add Service'.",
          "nl": "Voeg service toe door onder 'Voeg content toe' op 'Voeg Service toe' te klikken."
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Product information",
          "nl": "Productinformatie"
        }
      },
      {
        "type": "richtext",
        "id": "product_info_text",
        "label": {
          "en": "Product info text",
          "nl": "Product info tekst"
        },
        "info": {
          "en": "Tip: use --title-- to display the product title.",
          "nl": "Tip: gebruik --title-- om de titel van het product te tonen."
        }
      },
      {
        "type": "textarea",
        "id": "guarantee_tooltip",
        "label": {
          "en": "Guarantee infobubble text (not required)",
          "nl": "Garantie infowolkje tekst (niet verplicht)"
        },
        "placeholder": {
          "en": "Infobubble text",
          "nl": "Infowolkje tekst"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Extra content",
          "nl": "Extra content"
        }
      },
      {
        "type": "page",
        "id": "info_page",
        "label": {
          "en": "Select the page to display its content.",
          "nl": "Selecteer een pagina om de content te tonen."
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Reviews",
          "nl": "Reviews"
        }
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": {
          "en": "Show reviews",
          "nl": "Toon reviews"
        }
      }
    ],
    "blocks": [
      {
        "type": "USP",
        "name": {
          "en": "USP",
          "nl": "USP"
        },
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            },
            "info": {
              "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold and purple</span>",
              "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt en paars</span>"
            }
          },
          {
            "type": "textarea",
            "id": "tooltip",
            "label": {
              "en": "Infobubble text (not required)",
              "nl": "Infowolkje tekst (niet verplicht)"
            },
            "placeholder": {
              "en": "Infobubble text",
              "nl": "Infowolkje tekst"
            }
          }
        ]
      },
      {
        "type": "Service",
        "name": {
          "en": "Service",
          "nl": "Service"
        },
        "settings": [
          {
            "type": "checkbox",
            "id": "show_desktop",
            "label": {
              "en": "Show this service on desktop",
              "nl": "Toon deze service op desktop"
            },
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_mobile",
            "label": {
              "en": "Show this service on mobile",
              "nl": "Toon deze service op mobile"
            },
            "default": true
          },
          {
            "type": "select",
            "id": "icon",
            "label": {
              "en": "Icon",
              "nl": "Icoon"
            },
            "options": [
              {
                "value": "-truck",
                "label": {
                  "en": "Truck",
                  "nl": "Truck"
                }
              },
              {
                "value": "-check-circle",
                "label": {
                  "en": "Checkmark",
                  "nl": "Vinkje"
                }
              },
              {
                "value": "-open",
                "label": {
                  "en": "'Open' sign'",
                  "nl": "Bordje 'open'"
                }
              },
              {
                "value": "-logout",
                "label": {
                  "en": "Circled arrow to the right",
                  "nl": "Omcirkelde pijl naar rechts"
                }
              },
              {
                "value": "2-thumbs-up",
                "label": {
                  "en": "Thumbs up",
                  "nl": "Thumbs up"
                }
              },
              {
                "value": "-colorpicker",
                "label": {
                  "en": "Color picker",
                  "nl": "Kleurkiezer"
                }
              },
              {
                "value": "-eye",
                "label": {
                  "en": "Eye",
                  "nl": "Oog"
                }
              },
              {
                "value": "-star",
                "label": {
                  "en": "Star",
                  "nl": "Ster"
                }
              },
              {
                "value": "-envelope",
                "label": {
                  "en": "Envelope",
                  "nl": "Envelop"
                }
              },
              {
                "value": "-service",
                "label": {
                  "en": "Headphones",
                  "nl": "Koptelefoon"
                }
              }
           ],
           "default": "-check-circle"
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Title",
              "nl": "Titel"
            }
          },
          {
            "type": "textarea",
            "id": "subtitle",
            "label": {
              "en": "Subtitle",
              "nl": "Ondertitel"
            }
          },
          {
            "type": "text",
            "id": "link_text",
            "label": {
              "en": "Link text #1",
              "nl": "Link tekst #1"
            }
          },
          {
            "type": "url",
            "id": "link",
            "label": {
              "en": "Link #1",
              "nl": "Link #1"
            }
          },
          {
            "type": "text",
            "id": "link_text_2",
            "label": {
              "en": "Link text #2",
              "nl": "Link tekst #2"
            }
          },
          {
            "type": "url",
            "id": "link_2",
            "label": {
              "en": "Link #2",
              "nl": "Link #2"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
