{% include 'product-info', product: product %}
{%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
     {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
     {%- assign reviews_rating = product.metafields.spr.reviews | split: '<meta itemprop="ratingValue" content="' | last | split: '">' | first | times: 1  | round: 1 -%}
{%- elsif product.metafields.spr.reviews contains 'reviewCount' -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- assign reviews_rating = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0  | round: 1 -%}
{% else %}
{%- assign reviews_count = 0 -%}
{%- assign reviews_rating = 0 -%}
{%- endif -%}

{% assign productDescription = product.description | split:"<!-- split -->" %}
{% if template.suffix == 'accessoire' or product.tags contains 'accessoire' or product.type == 'Accessoires' %}
	{% assign isAcc = true %}
	{% assign showStaalaanvraag = false %}
	{% assign showZichtservice = false %}
{% else %}
	{% assign isAcc = false %}
{% endif %}

<article class="tabs-a">
  <nav>
    <ul>
      <li><a href="./">{{ 'product.product_information' | t }}</a></li>
      {% if section.settings.show_reviews %}<li><a href="./">{{ 'product.reviews' | t }} ({{ reviews_count }})</a></li>{% endif %}
      {% if productDescription[1] %}<li><a href="./">{{ 'product.inspiration' | t }}</a></li>{% endif %}
    </ul>
  </nav>
  <div>
    <div>
      <div class="double a b80">
        <div>
          <h2 class="s38">{{ product.title }}</h2>
          {{ productDescription[0] }}
        </div>
        <div>
          {% unless isAcc %}
          <h2 class="s38">{{ 'product.specifications.specifications' | t }}</h2>
          <ul class="list-info">
            {% assign vendor_handle = product.vendor | handleize %}
            {% assign vendor_collection = collections[vendor_handle] %}
            {% capture vendor_link %}
              {% if vendor_collection != blank %}
                <a href="{{ vendor_collection.url }}">{{ product.vendor  | replace: 'merk: ', ' ' | replace: 'Merk: ', ' ' | replace: '_', ', ' }}</a>
              {% else %}
              {{ product.vendor }}
              {% endif %}
            {% endcapture %}
            <li><span>{{ 'product.specifications.vendor' | t }}</span>{{ vendor_link }}</li>
            {% if product_material != blank %}<li><span>{{ 'product.specifications.material' | t }}</span> {{ product_material }}</li>{% endif %}
            <li><span>{{ 'product.specifications.guarantee' | t }}{% if section.settings.guarantee_tooltip != empty %} <span class="tooltip">{{ section.settings.guarantee_tooltip }}</span>{% endif %}</span> <i class="icon-check-circle"></i> 5 jaar garantie</li>
            {% if product_soort != blank %}<li><span>{{ 'product.specifications.soort' | t }}</span> {{ product_soort }}</li>{% endif %}
            {% if product_style != blank %}<li><span>{{ 'product.specifications.style' | t }}</span> {{ product_style }}</li>{% endif %}
            {% if product_color != blank %}<li><span>{{ 'product.specifications.color' | t }}</span> {{ product_color }}</li>{% endif %}
            {% if product_dessin != blank %}<li><span>{{ 'product.specifications.dessin' | t }}</span> {{ product_dessin }}</li>{% endif %}
            {% if product_pile_height != blank %}<li><span>{{ 'product.specifications.pile_height' | t }}</span> {{product_pile_height }}</li>{% endif %}
            {% if product_height != blank %}<li><span>{{ 'product.specifications.height' | t }}</span> {{product_height }}</li>{% endif %}
            {% comment %}{% if product_space != blank %}<li><span>{{ 'product.specifications.space' | t }}</span> {{ product_space }}</li>{% endif %}{% endcomment %}
          </ul>
          <ul class="list-inline strong">
            {% if product_production_country != blank %}<li><i class="icon-world"></i> {{ 'product.specifications.country' | t }}: {{ product_production_country }}</li>{% endif %}
            {% if product_material != blank %}<li><i class="icon-tree"></i> {{ 'product.specifications.material' | t }}: {{ product_material }}</li>{% endif %}
            {% if product_method != blank %}<li><i class="icon-carpet"></i> {{ 'product.specifications.method' | t }}: {{ product_method }}</li>{% endif %}
          </ul>
          {% endunless %}
        </div>
      </div>
    </div>
    {% if section.settings.show_reviews %}
      <div>
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    {% endif %}
    {% if productDescription[1] %}
      <div>
        {{ productDescription[1] }}
      </div>
    {% endif %}
  </div>
</article>

{% schema %}
  {
    "name": {
      "en": "Tabs",
      "nl": "Tabs"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Product information",
          "nl": "Productinformatie"
        }
      },
      {
        "type": "textarea",
        "id": "guarantee_tooltip",
        "label": {
          "en": "Guarantee infobubble text (not required)",
          "nl": "Garantie infowolkje tekst (niet verplicht)"
        },
        "placeholder": {
          "en": "Infobubble text",
          "nl": "Infowolkje tekst"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Reviews",
          "nl": "Reviews"
        }
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": {
          "en": "Show reviews",
          "nl": "Toon reviews"
        }
      }
    ]
  }
{% endschema %}
