<article class="module-wide a">
  <div class="double b">
    <div>
      <ul class="list-check cols">
        {% for block in section.blocks %}
          <li class="span-strong span-overlay-a">
            {{ block.settings.text }}
            {% if block.settings.tooltip != empty %}
              <span class="tooltip">
                {{ block.settings.tooltip }}
              </span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <div class="module-author a">
        <figure><img src="{{ 'pixel.png' | asset_url }}" data-src="{{ section.settings.customer_service_image | img_url: '100x100', scale: 2 }}" alt="{{ section.settings.contact_title }}" width="110" height="110"></figure>
        <h2>{{ section.settings.contact_title }}</h2>
        <p>{{ section.settings.contact_subtitle }}</p>
        <p class="link-btn"><a href="{{ section.settings.contact_link }}">{{ section.settings.contact_buttontext }}</a></p>
      </div>
    </div>
  </div>
</article>


{% schema %}
  {
    "name": {
      "en": "Store USP's and contact",
      "nl": "Winkel USP's en contact"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "en": "Add USP's by clicking 'Add USP' below.",
          "nl": "Voeg USP's toe door onderaan op 'Voeg USP toe' te klikken."
        }
      },
		 {
        "type": "image_picker",
        "id": "customer_service_image",
        "label": {
          "en": "Customer service image",
          "nl": "Klantenservice afbeelding"
        }
      },
      {
        "type": "text",
        "id": "contact_title",
        "label": {
          "en": "Contact title",
          "nl": "Contact titel"
        }
      },
      {
        "type": "text",
        "id": "contact_subtitle",
        "label": {
          "en": "Contact subtitle",
          "nl": "Contact subtitel"
        }
      },
      {
        "type": "url",
        "id": "contact_link",
        "label": {
          "en": "Contact button link",
          "nl": "Contact knop link"
        }
      },
      {
        "type": "text",
        "id": "contact_buttontext",
        "label": {
          "en": "Contact button text",
          "nl": "Contact knoptekst"
        }
      }
    ],
    "blocks": [
      {
        "type": "USP",
        "name": {
          "en": "USP",
          "nl": "USP"
        },
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "placeholder": {
              "en": "Text",
              "nl": "Tekst"
            },
            "info": {
              "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold and purple</span>",
              "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt en paars</span>"
            }
          },
          {
            "type": "textarea",
            "id": "tooltip",
            "label": {
              "en": "Infobubble text (not required)",
              "nl": "Infowolkje tekst (niet verplicht)"
            },
            "placeholder": {
              "en": "Infobubble text",
              "nl": "Infowolkje tekst"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
