{%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
     {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
     {%- assign reviews_rating = product.metafields.spr.reviews | split: '<meta itemprop="ratingValue" content="' | last | split: '">' | first | times: 1  | round: 1 -%}
{%- elsif product.metafields.spr.reviews contains 'reviewCount' -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- assign reviews_rating = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0  | round: 1 -%}
{% else %}
  {%- assign reviews_count = 0 -%}
  {%- assign reviews_rating = 0 -%}
{%- endif -%}


{% if template.suffix == 'accessoire' or product.tags contains 'accessoire' or product.type == 'Accessoires' %}
	{% assign isAcc = true %}
{% else %}
	{% assign isAcc = false %}
{% endif %}


{% if settings.discount_enabled and settings.discount_percentage != '' %}
	{% assign discount_times = settings.discount_percentage | remove: '%' | strip | plus: 0 %}
    {% assign discount_times = 100 | minus: discount_times %}
    {% assign discount_times = '0.' | append: discount_times | plus: 0 %}
{% endif %}

{% assign break_loop = false %}
{% assign collection_label = '' %}
{% for i in (1..10) %}
	{% for productcollection in product.collections %}
      {% assign collection_handle = 'label_collection_y' | replace: 'y', i %}
      {% if settings[collection_handle] == productcollection.handle %}
      	{% assign text_handle = 'label_text_y' | replace: 'y', i %}
		{% assign color_handle = 'label_color_y' | replace: 'y', i %}
        {% assign collection_label = settings[text_handle] %}
		{% assign collection_label_color = settings[color_handle] %}
        {% assign break_loop = true %}
      {% endif %}
  {% endfor %}
  {% if break_loop %}
  	{% break %}
  {% endif %}
{% endfor %}

{% if settings.extra_label != '' %}
     {% assign extra_label = settings.extra_label %}
    {% assign collection_label_color = false %}
{% elsif collection_label != '' %}
	{% assign extra_label = collection_label %}
{% elsif product_label %}
	{% assign extra_label = product_label %}
    {% assign collection_label_color = false %}
{% else %}
    {% assign extra_label = false %}
  	{% assign collection_label_color = false %}
{% endif %}

{% for variant in product.variants %}
  	{% if variant.compare_at_price > variant.price %}
      {% assign has_discount = true %}
      {% break %}
	{% endif %}
{% endfor %}

{% include 'breadcrumbs' %}

<header class="mobile-only">
	<h1>{{ product.title }}</h1>
  <p></p>
</header>

<article class="module-product">
  <div>
      {% include 'swym-product-view', product: product %}
    <ul class="list-product">
      {% for product_image in product.images %}
        <li><a data-fancybox-group="gallery" href="{{ product_image | img_url: 'master' }}"><img src="{{ 'pixel.png' | asset_url }}" data-src="{{ product_image | img_url: '460x610', scale: 2 }}" alt="{{ product_image.alt }}" width="460" height="610"></a>
          {% if forloop.first %}
            <ul>
              <li><a class="wishlist-btn product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"><i class="icon-heart"></i> Wishlist</a></li>
            </ul>
            {% if has_discount %}
                <span class="label sale">{{ 'product.form.sale' | t }}</span>
            {% endif %}
            {% if extra_label != false %}
                <span class="label"{% if collection_label_color != false %}style="background-color:{{collection_label_color}};"{% endif %}>{% if extra_label != false %}{{ extra_label }}{% endif %}{% comment %}{% if has_discount %} -{{discount}}%{% endif %}{% endcomment %}</span>
            {% endif %}

          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {%- assign current_variant = product.selected_or_first_available_variant -%}
  </div>
  <div>
    <h1 class="mobile-hide">{{ product.title }}</h1>
    {{ product.description }}

    {%- form 'product', product, class:'form-product', autocomplete: "off" -%}
      <input type="hidden" id="quantity" name="quantity" value="1">
      <input disabled type="hidden" class="order_tag" id="tags" name="properties[Maatwerk]" value="yes">
      <p class="hidden">
        <label for="id">{{- 'product.form.variants' | t -}}</label>
        <select required id="id" name="id" autocomplete="off" class="{% if product.variants.size == 1 %} single-variant{% endif %}">
          {%- if isAcc -%}
          	{%- assign text = 'product.form.select_product' | t -%}
          {%- elsif product_customizable -%}
            {%- assign text = 'product.form.select_size_or_custom' | t -%}
          {%- else -%}
            {%- assign text = 'product.form.select_size' | t -%}
          {%- endif -%}
          <option value=""{% unless products.variants.size == 1 %}selected{% endunless %} disabled>{{- text -}}</option>
          {% for variant in product.variants -%}
          	{% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}
          		{% assign variant_price = variant.price | times: discount_times %}
          		{% assign variant_compare_at_price = variant.price %}
			{% else %}
          		{% assign variant_price = variant.price %}
          		{% assign variant_compare_at_price = variant.compare_at_price %}
			{% endif %}
                <option value="{{ variant.id }}"
                  {% if product.variants.size == 1 %} selected{% endif %}
                  data-suffix="{{ variant_price | money }}"
                  data-price="{{ variant_price | money }}"
                  data-sku="{{ variant.sku }}"
                  {% if variant.available == false%} data-unavailable {% endif %}
                  {% if variant_compare_at_price > variant_price %}
                  	data-price-old="{{ variant_compare_at_price | money }}"
                    data-price-diff="{{ variant_compare_at_price | minus: variant_price | money }}"
                  {% endif %}
                  >
                  {%- if variant.title == 'Default Title' -%}
                  	{{- product.title | replace: ' cm', 'cm' | capitalize -}}
                  {%- else -%}
                  	{{- variant.title | replace: ' cm', 'cm' | capitalize -}}
                  {%- endif -%}
                  <span>, {{ variant_price | money }}</span>
                </option>
          {%- endfor -%}
        </select>
      </p>

      <p class="submit">
          <span class="price">
            {% if settings.discount_enabled and isAcc == false %}
            	<span class="old">
                 {{ product.price | money }}
                </span>
            	{{ product.price | times: discount_times | money }}
            {% else %}
            	{% if product.compare_at_price > product.price %}
                <span class="old">
                  {{ product.compare_at_price | money }}
                </span>
                {% endif %}
              	{{ product.price | money }}
            {% endif %}
          </span>
          <button type="submit" class="buy-button hidden"><span class="cart_button_text"{% if product_removedfromcollection %}disabled{% endif %}>{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% elsif isAcc %}{{ 'product.form.add_to_cart_product_html' | t }}{% else %}{{ 'product.form.add_to_cart_html' | t }}{% endif %}</span> <span class="loader" style='background-image:url("https://cdn.shopify.com/s/files/1/0278/1301/9785/files/Display-Loading.gif?v=1611130803");'></span></button>
          <button type="submit" class="unavailable-buy-button hidden" disabled>{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% else %}{{ 'product.form.not_in_stock' | t }}{% endif %}</button>
      </p>
    {%- endform -%}

    {% if section.settings.message != '' %}
      <div class="message">
          {{ section.settings.message }}
      </div>
    {% endif %}
  </div>
</article>

{% schema %}
  {
    "name": {
      "en": "Form",
      "nl": "Formulier"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Form",
          "nl": "Formulier"
        }
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "en": "Show vendor/brand",
          "nl": "Toon vendor/merk"
        }
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": {
          "en": "Show review stars",
          "nl": "Toon review sterren"
        }
      },
		{
        "type": "header",
        "content": {
          "en": "Extra message",
          "nl": "Extra bericht"
        }
      },
		{
        "type": "richtext",
        "id": "message",
        "label": {
          "en": "Extra message",
          "nl": "Extra bericht"
        }
      }
    ]
  }
{% endschema %}
