{% include 'product-info', product: product %}
{%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
     {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
     {%- assign reviews_rating = product.metafields.spr.reviews | split: '<meta itemprop="ratingValue" content="' | last | split: '">' | first | times: 1  | round: 1 -%}
{%- elsif product.metafields.spr.reviews contains 'reviewCount' -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- assign reviews_rating = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0  | round: 1 -%}
{% else %}
{%- assign reviews_count = 0 -%}
{%- assign reviews_rating = 0 -%}
{%- endif -%}

{% assign isAcc = false %}
{% if template.suffix == 'accessoire' or product.tags contains 'accessoire' or product.type == 'Accessoires' %}
	{% assign isAcc = true %}
{% endif %}

<article class="product-info">

  <div class="item">
    <h2>{{ 'product.product_information' | t }}</h2>
    {{ product.description }}
    {% assign stripped_product_title =  product.title | split: 'rkleed' %}
    {% if stripped_product_title.size > 1 %}
      {{ section.settings.product_info_text | replace: '--title--', stripped_product_title[1] }}
    {% else %}
      {{ section.settings.product_info_text | replace: '--title--', product.title }}
    {% endif %}
  </div>

  {% unless isAcc %}
    <div class="item">
      <h2>{{ 'product.specifications.specifications' | t }}</h2>
      <ul class="list-info">
        {% assign vendor_handle = product.vendor | append: ' vloerkleed' | handleize %}
        {% assign vendor_collection = collections[vendor_handle] %}
        {% capture vendor_link %}
          {% if vendor_collection != blank %}
            <a href="{{ vendor_collection.url }}">{{ product.vendor  | replace: 'merk: ', ' ' | replace: 'Merk: ', ' ' | replace: '_', ', ' }}</a>
          {% else %}
            {{ product.vendor }}
          {% endif %}
        {% endcapture %}
        <li><span>{{ 'product.specifications.vendor' | t }}</span>{{ vendor_link }}</li>
        {% if product_material != blank %}<li><span>{{ 'product.specifications.material' | t }}</span> {{ product_material }}</li>{% endif %}
        <li><span>{{ 'product.specifications.guarantee' | t }}{% if section.settings.guarantee_tooltip != empty %} <span class="tooltip">{{ section.settings.guarantee_tooltip }}</span>{% endif %}</span> <i class="icon-check-circle"></i> 5 jaar garantie</li>
        {% if product_soort != blank %}<li><span>{{ 'product.specifications.soort' | t }}</span> {{ product_soort }}</li>{% endif %}
        {% if product_style != blank %}<li><span>{{ 'product.specifications.style' | t }}</span> {{ product_style | replace: ' vloerkleed', '' }}</li>{% endif %}
        {% if product_color != blank %}<li><span>{{ 'product.specifications.color' | t }}</span> {{ product_color }}</li>{% endif %}
        {% if product_dessin != blank %}<li><span>{{ 'product.specifications.dessin' | t }}</span> {{ product_dessin }}</li>{% endif %}
        {% if product_pile_height != blank %}<li><span>{{ 'product.specifications.pile_height' | t }}</span> {{product_pile_height }}</li>{% endif %}
        {% if product_space != blank %}<li><span>{{ 'product.specifications.space' | t }}</span> {{ product_space }}</li>{% endif %}
        {% if product_production_country != blank %}<li><span>{{ 'product.specifications.country' | t }}</span> {{ product_production_country }}</li>{% endif %}
        {% if product_method != blank %}<li><span>{{ 'product.specifications.method' | t }}</span> {{ product_method }}</li>{% endif %}
      </ul>
    </div>
  {% endunless %}

  <div class="item">
    {% assign info_page_handle = section.settings.info_page %}
    {% assign info_page = pages[info_page_handle] %}
    <h2>{{ info_page.title }}</h2>
    {{ info_page.content | replace: '<ul', '<ul class="list-check cols v2"' }}
  </div>
</article>

{% if section.settings.show_reviews %}
  <div>
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>
{% endif %}





{% schema %}
  {
    "name": {
      "en": "Product info",
      "nl": "Product info"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Product information",
          "nl": "Productinformatie"
        }
      },
      {
        "type": "richtext",
        "id": "product_info_text",
        "label": {
          "en": "Product info text",
          "nl": "Product info tekst"
        },
        "info": {
          "en": "Tip: use --title-- to display the product title.",
          "nl": "Tip: gebruik --title-- om de titel van het product te tonen."
        }
      },
      {
        "type": "textarea",
        "id": "guarantee_tooltip",
        "label": {
          "en": "Guarantee infobubble text (not required)",
          "nl": "Garantie infowolkje tekst (niet verplicht)"
        },
        "placeholder": {
          "en": "Infobubble text",
          "nl": "Infowolkje tekst"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Extra info block",
          "nl": "Extra informatie blok"
        }
      },
      {
        "type": "page",
        "id": "info_page",
        "label": {
          "en": "Select the page to display its content.",
          "nl": "Selecteer een pagina om de content te tonen."
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Reviews",
          "nl": "Reviews"
        }
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": {
          "en": "Show reviews",
          "nl": "Toon reviews"
        }
      }
    ]
  }
{% endschema %}
