{% if product.type == 'Stalen' %}
  {% assign mainProductHandle = product.title | remove: ' (staal)' | handleize %}
  {% assign mainProduct = all_products[mainProductHandle] %}
  {% if mainProduct != '' %}
	<script>window.location.replace('{{mainProduct.url}}');</script>
  {% endif %}
{% endif %}

{%- assign maatwerk_selected = false %}
{% if cart.attributes.show_maatwerk_on_productpage == 'yes' %}
{%- assign maatwerk_selected = true %}
{% endif %}

{% include 'product-info', product: product %}
{% assign staalProduct = all_products[product_staal_code].selected_or_first_available_variant %}
{% if staalProduct == blank %}
	{% assign staalHandle = product.title | append: ' (staal)' | handleize %}
	{% assign staalProduct = all_products[staalHandle].selected_or_first_available_variant %} 
{% endif %}

{% assign zichtProduct = all_products['zichtservice'].selected_or_first_available_variant %}
{% assign maatwerkProduct = all_products['maatwerk'] %}
{% assign maatwerkProductVariant = maatwerkProduct.selected_or_first_available_variant %}

{% assign showStaalaanvraag = true %}
{% assign showZichtservice = true %}

{% for cart_item in cart.items %}
  {% for property in cart_item.properties %}
    {% if property.first == '_handle' %}
      {% assign mainHandle = property.last %}
        {% if mainHandle == product.handle %}
			{% if cart_item.title contains 'staal' or cart_item.title contains 'Staal' %}
        		{% assign showStaalaanvraag = false %}
			{% endif %}
        {% endif %}
        {% if mainHandle == product.handle and cart_item.title == 'Zichtservice' %}
        	{% assign showZichtservice = false %}
        {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
     {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
     {%- assign reviews_rating = product.metafields.spr.reviews | split: '<meta itemprop="ratingValue" content="' | last | split: '">' | first | times: 1  | round: 1 -%}
{%- elsif product.metafields.spr.reviews contains 'reviewCount' -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
      {%- assign reviews_rating = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0  | round: 1 -%}
{% else %}
{%- assign reviews_count = 0 -%}
{%- assign reviews_rating = 0 -%}
{%- endif -%}
{% assign zichtserviceQtyInCart = 0 %}
{% assign staalQtyInCart = 0 %}
{% for item in cart.items %}
  {% if item.title contains "zichtservice" or item.title contains "Zichtservice" %}
    {% capture tempZichtservice %}{{ zichtserviceQtyInCart | plus: item.quantity }}{% endcapture %}
  {% endif %}
  {% assign zichtserviceQtyInCart = tempZichtservice | plus: 0 %}
  {% if item.title contains "staal" or item.title contains "Staal" %}
    {% capture tempStaal %}{{ staalQtyInCart | plus: item.quantity }}{% endcapture %}
  {% endif %}
  {% assign staalQtyInCart = tempStaal | plus: 0 %}
{% endfor %}

{% if template.suffix == 'accessoire' or product.tags contains 'accessoire' or product.type == 'Accessoires' %}
	{% assign isAcc = true %}
	{% assign showStaalaanvraag = false %}
	{% assign showZichtservice = false %}
{% else %}
	{% assign isAcc = false %}
{% endif %}


{% if product_staal == false or staalProduct == blank %}
	{% assign showStaalaanvraag = false %}
{% endif %}
{% if product_zichtservice == false %}
	{% assign showZichtservice = false %}
{% endif %}

{% if settings.discount_enabled and settings.discount_percentage != '' %}
	{% assign discount_times = settings.discount_percentage | remove: '%' | strip | plus: 0 %}
    {% assign discount_times = 100 | minus: discount_times %}
    {% assign discount_times = '0.' | append: discount_times | plus: 0 %}
{% endif %}

{% assign break_loop = false %}
{% assign collection_label = '' %}
{% for i in (1..10) %}
	{% for productcollection in product.collections %}
      {% assign collection_handle = 'label_collection_y' | replace: 'y', i %}
      {% if settings[collection_handle] == productcollection.handle %}
      	{% assign text_handle = 'label_text_y' | replace: 'y', i %}
		{% assign color_handle = 'label_color_y' | replace: 'y', i %}
        {% assign collection_label = settings[text_handle] %}
		{% assign collection_label_color = settings[color_handle] %}
        {% assign break_loop = true %}
      {% endif %}
  {% endfor %}
  {% if break_loop %}
  	{% break %}
  {% endif %}
{% endfor %}

{% if settings.extra_label != '' %}
     {% assign extra_label = settings.extra_label %}
    {% assign collection_label_color = false %}
{% elsif collection_label != '' %}
	{% assign extra_label = collection_label %}
{% elsif product_label %} 
	{% assign extra_label = product_label %}
    {% assign collection_label_color = false %}
{% else %}
    {% assign extra_label = false %}
  	{% assign collection_label_color = false %}
{% endif %}

{% for variant in product.variants %}
  	{% if variant.compare_at_price > variant.price %}
      {% assign has_discount = true %}
      {% break %}
	{% endif %}
{% endfor %}

{% include 'breadcrumbs' %}

<article class="module-product">
  <div>
      {% include 'swym-product-view', product: product %}
    <ul class="list-product">
      {% for product_image in product.images %}
        <li><a data-fancybox-group="gallery" href="{{ product_image | img_url: 'master' }}"><img src="{{ 'pixel.png' | asset_url }}" data-src="{{ product_image | img_url: '460x610', scale: 2 }}" alt="{{ product_image.alt }}" width="460" height="610"></a>
          {% if forloop.first %}
            <ul>
              <li><a class="wishlist-btn product_{{product.id}}" data-swaction="addToWishlist" data-product-id="{{product.id | json}}"><i class="icon-heart"></i> Wishlist</a></li>
            </ul>
            {% if has_discount %}
                <span class="label sale">{{ 'product.form.sale' | t }}</span>
            {% endif %}
            {% if extra_label != false %}
                <span class="label"{% if collection_label_color != false %}style="background-color:{{collection_label_color}};"{% endif %}>{% if extra_label != false %}{{ extra_label }}{% endif %}{% comment %}{% if has_discount %} -{{discount}}%{% endif %}{% endcomment %}</span>
            {% endif %}
          
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    <div class="roomvo-container">
      <p class="link-more box overlay-a roomvo-stimr" data-sku="{{ current_variant.sku }}" style="visibility:hidden;">
        <span>{{ 'product.ar_block.title' | t }}<span class="tooltip">{{ 'product.ar_block.tooltip' | t }}</span></span>
        <a>{{ 'product.ar_block.linktext' | t }}</a>
        <img src="{{ 'ar-preview.png' | asset_img_url: 'master' }}" alt="{{ section.settings.ar_title }}">
      </p>
    </div>
  </div>
  <div>
    <header>
      {% if section.settings.show_vendor or section.settings.show_reviews %}
      <p>
        {% if section.settings.show_vendor %}
          {% assign vendor_handle = product.vendor | handleize %}
          {% assign vendor_collection = collections[vendor_handle] %}
          {% if vendor_collection != blank %}
            {{ 'product.specifications.vendor' | t }}: <a href="{{ vendor_collection.url }}">{{ product.vendor  | replace: 'merk: ', ' ' | replace: 'Merk: ', ' ' | replace: '_', ', ' }}</a>
          {% else %}
            {{ 'product.specifications.vendor' | t }}: {{ product.vendor }}
          {% endif %}
        {% endif %}
        {% if section.settings.show_reviews %}
          <span class="rating-a not-in-quickshop" data-val="{{ reviews_rating }}" data-of="5">{{ reviews_count }} {{ reviews_count| pluralize: 'review', 'reviews' }}/5</span> <a class="review-button not-in-quickshop">{{ reviews_count }} {{ reviews_count | pluralize: 'review', 'reviews' }}</a>
        {% endif %}
      </p>
      {% endif %}
      <h1>{{ product.title }}</h1>
    </header>
    <ul class="list-inline">
      {% if product_production_country != blank %}<li><i class="icon-world"></i> {{ 'product.specifications.country' | t }}: {{ product_production_country | capitalize }}</li>{% endif %}
      {% if product_material != blank %}<li><i class="icon-tree"></i> {{ 'product.specifications.material' | t }}: {{ product_material | capitalize }}</li>{% endif %}
      {% comment %}{% if product_method != blank %}<li><i class="icon-carpet"></i> {{ 'product.specifications.method' | t }}: {{ product_method | capitalize }}</li>{% endif %}{% endcomment %}
    </ul>

    {%- form 'product', product, class:'form-product', autocomplete: "off" -%}
      <input type="hidden" id="quantity" name="quantity" value="1">
      <input disabled type="hidden" class="order_tag" id="tags" name="properties[Maatwerk]" value="yes">
      <p>
        <label for="id">{{- 'product.form.variants' | t -}}</label>
        <select required id="id" name="id" autocomplete="off" class="{% if maatwerk_selected == true%}maatwerk-selected{% endif %}{% if product.variants.size == 1 and product_removedfromcollection == false %} single-variant{% endif %}">
          {%- if isAcc -%}
          	{%- assign text = 'product.form.select_product' | t -%}
          {%- elsif product_customizable -%}
            {%- assign text = 'product.form.select_size_or_custom' | t -%}
          {%- else -%}
            {%- assign text = 'product.form.select_size' | t -%}
          {%- endif -%}
          <option value=""{% unless maatwerk_selected or products.variants.size == 1 %}selected{% endunless %} disabled>{{- text -}}</option>
          {% for variant in product.variants -%}
          	{%- assign variant_uit_collectie = false -%}
            {%- assign variant_shape = blank -%}
          	{%- assign variant_levertijd = blank -%}
            {%- unless variant.metafields.product.shape == blank -%}
              {% assign variant_shape = variant.metafields.product.shape | replace: '_', ', ' -%}
            {%- endunless -%}
            {%- if variant.metafields.product.variant_uit_collectie != blank and variant.metafields.product.variant_uit_collectie == 'Yes' -%}
              {% assign variant_uit_collectie =  true -%}
            {% endif %}
          
          	{% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}
          		{% assign variant_price = variant.price | times: discount_times %}
          		{% assign variant_compare_at_price = variant.price %}
			{% else %}
          		{% assign variant_price = variant.price %}
          		{% assign variant_compare_at_price = variant.compare_at_price %}
			{% endif %}
          
          	{% if variant.available and variant.inventory_quantity > 0 %}
          	 {% assign variant_levertijd = 'Op voorraad' -%}
            {% elsif variant.available and variant.inventory_quantity <= 0%}
              {%- if variant.metafields.product.product_levertijd != blank -%}
                {% assign variant_levertijd = 'Levertijd: ' | append: variant.metafields.product.product_levertijd | append: '*' -%}
              {% else %}
          			{% include 'levertijden' with product: product %}
              {% endif %}
            {% endif %}

                {% capture Levertijd %}
                  {% if variant.inventory_quantity > 0 %}
                    Levertijd = 2-3 werkdagen
                  {% else %}
                    {% if variant.metafields.stock.product_uit_collectie == 0 %}
                      {% if variant.metafields.stock.leverancier_product_leverbaar == 1 %}
                        Levertijd = {{ variant.metafields.stock.product_levertijd }}
                      {% elsif variant.metafields.stock.leverancier_product_leverbaar == 0 %}
                        {% if variant.metafields.stock.actuele_levertijd %}
                          Levertijd = {{ variant.metafields.stock.actuele_levertijd }}
                        {% else %}
                          Levertijd = {{ variant.metafields.stock.levertijd_leverancier }}
                        {% endif %}
                      {% endif %}
                    {% elsif variant.metafields.stock.product_uit_collectie == 1 %}
                      Levertijd = Niet leverbaar/Out of stock!
                    {% endif %}
                  {% endif %}
                {% endcapture %}

                <option value="{{ variant.id }}"
                  {% if product.variants.size == 1 %} selected{% endif %}
                  data-Levertijd = "{{ Levertijd | strip }}"
                  {% if variant_levertijd != blank %} data-prefix="{{ variant_levertijd }}" data-levertijd="{{ variant_levertijd }}"{% endif %}
                  data-suffix="{{ variant_price | money }}"
                  data-price="{{ variant_price | money }}"
                  data-sku="{{ variant.sku }}"
                  {% unless variant_shape == blank %}data-shape="{{ variant_shape }}"{% endunless %}
                  {% if variant.available == false%} data-unavailable {% endif %}
                  {% if variant_uit_collectie %} data-removedfromcollection {% endif %}
                  {% if variant_compare_at_price > variant_price %}
                  	data-price-old="{{ variant_compare_at_price | money }}"
                  {% comment %}{% else if settings.discount_enabled and isAcc == false %}
                  	data-price-old="{{ variant_compare_at_price | money }}"{% endcomment %}
                  {% endif %}
                  >
                  {%- if variant.title == 'Default Title' -%}
                  	{{- product.title | replace: ' cm', 'cm' | capitalize -}}
                  {%- else -%}
                  	{{- variant.title | replace: ' cm', 'cm' | capitalize -}}
                  {%- endif -%}
                  <span>, {{ variant_price | money }}{% unless product_removedfromcollection %}{% if variant_levertijd != blank %} - {{ variant_levertijd | downcase }}{% endif %}{% endunless %}</span>
                </option>
          {%- endfor -%}
          {%- if product_customizable -%}
            <option {% if maatwerk_selected %}selected {% endif %}value="{{ maatwerkProductVariant.id }}"
              product-handle="{{ product.handle }}"
              data-suffix="{% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}{{ product_price_m2 | times: 100 | times: discount_times | money }}{% else %}{{ product_price_m2_money }}{% endif %} per m2"
              data-price="{{ product_price_m2_money}}"
              data-datalayerprice="{{ product_price_m2 }}"
              data-price-per-cm2="{{ product_price_m2 | divided_by: 100 }}"
              data-producttitle="{{ product.title }}"  
              data-vendor="{{ product.vendor }}"
              data-customizable="custom_variant"
              >
              {{- maatwerkProduct.title | capitalize -}}
              <span>, {% if settings.discount_enabled and settings.discount_percentage != '' and isAcc == false %}{{ product_price_m2 | times: 100 | times: discount_times | money }}{% else %}{{ product_price_m2_money }}{% endif %}  per m2</span>
            </option>
          {%- endif -%}
        </select>
      </p>
    	<span class="stock-message hidden">* Indien op voorraad bij leverancier</span>
    	<h3 class="bold-message{% unless product_removedfromcollection %} hidden{% endunless %}">{{ 'product.form.not_in_collection' | t }}</h3>
      {%- if product_customizable == true and product_removedfromcollection == false -%}
        <div class="form-size hidden">
          <input type="hidden" id="producttitle" value="{{ product.title }}"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="productid" value="{{ product.id }}"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="unique_number"> {% comment %} Unique number so multiple 'maatwerk' items of the same width/length can be added and the cm2 quantity isn't just added to an existing cart item ;) Name and value is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="lengthcm" value="100cm"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <input type="hidden" id="widthcm" value="100cm"> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          <p>
            <label for="length">{{ 'product.form.custom.length' | t }}</label>
            <input type="number" id="length" value="100" min="{{ product_min_length }}" max="{{ product_max_length }}" required> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          </p>
          <p>
            <label for="width">{{ 'product.form.custom.width' | t }}</label>
            <input type="number" id="width" value="100" min="{{ product_min_width }}" max="{{ product_max_length }}" required> {% comment %} Name is set in custom-async.js.liquid, so it's only usable by the add-to-cart script when 'maatwerk' is selected {% endcomment %}
          </p>
          <p>
            <span class="label">{{ 'product.form.price' | t }}</span>
            <span class="price">
               {{ product_price_m2_money }}
            </span>
          </p>
          {% if section.settings.custom_text != empty %}<p class="wide">{{ section.settings.custom_text }}</p>{% endif %}
        </div>
      {%- endif -%}
      <div class="Levertijd-date">
      </div>
      <p class="submit">
          <span class="price">
            {% if settings.discount_enabled and isAcc == false %}
            	<span class="old">
                 {{ product.price | money }}
                </span>
            	{{ product.price | times: discount_times | money }}
            {% else %}
            	{% if product.compare_at_price > product.price %}
                <span class="old">
                  {{ product.compare_at_price | money }}
                </span>
                {% endif %}
              	{{ product.price | money }}
            {% endif %}
          </span>
          <button type="submit" class="buy-button hidden"><span class="cart_button_text"{% if product_removedfromcollection %}disabled{% endif %}>{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% elsif isAcc %}{{ 'product.form.add_to_cart_product_html' | t }}{% else %}{{ 'product.form.add_to_cart_html' | t }}{% endif %}</span> <span class="loader" style='background-image:url("https://cdn.shopify.com/s/files/1/0278/1301/9785/files/Display-Loading.gif?v=1611130803");'></span></button>
          <button type="submit" class="unavailable-buy-button hidden" disabled>{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% else %}{{ 'product.form.not_in_stock' | t }}{% endif %}</button>
          <button class="select-before-buy-button{% if product_removedfromcollection %} light{% endif %}"{% if product_removedfromcollection %} disabled{% endif %} data-validity="{{text}}">{% if product_removedfromcollection %}{{ 'product.form.not_in_collection' | t }}{% else %}{{ 'product.form.in_cart_html' | t }}{% endif %}</button>
        {% if showStaalaanvraag and staalProduct.available %}<span class="btn"><a data-staal-id="{{ staalProduct.id }}" product-title="{{ product.title }}" product-handle="{{ product.handle }}"{% if staalQtyInCart > 2 %} style="display:none"{% endif %}>{{ 'product.form.order_samples' | t }}</a><span class="tooltip">{{ 'product.sample_info_html' | t }}</span></span>{% endif %}
          {% if showZichtservice %}<span class="btn"{% if zichtserviceQtyInCart > 2 %} style="display:none"{% endif %}><a data-zichtservice-id="{{ zichtProduct.id }}" product-title="{{ product.title }}" product-handle="{{ product.handle }}">{{ 'product.form.add_to_service' | t }}</a><span class="tooltip">{{ 'product.service_info_html' | t }}</span></span>{% endif %}
      </p>
    {%- endform -%}
    
    {% if section.settings.message != '' %}
      <div class="message">
          {{ section.settings.message }}
      </div>
    {% endif %}

    {% assign serie_tag = blank %}
    {% for tag in product.tags %}
      {% if tag contains 'serie' %}
        {% assign serie_tag = tag %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if serie_tag != blank %}
      <h2 class="not-in-quickshop hidden">{{ 'product.form.available_colors' | t }} (<span class="related-products-count"></span>)</h2>
      <ul class="list-gallery slider not-in-quickshop related-products hidden" data-tag="{{ serie_tag | handleize }}">
      </ul>
    {% endif %}

  </div>
</article>

<script>
// (function () {
//   var keys = ['_pos','_sid','_ss', '_psq', '_v'];
//   var deleteRegex = new RegExp(keys.join('=|') + '=')

//   var params = location.search.slice(1).split('&')
//   var search = []
//   for (var i = 0; i < params.length; i++) if (deleteRegex.test(params[i]) === false) search.push(params[i])

//   window.history.replaceState({}, document.title, location.pathname + ((search.length > 1) ? '?' + search.join('&') : '') + location.hash)
// })();
</script>

{% schema %}
  {
    "name": {
      "en": "Form",
      "nl": "Formulier"
    },
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Augmented Reality block",
          "nl": "Augmented Reality blok"
        }
      },
      {
        "type": "paragraph",
        "content": {
           "en": "The text settings for the AR block used to be here, but can now be found in the theme translations under 'Product'!",
           "nl": "De tekst instellingen voor het AR block waren hier te vinden, maar zijn nu in te stellen in de themavertalingen onder 'Product'!"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Form",
          "nl": "Formulier"
        }
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "en": "Show vendor/brand",
          "nl": "Toon vendor/merk"
        }
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": {
          "en": "Show review stars",
          "nl": "Toon review sterren"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Custom rug calculator",
          "nl": "Maatwerk vloerkleed calculator"
        }
      },
      {
        "type": "richtext",
        "id": "custom_text",
        "label": {
          "en": "Disclaimer text",
          "nl": "Disclaimer tekst"
        }
      },
{
        "type": "header",
        "content": {
          "en": "Extra message",
          "nl": "Extra bericht"
        }
      },
		{
        "type": "richtext",
        "id": "message",
        "label": {
          "en": "Extra message",
          "nl": "Extra bericht"
        }
      }
    ]
  }
{% endschema %}
