<h3 class="m5">{{ 'product.recently_viewed' | t }}</h3>
<ul class="list-collection slider" id="recently-viewed-products"></ul>

{% for customer-tag in customer.tags %}
  <div class="customer-tag">{{ customer-tag }}</div>
{% endfor %}

<span class="customer-type">{{ customer-type }}</span>

{% raw %}
  <script id="recently-viewed-product-template" type="text/template">
    <li class="showSecond">
      <figure>
        <a href="{{url}}">
        {{#if featured_image}}
        <div class="pusher"></div>
          <img {{#if show_second}}class="first-image" {{/if}}data-src="{{featured_image}}" alt="{{title}}" width="300" height="380">
            {{#if show_second}}
            	<img class="second-image" data-src="{{second_image}}" alt="{{title}}" width="300" height="380">
			{{/if}}
        {{/if}}
        {{#if show_placeholder}}
          {{#if number1}}
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M375.5 345.2c0-.1 0-.1 0 0 0-.1 0-.1 0 0-1.1-2.9-2.3-5.5-3.4-7.8-1.4-4.7-2.4-13.8-.5-19.8 3.4-10.6 3.6-40.6 1.2-54.5-2.3-14-12.3-29.8-18.5-36.9-5.3-6.2-12.8-14.9-15.4-17.9 8.6-5.6 13.3-13.3 14-23 0-.3 0-.6.1-.8.4-4.1-.6-9.9-3.9-13.5-2.1-2.3-4.8-3.5-8-3.5h-54.9c-.8-7.1-3-13-5.2-17.5-6.8-13.9-12.5-16.5-21.2-16.5h-.7c-8.7 0-14.4 2.5-21.2 16.5-2.2 4.5-4.4 10.4-5.2 17.5h-48.5c-3.2 0-5.9 1.2-8 3.5-3.2 3.6-4.3 9.3-3.9 13.5 0 .2 0 .5.1.8.7 9.8 5.4 17.4 14 23-2.6 3.1-10.1 11.7-15.4 17.9-6.1 7.2-16.1 22.9-18.5 36.9-2.2 13.3-1.2 47.4 1 54.9 1.1 3.8 1.4 14.5-.2 19.4-1.2 2.4-2.3 5-3.4 7.9-4.4 11.6-6.2 26.3-5 32.6 1.8 9.9 16.5 14.4 29.4 14.4h176.8c12.9 0 27.6-4.5 29.4-14.4 1.2-6.5-.5-21.1-5-32.7zm-97.7-178c.3-3.2.8-10.6-.2-18 2.4 4.3 5 10.5 5.9 18h-5.7zm-36.3-17.9c-1 7.4-.5 14.8-.2 18h-5.7c.9-7.5 3.5-13.7 5.9-18zm4.5-6.9c0-.1.1-.2.1-.4 4.4-5.3 8.4-5.8 13.1-5.8h.7c4.7 0 8.7.6 13.1 5.8 0 .1 0 .2.1.4 3.2 8.9 2.2 21.2 1.8 25h-30.7c-.4-3.8-1.3-16.1 1.8-25zm-70.7 42.5c0-.3 0-.6-.1-.9-.3-3.4.5-8.4 3.1-11.3 1-1.1 2.1-1.7 3.4-2.1l-.6.6c-2.8 3.1-3.7 8.1-3.3 11.6 0 .2 0 .5.1.8.3 3.5.9 11.7 10.6 18.8.3.2.8.2 1-.2.2-.3.2-.8-.2-1-9.2-6.7-9.8-14.4-10-17.7 0-.3 0-.6-.1-.8-.3-3.2.5-7.7 3-10.5.8-.8 1.7-1.5 2.6-1.9h155.7c1 .4 1.9 1.1 2.6 1.9 2.5 2.8 3.3 7.3 3 10.5 0 .2 0 .5-.1.8-.3 3.6-1 13.1-13.8 20.1-.3.2-.5.6-.3 1 .1.2.4.4.6.4.1 0 .2 0 .3-.1 13.5-7.5 14.3-17.5 14.6-21.3 0-.3 0-.5.1-.8.4-3.5-.5-8.5-3.3-11.6l-.6-.6c1.3.4 2.5 1.1 3.4 2.1 2.6 2.9 3.5 7.9 3.1 11.3 0 .3 0 .6-.1.9-1.5 20.9-23.6 31.4-65.5 31.4h-43.8c-41.8 0-63.9-10.5-65.4-31.4zm91 89.1h-7c0-1.5 0-3-.1-4.2-.2-12.5-2.2-31.1-2.7-35.1h3.6c.8 0 1.4-.6 1.4-1.4v-14.1h2.4v14.1c0 .8.6 1.4 1.4 1.4h3.7c-.4 3.9-2.4 22.6-2.7 35.1v4.2zm65.3 11.9h-16.8c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h16.8v2.8h-62.2c0-.9-.1-1.9-.1-2.8h33.9c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-33.9c-.1-3.2-.1-6.3-.1-9h62.5v9zm-12.5 24.4h-6.3l.2-1.6h5.9l.2 1.6zm-5.8-4.5l1.6-12.3h2l1.6 12.3h-5.2zm-57-19.9h-62.4v-9h62.5c0 2.7 0 5.8-.1 9zm-62.4 1.4h62.4c0 .9-.1 1.8-.1 2.8H194v-2.8zm65.2 0h7.3c0 .9.1 1.8.1 2.8H259c.1-.9.1-1.8.1-2.8zm7.2-1.4h-7.2c.1-3.2.1-6.3.1-9h7c0 2.7 0 5.8.1 9zm-7.7-66.7v6.8h-9v-6.8h9zm-8.9 8.3h9v.7h-9v-.7zm0 2.1h9v2.3h-9v-2.3zm26-1.4h-9v-.7h9v.7zm-9 3.7v-2.3h9v2.3h-9zm9-5.9h-9v-6.8h9v6.8zm-119.3 91.1c-2.1-7.1-3-40.9-.9-53.6 2.2-13.5 11.9-28.6 17.8-35.6 5.6-6.5 13.5-15.7 15.7-18.3 11.4 6.4 28.7 9.6 51.8 9.6h6v14.1c0 .8.6 1.4 1.4 1.4h5.4c.3 3.1 2.4 22.4 2.7 35.1 0 1.2.1 2.6.1 4.2h-63.9c-.8 0-1.4.6-1.4 1.4v16.1c0 .8.6 1.4 1.4 1.4H256c-.8 11.8-2.8 24.7-8 33.3-2.6 4.4-4.9 8.5-6.9 12.2-.4.7-.1 1.6.6 1.9.2.1.4.2.6.2.5 0 1-.3 1.3-.8 1.9-3.7 4.2-7.7 6.8-12.1 5.4-9.1 7.6-22.5 8.4-34.7h7.8c.7 11.2 2.6 23.5 7.1 32.4.2.5.8.8 1.3.8.2 0 .4 0 .6-.2.7-.4 1-1.2.6-1.9-4.3-8.5-6.1-20.3-6.8-31.1H312l-2.4 18.6c-.1.4.1.8.3 1.1.3.3.7.5 1.1.5h9.6c.4 0 .8-.2 1.1-.5.3-.3.4-.7.3-1.1l-2.4-18.6H333c.8 0 1.4-.6 1.4-1.4v-16.1c0-.8-.6-1.4-1.4-1.4h-63.9c0-1.5 0-2.9.1-4.2.2-12.7 2.3-32 2.7-35.1h5.2c.8 0 1.4-.6 1.4-1.4v-14.1h6.2c23.1 0 40.4-3.2 51.8-9.6 2.3 2.6 10.1 11.8 15.7 18.3 5.9 6.9 15.6 22.1 17.8 35.6 2.2 13.4 2 43.2-1.1 53.1-1.2 3.9-1.4 8.7-1 13-1.7-2.8-2.9-4.4-3-4.6-.2-.3-.6-.5-.9-.6h-.5c-.2 0-.4.1-.5.2-.6.5-.8 1.4-.3 2 0 0 .2.3.5.8 1.4 2.1 5.6 8.4 8.9 16.7h-42.9v-43.8c0-.8-.6-1.4-1.4-1.4s-1.4.6-1.4 1.4v44.9c0 .1-.1.2-.1.3 0 .1 0 .2.1.3v9c-1.1 2-3.9 3.7-10.5 3.7h-7.5c-.4 0-.7.3-.7.7 0 .4.3.7.7.7h7.5c5 0 8.5-.9 10.5-2.8-.1 3.1-1.5 6.5-10.5 6.5H210.4c-9 0-10.5-3.4-10.5-6.5 2 1.9 5.5 2.8 10.5 2.8h67.4c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-67.4c-6.7 0-9.4-1.7-10.5-3.7v-54.5c0-.8-.6-1.4-1.4-1.4s-1.4.6-1.4 1.4v43.8h-43.6c4.2-10.2 9.4-17.4 9.5-17.5.5-.6.3-1.5-.3-2s-1.5-.3-2 .3c-.1.2-1.4 2-3.2 5 .1-4.9-.4-10.2-1.1-12.8zm221.4 60.2c-1.5 8.3-14.9 12-26.6 12H174.4c-11.8 0-25.1-3.8-26.6-12-1-5.7.6-19.3 4.6-30.2H197v9.8c0 6.4 4.5 9.7 13.4 9.7h105.4c8.9 0 13.4-3.3 13.4-9.7v-9.8h44c4 10.9 5.6 24.5 4.6 30.2z"></path><path d="M286.1 359.3c0 .4.3.7.7.7h14.7c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-14.7c-.3 0-.7.3-.7.7zm5.3-145.6c13.5-.5 24.7-2.3 33.5-5.3.4-.1.6-.5.4-.9-.1-.4-.5-.6-.9-.4-8.6 3-19.7 4.7-33 5.2-.4 0-.7.3-.7.7 0 .4.3.7.7.7zm-11.3.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H242c-19.9 0-35.3-2.5-45.9-7.4-.4-.2-.8 0-.9.3-.2.4 0 .8.3.9 10.8 5 26.4 7.5 46.5 7.5h38.1zm-7.2 116.9c.4.1.9.1 1.4.1 1.7 0 3.4-.7 4.7-1.9 1.4-1.4 1.9-3.2 1.5-5-.2-.8-.9-1.2-1.7-1.1-.8.2-1.2.9-1.1 1.7.3 1.2-.4 2-.7 2.4-.9.9-2.2 1.3-3.4 1-.8-.2-1.5.3-1.7 1.1s.2 1.5 1 1.7z"></path><path d="M275.5 331.6c-.8 0-1.4.6-1.5 1.4 0 .8.6 1.4 1.4 1.5h.3c3.6 0 7-2.8 7.7-6.3.2-.8-.4-1.5-1.1-1.7-.8-.2-1.5.4-1.7 1.1-.4 2.3-2.8 4.2-5.1 4zm5.4 1.6c-.6.5-.6 1.4-.1 2 1.1 1.3 2.5 2.2 4.2 2.8.2.1.3.1.5.1.6 0 1.1-.3 1.3-.9.3-.7-.1-1.6-.8-1.8-1.2-.5-2.2-1.2-3-2.1-.6-.6-1.5-.6-2.1-.1zm-38.2 12.7c.5 0 .9 0 1.4-.1.8-.2 1.3-.9 1.1-1.7-.2-.8-.9-1.3-1.7-1.1-1.2.3-2.5-.1-3.4-1-.4-.4-1-1.2-.8-2.4.2-.8-.3-1.5-1.1-1.7-.8-.2-1.5.3-1.7 1.1-.4 1.8.1 3.7 1.5 5 1.2 1.2 2.9 1.9 4.7 1.9z"></path><path d="M241.2 349.6h.3c.8 0 1.4-.7 1.4-1.5s-.7-1.4-1.5-1.4c-2.3.1-4.6-1.7-5.1-4-.2-.8-.9-1.3-1.7-1.1-.8.2-1.3.9-1.1 1.7.7 3.5 4.1 6.3 7.7 6.3zm-9.7 3.6c.2 0 .3 0 .5-.1 1.6-.6 3-1.6 4.2-2.8.5-.6.5-1.5-.1-2s-1.5-.5-2 .1c-.8.9-1.8 1.6-3 2.1-.7.3-1.1 1.1-.8 1.8 0 .6.6.9 1.2.9z"></path></svg>
              {{/if}}
              {{#if number2}}
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M401.7 288.4c-.7-.5-1.6-.5-2.4 0l-.3-.7c-2.6-5.8-7.1-10.1-12.8-12.2l-77.8-31.8-7.1-3.9 1.3-1.7c.2-.3.2-.8-.1-1-.3-.2-.8-.2-1 .1l-1.4 1.9-12-6.6.4-4.5c.1-.8-.5-1.5-1.3-1.5-.8-.1-1.5.5-1.5 1.3l-.1.9-1.4 1.7-13.4-7.4.4-4.3c.1-.8-.5-1.5-1.3-1.6-.8-.1-1.5.5-1.6 1.3l-.1 1-1.2 1.6-13.3-7.3.5-4.4c.1-.8-.5-1.5-1.2-1.6-.8-.1-1.5.5-1.6 1.2l-.4 3.2-17.7-9.8c-5.3-3.1-11.6-3.1-16.5.1-4.6 3-7 8.2-6.3 13.7l1.3 12.6c-8.3 6.5-17.7 10.1-27.2 10.1-8.8 0-17-2.3-24.5-6.7-5.9-3.5-11.1-8.2-15.4-14-2-2.6-5.1-4.9-7.7-4.3-.8.2-2.2.9-2.6 3.2v78l-3.7-.3c-2.5-.2-4.7 1.7-5.3 4.7l-2.3 15.5c-.4 2.2 0 4.4 1.3 6.1.9 1.2 2.2 2 3.7 2.1 19.4 1.2 58.1 2.5 101 2.5 32.5 0 67.4-.8 98.2-3 38.9-2.8 62.8-11.8 73.1-27.4.7-1.1 1.4-2.2 2-3.3.4-1.3.2-2.8-.7-3.5zm-94.5-42.2l.1.1 22 9c-12.2 2.2-24.9.5-36.1-4.9l6.4-8.3 7.6 4.1zm-8.8-4.8l-6.5 8.4-1.5-.7c-.7-.3-1.6-.1-1.9.6-.3.7-.1 1.6.6 1.9l.9.5-2.6 3.3c-.5-.3-1-.5-1.5-.6l1.8-19.2 10.7 5.8zm-12.7 16.3s.1 0 0 0zm-3.2-25.1l-7.2 9-2.7-1.3c-.7-.3-1.6-.1-1.9.6-.3.7-.1 1.6.6 1.9l2.1 1-3.6 4.5c-.5-.3-1-.5-1.5-.7l2.2-21.6 12 6.6zm-14.5 18c.1 0 .1 0 0 0zm-2.6-27.4l-7.4 9.9-2.5-1.2c-.7-.3-1.6-.1-1.9.6-.3.7-.1 1.6.6 1.9l2.1 1-4.3 5.8-1.2-.6 2.8-24 11.8 6.6zm-52-7.4c-.6-4.5 1.3-8.6 5-11 3.7-2.4 8.4-2.6 12.4-.6l-.3.6c-.2.4-.4.9-.6 1.3-.1.3-.3.5-.4.8-2.4 4.8-5.4 9.3-8.8 13.4-2 2.4-4.1 4.5-6.3 6.4l-1-10.9zm-76.1 2.3v-.5c.1-.4.2-.9.5-.9.8-.2 2.9.8 4.7 3.2 4.5 6.1 10 11 16.2 14.7 7.9 4.7 16.7 7.1 26 7.1 14 0 27.6-7 38.3-19.7 3.6-4.3 6.7-8.9 9.2-14 .1-.2.2-.4.3-.7.2-.5.5-1 .7-1.4.1-.1.1-.3.2-.4l17.4 9.6-2.9 25c-4.2.1-7.5 3.5-7.5 7.7 0 .8.1 1.6.4 2.4.2.7 1.1 1.1 1.8.9.7-.2 1.1-1.1.9-1.8-.2-.5-.2-1-.2-1.5 0-2.5 1.9-4.5 4.3-4.8l-.4 3.7c-.1.8.5 1.5 1.2 1.6h.2c.7 0 1.3-.5 1.4-1.3l.1-1 1.3-1.7c.9.9 1.5 2.1 1.5 3.5 0 2.7-2.2 4.8-4.8 4.8-.8 0-1.4.6-1.4 1.4 0 .8.6 1.4 1.4 1.4 4.2 0 7.7-3.4 7.7-7.7 0-2.3-1-4.4-2.7-5.8l4.5-6 5.8 2.9c.2.1.4.1.6.1.5 0 1-.3 1.3-.8.3-.7.1-1.6-.6-1.9l-5.3-2.6 7.4-9.9 1.1.6-2.3 22.8c-4 .2-7.2 3.6-7.2 7.7 0 .6.1 1.2.2 1.7.2.8.9 1.2 1.7 1.1.8-.2 1.2-.9 1.1-1.7-.1-.4-.1-.7-.1-1.1 0-2.4 1.8-4.4 4.1-4.8l-.4 3.7c-.1.8.5 1.5 1.3 1.6h.1c.7 0 1.3-.5 1.4-1.3l.1-.9 1.5-1.9c.9.9 1.5 2.1 1.5 3.5 0 2.7-2.2 4.8-4.8 4.8-.8 0-1.4.6-1.4 1.4s.6 1.4 1.4 1.4c4.2 0 7.7-3.4 7.7-7.7 0-2.3-1-4.3-2.6-5.8l3.7-4.7 5.9 2.9c.2.1.4.1.6.1.5 0 1-.3 1.3-.8.3-.7.1-1.6-.6-1.9l-5.3-2.6 7.1-9 1.4.8-1.9 20.4c-3.9.3-7 3.6-7 7.6 0 .8.1 1.6.4 2.3.2.7 1 1.2 1.8.9.7-.2 1.2-1 .9-1.8-.1-.5-.2-1-.2-1.5 0-2.4 1.7-4.3 3.9-4.7l-.4 3.7c-.1.8.5 1.5 1.3 1.5h.1c.7 0 1.3-.6 1.4-1.3l.1-.9 1.5-2c1 .9 1.7 2.2 1.7 3.6 0 2.7-2.2 4.8-4.8 4.8-.8 0-1.4.6-1.4 1.4s.6 1.4 1.4 1.4c4.2 0 7.7-3.4 7.7-7.7 0-2.4-1.1-4.5-2.8-5.9l2.7-3.5c8.6 4.2 17.9 6.3 27.4 6.3 4.8 0 9.5-.5 14.2-1.6.2-.1.4-.2.6-.4l51.6 21.1c4.2 1.5 7.6 4.5 10 8.4-2.5 2-10.2 7.5-24 11.9-.4.1-.6.5-.5.9.1.3.4.5.7.5h.2c13.8-4.4 21.4-9.8 24.2-12 .2.3.4.7.5 1l.6 1.4c-.6.4-1.2.9-1.8 1.3-30.8 22.3-83 18.6-133.5 14.9l-46.9-4.2c0-1.1-.1-2.2-.1-3.3 10 1.1 66 6.9 103.8 7.3.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7-38.1-.5-94.7-6.4-103.9-7.3-1.4-14.1-7.8-29.6-14-38.7 14.6-3.2 28.2-11.3 38.4-23l5.4-6.2 1.2.6c.7.3 1.6.1 1.9-.6.3-.7.1-1.6-.6-1.9l-2.2-1.1c-.6-.3-1.3-.1-1.7.3l-6.1 7c-12.4 14.2-29.9 22.8-47.9 23.6-1 0-2 .1-3 .1-19.4 0-38.4-7.6-48.7-19.5v-19.8c-.2.7-.2.7-.2.6zm0 24.2c11.1 11.1 29.8 18.1 48.7 18.1 1.1 0 2.1 0 3.1-.1l3.9-.3c2.1 2.9 4.3 6.5 6.2 10.5.1.3.4.4.6.4.1 0 .2 0 .3-.1.4-.2.5-.6.3-.9-1.8-3.7-3.8-7.2-5.9-10.1 1-.1 2-.3 3-.5 0 .1.1.2.1.3 6.8 9.5 13.9 27.4 14.2 42.3l-3-.3v-.2c-.2-7.1-2.1-15.7-5.3-24.3-.1-.4-.6-.5-.9-.4-.4.1-.5.6-.4.9 3.2 8.4 5.1 16.8 5.2 23.8l-70.3-6.4v-52.7zm260.6 51.2c-9.8 14.9-33 23.5-70.9 26.2-71.5 5.1-164.8 2.5-198.8.5-.7 0-1.3-.5-1.6-.9-.7-1-1-2.4-.7-3.8l2.3-15.5c.3-1.4 1.2-2.3 2.2-2.3h.1L258 309.1l3.5.3c2 .1 4 .3 6 .4.6 0 1.2.1 1.8.1 2.2.2 4.3.3 6.5.5h.1c2.1.1 4.2.3 6.3.4.5 0 1.1.1 1.6.1 2.1.1 4.3.3 6.4.4l6.3.3c.5 0 1 0 1.6.1 4.2.2 8.4.3 12.6.4h1.5c2.1 0 4.1.1 6.2.1h6.8c1.2 0 2.4-.1 3.6-.1.6 0 1.2 0 1.8-.1 1.2 0 2.4-.1 3.6-.2.5 0 1.1-.1 1.6-.1 1.7-.1 3.3-.2 4.9-.3h.1c1.7-.1 3.3-.3 4.9-.5.5-.1 1-.1 1.5-.2 1.1-.1 2.3-.3 3.4-.4.6-.1 1.1-.2 1.7-.2 1.1-.2 2.2-.3 3.3-.5.5-.1 1-.2 1.5-.2 1.5-.3 3-.5 4.5-.9h.1c1.5-.3 3-.7 4.5-1 .5-.1.9-.2 1.4-.4 1-.3 2-.5 3-.8.5-.1 1-.3 1.5-.5 1-.3 2-.6 2.9-.9.4-.1.9-.3 1.3-.5 1.4-.5 2.7-1 4-1.5h.1c1.3-.5 2.6-1.1 3.9-1.7l1.2-.6c.9-.4 1.8-.9 2.7-1.3.4-.2.9-.5 1.3-.7.9-.5 1.7-1 2.5-1.5.4-.2.8-.5 1.1-.7 1.2-.8 2.4-1.5 3.5-2.3.4-.3.8-.6 1.3-.9.1-.1.2-.1.2-.2.1 0 0 .3-.2.5z"></path><path d="M192.5 315.8c-2.7-.1-5.3-.1-7.8-.2-.4 0-.7.3-.7.7 0 .4.3.7.7.7 2.6.1 5.2.1 7.8.2.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7z"></path><path d="M227.2 312.5c-25.2-2.1-60.2-5.1-83.3-7.7-2.8-.3-5.4 1.7-5.8 4.5-.2 1.5.2 3 1.1 4.2.9 1.2 2.3 1.9 3.8 1.9 6.2.3 19 .9 34.5 1.4.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7-15.5-.5-28.2-1.1-34.5-1.4-1.1-.1-2.1-.6-2.8-1.4-.7-.9-1-2-.8-3.1.3-2.1 2.2-3.5 4.3-3.3 23.2 2.6 58.1 5.6 83.4 7.7.4 0 .7-.3.8-.6 0-.5-.3-.8-.7-.8zm32.5 2.6s-10.3-.8-25.4-2c-.3 0-.7.3-.8.6 0 .4.3.7.6.8 15.1 1.2 25.4 2 25.4 2h.1c.4 0 .7-.3.7-.7.1-.3-.2-.7-.6-.7zm69.1-8.8c10.3-.2 20.1-1.2 29.1-3 .4-.1.6-.5.6-.8-.1-.4-.5-.6-.8-.6-8.9 1.8-18.6 2.8-28.8 3-.4 0-.7.3-.7.7-.1.4.2.7.6.7z"></path></svg>
              {{/if}}
              {{#if number3}}
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M381.3 247.3c.3-1.2 1.2-3.4 3.4-4.2l2.5-.9c.5-.2.8-.5.9-1l3.8-16.2c.1-.4 0-.8-.2-1.1-.2-.3-.6-.5-1-.6-61.1-8.3-93.8-.3-113.3 4.6-6.4 1.6-11.1 2.7-14.6 2.7s-8.2-1.1-14.6-2.7c-19.5-4.8-52.2-12.9-113.3-4.6-.4.1-.8.3-1 .6-.2.3-.3.7-.2 1.1l3.8 16.2c.1.5.5.9.9 1l2.5.9c2.2.8 3.1 3 3.4 4.2.4 1.4.7 3 1.1 4.6 1.8 7.6 4 17 7.9 25.9-7.6 8.2-13.4 15.3-16.2 18.9-.5.7-.8 1.5-.7 2.4.1.8.5 1.5 1 2 .5.7 1.9 2.6 4.6 3.4 2.4.7 4.6 1 6.6 1 7.8 0 13.4-4.7 17.5-9.4 6.7 5.9 15.6 9.7 27.8 9.7 43.9 0 52.1-24.5 57.5-40.7 3.3-9.8 5.4-15.3 11.4-15.3 6.1 0 8.3 5.6 11.6 15.4 5.4 16.1 13.5 40.6 57.4 40.6 12.4 0 21.4-4 28.2-10.1 4.2 4.8 9.8 9.8 17.8 9.8 2 0 4.2-.3 6.6-1.1 2.6-.8 4.1-2.7 4.6-3.4.6-.5.9-1.2 1-2 .1-.9-.1-1.7-.7-2.4-2.9-3.7-8.9-11-16.7-19.4 3.8-8.7 6-18 7.7-25.4.3-1.5.7-3 1-4.5zm-238.6 54.5c-2.1-.6-3.1-2.3-3.1-2.3-.1-.2-.2-.3-.4-.4-.1-.1-.1-.2-.1-.2 0-.1 0-.2.1-.3 2.7-3.4 8.2-10.1 15.3-17.9 2.5 4.9 5.5 9.6 9.4 13.5-6.9 7.9-13.1 10.1-21.2 7.6zm244.3-3.3c.1.1.1.2.1.3 0 .1 0 .2-.1.2l-.4.4s-1 1.7-3.1 2.3c-8.2 2.5-14.5.2-21.6-8 3.9-4 6.9-8.7 9.3-13.7 7.4 8.1 13 15 15.8 18.5zm-9.5-47.2c-4.8 20.6-12.1 51.7-45.8 51.7-41.8 0-49.2-22.3-54.7-38.6-3.1-9.3-5.8-17.4-14.3-17.4-8.3 0-11 8-14.1 17.3-5.5 16.3-12.9 38.7-54.8 38.7-33.7 0-41-31.1-45.8-51.7-.4-1.7-.8-3.2-1.1-4.7-.8-3.1-2.6-5.3-5.2-6.2l-1.7-.6-3.2-14c59.5-7.9 91.5 0 110.7 4.7 6.6 1.6 11.4 2.8 15.3 2.8s8.7-1.2 15.3-2.8c19.2-4.7 51.2-12.6 110.7-4.7l-3.2 14-1.7.6c-2.5.9-4.4 3.2-5.2 6.2-.5 1.5-.8 3.1-1.2 4.7z"></path><path d="M383.9 232c0-4.1-13.7-4.1-13.7 0 0 2 3.4 3.1 6.8 3.1 3.5 0 6.9-1 6.9-3.1zm-6.8 1.7c-3.4 0-5.4-1.1-5.4-1.7s2.1-1.7 5.4-1.7c3.4 0 5.4 1.1 5.4 1.7s-2.1 1.7-5.4 1.7zM141.8 232c0 2 3.4 3.1 6.8 3.1s6.8-1.1 6.8-3.1c.1-4-13.6-4-13.6 0zm6.8 1.7c-3.4 0-5.4-1.1-5.4-1.7s2.1-1.7 5.4-1.7 5.4 1.1 5.4 1.7-2 1.7-5.4 1.7zM356 227.6c-7.9-2-36.2-7.4-68 5.5-5.7 2.3-9.4 8-9.1 14.1.9 22.6 7 52.6 48.7 52.6 12.9 0 23.1-3.8 30.2-11.4 11.3-12.1 12.7-30.8 11.8-44.5-.6-7.9-6-14.4-13.6-16.3zm-67.5 6.8c15.7-6.4 30.5-8.2 42.4-8.2 11.9 0 20.8 1.8 24.7 2.8 5.3 1.3 9.4 5.1 11.4 10h-.1c-.1 0-14.3 1.7-36.4 3.5-9 .7-20.2 1.6-32.9 2.2h-.8c-.1 0-.2 0-.3.1-5 .3-10.2.5-15.6.7-.2 0-.3.1-.5.1.4-5.1 3.5-9.4 8.1-11.2zm39.1 64c-39.9 0-46.2-28.5-47.2-50.4.2.1.3.1.5.1 5.8-.2 11.4-.4 16.7-.7 28.4.1 40.9 18.3 51.9 34.4 1.6 2.4 3.2 4.7 4.8 6.9.2.2.4.4.7.5-6.8 6.1-15.9 9.2-27.4 9.2zm29.2-11.1c0-.1-.1-.3-.2-.4-1.6-2.2-3.1-4.4-4.7-6.8-8.8-12.9-19.4-28.3-39.2-33.7 6.5-.4 12.4-.9 17.6-1.3 10.4 5.8 21.4 14.7 33.6 27.3.3.3.6.4 1 .4h.1c-1.8 5.4-4.4 10.4-8.2 14.5zm9-17c-11-11.2-21.1-19.6-30.6-25.5 19.5-1.6 31.9-3.1 32-3.1.2 0 .4-.1.5-.2.2.8.3 1.6.3 2.5.5 6.7.5 16.7-2.2 26.3zM238 233c-31.7-12.9-60-7.5-68-5.5-7.6 1.9-13.1 8.5-13.6 16.4-.9 13.6.5 32.4 11.8 44.5 7.1 7.6 17.3 11.4 30.2 11.4 41.7 0 47.8-30 48.7-52.6.3-6.2-3.4-11.8-9.1-14.2zm-67.6-4.1c7.7-1.9 34.9-7.2 65.7 4.9-8 .9-14.7 1.5-22.6 2.2-5.5.5-11.6 2.6-18.3 6.3-21.8-1.7-35.8-3.4-36-3.4h-.3c2.1-4.9 6.2-8.6 11.5-10zM157.9 244c.1-.9.2-1.8.4-2.6.2.2.4.3.7.3.1 0 12.5 1.5 32 3.1-9.6 6-19.7 14.4-30.7 25.7-2.8-9.7-2.8-19.8-2.4-26.5zm40.5 54.4c-11.5 0-20.6-3.1-27.4-9.2.3-.1.6-.2.8-.5 1.5-2.1 3-4.2 4.6-6.5 11.4-16.5 24.3-35.1 55.1-34 5.1.2 8.8.3 13.6.3.2 0 .3 0 .4-.1-.9 21.9-7.3 50-47.1 50zm46.8-52.7c-4.8 0-8.4-.1-13.5-.3-32.4-1.3-46.4 19-57.6 35.2-1.6 2.3-3 4.4-4.5 6.4-.1.2-.2.3-.2.5-3.9-4.2-6.5-9.2-8.3-14.5h.3c.4 0 .7-.1 1-.4 12.3-12.6 23.4-21.6 34-27.5 6.5-3.6 12.4-5.7 17.6-6.2 8.5-.7 15.7-1.5 24.7-2.4.5-.1 1-.4 1.2-.9 3.5 2.3 5.7 6.1 6 10.2-.4-.1-.5-.1-.7-.1z"></path></svg>
              {{/if}}
              {{#if number4}}
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M271.9 192.7c-.5-3.8-3.7-6.1-8.6-6.1-4.9 0-8 2.3-8.6 6.1-66.9 5.7-76 78.9-77.2 102-.1 2 .8 3.7 2.5 4.8 1.1.7 2.3.9 3.5.7v29.4c0 2.8 1.4 5.5 3.7 7.1 2.3 1.6 5.1 2 7.8 1.1 6-2.1 12.1-5.7 18.6-9.4 13.3-7.8 28.4-16.5 48.9-16.5 21.2 0 34.9 8.5 47 16 7.3 4.5 14.2 8.8 21.9 10.7.7.2 1.4.2 2 .2 1.9 0 3.7-.6 5.2-1.8 2.1-1.7 3.4-4.2 3.4-6.9v-29.9c.2 0 .5.1.7.1.9 0 1.9-.3 2.8-.8 1.7-1 2.6-2.8 2.5-4.8-1.2-23-10.2-96.1-76.1-102zm-8.6-3c1.8 0 4.7.4 5.5 2.8-1.8-.1-3.6-.2-5.5-.2h-.1c-1.8 0-3.6.1-5.4.2.8-2.4 3.7-2.8 5.5-2.8zM339 330.1c0 1.8-.8 3.4-2.2 4.5-1.4 1.1-3.1 1.4-4.7 1-7.2-1.8-13.9-5.9-21-10.3-12.5-7.7-26.6-16.4-48.6-16.4-21.3 0-36.7 9-50.4 16.9-6.3 3.7-12.3 7.2-18.1 9.2-1.7.6-3.5.3-5-.7-1.5-1.1-2.4-2.8-2.4-4.7v-29.9c0-.2-.1-.5-.2-.7 10.6-5.8 34.1-15 76.4-15 42.3 0 65.7 9.1 76.4 15-.1.2-.2.4-.2.7v30.4zm4.9-33.1c-.7.4-1.6.5-2.3 0-2.3-1.3-5.4-2.9-9.2-4.4.6-2.3 1.1-4.7 1.6-7.1.1-.4-.2-.8-.6-.9-.4-.1-.8.2-.9.6-.4 2.3-.9 4.6-1.5 6.8-13.3-5.3-35.1-10.9-68.3-10.9-33.2 0-55 5.6-68.2 10.9-.6-2.6-1.2-5.2-1.7-7.8-.1-.4-.5-.7-.9-.6-.4.1-.7.5-.6.9.5 2.7 1.1 5.5 1.8 8.1-3.8 1.6-6.8 3.1-9.2 4.5-.7.4-1.6.4-2.3 0-.7-.4-1.1-1.2-1.1-2 .5-9.1 2.2-26.3 8.4-43.8-.1 3.7-.1 7.5 0 11.2 0 .4.3.7.8.7.4 0 .7-.4.7-.8-.2-5.3-.1-10.6.2-15.8.6-1.5 1.2-2.9 1.8-4.4-.9 9.5-1.5 26.8 2.5 46 .1.4.4.6.7.6h.2c.4-.1.7-.5.6-.9-4.8-22.5-3-42.4-2-49.9 11.3-22.5 31.6-42.4 68-42.6v83c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-83h1.5v4.4c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-4.4c33.8 1.3 53 20.5 63.9 42.1 1 7.1 2.9 27.4-2 50.4-.1.4.2.8.6.9h.2c.3 0 .7-.2.7-.6 4.2-19.5 3.5-37.1 2.5-46.5.7 1.5 1.3 2.9 1.9 4.4.3 4.7.4 9.5.3 14.3 0 .4.3.8.7.8.4 0 .7-.3.8-.7.1-3.3 0-6.5-.1-9.7 6.2 17.6 7.9 34.9 8.4 44.1 0 .8-.4 1.6-1.1 2.1z"></path><path d="M295.5 203.8c-2.3 0-4.1 1.8-4.1 4.1s1.8 4.1 4.1 4.1 4.1-1.8 4.1-4.1c0-2.2-1.9-4.1-4.1-4.1zm0 6.7c-1.4 0-2.6-1.2-2.6-2.6 0-1.4 1.2-2.6 2.6-2.6s2.6 1.2 2.6 2.6c0 1.4-1.2 2.6-2.6 2.6zm-64.4-6.7c-2.3 0-4.1 1.8-4.1 4.1s1.8 4.1 4.1 4.1 4.1-1.8 4.1-4.1c0-2.2-1.8-4.1-4.1-4.1zm0 6.7c-1.4 0-2.6-1.2-2.6-2.6 0-1.4 1.2-2.6 2.6-2.6s2.6 1.2 2.6 2.6c0 1.4-1.2 2.6-2.6 2.6zm105.3 90.7c-.4 0-.8.3-.8.8v24.8c0 1.6-.8 3-2.1 3.9-1.3.9-2.9 1-4.3.4-2.2-.9-4.6-2.1-7.2-3.6-.4-.2-.8-.1-1 .3-.2.4-.1.8.3 1 2.7 1.5 5.1 2.7 7.4 3.7.8.3 1.6.5 2.3.5 1.2 0 2.3-.3 3.4-1 1.7-1.1 2.8-3.1 2.8-5.1v-24.8c-.1-.6-.4-.9-.8-.9zm-19.8 23c-1-.6-2-1.2-3-1.9-2.5-1.5-5.1-3.1-7.8-4.7-.4-.2-.8-.1-1 .3-.2.4-.1.8.3 1 2.7 1.5 5.3 3.1 7.8 4.7 1 .6 2 1.2 3 1.9.1.1.3.1.4.1.3 0 .5-.1.6-.4.2-.3.1-.8-.3-1zm-14.6-8.6c-9.1-4.9-21.9-10.5-39.9-10.5-22.3 0-38.6 9.4-53.1 17.6-4.4 2.5-8.5 4.9-12.5 6.8-1.4.7-3.1.6-4.4-.2-1.4-.9-2.2-2.3-2.2-3.9v-23.5c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v23.5c0 2.1 1.1 4.1 2.9 5.2 1 .6 2.1.9 3.2.9.9 0 1.8-.2 2.6-.6 4.1-2 8.2-4.3 12.6-6.9 14.3-8.2 30.4-17.4 52.3-17.4 17.7 0 30.3 5.5 39.2 10.3.4.2.8.1 1-.3.4-.3.3-.8-.1-1z"></path><path d="M192.7 309.8c.4 0 .8-.3.8-.8v-9.1c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v9.1c0 .4.4.8.8.8zm1.1 14.8c.6.4 1.4.6 2.1.6.6 0 1.1-.1 1.7-.4 3-1.4 5.9-3 8.6-4.4.4-.2.5-.7.3-1-.2-.4-.7-.5-1-.3-2.7 1.5-5.7 3-8.6 4.4-.8.4-1.6.3-2.3-.1-.7-.5-1.1-1.2-1.1-2.1v-7.7c0-.4-.3-.8-.8-.8-.4 0-.8.3-.8.8v7.7c0 1.3.7 2.6 1.9 3.3zm15.8-6.1c.1 0 .2 0 .4-.1 2.4-1.3 4.8-2.6 7.3-3.9.4-.2.5-.6.3-1s-.6-.5-1-.3c-2.5 1.3-5 2.6-7.3 3.9-.4.2-.5.7-.3 1 0 .2.3.4.6.4zm12.4-6.4c9.7-4.6 23-10 40.2-10 23.1 0 38 8.6 51.1 16.2 5 2.9 9.8 5.6 14.7 7.7.5.2 1 .3 1.6.3.8 0 1.5-.2 2.2-.7 1.1-.7 1.8-2 1.8-3.3v-22.5c0-.4-.3-.8-.8-.8s-.8.3-.8.8v22.5c0 .8-.4 1.6-1.1 2-.7.5-1.6.5-2.3.2-4.8-2.1-9.5-4.8-14.5-7.7-13.3-7.7-28.4-16.4-51.9-16.4-17.5 0-31 5.4-40.8 10.1-.4.2-.5.6-.4 1 .2.6.7.8 1 .6zm44.3-107.8c-.4 0-.8.3-.8.8v23.7c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-23.7c0-.5-.4-.8-.8-.8zm-6 61c-.4 0-.8.3-.8.8v8.9c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-9c-.1-.4-.4-.7-.8-.7zm0-21.5c-.4 0-.8.3-.8.8v15.3c0 .4.3.8.8.8.4 0 .8-.3.8-.8v-15.3c-.1-.4-.4-.8-.8-.8zm75.3 23c-.4 0-.8.3-.8.7-.3 3.8-.7 7.6-1.2 11.4-.1.4.2.8.6.9h.1c.4 0 .7-.3.7-.6.5-3.8 1-7.6 1.2-11.5.1-.5-.2-.9-.6-.9zm-145.6.3c-.4 0-.7.4-.7.8.3 3.5.6 7.1 1.1 10.6.1.4.4.6.7.6h.1c.4-.1.7-.4.6-.9-.5-3.4-.9-7-1.1-10.5 0-.4-.4-.7-.7-.6z"></path></svg>
              {{/if}}
              {{#if number5}}
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M330.3 251.9h-4.8c-1.8-11-6.1-21.1-12.4-29.7v-.6l-6.2-23.5c-1.3-5.1-5.9-8.6-11.1-8.6h-8.5l-1.4-4.8c-.7-2.4-2.8-4-5.3-4h-46.3c-2.5 0-4.6 1.6-5.3 4l-1.4 4.8H219c-5.2 0-9.8 3.5-11.1 8.6l-6.2 23.5c-.1.2-.1.4 0 .6-8.4 11.4-13.3 25.5-13.3 40.6 0 15.2 4.9 29.2 13.3 40.6v.6l6.2 23.5c1.3 5.1 5.9 8.6 11.1 8.6h8.5l1.4 4.8c.7 2.3 2.9 4 5.3 4h46.3c2.5 0 4.6-1.6 5.3-4l1.4-4.8h8.4c5.2 0 9.8-3.5 11.1-8.6L313 304c.1-.2.1-.4 0-.6 6.3-8.6 10.7-18.7 12.4-29.7h4.8c3.8 0 6.9-3.1 6.9-6.9v-8.1c0-3.8-3.1-6.8-6.8-6.8zm-119.7-53.2c1-3.8 4.4-6.5 8.4-6.5h9.5c.2 0 .3 0 .5-.1.1 0 .3.1.4.1h12.1c.8 0 1.4-.6 1.4-1.4 0-.8-.6-1.4-1.4-1.4h-11.1l1.2-4c.3-1.2 1.4-1.9 2.6-1.9h46.3c1.2 0 2.2.8 2.6 1.9l1.2 4h-11.1c-.8 0-1.4.6-1.4 1.4 0 .8.6 1.4 1.4 1.4h12.1c.2 0 .3 0 .4-.1.2.1.3.1.5.1h9.5c3.9 0 7.4 2.7 8.4 6.5l4.8 18.3c-12.6-14.2-31-23.2-51.5-23.2s-38.9 9-51.5 23.2l4.7-18.3zm46.7-2c36.4 0 66.1 29.7 66.1 66.1 0 36.4-29.7 66.1-66.1 66.1s-66.1-29.7-66.1-66.1c0-36.5 29.7-66.1 66.1-66.1zM304 326.8c-1 3.8-4.4 6.5-8.4 6.5h-22.5c-.8 0-1.4.6-1.4 1.4s.6 1.4 1.4 1.4h11.1l-1.2 4c-.3 1.2-1.4 1.9-2.6 1.9h-46.3c-1.2 0-2.3-.8-2.6-1.9l-1.2-4h11.1c.8 0 1.4-.6 1.4-1.4s-.6-1.4-1.4-1.4H219c-3.9 0-7.4-2.7-8.4-6.5l-4.8-18.3c12.6 14.2 31 23.2 51.5 23.2s38.9-9 51.5-23.2l-4.8 18.3zm30.3-60c0 2.2-1.8 4-4 4h-4.5c.1-.5.1-1 .2-1.6h5.2c.4 0 .7-.3.7-.7s-.3-.7-.7-.7h-5.1c.1-.8.1-1.6.1-2.4h5c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-4.9v-2.4h4.9c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-5c0-.8-.1-1.6-.1-2.4h5.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7H326c0-.5-.1-1-.2-1.6h4.5c2.2 0 4 1.8 4 4v8z"></path><path d="M257.3 324.5c34 0 61.7-27.7 61.7-61.7s-27.7-61.7-61.7-61.7-61.7 27.7-61.7 61.7 27.7 61.7 61.7 61.7zm0-120.6c32.5 0 58.9 26.4 58.9 58.9s-26.4 58.9-58.9 58.9-58.9-26.4-58.9-58.9 26.5-58.9 58.9-58.9zm26.3 144h-52.5c-.8 0-1.4.6-1.4 1.4v18.8c0 .8.6 1.4 1.4 1.4h52.5c.8 0 1.4-.6 1.4-1.4v-18.8c0-.8-.7-1.4-1.4-1.4zm-1.5 18.8h-49.6v-16h49.6v16zm19.5-28h-12.3c-.8 0-1.4.6-1.4 1.4v15.5c0 .8.6 1.4 1.4 1.4h12.3c.8 0 1.4-.6 1.4-1.4v-15.5c0-.7-.7-1.4-1.4-1.4zm-1.5 15.5h-9.4v-12.6h9.4v12.6zm-74.7-15.5h-12.3c-.8 0-1.4.6-1.4 1.4v15.5c0 .8.6 1.4 1.4 1.4h12.3c.8 0 1.4-.6 1.4-1.4v-15.5c0-.7-.6-1.4-1.4-1.4zm-1.5 15.5h-9.4v-12.6h9.4v12.6zm59.7 19h-52.5c-.8 0-1.4.6-1.4 1.4v18.8c0 .8.6 1.4 1.4 1.4h52.5c.8 0 1.4-.6 1.4-1.4v-18.8c0-.8-.7-1.4-1.4-1.4zm-1.5 18.8h-49.6v-16h49.6v16zm19.5-32.7h-12.3c-.8 0-1.4.6-1.4 1.4v20.1c0 .8.6 1.4 1.4 1.4h12.3c.8 0 1.4-.6 1.4-1.4v-20.1c0-.8-.7-1.4-1.4-1.4zm-1.5 20h-9.4v-17.2h9.4v17.2zm-74.7-20h-12.3c-.8 0-1.4.6-1.4 1.4v20.1c0 .8.6 1.4 1.4 1.4h12.3c.8 0 1.4-.6 1.4-1.4v-20.1c0-.8-.6-1.4-1.4-1.4zm-1.5 20h-9.4v-17.2h9.4v17.2zm77.7 5.3h-12.3c-.8 0-1.4.6-1.4 1.4v7.4c0 .8.6 1.4 1.4 1.4h12.3c.8 0 1.4-.6 1.4-1.4V386c0-.7-.7-1.4-1.4-1.4zm-1.5 7.4h-9.4v-4.5h9.4v4.5zm-74.7-7.4h-12.3c-.8 0-1.4.6-1.4 1.4v7.4c0 .8.6 1.4 1.4 1.4h12.3c.8 0 1.4-.6 1.4-1.4V386c0-.7-.6-1.4-1.4-1.4zm-1.5 7.4h-9.4v-4.5h9.4v4.5zm7.2-214.4h52.5c.8 0 1.4-.6 1.4-1.4v-18.8c0-.8-.6-1.4-1.4-1.4h-52.5c-.8 0-1.4.6-1.4 1.4v18.8c0 .8.6 1.4 1.4 1.4zm1.4-18.8h49.6v16h-49.6v-16zm-19.4 28h12.3c.8 0 1.4-.6 1.4-1.4v-15.5c0-.8-.6-1.4-1.4-1.4h-12.3c-.8 0-1.4.6-1.4 1.4v15.5c0 .7.6 1.4 1.4 1.4zm1.4-15.5h9.4v12.6h-9.4v-12.6zm74.8 15.5h12.3c.8 0 1.4-.6 1.4-1.4v-15.5c0-.8-.6-1.4-1.4-1.4h-12.3c-.8 0-1.4.6-1.4 1.4v15.5c0 .7.6 1.4 1.4 1.4zm1.4-15.5h9.4v12.6h-9.4v-12.6zm-59.6-19h52.5c.8 0 1.4-.6 1.4-1.4v-18.8c0-.8-.6-1.4-1.4-1.4h-52.5c-.8 0-1.4.6-1.4 1.4v18.8c0 .8.6 1.4 1.4 1.4zm1.4-18.8h49.6v16h-49.6v-16zm-19.4 32.7h12.3c.8 0 1.4-.6 1.4-1.4v-20.1c0-.8-.6-1.4-1.4-1.4h-12.3c-.8 0-1.4.6-1.4 1.4v20.1c0 .8.6 1.4 1.4 1.4zm1.4-20h9.4v17.2h-9.4v-17.2zm74.8 20h12.3c.8 0 1.4-.6 1.4-1.4v-20.1c0-.8-.6-1.4-1.4-1.4h-12.3c-.8 0-1.4.6-1.4 1.4v20.1c0 .8.6 1.4 1.4 1.4zm1.4-20h9.4v17.2h-9.4v-17.2zm-77.6-5.3h12.3c.8 0 1.4-.6 1.4-1.4v-7.4c0-.8-.6-1.4-1.4-1.4h-12.3c-.8 0-1.4.6-1.4 1.4v7.4c0 .7.6 1.4 1.4 1.4zm1.4-7.4h9.4v4.5h-9.4v-4.5zm74.8 7.4h12.3c.8 0 1.4-.6 1.4-1.4v-7.4c0-.8-.6-1.4-1.4-1.4h-12.3c-.8 0-1.4.6-1.4 1.4v7.4c0 .7.6 1.4 1.4 1.4zm1.4-7.4h9.4v4.5h-9.4v-4.5z"></path><path d="M277.6 162.6h-25.7c-.4 0-.7.3-.7.7s.3.7.7.7h25.7c.4 0 .7-.3.7-.7s-.3-.7-.7-.7zm-18.1-25.4h-22.6c-.4 0-.7.3-.7.7s.3.7.7.7h22.6c.4 0 .7-.3.7-.7s-.3-.7-.7-.7zm16.3 0h-9.6c-.4 0-.7.3-.7.7s.3.7.7.7h9.6c.4 0 .7-.3.7-.7s-.3-.7-.7-.7zm-39 251.9H273c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-36.2c-.4 0-.7.3-.7.7 0 .3.3.7.7.7zm0-25.4h13.6c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-13.6c-.4 0-.7.3-.7.7 0 .4.3.7.7.7zm20.5-149c.8 0 1.4-.6 1.4-1.4v-6.5c0-.8-.6-1.4-1.4-1.4s-1.4.6-1.4 1.4v6.5c0 .8.6 1.4 1.4 1.4zm0 96.1c-.8 0-1.4.6-1.4 1.4v6.5c0 .8.6 1.4 1.4 1.4s1.4-.6 1.4-1.4v-6.5c.1-.8-.6-1.4-1.4-1.4zm48-48c0 .8.6 1.4 1.4 1.4h6.5c.8 0 1.4-.6 1.4-1.4 0-.8-.6-1.4-1.4-1.4h-6.5c-.7-.1-1.4.6-1.4 1.4zm-96 0c0-.8-.6-1.4-1.4-1.4h-6.5c-.8 0-1.4.6-1.4 1.4 0 .8.6 1.4 1.4 1.4h6.5c.8 0 1.4-.7 1.4-1.4zm90.8-24c.1 0 .2 0 .4-.1l5.8-3.3c.3-.2.5-.6.3-1-.2-.3-.6-.5-1-.3l-5.8 3.3c-.3.2-.5.6-.3 1 .1.3.3.4.6.4zm-85.9 48l-5.8 3.3c-.3.2-.5.6-.3 1 .1.2.4.4.6.4.1 0 .2 0 .4-.1l5.8-3.3c.3-.2.5-.6.3-1s-.6-.5-1-.3zm68.3 18.1c-.2-.3-.6-.5-1-.3-.3.2-.5.6-.3 1l3.4 5.9c.1.2.4.4.6.4.1 0 .2 0 .4-.1.3-.2.5-.6.3-1l-3.4-5.9zm-50.4-84.3c.1.2.4.4.6.4.1 0 .2 0 .4-.1.3-.2.5-.6.3-1L230 214c-.2-.3-.6-.5-1-.3-.3.2-.5.6-.3 1l3.4 5.9zm49.4.3c.1.1.2.1.4.1s.5-.1.6-.4l3.5-6c.2-.3.1-.8-.3-1-.3-.2-.8-.1-1 .3l-3.5 6c-.2.4 0 .8.3 1zm-48.3 83.7c-.3-.2-.8-.1-1 .3l-3.5 6c-.2.3-.1.8.3 1 .1.1.2.1.4.1s.5-.1.6-.4l3.5-6c.1-.4 0-.8-.3-1zm66.4-16.6l5.8 3.4c.1.1.2.1.4.1s.5-.1.6-.4c.2-.3.1-.8-.3-1l-5.8-3.4c-.3-.2-.8-.1-1 .3-.1.4 0 .8.3 1zM215 237.5l-5.8-3.4c-.3-.2-.8-.1-1 .3-.2.3-.1.8.3 1l5.8 3.4c.1.1.2.1.4.1s.5-.1.6-.4c.2-.4.1-.8-.3-1zm8.9 66.9c.2 0 .4-.1.5-.3l31.2-38.1c.5.3 1.1.4 1.6.4h.5l23.7-2.9c2.4-.3 4.7-.9 6.9-1.9l4.1-1.8c.6-.3.9-.9.8-1.5-.1-.6-.6-1.1-1.2-1.2l-4.4-.7c-2.4-.4-4.8-.4-7.1-.1l-20.9 2.6v-27.6c0-4.2-.5-8.4-1.6-12.5-.1-.3-.4-.5-.7-.5-.3 0-.6.2-.7.5-1 4.1-1.6 8.2-1.6 12.4v28.7c-.2.2-.5.4-.7.6-.6.8-.9 1.7-.7 2.7.1.7.4 1.4.9 1.9l-31.2 38.1c-.2.3-.2.8.1 1 .1.1.3.2.5.2zm57-45.5c.9-.1 1.8-.2 2.7-.2 1.1 0 2.2.1 3.3.3-1.9.8-3.8 1.3-5.8 1.6l-23.7 2.9c-.4.1-.9-.3-.9-.7 0-.2 0-.4.2-.6.1-.2.3-.3.5-.3l23.7-3zm-24.4-27.8c0-3 .3-6 .9-9 .6 3 .9 6 .9 9v27.8l-1.4.2c-.1 0-.2.1-.4.1v-28.1zm1.6 132.6h21.1c.4 0 .7-.3.7-.7 0-.4-.3-.7-.7-.7h-21.1c-.4 0-.7.3-.7.7 0 .4.3.7.7.7z"></path></svg>
              {{/if}}
              {{#if number6}}
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5"><path d="M322 329.7c.7 2.2 1.2 4.4 1.6 6.7 2.1 11 .4 22.4-4.8 32.9-.2.4 0 .8.3 1 .1.1.2.1.3.1.3 0 .5-.1.6-.4 5.4-10.8 7.1-22.5 4.9-33.8-.4-2.3-1-4.6-1.6-6.8-3.6-12.3-10.7-24.8-18.9-33.5-.3-.3-.7-.3-1 0-.3.3-.3.7 0 1 8.1 8.5 15.1 20.8 18.6 32.8z"></path><path d="M366.1 118.8h-95.2c-.7-3.9-4.1-6.9-8.2-6.9s-7.5 3-8.2 6.9h-95.2c-.8 0-1.4.6-1.4 1.4v115.5c0 .8.6 1.4 1.4 1.4h95.1v10.3h-11.3c-2.8 0-5.1 2.3-5.1 5.1v.4c0 2.6 2.1 4.8 4.7 5l-24.9 30.3c-1.3 1.6-2.7 3.2-4.1 4.8l-.5.6c-9.1 10.3-15.5 21.3-18.9 32.7-.8 2.5-1.4 5.1-1.8 7.7-5.1 27 9.6 54.9 37.5 71.2 1.3 3.3 4.3 8.4 8.5 8.4h48.6c4.1 0 7.2-5.1 8.5-8.4 27.8-16.3 42.5-44.2 37.5-71.2-.5-2.5-1.1-5.1-1.9-7.7-3.4-11.4-9.7-22.4-18.9-32.7l-.5-.5c-1.4-1.6-2.8-3.2-4.1-4.8L282.8 258c2.6-.2 4.7-2.4 4.7-5v-.4c0-2.8-2.3-5.1-5.1-5.1h-11.3V237.2h42.6c0 .1-.1.2-.1.3v19.3c-1.3 2.2-5.6 10-5.6 13.1 0 3.9 3.2 7.1 7.1 7.1 3.9 0 7.1-3.2 7.1-7.1 0-3.2-4.4-10.9-5.6-13.1v-19.3c0-.1 0-.2-.1-.3h49.8c.8 0 1.4-.6 1.4-1.4V120.2c-.2-.8-.8-1.4-1.6-1.4zM315 274.1c-2.3 0-4.2-1.9-4.2-4.2 0-1.4 1.7-5.1 3.5-8.4.2.1.5.3.8.3.3 0 .5-.1.8-.3 1.8 3.4 3.5 7.1 3.5 8.4-.2 2.3-2.1 4.2-4.4 4.2zm-52.2-159.3c2.5 0 4.6 1.7 5.2 4h-10.5c.6-2.3 2.7-4 5.3-4zm-30.3 288.9c-.1-.3-.4-.6-.7-.8-27-15.7-41.4-42.6-36.5-68.5.5-2.4 1.1-4.9 1.8-7.4 3.2-11 9.4-21.6 18.3-31.6l.5-.5 4.2-4.8 26.4-32.1h15v4h-11.4c-.2 0-.4.1-.5.3L221 295.9c-8.2 8.7-15.3 21.2-18.9 33.4-.7 2.3-1.2 4.5-1.6 6.8-4.5 23.9 8.6 48.7 33.4 63.2 1 2.7 3.7 7.3 7.1 7.3h13.4v4.1h-16c-2.1 0-4.7-3.6-5.9-7zm35.7 1.5h-11v-2.4h11v2.4zm0 1.4v4.1h-11v-4.1h11zm-12.4-6.6c-.8 0-1.4.6-1.4 1.4v3.8H241c-2.3 0-4.7-3.4-5.9-6.6-.1-.2-.2-.3-.3-.4-24.4-14.1-37.3-38.4-32.9-61.8.4-2.2 1-4.4 1.6-6.7 3.6-12.1 10.5-24.3 18.6-32.9l28.1-33.4h11.1V400h-5.5zm53.9-105.1l.5.5c8.9 10 15 20.7 18.3 31.6.7 2.5 1.3 5 1.8 7.4 4.9 25.9-9.5 52.8-36.6 68.5-.3.2-.5.4-.6.8-1.2 3.4-3.8 7-6 7h-16v-4.1h13.4c3.4 0 6.1-4.7 7.1-7.3 8.6-5 15.8-11.2 21.5-18.5.2-.3.2-.8-.1-1-.3-.2-.8-.2-1 .1-5.6 7.2-12.8 13.3-21.4 18.2-.1.1-.3.2-.3.4-1.1 3.2-3.6 6.6-5.9 6.6H271v-3.8c0-.8-.6-1.4-1.4-1.4h-5.5V263.4h11.1l20.4 24.2c.3.3.7.3 1 .1.3-.3.3-.7.1-1l-20.6-24.5c-.1-.2-.3-.3-.5-.3h-11.4v-4h14.9l26.4 32.1c1.3 1.7 2.8 3.3 4.2 4.9zm-25.1-42.4v.4c0 1.2-1 2.2-2.2 2.2h-39.3c-1.2 0-2.2-1-2.2-2.2v-.4c0-1.2 1-2.2 2.2-2.2h39.3c1.2 0 2.2.9 2.2 2.2zm-16.4-15.3v10.2h-11V237.1l11 .1zm96.5-2.9H184.8v-33.4c0-.4-.3-.7-.7-.7s-.7.3-.7.7v33.4h-10.6v-68.4c0-.4-.3-.7-.7-.7-.4 0-.7.3-.7.7v68.4h-10.5V121.7h10.5V155c0 .4.3.7.7.7.4 0 .7-.3.7-.7v-33.3h22.7V147c0 .4.3.7.7.7s.7-.3.7-.7v-25.3h167.8v112.6z"></path><path d="M196.1 161.7c-.4 0-.7.3-.7.7v61.4c0 .4.3.7.7.7s.7-.3.7-.7v-61.4c0-.4-.3-.7-.7-.7zm-12-26.4c-.4 0-.7.3-.7.7v52.3c0 .4.3.7.7.7s.7-.3.7-.7V136c0-.4-.3-.7-.7-.7z"></path></svg>
              {{/if}}
            {{/if}}
          </a>
      </figure>
      <p class="h2"><a href="{{url}}">
      {{#if show_short_title}}
      	<strong>{{vendor}}</strong>{{short_title}}
      {{else}}
      	{{title}}
      {{/if}}
    </a></p>
      {{#if isInkoop}}
        {{#if isKorting}}
        <div class="recentlyviewed-price">
          <p class="old-price"> {{{price}}}</p>
          <span> {{{retailprijs}}}</span>
        </div>
        {{else if isPromo}}
        <div class="recentlyviewed-price">
          <p class="old-price"> {{{price}}}</p>
          <span> {{{promowoonprof}}}</span>
        </div>
        {{else}}
        <div class="recentlyviewed-price">
          <p> {{{price}}}</p>
        </div>
        {{/if}}
      {{else}}
      {{/if}}
      <span class="recentlyviewed-adviesprijs">Adviesprijs: {{{adviesprijs}}}</span>
    </li>
  </script>
{% endraw %}

{% schema %}
  {
    "name": {
      "en": "Recently viewed products",
      "nl": "Recent bekeken producten"
    },
    "settings": [

    ]
  }
{% endschema %}
