<article class="register-customer">
  <div>
    <div>
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.text }}</p>
    </div>
    <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ 'Kiyoh.png' | asset_url }}" alt="register" />
  </div>
  <div>
    {% if section.settings.linktext != empty %}<a href="{{ section.settings.link }}"><button>{{ section.settings.linktext }}</button></a>{% endif %}
  </div>
</article>

{% schema %}
  {
    "name": {
    "en": "Solutions",
    "nl": "Oplossingen"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
      "en": "Title",
      "nl": "Titel"
      }
    },
    {
      "type": "text",
      "id": "text",
      "label": {
      "en": "Text",
      "nl": "Tekst"
      }
    },
    {
      "type": "url",
      "id": "link",
      "label": {
      "en": "Button link",
      "nl": "Knop link"
      }
    },
      {
      "type": "text",
      "id": "linktext",
      "label": {
      "en": "Button link text",
      "nl": "Knop linktekst"
    }
  }
  ],
      "presets": [
      {
      "category": {
      "en": "Collection",
      "nl": "Collectie"
      },
      "name": {
      "en": "Solutions",
      "nl": "Oplossingen"
      },
      "settings": {}
    }
  ]
}
{% endschema %}
