{% if recommendations.performed %}
  {% if recommendations.products_count > 0 %}
    <h3 class="related-title">{{ 'product.related_rugs' | t }}</h3>
    <ul class="list-collection slider">
      {% for product in recommendations.products %}
        {% unless related_products_list contains product.handle %}
          {% include 'product-card' with product: product %}
        {% endunless %}
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  <div data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-limit="8" data-section-id="{{ section.id }}" data-section-type="related-products" data-title="{% if template.suffix == 'accessoire' or product.tags contains 'accessoire' or product.type == 'Accessoires' %}{{ 'product.related_products' | t }}{% else %}{{ 'product.related_rugs' | t }}{% endif %}"></div>
{% endif %}

{% schema %}
  {
    "name": {
      "en": "Related products",
      "nl": "Gerelateerde producten"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "en": "Shown related products are rendered by [Shopify's own 'recommended products' algorithm](https://help.shopify.com/en/themes/development/recommended-products#recommendation-logic).",
          "nl": "Eventueel getoonde gerelateerde producten komen vanuit [Shopify's eigen 'aanbevolen producten' algoritme](https://help.shopify.com/en/themes/development/recommended-products#recommendation-logic)."
        }
      }
    ]
  }
{% endschema %}
