<article class="module-wide">
  <div class="double a b110">
    <div class="module-rating">
      <h2>{{ section.settings.subtitle }} <span>{{ section.settings.score }}</span></h2>
      <ul class="list-rating">
        {% for block in section.blocks %}
          {% if block.type == 'Review' %}
            <li>
              <q>{{ block.settings.text }}</q>
              <span class="rating-a" data-val="{{ block.settings.score }}" data-of="5">{{ block.settings.score }}/5</span>
              <span class="strong">{{ block.settings.name }}</span> - {{ block.settings.place_date }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p>{{ section.settings.text }} {% unless block.settings.icon == 'none' %}<i class="icon-{{section.settings.icon}}"></i>{% endunless %}</p>
    </div>
    <div class="module-aside small">
      <h2>{{ section.settings.title }}</h2>
      <ul class="list-check">
        {% for block in section.blocks %}
          {% if block.type == 'USP' %}
            <li class="span-strong span-overlay-a">{{ block.settings.text }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</article>

{% schema %}
  {
    "name": {
      "en": "Reviews and USP's",
      "nl": "Reviews en USP's"
    },
    "settings": [
      {
        "type": "header",
        "content": "Reviews"
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Add reviews by clicking on 'add content' below and selecting 'review'",
          "nl": "Voeg reviews door onderin te klikken op 'Voeg content toe' en 'review' te selecteren"
        }
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": {
          "en": "Subtitle",
          "nl": "Subtitel"
        }
      },
      {
        "type": "range",
        "id": "score",
        "label": {
          "en": "Score",
          "nl": "Score"
        },
        "min": 0,
        "max": 10,
        "step": 0.1,
        "default": 9.4
      },
      {
        "type": "text",
        "id": "text",
        "label": {
          "en": "Text below reviews",
          "nl": "Tekst onder reviews"
        },
        "placeholder": {
          "en": "Onafhankelijke klantbeoordelingen door",
          "nl": "Onafhankelijke klantbeoordelingen door"
        },
        "default": {
          "en": "Onafhankelijke klantbeoordelingen door",
          "nl": "Onafhankelijke klantbeoordelingen door"
        }
      },
      {
        "type": "select",
        "id": "icon",
        "label": {
          "en": "Icon",
          "nl": "Icoon"
        },
        "default": "kiyoh",
        "options": [
          {
            "value": "truck",
            "label": {
              "en": "Truck",
              "nl": "Truck"
            }
          },
          {
            "value": "check-circle",
            "label": {
              "en": "Checkmark",
              "nl": "Vinkje"
            }
          },
          {
            "value": "open",
            "label": {
              "en": "'Open' sign'",
              "nl": "Bordje 'open'"
            }
          },
          {
            "value": "logout",
            "label": {
              "en": "Circled arrow to the right",
              "nl": "Omcirkelde pijl naar rechts"
            }
          },
          {
            "value": "kiyoh",
            "label": {
              "en": "Kiyoh logo",
              "nl": "Kiyoh logo"
            }
          },
          {
            "value": "none",
            "label": {
              "en": "None",
              "nl": "Geen"
            }
          }
        ]
      },
      {
        "type": "header",
        "content": "USP's"
      },
      {
        "type": "paragraph",
        "content": {
          "en": "Add USP's by clicking on 'add content' below and selecting 'USP'",
          "nl": "Voeg USP's door onderin te klikken op 'Voeg content toe' en 'USP' te selecteren"
        }
      },
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      }
    ],
    "blocks": [
      {
        "type": "USP",
        "name": {
          "en": "USP",
          "nl": "USP"
        },
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "info": {
              "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold and purple</span>",
              "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt en paars</span>"
            }
          }
        ]
      },
      {
        "type": "Review",
        "name": {
          "en": "Review",
          "nl": "Review"
        },
        "settings": [
          {
            "type": "range",
            "id": "score",
            "label": {
              "en": "Score",
              "nl": "Score"
            },
            "min": 0,
            "max": 5,
            "step": 0.1,
            "default": 4.5
          },
          {
            "type": "textarea",
            "id": "text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            }
          },
          {
            "type": "text",
            "id": "name",
            "label": {
              "en": "Name",
              "nl": "Naam"
            }
          },
          {
            "type": "text",
            "id": "place_date",
            "label": {
              "en": "Place and date",
              "nl": "Plaats en datum"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Text",
          "nl": "Tekst"
        },
        "name": {
          "en": "Reviews and USP's",
          "nl": "Reviews en USP's"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
