<script>console.log({{search.terms | json}})</script>
{% assign searchTerms = search.terms | escape | remove: '-(staal)' | remove: '-customised_product' | strip %}

{% paginate search.results by 12 %}

    {% include 'breadcrumbs' %}
    {% if search.performed %}
      <h1>{{ 'search.results_plus_term' | t: term: searchTerms }}</h1>
    {% else %}
      <h1>{{ 'search.title' | t }}</h1>
    {% endif %}

  {% if search.performed %}
	{% assign search_results_count = search.results_count %}
    {% case search_results_count %}
    {% when  0 %}
      {% capture resultsText %}
    	 {{ 'search.amount_of_results.zero' | t: amount: search_results_count, term: searchTerms }}
    	{% endcapture %}
    {% when 1 %}
   	 	{% capture resultsText %}
   		 {{ 'search.amount_of_results.one' | t: amount: search_results_count, term: searchTerms }}
      {% endcapture %}
    {% else %}
      {% capture resultsText %}
    	 {{ 'search.amount_of_results.multiple' | t: amount: search_results_count, term: searchTerms }}
      {% endcapture %}
    {% endcase %}
  {% endif %}

  <form action="{{ routes.search_url }}" role="search" method="get" class="form-search">
    <p>
      {% if search.performed %}<label for="q1">{{ resultsText}}</label>{% endif %}
      <input type="search" id="q1" name="q1" value="{{ searchTerms }}" placeholder="{{ 'search.search_form.placeholder' | t }}" required>
      <input type="hidden" id="q" name="q">
      <input type="hidden" name="type" value="product" />
      <button type="submit">{% if search.performed %}{{ 'search.search_form.search_again' | t }}{% else %}{{ 'search.search_form.search' | t }}{% endif %}</button>
    </p>
  </form>

  {% if search.performed %}
    {% assign count1 = 0 %}
    {% assign count2 = 0 %}
    {% assign sortedResults = search.results | sort: "price" %}
    {% for item in sortedResults %}
   		{% if item.object_type == 'product' and item.type != '[services]' and item.type != 'Stalen'  %}
        	{% assign count1 = count1 | plus: 1 %}
  		  	{% if count1 == 1 %}
          		<ul class="list-collection">
        	{% endif %}
  		  	{% assign product = item %}
            {% unless product.type == '[services]' or product.type == 'Stalen' %}
        		{% include 'product-card' with product: product %}
            {% endunless %}
        	{% if forloop.last %}
          		</ul>
        	{% endif %}
    	{% elsif item.object_type == 'article' or item.object_type == 'page' %}
  		  	{% assign count2 = count2 | plus: 1 %}
  		  	{% if count2 == 1 %}
          		</ul>
        	{% endif %}
  		  	<h2 class="search-result-title">{{ item.title | link_to: item.url }}</h2>
        	<p class="search-result-text">{{ item.content | strip_html | truncatewords: 50 | highlight: search.terms}}</p>
    	{% endif %}
  	{% endfor %}
	{% include 'pagination' %}
  {% endif %}

{% endpaginate %}

<script>
  	if(window.location.href.indexOf("?q=") != -1 || window.location.href.indexOf("&q=") != -1){
    	if(window.location.href.indexOf("-%28staal%29") == -1 || window.location.href.indexOf("-customised_product") == -1){
          document.documentElement.classList.add("loading");
          var newurl = window.top.location.href
          if (window.location.href.indexOf("-%28staal%29") == -1) {
            newurl = newurl + '+-%28staal%29';
          }
          if (window.location.href.indexOf("-customised_product") == -1) {
            newurl = newurl + '+-customised_product';
          }
          	window.location.replace(newurl);
        } else {
        	var newurl = window.top.location.href;
          		newurl = newurl.replace('%20', '');
            	newurl = newurl.replace('+-%28staal%29+', '').replace('+-%28staal%29', '').replace('-%28staal%29', '');
          		newurl = newurl.replace('+-(staal)+', '').replace('+-(staal)', '').replace('-(staal)', '');
                newurl = newurl.replace('+-customised_product+', '').replace('+-customised_product', '').replace('-customised_product', '');
                newurl = newurl.replace('+&type=product+', '').replace('+&type=product', '').replace('&type=product', '');
          		newurl = newurl.replace('%20', '');
 			window.history.replaceState({ path: newurl }, '', newurl);
        }
	}
</script>

{% schema %}
  {
    "name": "Search",
    "settings": []
  }
{% endschema %}
