{%- liquid
	assign products_per_page = 12
	assign boost_translations = shop.metafields.boostpfs-settings.labelTranslations
	assign current_locale = request.locale.iso_code
	assign primary_locale = current_locale
	for locale in shop.published_locales
		if locale.primary
			assign primary_locale = locale.iso_code
			break
		endif
	endfor 
	assign label_toolbar_viewas = boost_translations[current_locale].defaultTheme.toolbarViewAs | default:  boost_translations[primary_locale].defaultTheme.toolbarViewAs | escape
	assign label_items_with_count_one = boost_translations[current_locale].defaultTheme.toolbarProduct | default:  boost_translations[primary_locale].defaultTheme.toolbarProduct | escape
	assign label_items_with_count_other = boost_translations[current_locale].defaultTheme.toolbarProducts | default:  boost_translations[primary_locale].defaultTheme.toolbarProducts | escape
	assign label_sale = boost_translations[current_locale].defaultTheme.productItemSale | default:  boost_translations[primary_locale].defaultTheme.productItemSale | escape
	assign label_soldout = boost_translations[current_locale].defaultTheme.productItemSoldOut | default:  boost_translations[primary_locale].defaultTheme.productItemSoldOut | escape
	assign label_from = boost_translations[current_locale].defaultTheme.productItemFrom | default:  boost_translations[primary_locale].defaultTheme.productItemFrom | escape
    assign products_per_row = 4
    assign products_per_row_mobile = 2
    assign show_vendor = false
    assign show_price = true
    assign show_sale_label = false
    assign show_sold_out_label = false
    assign active_image_swap = false
    assign show_sorting = false
    assign show_product_review = false
    assign display_item_swatch = false
    assign swatch_color_display_type = "swatch_color_display_type_color"
    assign swatch_color_event_change_image = "none"
    assign swatches_color_shape = "circle"
    assign equal_height = false
    assign ratio_width_height_other = ''
    assign equal_height_crop_image_position = "center"
    assign show_lable_by_tag = false
    assign product_item_type = "grid"
-%}

{% assign collection_label = '' %}
{% assign collection_label_color = '' %} 
{% for i in (1..10) %}
	{% assign collection_handle = 'label_collection_y' | replace: 'y', i %}
  	{% if settings[collection_handle] == collection.handle %}
		{% assign text_handle = 'label_text_y' | replace: 'y', i %}
		{% assign color_handle = 'label_color_y' | replace: 'y', i %}
		{% assign collection_label = settings[text_handle] %}
		{% assign collection_label_color = settings[color_handle] %}
  		{% break %}
  	{% endif %}
{% endfor %}

{% assign collection_handle_1 = settings.label_collection_1 %}
{% assign collection_label_1 = settings.label_text_1 %}
{% assign collection_label_color_1 = settings.label_color_1 %}
{% assign collection_handle_2 = settings.label_collection_2 %}
{% assign collection_label_2 = settings.label_text_2 %}
{% assign collection_label_color_2 = settings.label_color_2 %}
{% assign collection_handle_3 = settings.label_collection_3 %}
{% assign collection_label_3 = settings.label_text_3 %}
{% assign collection_label_color_3 = settings.label_color_3 %}
{% assign collection_handle_4 = settings.label_collection_4 %}
{% assign collection_label_4 = settings.label_text_4 %}
{% assign collection_label_color_4 = settings.label_color_4 %}
{% assign collection_handle_5 = settings.label_collection_5 %}
{% assign collection_label_5 = settings.label_text_5 %}
{% assign collection_label_color_5 = settings.label_color_5 %}
{% assign collection_handle_6 = settings.label_collection_6 %}
{% assign collection_label_6 = settings.label_text_6 %}
{% assign collection_label_color_6 = settings.label_color_6 %}
{% assign collection_handle_7 = settings.label_collection_7 %}
{% assign collection_label_7 = settings.label_text_7 %}
{% assign collection_label_color_7 = settings.label_color_7 %}
{% assign collection_handle_8 = settings.label_collection_8 %}
{% assign collection_label_8 = settings.label_text_8 %}
{% assign collection_label_color_8 = settings.label_color_8 %}
{% assign collection_handle_9 = settings.label_collection_9 %}
{% assign collection_label_9 = settings.label_text_9 %}
{% assign collection_label_color_9 = settings.label_color_9 %}
{% assign collection_handle_10 = settings.label_collection_10 %}
{% assign collection_label_10 = settings.label_text_10 %}
{% assign collection_label_color_10 = settings.label_color_10 %}


{% paginate search.results by products_per_page %}
<header class="heading-main m15">
      {% include 'breadcrumbs' %}
	<h1 class="boost-pfs-search-result-header"></h1>
</header>
<form action="{{ routes.search_url }}" role="search" method="get" class="form-search boost-pfs-search-form">
    <p>
      <label class="filters-toolbar__product-count boost-pfs-search-total-result">
				{% include 'boost-pfs-filter-skeleton', width: 2 %}
			</label>
      <input class="boost-pfs-search-box" type="search" name="q">
      <button type="submit">{% if search.performed %}{{ 'search.search_form.search_again' | t }}{% else %}{{ 'search.search_form.search' | t }}{% endif %}</button>
    </p>
  </form>
{% comment %} SEARCH RESULT TOOLBAR {% endcomment %}
{% comment %}<div class="boost-pfs-search-result-toolbar">
	<div class="boost-pfs-container-default boost-pfs-filter-default-toolbar-inner">
		<div class="boost-pfs-search-result-item">
			<ul class="boost-pfs-search-result-panel-controls">
				<li>{% include 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% include 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% include 'boost-pfs-filter-skeleton', width: 1 %}</li>
			</ul>
		</div>
		<div class="boost-pfs-search-result-item">
			<span class="filters-toolbar__product-count boost-pfs-search-total-result">
				{% include 'boost-pfs-filter-skeleton', width: 2 %}
			</span>
		</div>
	</div>
</div>{% endcomment %}

{% comment %} END SEARCH RESULT TOOLBAR {% endcomment %}
{% comment %} TOOLBAR TOP MOBILE {% endcomment %}
{% comment %}<div class="boost-pfs-filter-toolbar-top-mobile boost-pfs-search-panel-product-show">
	<div class="boost-pfs-filter-top-sorting boost-pfs-filter-top-sorting-mobile boost-pfs-filter-custom-sorting">{% include 'boost-pfs-filter-skeleton', type: 'button' %}</div>
	<div class="boost-pfs-filter-tree-mobile-button">{% include 'boost-pfs-filter-skeleton', type: 'button' %}</div>
</div>{% endcomment %}
{% comment %} END TOOLBAR TOP MOBILE {% endcomment %}
{% comment %} TOOLBAR {% endcomment %}
{% comment %}<div class="boost-pfs-filter-default-toolbar">
	<div class="boost-pfs-container-default boost-pfs-filter-default-toolbar-inner boost-pfs-search-panel-product-show">
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type">
			<div class="boost-pfs-filter-top-display-type">{% include 'boost-pfs-filter-skeleton', width: 2 %}</div>
		</div>
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count"></div>
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{% include 'boost-pfs-filter-skeleton', width: 1 %}</div>
	</div>
</div>{% endcomment %}
{% comment %} END TOOLBAR {% endcomment %}
<div class="boost-pfs-filter-wrapper-page">
	{% comment %}<div class=" boost-pfs-filter-tree-h-wrapper boost-pfs-search-panel-product-show">
		<div class="boost-pfs-container-default">
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
				{% include 'boost-pfs-filter-skeleton', type: 'filter-tree-h' %}
			</div>
		</div>
	</div>{% endcomment %}
	{% comment %}<div class="boost-pfs-container-default">
		<div class="boost-pfs-filter-refine-by-wrapper-h"></div>
	</div>{% endcomment %}
	<div class="boost-pfs-container-default">
		{%- assign products_per_page = section.settings.products_per_page -%}
		<div class="boost-pfs-filter-wrapper boost-pfs-search-panel-product-show">
			{% comment %}<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>{% endcomment %}
			<div class="boost-pfs-filter-products list-collection">
				{%- for result in search.results -%}
				{%- if result.object_type == 'product' -%}
              
            		{%- include 'boost-pfs-filter-product-item', product: result -%}
            
					{% comment %}{%- render 'boost-pfs-filter-product-item', 
						product: result, 
						products_per_row: products_per_row,
						products_per_row_mobile: products_per_row_mobile,
						show_vendor: show_vendor,
						show_price: show_price,
						show_sale_label: show_sale_label,
						show_sold_out_label: show_sold_out_label,
						active_image_swap: active_image_swap,
						show_sorting: show_sorting,
						show_product_review: show_product_review,
						display_item_swatch: display_item_swatch,
						swatch_color_display_type: swatch_color_display_type,
						swatch_color_event_change_image: swatch_color_event_change_image,
						swatches_color_shape: swatches_color_shape,
						equal_height: equal_height,
						ratio_width_height_other: ratio_width_height_other,
						equal_height_crop_image_position: equal_height_crop_image_position,
						show_lable_by_tag: show_lable_by_tag,
						product_item_type: product_item_type,
						label_soldout: label_soldout,
						label_sale: label_sale,
						label_from: label_from,
						label_toolbar_viewas: label_toolbar_viewas,
						label_items_with_count_one: label_items_with_count_one,
						label_items_with_count_other: label_items_with_count_other
                 	 -%}{% endcomment %}
				{%- endif -%}
				{%- endfor -%}
			</div>
			<div class="boost-pfs-filter-bottom-pagination {% comment %}boost-pfs-filter-bottom-pagination-default{% endcomment %} list-pagination text-right">
				{%- if paginate.pages > 1 -%}
               		{% include 'pagination' %}
				{%- endif -%}
			</div>
			<div class="boost-pfs-filter-load-more"></div>
		</div>
	</div>
	
</div>
{% comment %} SEARCH RESULT: COLLECTION PANEL {% endcomment %}
{% comment %}<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="boost-pfs-search-result-collections">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-collection-pagination boost-pfs-filter-bottom-pagination-default">{% include 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>{% endcomment %}
{% comment %} END SEARCH RESULT: COLLECTIONS PANEL {% endcomment %}
{% comment %} SEARCH RESULT: PAGES PANEL {% endcomment %}
{% comment %}<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="boost-pfs-search-result-pages">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-page-pagination boost-pfs-filter-bottom-pagination-default">{% include 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>{% endcomment %}
{% comment %} END SEARCH RESULT: PAGES PANEL {% endcomment %}

{% endpaginate %}

<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
     toolbar_viewas: "View As",
      items_with_count_one: "resultaat",
      items_with_count_other: "resultaten",
    },
    custom: {
      products_per_page: 12,
      products_per_row: 4,
      products_per_row_mobile: 2,
      show_vendor: false,
      show_price: true,
      sale_text: "{{ 'product.form.sale' | t }}",
      extra_label: {{ settings.extra_label | json }},
      collection_label: {{ collection_label | json }},
      collection_label_color: {{ collection_label_color | json }},
      collection_label_handle_1: {{ collection_handle_1 | json }},
      collection_label_1: {{ collection_label_1 | json }},
      collection_label_color_1: {{ collection_label_color_1 | json }},
	  collection_label_handle_2: {{ collection_handle_2 | json }},
      collection_label_2: {{ collection_label_2 | json }},
      collection_label_color_2: {{ collection_label_color_2 | json }},
      collection_label_handle_3: {{ collection_handle_3 | json }},
      collection_label_3: {{ collection_label_3 | json }},
      collection_label_color_3: {{ collection_label_color_3 | json }},
      collection_label_handle_4: {{ collection_handle_4 | json }},
      collection_label_4: {{ collection_label_4 | json }},
      collection_label_color_4: {{ collection_label_color_4 | json }},
      collection_label_handle_5: {{ collection_handle_5 | json }},
      collection_label_5: {{ collection_label_5 | json }},
      collection_label_color_5: {{ collection_label_color_5 | json }},
      collection_label_handle_6: {{ collection_handle_6 | json }},
      collection_label_6: {{ collection_label_6 | json }},
      collection_label_color_6: {{ collection_label_color_6 | json }},
      collection_label_handle_7: {{ collection_handle_7 | json }},
      collection_label_7: {{ collection_label_7 | json }},
      collection_label_color_7: {{ collection_label_color_7 | json }},
      collection_label_handle_8: {{ collection_handle_8 | json }},
      collection_label_8: {{ collection_label_8 | json }},
      collection_label_color_8: {{ collection_label_color_8 | json }},
      collection_label_handle_9: {{ collection_handle_9 | json }},
      collection_label_9: {{ collection_label_9 | json }},
      collection_label_color_9: {{ collection_label_color_9 | json }},
      collection_label_handle_10: {{ collection_handle_10 | json }},
      collection_label_10: {{ collection_label_10 | json }},
      collection_label_color_10: {{ collection_label_color_10 | json }},
      show_sale_label: false,
      show_sold_out_label:false,
      active_image_swap:true ,
      show_sorting: true,
      display_item_swatch: false,
      enable_equal_height:false ,
      equal_height_crop_image_position:"center"
    }
  };

  // Declare Templates
  var boostPFSTemplate = {
      'soldOutClass': ' sold-out',
      'saleClass': ' on-sale',
      'soldOutLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' -%},
      'saleLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'saleLabelHtml' -%},
      'tagLabelHtml': {%- render 'boost-pfs-filter-html', layout: 'tagLabelHtml' -%},
      'vendorHtml': {%- render 'boost-pfs-filter-html', layout: 'vendorHtml' -%},
      // Grid Template
      'productGridItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productGridItemHtml' -%},
      // For List View
      // List Template
      'productListItemHtml': {%- render 'boost-pfs-filter-html', layout: 'productListItemHtml' -%},
      // End For List View
      'productListPlaceholderHtml': {%- render 'boost-pfs-filter-html', layout: 'productListPlaceholderHtml' -%},
      // Pagination Template
      'previousActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'previousActiveHtml' -%},
      'previousDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' -%},
      'nextActiveHtml': {%- render 'boost-pfs-filter-html', layout: 'nextActiveHtml' -%},
      'nextDisabledHtml': {%- render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' -%},
      'pageItemHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemHtml' -%},
      'pageItemSelectedHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' -%},
      'pageItemRemainHtml': {%- render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' -%},
      'paginateHtml': {%- render 'boost-pfs-filter-html', layout: 'paginateHtml' -%},
      // Sorting Template
      'sortingHtml': {%- render 'boost-pfs-filter-html', layout: 'sortingHtml' -%},
      // Show Limit Template
      'showLimitHtml': {%- render 'boost-pfs-filter-html', layout: 'showLimitHtml' -%},
      // Breadcrumb Template
      'breadcrumbHtml': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' -%},
      'breadcrumbDivider': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' -%},
      'breadcrumbItemLink': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' -%},
      'breadcrumbItemSelected': {%- render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' -%},
  };

</script>

{% comment %}
{%- render 'boost-pfs-theme-config',
	products_per_page: products_per_page,
	products_per_row: products_per_row,
	products_per_row_mobile: products_per_row_mobile,
	show_vendor: show_vendor,
	show_price: show_price,
	show_sale_label: false,
	show_sold_out_label: show_sold_out_label,
	active_image_swap: active_image_swap,
	show_sorting: show_sorting,
	show_product_review: show_product_review,
	display_item_swatch: display_item_swatch,
	swatch_color_display_type: swatch_color_display_type,
	swatch_color_event_change_image: swatch_color_event_change_image,
	swatches_color_shape: swatches_color_shape,
	equal_height: equal_height,
	ratio_width_height_other: ratio_width_height_other,
	equal_height_crop_image_position: equal_height_crop_image_position,
	show_lable_by_tag: show_lable_by_tag,
	product_item_type: product_item_type,
	label_soldout: label_soldout,
	label_sale: label_sale,
	label_from: label_from,
	label_toolbar_viewas: label_toolbar_viewas,
	label_items_with_count_one: label_items_with_count_one,
	label_items_with_count_other: label_items_with_count_other,
sale_text: "{{ 'product.form.sale' | t }}",
	  collection_label: {{ collection_label | json }},
      collection_label_color: {{ collection_label_color | json }},
      collection_label_handle_1: {{ collection_handle_1 | json }},
      collection_label_1: {{ collection_label_1 | json }},
      collection_label_color_1: {{ collection_label_color_1 | json }},
	  collection_label_handle_2: {{ collection_handle_2 | json }},
      collection_label_2: {{ collection_label_2 | json }},
      collection_label_color_2: {{ collection_label_color_2 | json }},
      collection_label_handle_3: {{ collection_handle_3 | json }},
      collection_label_3: {{ collection_label_3 | json }},
      collection_label_color_3: {{ collection_label_color_3 | json }},
      collection_label_handle_4: {{ collection_handle_4 | json }},
      collection_label_4: {{ collection_label_4 | json }},
      collection_label_color_4: {{ collection_label_color_4 | json }},
      collection_label_handle_5: {{ collection_handle_5 | json }},
      collection_label_5: {{ collection_label_5 | json }},
      collection_label_color_5: {{ collection_label_color_5 | json }},
      collection_label_handle_6: {{ collection_handle_6 | json }},
      collection_label_6: {{ collection_label_6 | json }},
      collection_label_color_6: {{ collection_label_color_6 | json }},
      collection_label_handle_7: {{ collection_handle_7 | json }},
      collection_label_7: {{ collection_label_7 | json }},
      collection_label_color_7: {{ collection_label_color_7 | json }},
      collection_label_handle_8: {{ collection_handle_8 | json }},
      collection_label_8: {{ collection_label_8 | json }},
      collection_label_color_8: {{ collection_label_color_8 | json }},
      collection_label_handle_9: {{ collection_handle_9 | json }},
      collection_label_9: {{ collection_label_9 | json }},
      collection_label_color_9: {{ collection_label_color_9 | json }},
      collection_label_handle_10: {{ collection_handle_10 | json }},
      collection_label_10: {{ collection_label_10 | json }},
      collection_label_color_10: {{ collection_label_color_10 | json }},
-%}
{% endcomment %}


{% schema %}
{
	"name": "Search pages",
	"settings": [
	]
}
{% endschema %}
