<article class="solutions">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.text }}</p>

  <div class="tabs">
    {% for block in section.blocks %}
      <div class="tab">
        <div>{{ block.settings.tab }}</div>
      </div>
    {% endfor %}
  </div>

  <p>{{ section.settings.text2 }}</p>

</article>

{% schema %}
  {
    "max_blocks": 6,
    "name": {
    "en": "Solutions",
    "nl": "Oplossingen"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
      "en": "Title",
      "nl": "Titel"
      }
    },
    {
      "type": "text",
      "id": "text",
      "label": {
      "en": "Text",
      "nl": "Tekst"
      }
    },
    {
      "type": "text",
      "id": "text2",
      "label": {
      "en": "Text",
      "nl": "Tekst"
      }
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Tab",
      "settings": [
          {
          "type": "text",
          "id": "tab",
          "label": {
          "en": "Tab",
          "nl": "Tab"
          }
        }
      ]
    }
  ],
    "presets": [
     {
      "category": {
        "en": "Collection",
        "nl": "Collectie"
      },
      "name": {
        "en": "Solutions",
        "nl": "Oplossingen"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
