<article>
  {% if template != 'page.faq' and template != 'page.about-us-and-stores' %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
  {% endif %}
  {% for block in section.blocks %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="module-aside box{% if thecycle == 'even' %} inv{% endif %}">
      {% if block.settings.store_image %}
        <figure>
          <img src="{{ 'pixel.png' | asset_url }}" data-src="{{ block.settings.store_image | img_url: '415x385', scale: 2 }}" alt="{{ block.settings.store_title }}" width="415" height="385">
        </figure>
      {% endif %}
      <header>
        {% if block.settings.store_titel != empty %}<h2>{{ block.settings.store_title }}</h2>{% endif %}
        {% if block.settings.store_address != empty %}<p>{{ block.settings.store_address }}</p>{% endif %}
      </header>
      <ul class="list-contact">
        {% if block.settings.store_email != empty %}<li>{% if block.settings.store_email_text != empty %}{{ block.settings.store_email_text }}{% endif %}<a href="mailto:{{ block.settings.store_email | replace: ' ', '' }}" class="email">{{ block.settings.store_email }}</a></li>{% endif %}
        {% if block.settings.store_phonenumber != empty %}<li>{% if block.settings.store_phone_text != empty %}{{ block.settings.store_phone_text }}{% endif %}<a href="tel:{{ block.settings.store_phonenumber }}">{{ block.settings.store_phonenumber }}</a></li>{% endif %}
        {% if block.settings.store_whatsappnumber != empty %}<li>{% if block.settings.store_whatsapp_text != empty %}{{ block.settings.store_whatsapp_text }}{% endif %}<a href="https://wa.me/{{block.settings.store_whatsappnumber | replace: ' ', '' | replace: '-', '' | replace: '+', '' }}"><i class="icon-whatsapp"></i> {{ block.settings.store_whatsappnumber }}</a></li>{% endif %}
      </ul>
      <p>{{ block.settings.store_text }}</p>
      <p class="link-btn">
        <a href="{{ block.settings.contact_url }}">{{ 'service.get_contact' | t }}</a>
        {% if block.settings.store_openinghours != empty %}<a class="c">{{ 'service.opening_hours' | t }}<span class="tooltip">{{ block.settings.store_openinghours }}</span></a>{% endif %}
      </p>
    </div>
  {% endfor %}
</article>

{% schema %}
  {
    "name": {
      "en": "Stores",
      "nl": "Winkels"
    },
    "settings": [
      {
        "type": "paragraph",
        "content": {
          "en": "Add store blocks by clicking 'Add store' below.",
          "nl": "Voeg winkelblokken toe door hieronder op 'winkel toevoegen' te klikken."
        }
      }
    ],
    "blocks": [
      {
        "type": "Store",
        "name": {
          "en": "Store",
          "nl": "Winkel"
        },
        "settings": [
          {
            "type": "image_picker",
            "id": "store_image",
            "label": {
              "en": "Image",
              "nl": "Afbeelding"
            }
          },
          {
            "type": "text",
            "id": "store_title",
            "label": {
              "en": "Title",
              "nl": "Title"
            },
            "default": "Onze winkel in ..."
          },
          {
            "type": "textarea",
            "id": "store_address",
            "label": {
              "en": "Address",
              "nl": "Adres"
            }
          },
          {
            "type": "text",
            "id": "store_email_text",
            "label": {
              "en": "Email text",
              "nl": "E-mail tekst"
            },
            "label": {
              "en": "Email text",
              "nl": "E-mail tekst"
            },
            "default": "Stuur ons een mail op"
          },
          {
            "type": "text",
            "id": "store_email",
            "label": {
              "en": "Email address",
              "nl": "E-mailadres"
            },
            "default": "info@vloerkledenwinkel.nl"
          },
          {
            "type": "text",
            "id": "store_phone_text",
            "label": {
              "en": "Phone text",
              "nl": "Telefoon tekst"
            },
            "default": "Bel ons op"
          },
          {
            "type": "text",
            "id": "store_phonenumber",
            "label": {
              "en": "Phonenumber",
              "nl": "Telefoonnummer"
            }
          },
          {
            "type": "text",
            "id": "store_whatsapp_text",
            "label": {
              "en": "Whatsapp text",
              "nl": "Whatsapp tekst"
            },
            "default": "Whatsapp ons naar"
          },
          {
            "type": "text",
            "id": "store_whatsappnumber",
            "label": {
              "en": "Whatsapp number",
              "nl": "Whatsapp nummer"
            }
          },
          {
            "type": "textarea",
            "id": "store_text",
            "label": {
              "en": "Text",
              "nl": "Tekst"
            },
            "default": "Telefonisch bereikbaar van maandag t/m zaterdag van 09.00 uur tot 18.00 uur. Op zondag is onze klantenservice voor u beschikbaar van 12.30 uur tot 21.00 uur."
          },
          {
            "type": "url",
            "id": "contact_url",
            "label": {
              "en": "Contact button url",
              "nl": "Contact knop link"
            }
          },
          {
            "type": "textarea",
            "id": "store_openinghours",
            "label": {
              "en": "Opening hours",
              "nl": "Openingstijden"
            },
            "default": "Maandag - vrijdag 09:00 tot 18:00 uur<br>Zaterdag 09.00 tot 17.00 uur<br>Zondag - gesloten"
          /*},
          {
            "type": "checkbox",
            "id": "store_show_chatbutton",
            "label": {
              "en": "Show chat button",
              "nl": "Toon chatknop"
            },
            "default": true
            */
          }
        ]
      }
    ]
  }
{% endschema %}
