<div class="text-blocks">
  {% if section.settings.title != '' %}<q class="text-center">{{ section.settings.title }}</q>{% endif %}
  <div class="content {% if section.settings.hide_banners == true %}w-100{% endif %}">
    {% if section.settings.content_title != empty %}<q>{{ section.settings.content_title }}</q>{% endif %}
    {% if section.settings.content_text != empty %}{{ section.settings.content_text }}{% endif %}
    {% if section.settings.link_text_1 != '' or section.settings.link_text_2 != '' or section.settings.link_text_3 != '' %}
    <div class="d-flex {% if section.settings.hide_banners == false %}j-between{% else %}default{% endif %}">
      {% if section.settings.link_text_1 != '' %}<div>{{ section.settings.link_text_1 }}</div>{% endif %}
      {% if section.settings.link_text_2 != '' %}<div>{{ section.settings.link_text_2 }}</div>{% endif %}
      {% if section.settings.link_text_3 != '' %}<div>{{ section.settings.link_text_3 }}</div>{% endif %}
    </div>
    {% endif %}
    {% if section.settings.linktext_1 != empty or section.settings.linktext_2 != empty %}
      <div class="d-flex btns">
        {% if section.settings.linktext_1 != empty %}<a href="{{ section.settings.link_1 }}"><button>{{ section.settings.linktext_1 }}</button></a>{% endif %}
        {% if section.settings.linktext_2 != empty %}<a href="{{ section.settings.link_2 }}"><button class="light">{{ section.settings.linktext_2 }}</button></a>{% endif %}
      </div>
    {% endif %}
  </div>
  {% if section.settings.hide_banners == false %}
    <ul class="list-featured owl-carousel">
      <li>
        <a href="{{ section.settings.banner1_link }}">
          <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner1_image | img_url: '350x250', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner1_title }}" width="450" height="370">
          <span>
          <span class="span-strong">{{ section.settings.banner1_title }}</span>
          <span class="link">{{ section.settings.banner1_linktext }}</span></span>
        </a>
      </li>
      <li>
        <a href="{{ section.settings.banner2_link }}">
          <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner2_image | img_url: '350x250', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner2_title }}" width="450" height="370">
          <span>
          <span class="span-strong">{{ section.settings.banner2_title }}</span>
          <span class="link">{{ section.settings.banner2_linktext }}</span></span>
        </a>
      </li>
      <li>
        <a href="{{ section.settings.banner3_link }}">
          <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner3_image | img_url: '350x250', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner3_title }}" width="450" height="370">
          <span>
          <span class="span-strong">{{ section.settings.banner3_title }}</span>
          <span class="link">{{ section.settings.banner3_linktext }}</span></span>
        </a>
      </li>
      <li>
        <a href="{{ section.settings.banner4_link }}">
          <img {% if section.settings.lazyload %}src="{{ 'pixel.png' | asset_url }}" data-{% endif %}src="{{ section.settings.banner4_image | img_url: '350x250', crop: 'center', scale: 2 }}" alt="{{ section.settings.banner4_title }}" width="450" height="370">
          <span>
          <span class="span-strong">{{ section.settings.banner4_title }}</span>
          <span class="link">{{ section.settings.banner4_linktext }}</span></span>
        </a>
      </li>
    </ul>
  {% endif %}
</div>

{% schema %}
  {
    "name": {
      "en": "Text with blocks",
      "nl": "Tekst met blokken"
    },
    "settings": [
    {
      "id": "lazyload",
      "type": "checkbox",
      "label": {
        "en": "Lazyload images",
        "nl": "Laad afbeeldingen later in"
      },
      "info": {
        "en": "You can disable this wehen you use this section at the very top of the page, to show your images immediately when loading the page. If not, keep this enabled to optimize page performance.",
        "nl": "Je kunt dit uitschakelen wanneer de sectie helemaal bovenaan de pagina wordt gebruikt, om de afbeeldingen direct te laten zien bij het laden van de pagina. Zo niet, laat dit ingeschakeld staan om de prestatie van de webpagina te optimaliseren."
      },
      "default": true
    },
	  {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        },
        "placeholder": {
          "en": "Title",
          "nl": "Titel"
        }
      },
	  {
        "type": "header",
        "content": "Content"
      },
	  {
        "type": "text",
        "id": "content_title",
        "label": {
          "en": "Title above text",
          "nl": "Titel boven tekst"
        },
        "placeholder": {
          "en": "Title above text",
          "nl": "Titel boven tekst"
        }
      },
      {
        "type": "richtext",
        "id": "content_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      },
	  {
        "type": "header",
        "content": "Links"
      },
	  {
        "type": "richtext",
        "id": "link_text_1",
        "label": {
          "en": "Link text 1",
          "nl": "Link tekst 1"
        }
      },
	  {
        "type": "richtext",
        "id": "link_text_2",
        "label": {
          "en": "Link text 2",
          "nl": "Link tekst 2"
        }
      },
	  {
        "type": "richtext",
        "id": "link_text_3",
        "label": {
          "en": "Link text 3",
          "nl": "Link tekst 3"
        }
      },
	  {
        "type": "header",
        "content": "Buttons"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": {
          "en": "Button 1 link",
          "nl": "Knop 1 link"
        }
      },
      {
        "type": "text",
        "id": "linktext_1",
        "label": {
          "en": "Button 1 link text",
          "nl": "Knop 1 linktekst"
        }
      },
	  {
        "type": "url",
        "id": "link_2",
        "label": {
          "en": "Button 2 link",
          "nl": "Knop 2 link"
        }
      },
      {
        "type": "text",
        "id": "linktext_2",
        "label": {
          "en": "Button 2 link text",
          "nl": "Knop 2 linktekst"
        }
      },
      {
        "type": "header",
        "content": "Banners"
      },
      {
        "type": "checkbox",
        "id": "hide_banners",
        "label": {
          "en": "Hide banners",
          "nl": "Banners verbergen"
        }
      },
      {
        "type": "header",
        "content": "Banner 1"
      },
      {
        "type": "image_picker",
        "id": "banner1_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner1_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "url",
        "id": "banner1_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner1_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      },
	  {
        "type": "header",
        "content": "Banner 2"
      },
      {
        "type": "image_picker",
        "id": "banner2_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner2_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "url",
        "id": "banner2_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner2_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      },
	  {
        "type": "header",
        "content": "Banner 3"
      },
      {
        "type": "image_picker",
        "id": "banner3_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner3_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "url",
        "id": "banner3_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner3_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      },
	  {
        "type": "header",
        "content": "Banner 4"
      },
      {
        "type": "image_picker",
        "id": "banner4_image",
        "label": {
          "en": "Image",
          "nl": "Afbeelding"
        }
      },
      {
        "type": "text",
        "id": "banner4_title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "url",
        "id": "banner4_link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "banner4_linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Text",
          "nl": "Tekst"
        },
        "name": {
          "en": "Text with blocks",
          "nl": "Tekst met blokken"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
