<div class="text-toggle">
  {% if section.settings.title != '' %}<q class="span-strong">{{ section.settings.title }}</q>{% endif %}
  {% if section.settings.text2 != '' %}<div>{{ section.settings.text2 }}</div>{% endif %}

	{% if section.settings.text_under2 != '' %}
      <div class="link-more">{{ section.settings.linktext }}</div>
      <div class="text" style="display: none;">{{ section.settings.text_under2 }}</div>
      <div class="link-more less hidden">{{ section.settings.linktext_less }}</div>
	{% endif %}
</div>

{% schema %}
  {
    "name": {
      "en": "Text block",
      "nl": "Tekstblok"
    },
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Title",
          "nl": "Titel"
        }
      },
 		{
        "type": "html",
        "id": "text2",
        "label": {
          "en": "Text above 'read more'",
          "nl": "Tekst boven 'lees meer'"
        }
      },
	  {
        "type": "html",
        "id": "text_under2",
        "label": {
          "en": "Text below 'read more'",
          "nl": "Tekst onder 'lees meer'"
        }
      },
      {
        "type": "text",
        "id": "linktext",
        "label": {
          "en": "Link text read more",
          "nl": "Linktekst lees meer"
        },
		  "default": "Lees meer"
      },
      {
        "type": "text",
        "id": "linktext_less",
        "label": {
          "en": "Link text read less",
          "nl": "Linktekst lees minder"
        },
      "default": "Lees minder"
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Text",
          "nl": "Tekst"
        },
        "name": {
          "en": "Text with toggle",
          "nl": "Tekstblok met toggle"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
