<p class="w1020 text-center">
  <q class="span-strong">{{ section.settings.title }}</q>
  {% if section.settings.linktext != empty %}<span class="link-more"><a href="{{ section.settings.link }}">{{ section.settings.linktext }}</a></span>{% endif %}
</p>

{% schema %}
  {
    "name": {
      "en": "Text block",
      "nl": "Tekstblok"
    },
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "url",
        "id": "link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "linktext",
        "label": {
          "en": "Link text",
          "nl": "Linktekst"
        }
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Text",
          "nl": "Tekst"
        },
        "name": {
          "en": "Text block",
          "nl": "Tekstblok"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
