<article class="uspblock">
  <h2 class="uspblock_title">{{ section.settings.title }}</h2>
  {% if section.settings.description != empty %}
    <p class="uspblock_description">{{ section.settings.description }}</p>
  {% endif %}
    <div class="uspblock_usps">
      {% if section.settings.link1 != blank %}
        <a class="usp_settings_link sixblock" href="{{ section.settings.link1 }}">
      {% endif %}
      <div class="usp usp-corrector">
        {% assign imgurl_first = section.settings.usp_image_first | img_url: '450x595', crop: 'center', scale: 2 %}
        <img class="sixblock-svg" src="{{ 'icons-oplossingen-b-2-b-webshop.svg' | asset_url }}" onload="SVGInject(this)"/>
        <div class="usp-text">
          <h3 class="usp_title">{{ section.settings.usp_title_first }}</h3>
          <p>{{ section.settings.usp_text_first }}</p>
        </div>
      </div>
      {% if section.settings.link1 != blank %}
        </a>
      {% endif %}
      {% if section.settings.link2 != blank %}
        <a class="usp_settings_link sixblock" href="{{ section.settings.link2 }}">
      {% endif %}
      <div class="usp usp-corrector">
        {% assign imgurl_second = section.settings.usp_image_second | img_url: '450x595', crop: 'center', scale: 2 %}
        <img class="sixblock-svg" src="{{ 'icons-oplossingen-stalen.svg' | asset_url }}" onload="SVGInject(this)"/>
        <div class="usp-text">
          <h3 class="usp_title">{{ section.settings.usp_title_second }}</h3>
          <p>{{ section.settings.usp_text_second }}</p>
        </div>
      </div>
      {% if section.settings.link2 != blank %}
        </a>
      {% endif %}
      {% if section.settings.link3 != blank %}
        <a class="usp_settings_link sixblock" href="{{ section.settings.link3 }}">
      {% endif %}
      <div class="usp usp-corrector">
        {% assign imgurl_third = section.settings.usp_image_third | img_url: '450x595', crop: 'center', scale: 2 %}
        <img class="sixblock-svg" src="{{ 'icons-oplossingen-producttraining.svg' | asset_url }}" onload="SVGInject(this)"/>
        <div class="usp-text">
          <h3 class="usp_title">{{ section.settings.usp_title_third }}</h3>
          <p>{{ section.settings.usp_text_third }}</p>
        </div>
      </div>
    </div>
    {% if section.settings.link3 != blank %}
      </a>
    {% endif %}
    <div class="uspblock_usps">
      {% if section.settings.link4 != blank %}
        <a class="usp_settings_link sixblock" href="{{ section.settings.link4 }}">
      {% endif %}
      <div class="usp usp-corrector">
        {% assign imgurl_fourth = section.settings.usp_image_fourth | img_url: '450x595', crop: 'center', scale: 2 %}
        <img class="sixblock-svg" src="{{ 'icons-oplossingen-projectondersteuning.svg' | asset_url }}" onload="SVGInject(this)"/>
        <div class="usp-text">
          <h3 class="usp_title">{{ section.settings.usp_title_fourth }}</h3>
          <p>{{ section.settings.usp_text_fourth }}</p>
        </div>
      </div>
      {% if section.settings.link4 != blank %}
        </a>
      {% endif %}
      {% if section.settings.link5 != blank %}
        <a class="usp_settings_link sixblock" href="{{ section.settings.link5 }}">
      {% endif %}
      <div class="usp usp-corrector">
        {% assign imgurl_fifth = section.settings.usp_image_fifth | img_url: '450x595', crop: 'center', scale: 2 %}
        <img class="sixblock-svg" src="{{ 'icons-oplossingen-maatwerk.svg' | asset_url }}" onload="SVGInject(this)"/>
        <div class="usp-text">
          <h3 class="usp_title">{{ section.settings.usp_title_fifth }}</h3>
          <p>{{ section.settings.usp_text_fifth }}</p>
        </div>
      </div>
      {% if section.settings.link5 != blank %}
        </a>
      {% endif %}
      {% if section.settings.link6 != blank %}
        <a class="usp_settings_link sixblock" href="{{ section.settings.link6 }}">
      {% endif %}
      <div class="usp usp-corrector">
        {% assign imgurl_sixth = section.settings.usp_image_sixth | img_url: '450x595', crop: 'center', scale: 2 %}
        <img class="sixblock-svg" src="{{ 'icons-oplossingen-b-2-b-showroom.svg' | asset_url }}" onload="SVGInject(this)"/>
        <div class="usp-text">
          <h3 class="usp_title">{{ section.settings.usp_title_sixth }}</h3>
          <p>{{ section.settings.usp_text_sixth }}</p>
        </div>
      </div>
      {% if section.settings.link6 != blank %}
        </a>
      {% endif %}
    </div>
  <p class="uspblock_text">{{ section.settings.usp_text }}</p>
</article>

{% schema %}
  {
    "name": {
      "en": "Usp block",
      "nl": "Uspblok"
    },
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        },
        "info": {
          "en": "Tip: Put text in a special tag to make it stand out! For example: <span>Bold</span>",
          "nl": "Tip: Plaats tekst in a speciale tag om het extra op te laten vallen! Bijvoorbeeld: <span>Dikgedrukt</span>"
        }
      },
      {
        "type": "textarea",
        "id": "description",
        "label": {
        "en": "Description",
        "nl": "Beschrijving"
        }
      },
      {
        "type": "url",
        "id": "link",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "usp_title_first",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text_first",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link1",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "usp_title_second",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text_second",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link2",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "usp_title_third",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text_third",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link3",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "usp_title_fourth",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text_fourth",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link4",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "usp_title_fifth",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text_fifth",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link5",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "text",
        "id": "usp_title_sixth",
        "label": {
        "en": "Title",
        "nl": "Titel"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text_sixth",
        "label": {
        "en": "Text",
        "nl": "Tekst"
        }
      },
      {
        "type": "url",
        "id": "link6",
        "label": {
          "en": "Link",
          "nl": "Link"
        }
      },
      {
        "type": "textarea",
        "id": "usp_text",
        "label": {
          "en": "Text",
          "nl": "Tekst"
        }
      }
    ],
    "presets": [
      {
        "category": {
          "en": "Text",
          "nl": "Tekst"
        },
        "name": {
          "en": "Text block",
          "nl": "Tekstblok"
        },
        "settings": {}
      }
    ]
  }
{% endschema %}
