/*! Headers --------- */
.header-a { margin: 48px 0 24px; padding-bottom: 12px; border: 0 solid var(--mercury); border-bottom-width: 1px; font-size: 26px; }
	.header-a + .link-btn { margin-bottom: 14px; }
		.header-a + .link-btn a { min-width: 210px; padding-left: 30px; padding-right: 30px; }
	.link-btn + .header-a { margin-top: 0; padding-top: 48px; border-top-width: 1px; }


/*! Content --------- */
sub, sup { position: relative; font-size: .5em; vertical-align: baseline; }
	sub { bottom: -.6em; }
	sup { top: -.6em; }

label a, #root .list-breadcrumbs .overlay-a, .form-product .select-like > span:first-child + span, .form-size p a { font-weight: 400; }
.strong, strong, b, #nav > ul > li > a span, #nav > ul > li.active > a, .list-usp span, #mobile ul li a span, span.required, .list-pagination li.active a, .list-nav li.active a, .list-contact a, .accordion-a .header.toggle, .tabs-a > nav ul li.active a, .tabs-b > nav ul li.active a, .span-strong span { font-weight: 800; }
.em { font-style: italic; }
q { quotes: none; display: block; margin: 0 0 31px; font-size: 38px; font-weight: 300; line-height: 1.3157894737; }

.form-login label { text-align: left; }
.text-center, #mobile > ul + ul > li > a i:after { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-uppercase { text-transform: uppercase; }

.s38 { font-size: 38px; }

.overlay-a, .span-overlay-a span, #nav > ul > li > a span, #nav > ul > li.active > a, [data-whatintent="mouse"] #nav > ul > li > a:hover, [data-whatintent="mouse"] #formSearch button:hover, #mobile ul li a span, span.required, .link-btn a.b i, #root .link-btn .overlay-a, [data-whatintent="mouse"] .list-nav a:hover, .list-nav li.active a, .accordion-a .header.toggle, #root .list-breadcrumbs .overlay-a, .tabs-a > nav ul li.active a, .link-more.box.overlay-a .tooltip:before, [data-whatintent="mouse"] .tabs-b > nav ul a:hover, .tabs-b > nav ul li.active a { color: var(--razz); }
.overlay-b, #nav > ul > li > a, #footer > nav ul li a, .list-pagination li.active a, .list-contact a, #root select.done { color: var(--coal); }
.overlay-c, .form-product .select-like > span:first-child + span, .list-info .icon-check-circle { color: var(--atlantis); }

.scheme-box { display: inline-block; position: relative; z-index: 2; padding: 0 10px; color: var(--white); font-size: 16px; font-weight: 800; line-height: 1.2; }
	.scheme-box:before { top: -6px; bottom: -6px; border-radius: 4px; background: var(--berry); }

.scheme-map { position: relative; z-index: 2; width: auto; margin: 56px 0; padding: 0 0 0 114px; color: var(--dusty); font-size: 15px; line-height: 1.7333333333; }
	.scheme-map:before { content: ""; display: block; position: absolute; left: 80px; top: 0; width: 23px; height: 23px; border-radius: 23px; border: 5px solid var(--azalea); background: var(--razz); }
	.scheme-map:after { content: ""; display: block; position: absolute; left: 0; top: -85px; z-index: -1; width: 191px; height: 232px;  background: url(//cdn.shopify.com/s/files/1/0278/1301/9785/t/4/assets/map-nl.png?7709) no-repeat; }
	#root .scheme-map { font-size: 15px; }


/*! Links --------- */
.link-btn { position: relative; z-index: 2; margin-right: -10px; margin-bottom: 20px; }
	.link-btn > span { display: block; margin: 0 10px 10px 0; }
	.link-btn a, button, input[type="button"], input[type="reset"], input[type="submit"], .form-product .submit .btn, .form-product .submit > a, .form-size .btn { display: block; overflow: visible; position: relative; float: left; margin: 0 10px 10px 0; padding: 19.5px 36px; border-radius: 4px; border: 0; background: var(--razz); color: var(--white); font-size: 16px; font-weight: 800; line-height: 1.1; text-align: center; }
		.link-btn a.a { background: var(--atlantis); }
		.link-btn a.b { overflow: visible; background: none; color: var(--coal); }
			.link-btn a.b:before { border-radius: 4px; border: 2px solid var(--ebb); }
		.link-btn a.c { overflow: visible; background: none; color: var(--razz); }
			.link-btn a.c:before { border-radius: 4px; border: 2px solid var(--ebb); }
		.link-btn i { display: inline-block; position: relative; top: .2em; margin-right: 2px; font-size: 1.125em; line-height: 1px; }
	.link-btn + .link-btn { padding-top: 60px; }
		.link-btn + .link-btn:before { right: 10px; border-top: 1px solid var(--mercury); }
.link-btn.long { }
	.link-btn.long a { min-width: 350px; }
.link-btn.text-center { }
	.link-btn.text-center > span { width: 100%; }
	.link-btn.text-center > span + a { min-width: 350px; margin-top: 19px; }
.link-btn.wide { display: block; margin-right: 0; }
	.link-btn.wide a { width: 100%; margin-right: 0; }

.link-more { color: var(--razz); font-weight: 300; text-align: left; }
	.link-more > span { display: block; position: relative; z-index: 2; margin: 0 0 8px; font-size: 21px; line-height: 1.3333333333; }
		.link-more > span .tooltip { top: .15em; }
	.link-more a { display: block; position: relative; z-index: 2; padding-right: 24px; }
		.link-more a:before { content: "\e95c"; left: auto; right: 0; font-size: 1.0625em; }
.link-more.box { position: relative; z-index: 2; min-height: 206px; padding: 15px 20px; border-radius: 6px; border: 2px solid var(--ebb); }
	.link-more.box img { display: block; position: absolute; right: 15px; bottom: 0; z-index: 1; border-radius: 0; }
.link-more.box.overlay-a { min-height: 0; border-color: var(--razz); background: var(--razz); color: var(--white); }
	.link-more.box.overlay-a a, .link-more.box.overlay-a .tooltip:after { color: var(--white); }
	.link-more.box.overlay-a img { bottom: -2px; }


/*! Media --------- */
img, iframe, object, embed { max-width: 100% !important; border-style: none; }
img { height: auto !important; image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; }
	img::selection { background: transparent; }
	img::-moz-selection { background: transparent; }
picture { width: 100%; }
figure { overflow: hidden; position: relative; }

.image-shadow { border-radius: 6px; }
	.image-shadow:before { top: auto; height: 82.0861678005%; }


/*! Tables --------- *
table { display: table; width: 100%; border-collapse: collapse; border-spacing: 0; }
	th, td { padding: 5px 10px; border: 1px solid var(--silver); font-weight: 400; text-align: left; }*/
