/*********************** Custom CSS for Boost Filter & Search  ************************/
$breakpointMobile: 767px;
$breakpointSearchMobile: 767px;
$searchBoxMobileHeight: 64px;

/**************************** Place your custom css below  ****************************/
$breakpointMobile: 767px;
$searchBoxMobileHeight: 50px;

/* SASS MIXINS */
@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
    -moz-#{$property}: $value;
  } @else if $prefix == ms {
    -ms-#{$property}: $value;
  } @else if $prefix == o {
    -o-#{$property}: $value;
  } @else if $prefix == spec {
    #{$property}: $value;
  } @else  {
  @warn "Unrecognized prefix: #{$prefix}";
  }
  }
}

/* Transform */
@mixin transform($transform) {@include prefixer(transform, $transform, ms webkit spec);}

/* Border Radius */
@mixin border-radius($radius) { @include prefixer(border-radius, $radius, moz webkit spec);}

/* box shadow */
@mixin box-shadow($box-shadow) { @include prefixer(box-shadow, $box-shadow, ms webkit spec);}

/* transition */
@mixin transition($transition){ @include prefixer(transition, $transition, moz ms o webkit spec);}

/* Opacity */
@mixin opacity($opacity) {
  opacity: $opacity;
// IE8 filter
$opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

/* VARIABLE SCSS */

/* BOX */
$item_box_gutter: 30px; // if value = 0px, please config below bc_layout_no_gutter;
$item_box_border: none; //1px solid #e7e7e7
$item_box_shadow: none; //0 0 10px 3px rgba(0,0,0,0.1)
$item_box_padding: 0 0px;
$item_box_text_align: left;

/* TITLE */
$item_title_font_size: 14px;
$item_title_text_transform: capitalize;
$item_title_font_weight: 600;
$item_title_color: #3D4246;

/* PRICE */
$item_price_font_size: 14px;
$item_price_font_weight: 400;
$item_price_color: #222222;
$item_price_sale_color: #FF3300;
$item_price_old_color: rgba(34, 34, 34, 0.6);

/* VENDOR */
$item_vendor_font_size: 12px;
$item_vendor_text_transform: uppercase;
$item_vendor_font_weight: 400;
$item_vendor_color: rgba(34, 34, 34, 0.6);

/* LABEL */
$item_label_border_radius: 50px;

/* LABEL SALE */
$item_label_sale_bg: #FF3300;;
$item_label_sale_color: #fff;
$item_label_sale_border: transparent;

/* LABEL SOLD OUT */
$item_label_soldout_bg: #fff;
$item_label_soldout_color: #d2d8db;
$item_label_soldout_border: #d2d8db;

/* LABEL TAG */
$item_label_tag_bg: #0e9268;
$item_label_tag_color: #fff;
$item_label_tag_border: transparent;

/* LAYOUT */
   {% assign bc_layout_no_gutter = false %} //true; false => For $item_box_gutter = 0px

/* Product Label */
   {% assign bc_label_position = "horizontal" %} //horizontal; vertical
   {% assign bc_label_style = "rectangle" %} //cirle; rectangle; triangle


/* Header Collection & Search Page */
.boost-pfs-filter-collection-header-wrapper {
  background: #F6F6F8;
  padding-bottom: 55px;
  padding-top: 55px;

  p {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .boost-pfs-filter-collection-description {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 20px;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 0;
  }
  .boost-pfs-search-container {
    margin-bottom: 0;
  }
  .boost-pfs-search-form {
    .boost-pfs-search-box {
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      box-sizing: border-box;
      @include border-radius(100px);
      padding-left: 24px;
    }
    .boost-pfs-search-btn {
      -webkit-border-top-right-radius: 100px;
      -webkit-border-bottom-right-radius: 100px;
      -moz-border-radius-topright: 100px;
      -moz-border-radius-bottomright: 100px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      background: #222222;
      min-width: 80px;
      right: 0;

      &:before {
        color: #fff;
      }
    }
  }
}

/* CUSTOMINZE FILTER */

.boost-pfs-filter-option {
  .boost-pfs-filter-option-content {
    ul li a {
      text-decoration: none;
      border: none;
      color: #333;
    }
  }
}
.boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-swatch.circle-grid li {
  margin-left: 1px;
  margin-right: 1px;
}

.boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-swatch li a {
  .boost-pfs-filter-option-swatch-image {
    position: relative;
    width: 34px;
    height: 34px;
    overflow: hidden;

    &:before {
      content:"";
      border: 2px solid transparent;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      z-index: 2;
    }
  }
  &:hover,
  &.selected {
    .boost-pfs-filter-option-swatch-image {
      &:before {
        border-color: #fff;
      }
    }
  }
}

.boost-pfs-filter-option .boost-pfs-filter-option-content .boost-pfs-filter-option-swatch {
   &.circle-grid,
   &.circle-list {
     li a {
      .boost-pfs-filter-option-swatch-image {
          &:before {
            border-radius: 50%;
          }
        }
      }
  }
}

// END CUSTOMINZE FILTER ****************************

// CUSTOMINZE PRODUCT  *****************************
// ELEMENT SCSS  ====================================

// LAYOUT

.boost-pfs-container-default {
  *zoom: 1;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.boost-pfs-filter-wrapper {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  *zoom: 1;
  *,* :before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

}


{% if bc_layout_no_gutter  %}
  .boost-pfs-filter-right-col {
    padding-left: 30px;
  }
  .boost-pfs-filter-product-item {
    margin-bottom: -1px !important;
  }
{% endif %}

.boost-pfs-filter-right .boost-pfs-filter-products + div {
  clear: both;
}

.boost-pfs-filter-left-col {
  width: 23%;
  float: left;
  @media (min-width: #{$breakpointMobile + 1}) and (max-width: 1199px){
    width: 25%;
  }
  @media (max-width: #{$breakpointMobile}){
    width: 100%;
    float: none;
  }
}
.boost-pfs-filter-right-col {
  width: 77%;
  float: right;
  padding-left: 30px;
  @media (min-width: #{$breakpointMobile + 1}) and (max-width: 1199px){
    width: 75%;
  }
  @media (max-width: #{$breakpointMobile}){
    width: auto;
    float: none;
    padding-left: 0px;
  }
}

.boost-pfs-filter-products {
  @media (max-width: #{$breakpointMobile}){
    width: calc(100% + 15px);
    float: none;
    padding-top: 0px;
    margin-left: -15px;
    .boost-pfs-filter-product-item {
      padding-left: 15px;

    }
  }
}


// GRID
.boost-pfs-filter-grid-width-2 {
  width: 50%;
}
.boost-pfs-filter-grid-width-3 {
  width: 33.33333333%;
}
.boost-pfs-filter-grid-width-4 {
  width: 25%;
}
.boost-pfs-filter-grid-width-5 {
  width: 20%;
}

// BOX
.boost-pfs-filter-product-item {
  display: inline;
  float: left;
  vertical-align: top;
  margin-bottom: 30px;
  position: relative;
  text-align: $item_box_text_align;
  padding-left: $item_box_gutter;

  .boost-pfs-filter-product-item-inner {
    position: relative;
    padding: $item_box_padding;
    border: $item_box_border;
    @include box-shadow($item_box_shadow);
    {% if bc_layout_no_gutter == true %}
      margin-right: -1px;
    {% endif %}
  }
  a:hover {
    text-decoration: none;
  }
  .spr-badge-starrating {
    margin-right: 5px;
  }
  .spr-badge-caption {
    font-size: 90%;
  }
  .spr-badge-starrating {
    .spr-icon {
      font-size: 14px;

      &:before {
        font-size: 14px;
      }
    }
  }
}

.rte .boost-pfs-filter-product-item a:not(.btn) {
  border-bottom: none;
}

// IMAGE
.boost-pfs-filter-product-item-image-link {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0px;
  overflow: hidden;


  img {
    max-width: 100%;
    width: auto;
    margin: auto;
    display: block !important;

    &.boost-pfs-filter-product-item-main-image {
      z-index: 1;
    }
    &.boost-pfs-filter-product-item-flip-image {
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

    }
    &.lazyloaded {
      width: 100%;

    }
    &.lazyload:not([src]) {
      visibility: hidden;
      width: 100%;
    }
  }
}
.boost-pfs-filter-product-item-image-link-liquid {
  &.lazyload {
    background: rgba(0, 0, 0, 0.07);
  }
  &.lazyloaded {
    background: none;
  }
}

.boost-pfs-filter-product-item-image {
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 15px;
}

.boost-pfs-filter-crop-image-position-top {
  .boost-pfs-filter-product-item-image-link {
    .boost-pfs-filter-product-item-flip-image {
      bottom: auto;
    }
  }
}
.boost-pfs-filter-crop-image-position-bottom {
  .boost-pfs-filter-product-item-image-link {
    .boost-pfs-filter-product-item-flip-image {
      top: auto;
    }
  }
}

// SWAP IMAGE
.has-bc-swap-image {
  .boost-pfs-filter-product-item-main-image {
    visibility: visible;
  }
  .boost-pfs-filter-product-item-flip-image {
    visibility: hidden;
  }
  .boost-pfs-filter-product-item-image {
    &:hover {
      .boost-pfs-filter-product-item-main-image {
        visibility: hidden;
      }
      .boost-pfs-filter-product-item-flip-image {
        visibility: visible;
      }
    }
  }
}

// SWAP COLOR

.boost-pfs-filter-product-item  {
  .boost-pfs-filter-item-swatch {
      list-style: none;
      padding: 0;
      margin: 0 -4px;
      letter-spacing: -.33em;
      line-height: 0;
      padding-bottom: 5px;

      li {
        display: inline-block;
        margin: 0 4px 0;
        letter-spacing: normal;
        text-align: center;
        vertical-align: middle;
        position: relative;

        label {
          display: block;
          width: 18px;
          height: 18px;
          -moz-border-radius: 15px;
          -webkit-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          border-radius: 15px;
          margin: 0;
          background-size: cover;
          cursor: pointer;
          background-position: center;
          background-repeat: no-repeat;
          border: 2px solid #fff;
          -webkit-box-shadow: 0 0 0 1px #e6e6e6;
          -moz-box-shadow: 0 0 0 1px #e6e6e6;
          box-shadow: 0 0 0 1px #e6e6e6;
       }
    }
  }
}

.boost-pfs-filter-item-swatch {
  li {
    .tooltip {
      text-align: center;
      background: #232323;
      color: #fff;
      bottom: 100%;
      padding: 4px 7px;
      display: block;
      position: absolute;
      z-index: 2;
      min-width: 44px;
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-bottom: 12px;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
      filter: alpha(opacity=0);
      visibility: hidden;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
      -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
      box-shadow: 2px 2px 6px rgba(0,0,0,0.28);
      font-size: 11px;
      font-weight: 500;
      letter-spacing: normal;
      pointer-events: none;
      line-height: 16px;
      white-space: nowrap;

      &:after {
        border-left: solid transparent 7px;
        border-right: solid transparent 7px;
        border-top: solid #232323 7px;
        bottom: -7px;
        content: " ";
        height: 0;
        left: 50%;
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        position: absolute;
        width: 0;
      }
    }
    &:hover {
      .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


// TITLE
.boost-pfs-filter-product-item-title {
  margin: 0px 0 4px;
  font-size: $item_title_font_size;
  font-weight: $item_title_font_weight;
  color: $item_title_color;
  text-transform: $item_title_text_transform;
  border-bottom: none;
  display: inline-block;
  line-height: 1.42;

  &:hover {
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;

  }

}

// PRICE
.boost-pfs-filter-product-item-price {
  font-size: $item_price_font_size;
  font-weight: $item_price_font_weight;
  color: $item_price_color;
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-top: 0;
  s {
    color: $item_price_old_color;
    margin-left: 5px;
  }
  .boost-pfs-filter-product-item-sale-price {
    color: $item_price_sale_color;
  }
  .boost-pfs-filter-product-item-price-from-text {
    display: none;
  }
}

.spr-badge {
  padding-bottom: 10px;
}

// VENDOR
.boost-pfs-filter-product-item-vendor {
  font-size: $item_vendor_font_size;
  color: $item_vendor_color;
  text-transform: $item_vendor_text_transform;
  font-weight: $item_vendor_font_weight;
  margin-bottom: 8px;
  margin-top: 0;
  line-height: 1.5;
}

// LABEL ===================================

.boost-pfs-filter-product-item-label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 10px;
  margin: 0px;
  letter-spacing: 0;
  .boost-pfs-label,
  .boost-pfs-filter-label {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 10px 1px;
    background: #fff;
    left: auto;
    border: 1px solid transparent;
    vertical-align: top;
    @include border-radius($item_label_border_radius);

    &:first-child {
      margin-left: 0;
    }
  }
  .sale {
    background: $item_label_sale_bg;
    color: $item_label_sale_color;
    border-color: $item_label_sale_border;
  }
  .tag {
    background: $item_label_tag_bg;
    color: $item_label_tag_color;
    border-color: $item_label_tag_border;
  }
  .soldout {
    background: $item_label_soldout_bg;
    color: $item_label_soldout_color;
    border-color: $item_label_soldout_border;
  }
}

// LABEL POSITION
{% case bc_label_position %}
  {% when 'horizontal' %}
    .boost-pfs-filter-product-item-label .boost-pfs-filter-label {
      display: inline-block;
      margin-left: 5px;
    }
  {% else %}
    .boost-pfs-filter-product-item-label .boost-pfs-filter-label {
      display: block;
      margin-bottom: 5px;
      text-align: center;
    }
{% endcase %}

// LABEL STYLE
{% case bc_label_style %}
  {% when 'rectangle' %}
    .boost-pfs-filter-product-item-label .boost-pfs-filter-label {
      line-height: 16px;
    }
  {% when 'triangle' %}
    .boost-pfs-filter-product-item-label  {
      right: -10px;
      top: 0px;
      width: 100%;
      height: 100px;
      overflow: hidden;

      .boost-pfs-filter-label {
        position: absolute;
        top: -9px;
        right: -33px;
        width: 100px;
        -ms-transform: rotate(45deg) translateZ(0);
        -webkit-transform: rotate(45deg) translateZ(0);
        transform: rotate(45deg) translateZ(0);
        padding: 25px 4px 5px;
      }
      .sale + .tag,
      .tag + .tag {
        top: -10px;
        right:auto;
        left: -37px;
        width: 100px;
        -ms-transform: rotate(315deg) translateZ(0);
        -webkit-transform: rotate(315deg) translateZ(0);
        transform: rotate(315deg) translateZ(0);
        padding: 25px 4px 5px;
      }
    }
  {% else %}
    .boost-pfs-filter-product-item-label .boost-pfs-filter-label {
      line-height: 40px;
      width: 40px;
      height: 40px;
      padding: 0;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      text-align: center;
    }
{% endcase %}

// END PRODUCT LABEL

@media screen and (max-width: 1199px) {
  .boost-pfs-filter-product-item {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 1200px) {
  .boost-pfs-filter-grid-width-2:nth-child(2n+1),
  .boost-pfs-filter-grid-width-3:nth-child(3n+1),
  .boost-pfs-filter-grid-width-4:nth-child(4n+1) {
    clear: both;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .boost-pfs-filter-grid-width-2:nth-child(2n+1),
  .boost-pfs-filter-grid-width-3:nth-child(3n+1),
  .boost-pfs-filter-grid-width-4:nth-child(3n+1) {
    clear: both;
  }
}

@media (max-width: #{$breakpointMobile}){
  .boost-pfs-filter-product-item {
    &.boost-pfs-filter-grid-width-mb-1 {
      width: 100%;
    }
    &.boost-pfs-filter-grid-width-mb-2 {
      width: 50%;
    }
    &.boost-pfs-filter-grid-width-mb-3 {
      width: 33.33333333%;
    }
  }
  .boost-pfs-filter-grid-width-mb-2:nth-child(2n+1),
  .boost-pfs-filter-grid-width-mb-3:nth-child(3n+1),
  .boost-pfs-filter-grid-width-mb-4:nth-child(4n+1) {
    clear: both
  }
}

// END CUSTOMINZE PRODUCT GRID  ***********************************

// CUSTOMINZE PRODUCT LIST VIEW  *****************************

.boost-pfs-filter-product-item-list {
  border-top: 1px solid #e8e9eb;
  padding-top: 30px;
  margin-top: 30px;
  padding-left: 0;
  float: none;
  width: 100% !important;
  clear:both;
  overflow: hidden;
  display: block;
  @media screen and (min-width: 768px) {
    width: calc(100% - 30px) !important;
    margin-left: 30px;
  }
  &:first-child {
    border-top: none;
    margin-top: 0px;
    padding-top: 0;
  }

  .boost-pfs-filter-product-item-image {
    height: auto !important;
    margin-bottom: 0px;
  }

  .spr-badge {
    padding-bottom: 21px;
  }
  .boost-pfs-action-list-wrapper {
    display: none !important;
  }
  .boost-pfs-filter-product-item-label {
    padding-right: 0;
    margin-right: 0;
    left: 6px;
    top: 6px;
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
    .boost-pfs-filter-label {
      margin-left: 0;
      margin-right: 5px;
    }
  }
  .boost-pfs-filter-product-item-price {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .boost-pfs-filter-des {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .boost-pfs-filter-product-item-list-col-1 {
    position: relative;
  }

  @media (min-width: #{$breakpointMobile + 1}){
    .boost-pfs-filter-product-item-list-col-1 {
      width: 30%;
      padding-right: 30px;
      float: left;
    }
    .boost-pfs-filter-product-bottom {
      text-align: left;
      width: 70%;
      float: left;
    }
    .boost-pfs-filter-product-item-title {
      margin-top: 0;
    }
    .boost-pfs-filter-product-item-image-link {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    .boost-pfs-filter-product-item-list-col-1 {
      width: 25%;
    }
    .boost-pfs-filter-product-bottom {
      width: 75%;
    }
    .boost-pfs-filter-product-item-list-col-2 {
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      width: 100%;
    }
    .boost-pfs-filter-product-item-list-col-3 {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 100%;
      padding-left: 0;
    }
  }
  @media screen and (max-width: 1199px) {
    .boost-pfs-filter-product-item-list-col-3 {
      margin-top: 10px;
    }
  }
  &.boost-pfs-action-list-enabled  {
    @media screen and (max-width: 1199px) {
      padding-bottom: 0;
    }
    @media (max-width: #{$breakpointMobile}){
      padding-bottom: 24px;
    }
    .boost-pfs-action-list-wrapper {
      position: static;
      width: auto !important;
      opacity: 1;
      -webkit-transform: none;
      transform: none;

      @media screen and (min-width: 768px) {
        padding-left: 40px;
        display: table-cell;
        vertical-align: middle;
      }
      @media (max-width: #{$breakpointMobile}){
        padding-top: 30px;
      }

      .boost-pfs-addtocart-btn {
        padding-right: 10px;
        padding-left: 10px;
      }

      .boost-pfs-addtocart-product-form {
        margin-left: 0px;
        display: block;
        width: 100%;
      }

      .boost-pfs-quickview-btn {
        display: none;
      }
    }
  }
  /* Mobile */
  @media (max-width: #{$breakpointMobile}){
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 0;

    &.boost-pfs-filter-product-item {
      padding-left: 0;
      margin-left: 15px;
      width: calc(100% - 15px) !important;
    }

    .boost-pfs-filter-product-item-list-col-1 {
      float: left;
      width: 124px;
      padding-right: 12px;

      .boost-pfs-filter-product-item-image-link {
        margin-bottom: 0;
      }
    }
    .boost-pfs-filter-product-bottom {
      float: left;
      width: calc(100% - 124px);
    }
  }
}

/* Load More */
.boost-pfs-filter-load-more {
    .boost-pfs-filter-load-more-button {
        display: inline-block;
    }
}

/* TOOLBAR */

.boost-pfs-filter-default-toolbar {
  border-bottom: 1px solid #e8e9eb;
  margin-bottom: 22px;

  @media (min-width: #{$breakpointMobile + 1}){
    margin-bottom: 55px;
    + .boost-pfs-filter-wrapper {
      .boost-pfs-filter-tree-h {
        margin-top: -15px;
      }
    }
  }
}

.boost-pfs-filter-top-display-type {
    text-align: left;

    @media (max-width: #{$breakpointMobile}){
        text-align: right;
    }

    .boost-pfs-filter-display-item {
         border-bottom: none;
    }
}
.boost-pfs-filter-default-toolbar-inner {
    @media (min-width: #{$breakpointMobile + 1}){
        display: table;
        width: 100%;
    }
}

.boost-pfs-filter-default-toolbar {
  display: block;
  text-align: right;
  vertical-align: middle;
  width: 100%;

  .boost-pfs-filter-toolbar-item {
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    label {
      font-size: 14px;
    }

    select {
      display: inline-block;
      font-size: 14px;
      border: none;
      color: #69727b;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .boost-pfs-filter-top-sorting {
    button {
      display: none;
    }
  }
}

.boost-pfs-filter-total-product {
  line-height: 55px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;

@media (max-width: #{$breakpointMobile}){
    line-height: 30px;
  }
  span {
    margin-left: 5px;
  }
}
.boost-pfs-filter-toolbar-count {
  text-align: center;
}

@media (max-width: #{$breakpointMobile}){
  .boost-pfs-filter-top-display-type {
      > span {
          display: none;
      }
  }
  .boost-pfs-filter-toolbar-count {
    text-align: right;
  }
  .boost-pfs-filter-default-toolbar {
      margin-bottom: 0;
      border-bottom: none;

      .boost-pfs-filter-toolbar-item{
          width: 50%;
          padding-top: 15px;
          padding-bottom: 15px;
          display: block;

          &.boost-pfs-filter-toolbar-type {
              float: right;
              padding-left: 15px;
              text-align: right;
          }
          &.boost-pfs-filter-toolbar-count {
              float: left;
              padding-right: 15px;
              text-align: left;
          }
      }
  }
}

/* SORT BY CUSTOM UL LI */
.boost-pfs-filter-default-toolbar {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

    .boost-pfs-filter-top-sorting {
        button {
            display: inline-block;
        }
    }
}

.boost-pfs-filter-top-sorting button {
  margin-right: 0;
}

.boost-pfs-filter-custom-sorting {

  button {
    display: block;
    cursor: pointer;
    text-transform: capitalize;
    padding-left: 5px;
    padding-right: 20px;
    margin-bottom: 0;
    background: none;
    border: none;
    color: inherit;
    outline: none;

    > span {
      position: relative;
      line-height: 55px;

      &:after {
        top: 50%;
        right: 0;
        left: auto;
        right: -20px;
        position: absolute;
        margin-top: -2px;
        content: "";
        border-right: 1px solid #222;
        border-bottom: 1px solid #222;
        display: inline-block;
        @include transition(all 100ms ease-in-out);
        @include transform(rotate(45deg));
        width: 7px;
        height: 7px;
        display: inline-block;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 11px;
        margin-left: 10px;
        vertical-align: top;
        margin-top: -5px;
        white-space: nowrap;
        overflow: hidden;
        line-height: inherit;
      }
      >span {
        overflow: hidden;
        white-space: nowrap;
        line-height: normal;
      }
    }
  }
  &.boost-pfs-filter-sort-active {
    button>span:after {
      @include transform(rotate(-135deg));
      margin-top: -2px;
    }
  }
}

.boost-pfs-filter-custom-sorting {
  position: relative;

  .boost-pfs-filter-filter-dropdown {
    list-style: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    padding: 0px;
    z-index: 999;
    text-align: left;
    width: 250px;
    right: 0;
    top: 100%;
    margin: 0;
    display: none;

    li {
      padding: 10px 20px;
      list-style: none;

      &:first-child {
        padding-top: 20px;
      }
      &:last-child {
        padding-bottom: 20px;
      }

      a {
        border-bottom: 1px solid transparent;
        display: inline-block;
        line-height: 1.2;

        @media screen and (min-width: 1200px) {
          &:hover,
          &.boost-pfs-filter-sort-item-active {
            font-weight: 400;
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
    }
  }
}


/* For mobile */
@media (max-width: #{$breakpointMobile}){
    .boost-pfs-filter-toolbar-top-mobile {
        border-bottom: 1px solid #E8E9EB;
        position: relative;

        * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .boost-pfs-filter-tree-mobile-button,
    .boost-pfs-filter-top-sorting-mobile {
      padding-left: 0px;
      padding-right: 0px;

      button {
            text-align: left;
            color: #222;
            border: none;
            text-transform: capitalize;
            color: #222;
            line-height: inherit;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            background: none;
            color: inherit;
            margin: 0;
            width: 100%;
            padding: 12px 15px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
      }
    }

    /* Button Filter */
  .boost-pfs-filter-tree-mobile-button {
    width: 50%;
    float: left;
    margin: 0;
    display: block;
      button{
        &:before {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='%23222222'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.8 3.2H3.348C3.6792 4.1288 4.5584 4.8 5.6 4.8C6.6416 4.8 7.5208 4.1288 7.852 3.2H15.2C15.6424 3.2 16 2.8424 16 2.4C16 1.9576 15.6424 1.6 15.2 1.6H7.852C7.5208 0.6712 6.6416 0 5.6 0C4.5584 0 3.6792 0.6712 3.348 1.6H0.8C0.3576 1.6 0 1.9576 0 2.4C0 2.8424 0.3576 3.2 0.8 3.2ZM15.2 12.8H7.852C7.5208 11.8712 6.6416 11.2 5.6 11.2C4.5584 11.2 3.6792 11.8712 3.348 12.8H0.8C0.3576 12.8 0 13.1576 0 13.6C0 14.0424 0.3576 14.4 0.8 14.4H3.348C3.6792 15.3288 4.5584 16 5.6 16C6.6416 16 7.5208 15.3288 7.852 14.4H15.2C15.6424 14.4 16 14.0424 16 13.6C16 13.1576 15.6424 12.8 15.2 12.8ZM15.2 7.2H12.652C12.3208 6.2712 11.4416 5.6 10.4 5.6C9.3584 5.6 8.4792 6.2712 8.148 7.2H0.8C0.3576 7.2 0 7.5576 0 8C0 8.4424 0.3576 8.8 0.8 8.8H8.148C8.4792 9.7288 9.3584 10.4 10.4 10.4C11.4416 10.4 12.3208 9.7288 12.652 8.8H15.2C15.6424 8.8 16 8.4424 16 8C16 7.5576 15.6424 7.2 15.2 7.2ZM5.6 1.6C6.0416 1.6 6.4 1.9584 6.4 2.4C6.4 2.8416 6.0416 3.2 5.6 3.2C5.1584 3.2 4.8 2.8416 4.8 2.4C4.8 1.9584 5.1584 1.6 5.6 1.6ZM5.6 14.4C5.1584 14.4 4.8 14.0416 4.8 13.6C4.8 13.1584 5.1584 12.8 5.6 12.8C6.0416 12.8 6.4 13.1584 6.4 13.6C6.4 14.0416 6.0416 14.4 5.6 14.4ZM10.4 8.8C9.9584 8.8 9.6 8.4416 9.6 8C9.6 7.5584 9.9584 7.2 10.4 7.2C10.8416 7.2 11.2 7.5584 11.2 8C11.2 8.4416 10.8416 8.8 10.4 8.8Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3C/g%3E%3C/svg%3E%0A");
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -8px;
        }
      }
  }
    /* Button Sort */
  .boost-pfs-filter-top-sorting-mobile {
    width: 50%;
    display: block;
    margin-top: 0px;
    float: left;

    .boost-pfs-filter-top-sorting-wrapper {
      padding-right: 20px;

      > span {
        line-height: inherit;
        padding-bottom: 0px;
        padding-top: 0px;
        display: inline-block;
        width: 100%;

        &:after {
            margin-top: -6px;
            right: -7px;
        }
      }

    }

    .boost-pfs-filter-filter-dropdown {
        top: 100%;
        margin-top: 10px;
        left: 15px;
        right: auto;
        width: calc(200% - 30px);

    }
  }

    .boost-pfs-filter-top-sorting-mobile {
        + .boost-pfs-filter-tree-mobile-button {
            border-left: 1px solid #eee;
        }
    }
}

@media screen and (min-width: 768px) {
  .boost-pfs-filter-top-sorting-mobile {
    display: none;
  }
}

@media (max-width: #{$breakpointMobile}){
  .boost-pfs-filter-default-toolbar{
    .boost-pfs-filter-top-sorting {
      display: none;
    }
  }
}
// END TOOLBAR ===========================================


// PAGINATION
.boost-pfs-filter-bottom-pagination-default {
  text-align: right;
  padding-top: 25px;
  padding-bottom: 25px;

  > ul {
    margin: 0;
    text-align: center;
    padding-left: 0;

    > li {
      display: inline-block;
      list-style: none;
      width: 40px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;

      @include border-radius(100%);

      @media (max-width: #{$breakpointMobile}){
        width: 32px;
        height: 32px;
        line-height: 32px;
      }

      &:first-child,
      &:last-child {
        border: 1px solid #3D4246;
        font-size: 20px;

        &.boost-pfs-filter-pagination-disabled {
          @include opacity(0.5);
        }
        &:not(.boost-pfs-filter-pagination-disabled){
          &:hover {
            background: #3D4246;
            a {
              color: #fff;
            }
          }
        }
      }
      &:first-child {
        margin-right: 5px;
      }
      &:last-child {
        margin-left: 5px;
      }

      a,
      span {
        color: #000;
        padding: 0;
        margin: 0 6px;
        font-weight: 400;
        text-decoration: none;
      }
      span.boost-pfs-filter-pagination-active {
        text-shadow: 0 0 1px #000;
      }
      a:hover {
        text-shadow: 0 0 1px #000;
      }
    }
  }
}
// END PRODUCT ============================================
/* Fix Footer */
#shopify-section-footer {
  clear: both;
}
/* End Fix Footer */


.boost-pfs-filter-products {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  @media(min-width: 768px){
    margin-left: -30px;
  }
}

.boost-pfs-filter-tree-h-wrapper {
  @media(min-width: 768px){
    margin-top: -55px;
    margin-bottom: 48px;
    border-bottom: 1px solid #e8e9eb;
    padding-top: 20px;

    .boost-pfs-filter-options-wrapper {
      position: relative;
    }
  }
  .boost-pfs-filter-tree-h {
    margin-bottom: 10px;
  }
}

.boost-pfs-filter-refine-by-wrapper-h {
  .boost-pfs-filter-pc {
    margin-top: -50px;
    padding-top: 25px;
    margin-bottom: 17px;
  }

}

/* Fix Mobile */
@media (max-width: #{$breakpointMobile}){
  .boost-pfs-filter-refine-by-wrapper-h,
  .boost-pfs-filter-refine-by-wrapper-v{
    display: none;
  }
}

/* Update specific class to remove suggestion results in some premium themes */
.search-bar__results, .search-flydown, .quickSearchResultsWrap, .search__results, .search__lightbox .predictive-results, .Search__Results {display: none !important;}
.js .PageTransition {position: initial;}
.boost-pfs-filter-tree-open-body .site-header {z-index: 1}

/* Equal Height Feature */
@media (min-width: 1200px){

    .bc-al-style1 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
      top: auto !important;
      bottom: 10px !important;
    }
    .bc-al-style2 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
      top: auto !important;
      bottom: 0px !important;
    }
    .bc-al-style3 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
      top: auto !important;
      bottom: 0px !important;
    }
    .bc-al-style4 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
      top: auto !important;
      bottom: 0 !important;
    }
    .bc-al-style5 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
      top: 50% !important;
      margin-top: -17px !important;
    }
    .bc-al-style6 .boost-pfs-action-list-enabled .boost-pfs-action-list-wrapper {
      top: 50% !important;
      margin-top: -38px !important;
    }

}