/*global jQuery, enquire, document, window, ariaRemove, ariaAdd, history */
jQuery(function() {
  "use strict";
  var
    $ = jQuery.noConflict(),
    html_tag = $(document.documentElement),
    a_tag = $(document.querySelectorAll('a')),
    select_tag = $(document.getElementsByTagName('select')),
    body_tag = $(document.getElementsByTagName('body')),

    cart_id = $(document.getElementById('cart')),
    zichtservice_id = $(document.getElementById('zichtservice-cart')),
    nav_id = $(document.getElementById('nav')),
    root_id = $(document.getElementById('root')),
    skip_id = document.getElementById('skip'),
    top_id = $(document.getElementById('top')),

    a_tag_external = document.querySelectorAll('a[rel*="external"]'),
    form_children = document.querySelectorAll('form > *'),
    form_product = $(document.getElementsByClassName('form-product')),
    form_filter = $(document.getElementsByClassName('form-filter')),
    list_reviews = $(document.getElementsByClassName('list-reviews')),
    tooltip_class = $(document.getElementsByClassName('tooltip')),
    form_product = $(document.getElementsByClassName('form-product')),
    module_product = $(document.getElementsByClassName('module-product')),

    loadRes = function(u, c, i) {
      if (html_tag.is('.' + i)) {
        c();
        return true;
      }
      var s = document.createElement('script');
      s.src = u;
      s.async = true;
      s.onload = c;
      document.body.appendChild(s);
      html_tag.not('.' + i).addClass(i);
      return true;
    },
    Default = {
      async: {
        links: function() {
          if (a_tag_external.length) {
            Array.from(a_tag_external).forEach(function(el) {
              el.setAttribute('rel', 'external noopener');
              el.addEventListener('click', function(e) {
                e.preventDefault();
                window.open(this.attributes.href.value);
              });
            });
          }
          if (skip_id) {
            Array.from(skip_id.querySelectorAll('a')).forEach(function(el) {
              el.setAttribute('aria-hidden', true);
              el.addEventListener('focus', function() {
                this.setAttribute('aria-hidden', false);
              });
              el.addEventListener('blur', function() {
                this.setAttribute('aria-hidden', true);
              });
            });
          }
          html_tag.on('click', function() {
            tooltip_class.removeClass('toggle').closest('li, p').add(tooltip_class.closest('.cont')).removeClass('tooltip-active');
          });
        },
        forms: function() {
          if (form_children.length) {
            Array.from(form_children).forEach(function(el, i) {
              el.style.zIndex = (form_children.length - i);
            });
          }
          body_tag.on('form-product-prefix', function(event) {
            var form_product = $(document.getElementsByClassName('form-product'));
            if (form_product.length) {
              form_product.find('select').after('<span class="select-like"></span>').on('change', function() {
                if ($(this).find('option:selected:not(:disabled)').length) {
                  if ($(this).find('option:selected').attr('data-prefix') != undefined ) {
                    var selected_levertijd = $(this).find('option:selected').attr('data-prefix');
                    if (selected_levertijd.indexOf("voorraad") >= 0) {
                    	var prefix = "<span class='prefix levertijd overlay-c'>" +$(this).find('option:selected').attr('data-prefix'); +"</span>";
                    }
                    else {
                    	var prefix = "<span class='prefix levertijd'>" +$(this).find('option:selected').attr('data-prefix'); +"</span>";
                    }
                  } else { var prefix = ''; }
                  $(this).addClass('done').siblings('.select-like').html('<span>' + $(this).find('option:selected').html().split(',', 1) + '</span>').append(prefix).append('<span>' + $(this).find('option:selected').attr('data-suffix').replace('.00', '<sup>.00</sup>').replace(',00', '<sup>,00</sup>') + '</span>');
                  $(this).closest('div').addClass('select-chosen');
                }
              });
            }
          })
          body_tag.trigger('form-product-prefix');
          if (select_tag.length) {
            select_tag.on('change', function() {
              $(this).addClass('done');
            });
            select_tag.filter(':has[selected]:not([disabled])').addClass('done');
          }
        },
        cart: function() {
          if (cart_id.length) {
            cart_id.each(function() {
              $(this).append('<a class="close" href="./"></a>').children('a.close').add('a[href="#cart"]').on('click', function() {
                html_tag.removeClass('menu-active').toggleClass('cart-active-cart');
                html_tag.removeClass('cart-active-zichtservice');
                history.replaceState(null, null, ' ');
                return false;
              });
            });
          }
        },
        zichtservice: function() {
          if (zichtservice_id.length) {
            zichtservice_id.each(function() {
              $(this).append('<a class="close" href="./"></a>').children('a.close').add('a[href="#zichtservice-cart"]').on('click', function() {
                html_tag.removeClass('menu-active').toggleClass('cart-active-zichtservice');
                html_tag.removeClass('cart-active-cart');
                history.replaceState(null, null, ' ');
                return false;
              });
            });
          }
        },
        top: function() {
          nav_id.scrollToFixed().each(function() {
            $(this).find('li > ul').parent().addClass('sub');
            $(this).children('ul').each(function() {
              if ($(this).children('li.sub').length) {
                $(this).append('<div class="shadow"></div>');
              }
            });
            $(this).find('li > ul').parent().addClass('sub').each(function() {
              $(this).children('a:first').after('<a class="toggle" href="' + $(this).children('a:first').attr('href') + '">Toggle ' + $(this).children('a:first').text() + '</a>');
            }).children('a.toggle').on('click', function() {
              if ($(this).parent().is('.toggle')) {
                $(this).attr('aria-expanded', false).parent().removeClass('toggle').children('ul').attr({
                  'aria-hidden': true,
                  'focusable': false
                });
              } else {
                $(this).attr('aria-expanded', false).parents('ul:first').children('li.toggle').removeClass('toggle').children('ul').attr({
                  'aria-hidden': true,
                  'focusable': false
                });
                $(this).attr('aria-expanded', true).parent().addClass('toggle').children('ul').attr({
                  'aria-hidden': false,
                  'focusable': true
                });
              }
              return false;
            });
          });
          top_id.find('.container').append('<a href="#mobile" class="menu" role="button" aria-controls="mobile" aria-expanded="false" data-target="#mobile">menu</a>').after('<nav id="mobile" aria-expanded="false" focusable="false" aria-hidden="true"></nav><a id="shadow" href="./"></a>');
          
          enquire.register('screen and (max-width: 760px)', function() {
            top_id.find('.container').trigger('detach.ScrollToFixed').scrollToFixed();
          });

          var mobile_id = $(document.getElementById('mobile')),
            shadow_id = $(document.getElementById('shadow'));
          nav_id.children('ul').clone().appendTo(mobile_id);

          mobile_id.each(function() {
            $(this).find('a').attr('tabindex', -1).removeAttr('accesskey');
            $(this).prepend('<span class="title">' + nav_id.attr('aria-label') + ' <a href="#mobile" class="close"></a></span>');
            $(this).find('a.toggle').on('click', function() {
              if ($(this).parent().is('.toggle')) {
                mobile_id.removeClass('ul-toggled');
                $(this).parent().removeClass('toggle').parents('ul:first').removeClass('ul-toggle');
                $(this).attr('aria-expanded', false).parent().removeClass('toggle').children('ul').attr({
                  'aria-hidden': true,
                  'focusable': false
                });
              } else {
                mobile_id.addClass('ul-toggled');
                $(this).parents('ul:first').children('li.toggle').removeClass('toggle').parents('ul:first').removeClass('ul-toggle');
                $(this).parent().addClass('toggle').parents('ul:first').addClass('ul-toggle');
                $(this).attr('aria-expanded', true).parent().addClass('toggle').children('ul').attr({
                  'aria-hidden': false,
                  'focusable': true
                });
                $(this).parents('#mobile').addClass('active');
                $('#top').addClass('activate-header');
                if ($(this).hasClass('subsub-toggle')) {
                  $(this).parents('div:first').addClass('current-active');
                  $(this).parent().children().removeClass('ul-toggle');
                  $(this).parents('ul:first').removeClass('ul-toggle');
                  $(this).parents('li:first').children('div:not(.current-active)').addClass('hidden');
                  $(this).addClass('desktop-only');
                }
              }
              return false;
            });
            $('#top > .container').prepend('<div class="mobile-back">' + $(this).parent().find('li[data-mobile-text]').data('mobile-text') + '</div>');
            $(this).find('.sub > a:not(.toggle)').each(function() {
              $(this).parent().children('ul').prepend('<li class="header"><span>' + $(this).parent().find('li[data-mobile-text]').data('mobile-text') + '</span> <a href="#mobile" class="close"></a> <a href="./" class="back"></a></li>');
            });
            $(this).find('.header').children('a.back').on('click', function() {
              mobile_id.removeClass('ul-toggled');
              $(this).parents('li.toggle:first').removeClass('toggle').parents('ul:first').removeClass('ul-toggle');
              $(this).parents('#mobile').each(function() {
                if ($(this).find('li.toggle').length < 1) {
                  $(this).removeClass('active');
                  $('#top').removeClass('activate-header');
                }
              });
              let currentActive = $(this).parents('#mobile').find('.current-active');
              let currentActiveToggle = currentActive.find('.subsub-toggle');
              currentActiveToggle.parents('ul:first').removeClass('ul-toggle');
              currentActiveToggle.parent().children().find('ul').each(function() {$(this).addClass('ul-toggle')});
              currentActiveToggle.parents('li:first').find('div').each(function() {$(this).removeClass('hidden')});
              currentActiveToggle.removeClass('desktop-only').removeAttr('aria-expanded');
              currentActiveToggle.parents('li.sub:first').children('a.toggle:first').removeAttr('aria-expanded');
              currentActiveToggle.parent().children('ul.megamenu:first').addClass('ul-toggle');
              currentActive.removeClass('current-active').removeClass('toggle');
              return false;
            });
            $(this).find('.list-box').attr('class', 'box');
            $(this).find('ul.megamenu li .toggle-more').on('click', function() {
            	$(this).parent().nextAll('.hidden').removeClass('hidden');
              	$(this).parent().remove();
              	return false;
            });
          });
          top_id.find('.container').children('.menu').add($('a[href="#mobile"]')).attr('href', '#mobile').on('click', function() {
            if (html_tag.is('.menu-active')) {
              $("div#shopify-section-message-bar").css("z-index","10");
              $(this).text('menu');
              $('#top').removeClass('activate-header');
              html_tag.removeClass('menu-active');
              mobile_id.removeClass('ul-toggled');
              mobile_id.removeClass('active').find('.ul-toggle').removeClass('ul-toggle').children('li.toggle').removeClass('toggle');
              history.replaceState(null, null, ' ');
              return false;
            } else {
              $("div#shopify-section-message-bar").css("z-index","-10");
              html_tag.addClass('menu-active');
              $(this).text('sluit');
              document.location.hash = $(this).attr('href').split('#')[1];
            }
          });
          shadow_id.on('click', function() {
            html_tag.removeClass('cart-active-cart');
            html_tag.removeClass('cart-active-zichtservice');
            return false;
          });
        },
        fancy: function() {
          a_tag.filter(':not("no-fancybox"), :not([href="./"], [href^="#"], [rel="external"])').each(function() {
            this.ha = $(this).attr('href');
            this.isImage = /\.gif|jpg|png$/i.test(this.ha);
            this.isVideo = /youtu|vimeo|metacafe|dailymotion/i.test(this.ha) && !!$(this).addClass('fancy-video');
            if (!this.isImage && !this.isVideo) {
              return;
            }
            var coe = this;
            $(this).on('click', function() {
              var co = $(this),
                fcl = {},
                al = function() {};
              loadRes("{{'fancybox.js' | asset_url }}", function() {
                if ($.fancybox !== undefined) {
                  al = function() {
                    var oo = {},
                      ar = [],
                      vo = {
                        animationEffect: 'fade',
                        onUpdate: function(instance, current) {
                          var width,
                            height,
                            ratio = 16 / 9,
                            video = current.$content;
                          if (video) {
                            video.hide();
                            width = current.$slide.width();
                            height = current.$slide.height() - 100;
                            if (height * ratio > width) {
                              height = width / ratio;
                            } else {
                              width = height * ratio;
                            }
                            video.css({
                              width: width,
                              height: height
                            }).show();
                          }
                        }
                      };
                    if (co.attr('data-fancybox-group') !== undefined) {
                      ar = [];
                      $('[data-fancybox-group="' + co.attr('data-fancybox-group') + '"]').each(function() {
                        ar.push({
                          src: $(this).attr('href')
                        });
                      });
                      oo = {
                        arrows: true
                      };
                      if (coe.isVideo) {
                        oo = $.extend(oo, vo);
                      }
                      $.fancybox.open(ar, oo, co.parent().index());
                    } else {
                      oo = {
                        src: co.attr('href')
                      };
                      if (coe.isVideo) {
                        oo = $.extend(oo, vo);
                      }
                      $.fancybox.open(oo);
                    }
                  };
                  if (!$('#fancycss').length) {
                    fcl = $('<link>', {
                      'id': 'fancycss',
                      'rel': 'stylesheet',
                      'href': '{{"fancybox.css" | asset_url }}',
                      'media': 'screen'
                    });
                    fcl.appendTo('head');
                    fcl.on('load', al);
                    return true;
                  }
                  al();
                }
              }, 'fancy-loaded');
              return false;
            });
          });
        },
        popups: function() {
          var loadPopup = function(id) {
              loadRes("{{'popup.js' | asset_url }}", function() {
                if ($.fn.semanticPopup !== undefined) {
                  var cde = $(document.querySelectorAll('[class^="popup-"]:not(html)'));
                  if (cde && !html_tag.is('.spi')) {
                    cde.semanticPopup();
                  }
                  $.openPopup(id);
                }
              }, 'popup-loaded');
            },
            dt = decodeURIComponent(document.location.hash.substring(1));
          body_tag.on('popup', function() {
            $(document.querySelectorAll('a[data-popup]')).on('click', function() {
              loadPopup($(this).attr('data-popup'));
              return false;
            });
          })
          body_tag.trigger('popup');
          if (document.location.hash.length) {
            if (dt) {
              loadPopup(dt.replace(/^\!/, ''));
            }
          }
        },
        waypoints: function () {
					body_tag.on('product-info-sticky', function (event) {
						if (form_product.length) {
							form_product.find('p.submit').each(function () {
								var self = $(this);
								$(this).waypoint(function (direction) {
									if (direction === 'down') {
										html_tag.addClass('product-preview');
									}
								}, {
									offset: -self.outerHeight()
								});
								$(this).waypoint(function (direction) {
									if (direction === 'up') {
										html_tag.removeClass('product-preview');
									}
								}, {
									offset: -self.outerHeight()
								});
							});
						}
					});
					body_tag.trigger('product-info-sticky');
				},
        scrolling: function () {
					$(window).on('load scroll touchmove', function () {
						if ($(window).scrollTop() <= 0 ) {
							html_tag.removeClass('not-top');
						} else if ($(window).scrollTop() != 55) {
							html_tag.addClass('not-top');
						}
					});
				},
        responsive: function() {
          var desktop_hide = Array.from(document.getElementsByClassName('desktop-hide')),
            desktop_only = Array.from(document.getElementsByClassName('desktop-only')),
            tablet_hide = Array.from(document.getElementsByClassName('tablet-hide')),
            tablet_only = Array.from(document.getElementsByClassName('tablet-only')),
            mobile_hide = Array.from(document.getElementsByClassName('mobile-hide')),
            mobile_only = Array.from(document.getElementsByClassName('mobile-only'));

          enquire.register('screen and (min-width: 1001px)', function() {
            if (desktop_only.length || tablet_hide.length || mobile_hide.length) {
              ariaRemove(desktop_only.concat(tablet_hide).concat(mobile_hide));
            }
            if (desktop_hide.length || tablet_only.length || mobile_only.length) {
              ariaAdd(desktop_hide.concat(tablet_only).concat(mobile_only));
            }
          }).register('screen and (min-width: 761px) and (max-width: 1000px)', function() {
            if (desktop_hide.length || tablet_only.length || mobile_hide.length) {
              ariaRemove(desktop_hide.concat(tablet_only).concat(mobile_hide));
            }
            if (desktop_only.length || tablet_hide.length || mobile_only.length) {
              ariaAdd(desktop_only.concat(tablet_hide).concat(mobile_only));
            }
          }).register('screen and (max-width: 760px)', function() {
            if (desktop_hide.length || tablet_hide.length || mobile_only.length) {
              ariaRemove(desktop_hide.concat(tablet_hide).concat(mobile_only));
            }
            if (desktop_only.length || tablet_only.length || mobile_hide.length) {
              ariaAdd(desktop_only.concat(tablet_only).concat(mobile_hide));
            }
            if (skip_id) {
              Array.from(skip_id.querySelectorAll('a[href="#nav"], a[href="#mobile"]')).forEach(function(el) {
                el.setAttribute('href', '#mobile');
              });
            }
          }).register('screen and (min-width: 761px)', function() {
            if (skip_id) {
              Array.from(skip_id.querySelectorAll('a[href="#nav"], a[href="#mobile"]')).forEach(function(el) {
                el.setAttribute('href', '#nav');
              });
            }
          });
        },
        miscellaneous: function() {
          body_tag.on('tooltip', function(event) {
            tooltip_class = $(document.getElementsByClassName('tooltip'));
            if (tooltip_class.length) {
              tooltip_class.each(function(i) {
                $(this).addClass('js').attr('data-info', 'info-' + i).wrapInner('<span class="inner"></span>').append('<a class="open" href="./"></a><a data-popup="' + $(this).attr('data-info') + '" class="popup" href="./"></a>').children('a.open').on('click', function() {
                  if ($(this).parent().is('.toggle')) {
                    $(this).closest('.tooltip').removeClass('toggle').closest('li, p').add($(this).closest('.cont')).removeClass('tooltip-active');
                  } else {
                    tooltip_class.removeClass('toggle').closest('li, p').add(tooltip_class.closest('.cont')).removeClass('tooltip-active');
                    $(this).closest('.tooltip').addClass('toggle').closest('li, p').add($(this).closest('.cont')).addClass('tooltip-active');
                  }
                  return false;
                }).siblings('.inner').append('<a class="close" href="./"></a>').on('click', function() {
                  if ($(this).find('a:not(.close)').length) {
                    return true;
                  } else {
                    tooltip_class.removeClass('toggle').closest('li, p').add(tooltip_class.closest('.cont')).removeClass('tooltip-active');
                    return false;
                  }
                });
                root_id.append('<article class="popup-a small" data-title="' + $(this).attr('data-info') + '"><p>' + $(this).html() + '</p></article>');
              });
            }
          })
          body_tag.trigger('tooltip');
          if (list_reviews.length) {
            list_reviews.find('li.link a').on('click', function() {
              $(this).closest('li.link').remove();
              return false;
            });
          }
          if (form_filter.length) {
            enquire.register('screen and (max-width: 760px)', function() {
             $('.boost-pfs-filter-refine-by-wrapper-v').prependTo($('.form-filter.mobile .list-filter'));
             body_tag.trigger('checkActiveFilterCount');
            });
            $('.toggle-filter').on('click', function(e) {
              e.preventDefault();
              html_tag.toggleClass('filter-active');
            });
          }
          
//             var selectEl = $('.boost-pfs-filter-toolbar-item.boost-pfs-filter-custom-sorting > select');
//             selectEl.change(function(){
//                   $("#widthTempOption").html($(this).find('option:selected').text());
//                   $(this).width($("#selectTagWidth").width() + 29); 
//             });
//             if ( selectEl.length ) {
//                 selectEl.trigger('change');
//               $("#widthTempOption").html(selectEl.find('option:selected').text());
//                   selectEl.width($("#selectTagWidth").width() + 29); 
//             };

//             $('body').change(function(e) {
// 	           	var target = $(e.target);
//                	if (target.parent().is('.boost-pfs-filter-custom-sorting')) {                    
//     	            var selectEl = $('.boost-pfs-filter-toolbar-item.boost-pfs-filter-custom-sorting > select');
//                     $("#widthTempOption").html(selectEl.find('option:selected').text());
//                     selectEl.width($("#selectTagWidth").width() + 29); 
//                	}
//             });        
        }
      }

    };

  Default.async.links();
  Default.async.forms();
  Default.async.cart();
  Default.async.zichtservice();
  Default.async.top();
  Default.async.waypoints();
  Default.async.scrolling();
  Default.async.miscellaneous();
  Default.async.popups();
  Default.async.fancy();
  Default.async.responsive();
});

/*!*/


/* CUSTOM JS */
jQuery(function($) {
  var body_tag = $(document.getElementsByTagName('body')),
    form_product = $(document.getElementsByClassName('form-product')),
    module_product = $(document.getElementsByClassName('module-product')),
    form_size = form_product.find('.form-size'),
    buy_button = body_tag.find('.buy-button'),
    list_info = $(document.getElementsByClassName('list-info')),
    top_id = $(document.getElementById('top')),
    list_notifications = $(document.getElementsByClassName('list-notifications')),
    html_tag = $(document.documentElement),
    select_before_buy_button = form_product.find('.select-before-buy-button'),
    unavailable_buy_button = form_product.find('.unavailable-buy-button'),
    review_button = $(document.getElementsByClassName('review-button')),
    available_only = $(document.getElementById('available-only')),
    quantity_select = $(document.getElementsByClassName('qty_update')),
    changetozichtservice = $(document.getElementsByClassName('change-to-zichtservice')),
    form_login = $(document.getElementsByClassName('form-login')),
    cancel_btn = $(document.getElementsByClassName('btncancel'));

  /* ------------- BEGIN PRODUCTPAGE ------------- */
  body_tag.on('form-product', function(event, el) {
    var form_product = el,
      form_size = form_product.find('.form-size'),
      buy_button = body_tag.find('.buy-button'),
      stock_message = form_product.find('.stock-message'),
      levertijd_message = form_product.find('.levertijd-message > span:first-child'),
      select_before_buy_button = form_product.find('.select-before-buy-button'),
      unavailable_buy_button = form_product.find('.unavailable-buy-button'),
      zichtservice_button = form_product.find('a[data-zichtservice-id]'),
      staal_button = form_product.find('a[data-staal-id]'),
      price_el = $(this).find('.price'),
      price_custom = $(this).find('.PDP-custom-price'),
      price_custom_retail = $(this).find('.PDP-custom-price-retail'),
      price_custom_advies = $(this).find('.product_m2_adviesprijs'),
      bar_title = $('.module-product-bar').find(':header'),
      bar_price = $('.module-product-bar').find('p.price'),
      bar_button = $('.module-product-bar').find('p.link-btn'),
      clicked = false;
    if (form_product.length) {
      form_product.find('#id')[0].oninvalid = function () {
        this.setCustomValidity(select_before_buy_button.data('validity'));
      };

      form_product.find('.btn[data-customizable]').on('click', function() {
        form_product.find('option').prop('selected', false);
          if (form_size.hasClass('hidden')) {
            form_product.find('option[data-customizable]').prop('selected', true);
          } else {
            form_product.find('option:nth-child(2)').prop('selected', true);
          }
          form_product.find('#id').trigger('change');
        
      });

      bar_price.html(price_el.html());
      bar_button.html(form_product.find('p.submit > button').clone());

     var checkBarButtons = function() {
      var bar_select_before_buy_button = $('.module-product-bar').find('.select-before-buy-button'),
          bar_unavailable_buy_button = $('.module-product-bar').find('.unavailable-buy-button'),
          bar_buy_button = $('.module-product-bar').find('.buy-button');

      bar_unavailable_buy_button.on('click', function() {
        form_product.find('.unavailable-buy-button').click();
        return false;
      })
      bar_select_before_buy_button.on('click', function() {
        html_tag.removeClass('product-preview');
        $([document.documentElement, document.body]).stop().animate({
            scrollTop: form_product.offset().top -100
        }, 300);
        setTimeout(function(){
           form_product.find('.select-before-buy-button').click();
        }, 1000);
        return false; 
        
      })
      bar_buy_button.on('click', function() {
        form_product.find('.buy-button').click();
        return false;
      })
    }
    checkBarButtons();

     // make sure number input value cant be higher than max attribute
        number_input = $(document.getElementsByClassName('variant-lister-input'));
        number_input.each(function() {
            $(this)[0].oninput = function () {
                var max = parseInt(this.max);

                if (parseInt(this.value) > max) {
                    this.value = max;
                }
            }
        });

    $(document).ready(function() {
      $('.minus').click(function () {
          var $input = $(this).parent().find('input');
          var count = parseInt($input.val()) - 1;
          count = count < 0 ? 0 : count;
          $input.val(count);
          $input.change();
          return false;
      });
      $('.plus').click(function () {
          var $input = $(this).parent().find('input');
          var count = parseInt($input.val()) + 1;
          count = count < 0 ? 0 : count;
          var inputField = $(this)[0].parentElement.childNodes[3]

          var max = parseInt(inputField.max);
          if (parseInt(inputField.value)  + 1 > max) {
              count = max;
          }

          $input.val(count);
          $input.change();
          return false;
      });
    });

      function calculateTotalPrice() {
          number_input = $(document.getElementsByClassName('variant-lister-input'));
          var sum = 0;
          var total_quantity = 0;
          number_input.each(function() {
              var quantity = $(this)[0].value;
              var price_variant = '€0';

              // if retail discount
              var isRetail = document.getElementsByClassName('discount-price');
              var isNormal = document.getElementsByClassName('nodiscount-price');

              {% comment %}console.log($(this)[0].parentElement, 'visible ??????'){% endcomment %}
              {% comment %}console.log('check'){% endcomment %}
              {% comment %}console.log(($(this)[0].parentElement)){% endcomment %}
              {% comment %}let this_input = $(this)[0].parentElement{% endcomment %}
              {% comment %}console.log(window.getComputedStyle(this_input).display === "none"){% endcomment %}

              {% comment %}if number input{% endcomment %}
              if($(this)[0].parentElement.parentElement.nextSibling.childNodes[3] !== undefined || $(this)[0].className === 'variant-lister-input__custom variant-lister-input') {
                  if (isRetail.length > 0 || isNormal.length > 0) {
                      // if custom price
                      {% comment %}console.log($(this)[0].parentElement.parentElement.nextSibling, 'this'){% endcomment %}
                      if ($(this)[0].parentElement.className === 'PDP-custom-input-container') {
                          {% comment %}console.log('custom'){% endcomment %}
                          price_variant = $(this)[0].parentElement.parentElement.nextSibling.childNodes[3].childNodes[3].childNodes[3].textContent;
                      } else {
                          {% comment %}console.log('not custom'){% endcomment %}
                          if (isNormal.length > 0) {
                            price_variant = $(isNormal)[0].textContent;
                          }
                          else {
                            price_variant = $(this)[0].parentElement.parentElement.nextSibling.childNodes[3].previousSibling.nextSibling.childNodes[3].childNodes[3].textContent;
                          }
                      }
                  } else {
                      // if custom price
                      if ($(this)[0].parentElement.className === 'PDP-custom-input-container') {
                          price_variant = $(this)[0].parentElement.parentElement.nextSibling.childNodes[3].previousSibling.childNodes[3].textContent;
                      } else {
                          price_variant = $(this)[0].parentElement.parentElement.nextSibling.childNodes[3].previousSibling.childNodes[3].textContent;
                      }
                  }
              }
              price_variant = price_variant.replace('€','');
              price_variant = price_variant.replace('.','');
              price_variant = price_variant.replace(',','.');
              price_multiplied = price_variant * quantity
              sum += price_multiplied;
              total_quantity += Number(quantity);
              price_el.html('€' + sum.toFixed(2).replace('.',',').replace(/(\,\d+)$/, '<sup>$1</sup>'));
          });
      }

    var price_multiplied;
    number_input = $(document.getElementsByClassName('variant-lister-input'));
    number_input.on('change', function() {
        calculateTotalPrice();
    })

        number_input_custom_cm = $(document.getElementsByClassName('variant-lister-input__custom-cm1'));
        number_input_custom_cm2 = $(document.getElementsByClassName('variant-lister-input__custom-cm2'));
        if (document.querySelectorAll('.product_m2_adviesprijs')[0] != undefined) {
          var product_m2_price_advies = document.querySelectorAll('.product_m2_adviesprijs')[0].innerText.replace('€','').replace(',','.');
        }

        number_input_custom_cm.on('change', function() {
            var length = $(this)[0].value;
            var width = $(document.getElementsByClassName('variant-lister-input__custom-cm2'))[0].value;
            var area = (length * width)/10000;

            var price_advies = area * product_m2_price_advies;
            price_custom_advies.html('€' + price_advies.toFixed(2).replace('.',','));

            let product_m2_price = document.querySelectorAll('.product_m2_price')[0].innerText;
            let product_m2_price_retail = document.querySelectorAll('.product_m2_price_retail')[0].innerText;

            var price = area * product_m2_price;
            var price_retail = area * product_m2_price_retail;

            price_custom.html('€' + price.toFixed(2).replace('.',','));
            price_custom_retail.html('€' + price_retail.toFixed(2).replace('.',','));

            calculateTotalPrice();
        })

        number_input_custom_cm2.on('change', function() {
            var width = $(this)[0].value;
            var length = $(document.getElementsByClassName('variant-lister-input__custom-cm1'))[0].value;
            var area = (length * width)/10000;

            var price_advies = area * product_m2_price_advies;
            price_custom_advies.html('€' + price_advies.toFixed(2).replace('.',','));

            let product_m2_price = document.querySelectorAll('.product_m2_price')[0].innerText;
            let product_m2_price_retail = document.querySelectorAll('.product_m2_price_retail')[0].innerText;

            var price = area * product_m2_price;
            var price_retail = area * product_m2_price_retail

            price_custom.html('€' + price.toFixed(2).replace('.',','));
            price_custom_retail.html('€' + price_retail.toFixed(2).replace('.',','));

            calculateTotalPrice();
        })


        form_product.find('.variant-lister-input').on('change', function() {
            number_input = $(document.getElementsByClassName('variant-lister-input'));
            let selected;
            var number_inputs_arr = [];
            number_input.each(function() {
                // ignore custom variant
                if ($(this)[0].parentElement.parentElement.parentElement.getAttribute('data-customizable') !== 'custom_variant') {
                    // take only variants into accounts that customers have selected
                    if ($(this)[0].value > 0) {
                        selected = $(this)[0].parentElement.parentElement.parentElement;
                        // create array that includes delivery time + div with info about variant
                        number_inputs_arr.push({
                            levertijd: selected.getAttribute('data-levertijd'),
                            selected: selected
                        });
                    }
                }
            });

            // define order delivery times
            const priority = {
                "1-2 werkdagen" : 0,
                "2-3 werkdagen" : 1,
                "2-4 werkdagen" : 2,
                "3-5 werkdagen" : 3,
                "5-7 werkdagen" : 4,
                "7-9 werkdagen" : 5,
                "8-10 werkdagen" : 6,
                "1-2 weken" : 7,
                "2-3 weken" : 8,
                "3-4 weken" : 9,
                "4-5 weken" : 10,
                "4-6 weken" : 11,
                "5-6 weken" : 12,
                "6-7 weken" : 13,
                "6-8 weken" : 14,
                "7-8 weken" : 15,
                "8-9 weken" : 16,
                "8-10 weken" : 17,
                "9-10 weken" : 18,
                "10-11 weken" : 19,
                "10-12 weken" : 20,
                "11-12 weken" : 21,
                "12-13 weken" : 22,
                "12-14 weken" : 23,
                "13-14 weken" : 24,
                "14-15 weken" : 25,
                "14-16 weken" : 26,
                "15-16 weken" : 27,
                "16+ weken" : 28
            }

            // sort array based on delivery time
            const sorted_arr = number_inputs_arr.sort((a, b) => priority[a.levertijd] - priority[b.levertijd]);

            // take the div from last array item as this has longest delivery time
            {% comment %}console.log(selected, 'selected'){% endcomment %}
            if (selected !== undefined) {
                selected = sorted_arr.at(-1);
                selected = selected.selected;

                var selected_customizable = selected.getAttribute('data-customizable'),
                    selected_unavailable = selected.getAttribute('data-unavailable'),
                    selected_removedFromCollection = selected.getAttribute('data-removedfromcollection'),
                    selected_sku = selected.getAttribute('data-sku'),
                    selected_varianttitle = selected.getAttribute('data-varianttitle'),
                    selected_shape = selected.getAttribute('data-shape'),
                    selected_length = selected.getAttribute('data-length'),
                    selected_width = selected.getAttribute('data-width'),
                    selected_levertijd = selected.getAttribute('data-levertijd'),
                    selected_stockDisclaimer = selected.getAttribute('data-variant_stock_disclaimer'),
                    selected_variant_availability_text = selected.getAttribute('data-variant_availability_text'),
                    selected_price = selected.getAttribute('data-price'),
                    selected_price_old = selected.getAttribute('data-price-old'),
                    selected_price_diff = selected.getAttribute('data-price-diff'),
                    selected_price = selected_price.trim().replace(/(\,\d+)$/, '<sup>$1</sup>');
                if (selected_price_old) {
                    selected_price_old = selected_price_old.trim().replace(/(\,\d+)$/, '<sup>$1</sup>');
                    selected_price_diff = selected_price_diff.trim().replace(/(\,\d+)$/, '<sup>$1</sup>')
                    if (selected_customizable != undefined) {
                        var price_html = '<span class="old">' + selected_price_old + '</span>' + selected_price + '<span class="diff">{{ 'product.form.you_save' | t }} ' + selected_price_diff + '</span>';
                    } else {
                        var price_html = '<span class="old">' + selected_price_old + '</span>' + selected_price + '<span class="diff">{{ 'product.form.you_save' | t }} ' + selected_price_diff + '</span>';
                    }
                } else {
                    if (selected_customizable != undefined) {
                        var price_html = selected_price;
                    } else {
                        var price_html = selected_price;
                    }
                }

                // take longest delivery time from array
                var langste_levertijd = sorted_arr.at(-1);
                langste_levertijd = langste_levertijd.levertijd;
            } else {
              langste_levertijd = undefined;
            }

            if (langste_levertijd != undefined) {
                levertijd_message.removeClass('hidden');
                if (langste_levertijd.indexOf("2-4") >= 0) {
                    var levertijdMessage = "{{'product.form.in_stock_text' | t: levertijd: '%%levertijd%%' }}";
                    levertijdMessage = levertijdMessage.replace('%%levertijd%%', langste_levertijd);
                    if (selected_variant_availability_text != undefined) {
                        levertijd_message.html("<span class='in-stock'><i class='icon-check-circle'></i>"+ selected_variant_availability_text +"</span> " + levertijdMessage);
                    } else {
                        levertijd_message.html(levertijdMessage);
                    }
                  {% comment %} als niet leverbaar {% endcomment %}
                } else if (selected_unavailable != undefined || selected_removedFromCollection != undefined ) {
                    levertijd_message.html("<strong>{{'product.form.not_available' | t }}</strong>");
                } else {
                    if (selected_variant_availability_text != undefined) {
                        levertijd_message.html("<span class='in-stock'><i class='icon-check-circle'></i>"+ selected_variant_availability_text +"</span>{{'product.form.levertijd' | t }}: " + langste_levertijd);
                    } else {
                        levertijd_message.html("{{'product.form.levertijd' | t }}: " + langste_levertijd);
                    }
                }
            } else {
                levertijd_message.addClass('hidden');
            }
            if (selected_stockDisclaimer != undefined) {
                levertijd_message.html(levertijd_message.html() + '*');
                stock_message.removeClass('hidden');
            } else {
                stock_message.addClass('hidden');
            }

            if (selected_customizable != undefined) {
                form_size.removeClass('hidden');
                form_size.find($('#lengthcm').attr('name', 'properties[Lengte]'));
                form_size.find($('#widthcm').attr('name', 'properties[Breedte]'));
                form_size.find($('#unique_number').attr('name', 'properties[Opdracht ID]'));
                form_size.find($('#producttitle').attr('name', 'properties[Product]'));
                form_size.find($('#productid').attr('name', 'properties[Product ID]'));

                body_tag.on('newUniqueNumber', function () {
                    var date = new Date(),
                        month = date.getUTCMonth() + 1,
                        dateStr = date.getUTCDate().toString() + month.toString() + date.getFullYear().toString() + "-" + date.getHours().toString() + date.getMinutes().toString() + date.getSeconds().toString(),
                        uniqueNumber = dateStr + "-" + selected.getAttribute('data-producttitle').replace(/[^A-Z0-9]+/ig, "");
                    form_size.find($('#unique_number').attr('value', uniqueNumber));
                })
                body_tag.trigger('newUniqueNumber');
                form_size.find('input').trigger('change');
                buy_button.on('click', function() {body_tag.trigger('newUniqueNumber');} );
            } else {
                {% comment %}form_size.addClass('hidden'); delete this because if a input for another one than
                custimizible is clicked, it is hidden, which made sense for the dropdown but we dont want this {% endcomment %}
                form_size.find($('#lengthcm').removeAttr('name'));
                form_size.find($('#widthcm').removeAttr('name'));
                form_size.find($('#producttitle').removeAttr('name'));
                form_size.find($('#productid').removeAttr('name'));
                form_size.find($('#unique_number').removeAttr('name').removeAttr('value'));
                form_product.find('#quantity').val(1);
            }

            select_before_buy_button.addClass('hidden');
            unavailable_buy_button.removeAttr('disabled');

            if (selected_unavailable != undefined || selected_removedFromCollection != undefined) {
                unavailable_buy_button.removeClass('hidden');
                buy_button.addClass('hidden');
                unavailable_buy_button.attr('disabled', 'disabled');
            } else {
                buy_button.removeClass('hidden');
                unavailable_buy_button.addClass('hidden');
            }
            list_info.find('.variant-length').remove();
            if (selected_length != undefined) {
                if (list_info.find('.poolhoogte').length) {
                    $('<li class="variant-length"><span>{{'product.specifications.length' | t}}</span> ' + selected_length + '</li>').insertBefore(list_info.find('.poolhoogte'));
                } else {
                    list_info.append('<li class="variant-length"><span>{{'product.specifications.length' | t}}</span> ' + selected_length + '</li>')
                }
            }
            list_info.find('.variant-width').remove();
            if (selected_width != undefined) {
                if (list_info.find('.poolhoogte').length) {
                    $('<li class="variant-width"><span>{{'product.specifications.width' | t}}</span> ' + selected_width + '</li>').insertBefore(list_info.find('.poolhoogte'));
                } else {
                    list_info.append('<li class="variant-width"><span>{{'product.specifications.width' | t}}</span> ' + selected_width + '</li>')
                }
            }
            list_info.find('.variant-shape').remove();
            if (selected_shape != undefined) {
                list_info.append('<li class="variant-shape"><span>{{'product.specifications.shape' | t}}</span> ' + selected_shape + '</li>')
            }
            list_info.find('.variant-sku').remove();
            if (selected_sku != undefined) {
                list_info.append('<li class="variant-sku"><span>{{'product.specifications.articlecode' | t}}</span> ' + selected_sku + '</li>')
            }
        if (selected_varianttitle != undefined ) { bar_title.html(selected_varianttitle) }
        bar_price.html(price_el.html());
        bar_button.html(form_product.find('p.submit > button').clone());
        checkBarButtons();
        });

      {% comment %}form_product.find('#id').on('change', function() {
        body_tag.removeClass('staal-clicked');
        body_tag.removeClass('selectbeforebuy-clicked');
        var selected = $(this).find('option:selected:not(:disabled)').last();
        console.log(selected.data());
        console.log('wat is selected?');
        console.log($(this));
          console.log(selected)
        if (selected.length) {
          var selected_customizable = selected.data('customizable'),
            selected_unavailable = selected.data('unavailable'),
            selected_removedFromCollection = selected.data('removedfromcollection'),
            selected_sku = selected.data('sku'),
            selected_varianttitle = selected.data('varianttitle'),
            selected_shape = selected.data('shape'),
            selected_length = selected.data('length'),
            selected_width = selected.data('width'),
            selected_levertijd = selected.data('levertijd'),
            selected_stockDisclaimer = selected.data('variant_stock_disclaimer'),
            selected_variant_availability_text = selected.data('variant_availability_text'),
            selected_price = selected.data('price'),
            selected_price_old = selected.data('price-old'),
            selected_price_diff = selected.data('price-diff'),
            selected_price = selected_price.trim().replace(/(\,\d+)$/, '<sup>$1</sup>');
          if (selected_price_old) {
            selected_price_old = selected_price_old.trim().replace(/(\,\d+)$/, '<sup>$1</sup>');
            selected_price_diff = selected_price_diff.trim().replace(/(\,\d+)$/, '<sup>$1</sup>')
            if (selected_customizable != undefined) {
              var price_html = '<span class="old">' + selected_price_old + '</span>' + selected_price + '<span class="diff">{{ 'product.form.you_save' | t }} ' + selected_price_diff+'</span>';
            } else {
              var price_html = '<span class="old">' + selected_price_old + '</span>' + selected_price + '<span class="diff">{{ 'product.form.you_save' | t }} ' + selected_price_diff + '</span>';
            }
          } else {
            if (selected_customizable != undefined) {
              var price_html = selected_price;
            } else {
              var price_html = selected_price;
            }
          }
          {% comment %}price_el.html(price_html);{% endcomment %}

            console.log(selected_levertijd)

          if (selected_levertijd != undefined) {
            levertijd_message.removeClass('hidden');
            if (selected_levertijd.indexOf("2-4") >= 0) {
              var levertijdMessage = "{{'product.form.in_stock_text' | t: levertijd: '%%levertijd%%' }}";
              levertijdMessage = levertijdMessage.replace('%%levertijd%%', selected_levertijd);
              if (selected_variant_availability_text != undefined) {
                levertijd_message.html("<span class='in-stock'><i class='icon-check-circle'></i>"+ selected_variant_availability_text +"</span> " + levertijdMessage);
              } else {
                levertijd_message.html(levertijdMessage);
              }
            } else if (selected_unavailable != undefined || selected_removedFromCollection != undefined ) {
                levertijd_message.html("<strong>{{'product.form.not_available' | t }}</strong>");
            } else {
              if (selected_variant_availability_text != undefined) {
                levertijd_message.html("<span class='in-stock'><i class='icon-check-circle'></i>"+ selected_variant_availability_text +"</span>{{'product.form.levertijd' | t }}: " + selected_levertijd);
              } else {
                levertijd_message.html("{{'product.form.levertijd' | t }}: " + selected_levertijd);
              }
            }
          } else {
            levertijd_message.addClass('hidden');
          }
          if (selected_stockDisclaimer != undefined) {
            levertijd_message.html(levertijd_message.html() + '*');
            stock_message.removeClass('hidden');
          } else {
            stock_message.addClass('hidden');
          }


          if (selected_customizable != undefined) {

            form_size.removeClass('hidden');
            form_size.find($('#lengthcm').attr('name', 'properties[Lengte]'));
            form_size.find($('#widthcm').attr('name', 'properties[Breedte]'));
            form_size.find($('#unique_number').attr('name', 'properties[Opdracht ID]'));
            form_size.find($('#producttitle').attr('name', 'properties[Product]'));
            form_size.find($('#productid').attr('name', 'properties[Product ID]'));

            body_tag.on('newUniqueNumber', function () {
              var date = new Date(),
                month = date.getUTCMonth() + 1,
                dateStr = date.getUTCDate().toString() + month.toString() + date.getFullYear().toString() + "-" + date.getHours().toString() + date.getMinutes().toString() + date.getSeconds().toString(),
                uniqueNumber = dateStr + "-" + selected.data('producttitle').replace(/[^A-Z0-9]+/ig, "");
              form_size.find($('#unique_number').attr('value', uniqueNumber));
            })
            body_tag.trigger('newUniqueNumber');
            form_size.find('input').trigger('change');
            buy_button.on('click', function() {body_tag.trigger('newUniqueNumber');} );
          } else {
            form_size.addClass('hidden');
            form_size.find($('#lengthcm').removeAttr('name'));
            form_size.find($('#widthcm').removeAttr('name'));
            form_size.find($('#producttitle').removeAttr('name'));
            form_size.find($('#productid').removeAttr('name'));
            form_size.find($('#unique_number').removeAttr('name').removeAttr('value'));
            form_product.find('#quantity').val(1);
          }

          select_before_buy_button.addClass('hidden');
          unavailable_buy_button.removeAttr('disabled');

          if (selected_unavailable != undefined || selected_removedFromCollection != undefined) {
            unavailable_buy_button.removeClass('hidden');
            buy_button.addClass('hidden');
            unavailable_buy_button.attr('disabled', 'disabled');
          } else {
            buy_button.removeClass('hidden');
            unavailable_buy_button.addClass('hidden');
          }
          list_info.find('.variant-length').remove();
          if (selected_length != undefined) {
            if (list_info.find('.poolhoogte').length) {
              $('<li class="variant-length"><span>{{'product.specifications.length' | t}}</span> ' + selected_length + '</li>').insertBefore(list_info.find('.poolhoogte'));
            } else {
              list_info.append('<li class="variant-length"><span>{{'product.specifications.length' | t}}</span> ' + selected_length + '</li>')
            }
          }
          list_info.find('.variant-width').remove();
          if (selected_width != undefined) {
            if (list_info.find('.poolhoogte').length) {
              $('<li class="variant-width"><span>{{'product.specifications.width' | t}}</span> ' + selected_width + '</li>').insertBefore(list_info.find('.poolhoogte'));
            } else {
              list_info.append('<li class="variant-width"><span>{{'product.specifications.width' | t}}</span> ' + selected_width + '</li>')
            }
          }
          list_info.find('.variant-shape').remove();
          if (selected_shape != undefined) {
            list_info.append('<li class="variant-shape"><span>{{'product.specifications.shape' | t}}</span> ' + selected_shape + '</li>')
          }
          list_info.find('.variant-sku').remove();
          if (selected_sku != undefined) {
            list_info.append('<li class="variant-sku"><span>{{'product.specifications.articlecode' | t}}</span> ' + selected_sku + '</li>')
          }
        }
        if (selected_varianttitle != undefined ) { bar_title.html(selected_varianttitle) }
        bar_price.html(price_el.html());
        bar_button.html(form_product.find('p.submit > button').clone());
        checkBarButtons();
      }); {% endcomment %}

      zichtservice_button.on('click', function(e) {
      })
      staal_button.on('click', function() {
        $('body').addClass('staal-clicked');
        form_product.find('.buy-button').trigger('click');
      })
      select_before_buy_button.on('click', function() {
        $('body').addClass('selectbeforebuy-clicked');
        form_product.find('.buy-button').trigger('click');
      })
      form_product.find('#id.single-variant').trigger('change');
    }
  });
  body_tag.trigger('form-product', [$('.form-product')]);


  /* ------------- BEGIN PRODUCTPAGE MAATWERK CALCULATOR ------------- */
  if (form_size.length) {
    form_size.find('input').each(function() {
      $(this).on('change keyup paste', function() {
        var selected = form_product.find('#id option:selected'),
          price_per_cm2 = selected.data('price-per-cm2'),
          price_per_cm2_old = selected.data('price-per-cm2-old'),
          price_el = form_product.find('.price'),
          width = form_size.find('input#width').val(),
          length = form_size.find('input#length').val(),
          sq_cm = width * length / 100,
          size_price = '',
          calculated_price_old = '',
          discount_enabled = false,
          calculated_price = (Math.round((sq_cm * price_per_cm2) * 10) / 10).toFixed(2).replace(".", ",").replace(/(\,\d+)$/, '<sup>$1</sup>');
        {% if settings.discount_enabled and settings.discount_percentage != '' %}
        	discount_enabled = true;
        	var discount_times = {{settings.discount_percentage | plus: 0 }};
        {% endif %}
        if (discount_enabled) {
        	discount_times = 100 - discount_times;
        	discount_times = discount_times / 100;
          	calculated_price_old = calculated_price;
          	calculated_price = (Math.round((sq_cm * price_per_cm2) * 10) / 10).toFixed(2);
            calculated_price = calculated_price * discount_times;
			calculated_price = Math.round(calculated_price * 100) / 100;
            calculated_price = calculated_price.toFixed(2).replace(".", ",").replace(/(\,\d+)$/, '<sup>$1</sup>');
          	size_price = '<span class="old">€' + calculated_price_old + '</span> €' + calculated_price;
        } else if (price_per_cm2_old) {
            calculated_price_old = (Math.round((sq_cm * price_per_cm2_old) * 10) / 10).toFixed(2).replace(".", ",").replace(/(\,\d+)$/, '<sup>$1</sup>');
            size_price = '<span class="old">€' + calculated_price_old + '</span> €' + calculated_price;
        } else {
        	size_price = '€' + calculated_price;
        }
        /* ajax create product */
        if ( $('.form-product .select-chosen select option:selected').attr('data-customizable') != 'custom_variant' ) {
          /* end ajax create product */
          form_product.find('#quantity').val(Math.round((sq_cm * price_per_cm2) * 10));
          /* ajax create product */
        }
        /* end ajax create product */
        {% comment %}price_el.html(size_price);{% endcomment %}
        $('.module-product-bar .price').html(price_el.html());
        form_size.find($('#lengthcm').attr('value', form_size.find('input#length').val() + 'cm'));
        form_size.find($('#widthcm').attr('value', form_size.find('input#width').val() + 'cm'));
      });
    })
    $(this).find('.erase').on('click', function() {
      form_size.find('input').val('100').trigger('change');
    });
  }
  /* ------------- END PRODUCTPAGE MAATWERK CALCULATOR ------------- */

  /* ------------- END PRODUCTPAGE ------------- */

  /* ------------- BEGIN CLICK ON REVIEW BUTTON ------------- */
  if (review_button.length) {
    review_button.on('click', function() {
      $('.module-product ~ .tab-item > h2 > .header-toggle').trigger("click");
      $('html, body').animate({
        scrollTop: $("#shopify-product-reviews").offset().top - 200
      }, 100);
    });
  }
  /* ------------- END CLICK ON REVIEW BUTTON ------------- */

  /* ------------- BEGIN NOTIFICATIONS ------------- */
  body_tag.on('list-notifications', function() {
    list_notifications = $(document.getElementsByClassName('list-notifications'));
    if (list_notifications.length) {
      html_tag.animate({
        scrollTop: 0
      }, 100);
      var stickyHeaderHeight = 0;
      stickyHeaderHeight = stickyHeaderHeight + top_id.outerHeight();
      list_notifications.scrollToFixed({
        marginTop: 55
      });
      list_notifications.delay(6000).queue(function() {
        $(this).slideUp().dequeue().delay(500).queue(function() {
          $(this).remove().dequeue();
        });
      });
    }
  })
  body_tag.trigger('list-notifications');
  /* ------------- END NOTIFICATIONS ------------- */

  /* ------------- BEGIN COLLECTION SORT ORDER ------------- */

  if ($('.boost-pfs-filter-top-sorting-wrapper').length) {
  	$('.boost-pfs-filter-top-sorting-wrapper').on('click', function() {
    	if ($(this).parent().is('.boost-pfs-filter-sort-active')) {
        	$(this).closest('.form-sort').find('.toggle-sorting').addClass('toggled');
        } else {
            $(this).closest('.form-sort').find('.toggle-sorting').removeClass('toggled');
        }
    })
  }

  if ($('.form-sort').length) {
    enquire.register('screen and (max-width: 760px)', function() {
    	$('.form-sort').scrollToFixed({
        	marginTop: 60
        });
    });
  }

  /* ------------- END COLLECTION SORT ORDER ------------- */

  /* ------------- START COLLECTION LAYOUT LIMIT + SFEER/PRODUCT FOTO SELECTIE  ------------- */
  $('.show-products-limit').on('click', function () {
    var limit = $(this).data('limit');
    $('.show-products-limit').removeClass('active');
    $(this).addClass('active');
    $.ajax({
      url: '/cart/update.js',
      method: 'post',
      dataType: 'json',
      data: {
        attributes: {
          'collection_products_limit': limit
        }
      },
      success: function() {
//         window.location.reload();
        FilterApi.applyFilter();
      }
    });
  });

  $('.show-product-images').on('click', function () {
    var selection = $(this).data('show-images');
    $('.show-product-images').removeClass('active');
    $(this).addClass('active');
    $.ajax({
      url: '/cart/update.js',
      method: 'post',
      dataType: 'json',
      data: {
        attributes: {
          'collection_show_images': selection
        }
      },
      success: function() {
        //window.location.reload();
        //console.log(selection);
        FilterApi.applyFilter();
        $.ajax({
          url: '/cart/update.js',
          method: 'post',
          dataType: 'json',
          data: {
            attributes: {
              'collection_show_images': 'product'
            }
          }
        });
      }
    });
  });
  /* ------------- END COLLECTION LAYOUT LIMIT + SFEER/PRODUCT FOTO SELECTIE ------------- */


  /* ------------- BEGIN CART PAGE ------------- */
  if (quantity_select.length) {
    quantity_select.on("change paste keyup", function() {
      if (parseInt(jQuery(this).val()) > 0) {
        $.ajax({
          url: '/cart/change.js',
          method: 'post',
          dataType: 'json',
          data: {
            quantity: parseInt(jQuery(this).val()),
            line: jQuery(this).attr("data-line")
          },
          success: function() {
            window.location.reload();
          },
          error: function(XMLHttpRequest, textStatus) {
            var data = eval('(' + XMLHttpRequest.responseText + ')');
            $("<ul class='list-notifications'><li>" +
              "<p class='overlay-d'>" +
              data.description +
              "</p>" +
              "</li></ul>").insertAfter("#top");
            body_tag.trigger('list-notifications');

          }
        });
      }
    });
  }

  if (changetozichtservice.length) {
    changetozichtservice.on("click", function() {
      $.ajax({
        url: '/cart/change.js',
        method: 'post',
        dataType: 'json',
        data: {
          quantity: 0,
          line: jQuery(this).attr("data-line")
        },
        success: function() {
          $.ajax({
            url: '/cart/add.js',
            method: 'post',
            dataType: 'json',
            data: {
              quantity: 1,
              id: changetozichtservice.attr("data-zichtservice-id"),
              properties: {
                'Vloerkleed': changetozichtservice.attr("product-title"),
                '_handle': changetozichtservice.attr("product-handle")
              }
            },
            success: function() {
              window.location.reload();
            },
            error: function(XMLHttpRequest, textStatus) {
              var data = eval('(' + XMLHttpRequest.responseText + ')');
              $("<ul class='list-notifications'><li>" +
                "<p class='overlay-d'>" +
                data.description +
                "</p>" +
                "</li></ul>").insertAfter("#top");
              body_tag.trigger('list-notifications');

            }
          });
        },
        error: function(XMLHttpRequest, textStatus) {
          var data = eval('(' + XMLHttpRequest.responseText + ')');
          $("<ul class='list-notifications'><li>" +
            "<p class='overlay-d'>" +
            data.description +
            "</p>" +
            "</li></ul>").insertAfter("#top");
          body_tag.trigger('list-notifications');

        }
      });

    })
  }
  /* ------------- END CART PAGE ------------- */

  /* ------------- BEGIN ACCOUNT PAGES ------------- */
  if (form_login.length) {
    form_login.find('.hidden').addClass('is-hidden').next('p').find('a').on('click', function() {
      $(this).closest('p').toggleClass('hidden').prev('.is-hidden').toggleClass('hidden');
      return false;
    });
  }
  if (cancel_btn.length) {
    cancel_btn.on('click', function (e) { e.preventDefault(); })
  }
  /* ------------- END ACCOUNT PAGES ------------- */

  /* ------------- BEGIN SHOPIFY THEME EDITOR FIXES ------------- */
  document.addEventListener("shopify:section:load", function(event) {
    var body_tag = $('body');
    var section = $('#shopify-section-'+event.detail.sectionId+'');
    body_tag.trigger('lazyload-again', [section]);

    if (section.find('.list-featured.welcome').length) {
      body_tag.trigger('banner-grid');
    }
    if (section.find('.list-featured').length) {
      body_tag.trigger('list-featured-slider');
    }
    if (section.find('.list-rating').length) {
      body_tag.trigger('list-rating-slider');
      body_tag.trigger('ratings');
    }
    if (section.find('.accordion-a').length) {
      body_tag.trigger('accordion-a');
    }
    if (section.find('.module-product').length) {
      body_tag.trigger('ar-box-scroll');
    }
    if (section.find('.moodboard').length) {
        body_tag.trigger('list-moodboard-slider');
    }

    if (event.detail.sectionId == 'blog-template' || event.detail.sectionId == 'article-template' ) {
      body_tag.trigger('blog-tags');
    }

  })

  document.addEventListener("shopify:block:select", function(event) {
    var section = $('#shopify-section-'+event.detail.sectionId+'');

    if (section.find('.accordion-a').length) {
      var tab = $('.block-'+event.detail.blockId+'');
      if (!tab.find('.toggle').length || !tab.filter('.toggle')) {
        tab.find('a:first').trigger('click');
      }
    }

  });

  document.addEventListener("shopify:block:deselect", function(event) {
    var section = $('#shopify-section-'+event.detail.sectionId+'');

    if (section.find('.accordion-a').length) {
      var tab = $('.block-'+event.detail.blockId+'');
      if (tab.find('.toggle').length || tab.filter('.toggle')) {
        tab.find('a:first').trigger('click');
      }
    }

  });
  /* ------------- END SHOPIFY THEME EDITOR FIXES ------------- */

})
/* END CUSTOM JS */

/* CUSTOM JS from custom.js */
jQuery(function($) {
  var product_reviews = $(document.getElementById('shopify-product-reviews')),
    body_tag = $(document.getElementsByTagName('body')),
    available_only = $(document.getElementById('available-only')),
    load_more_button = $(document.getElementsByClassName('load-more-button'));

  /* ------------- BEGIN SHOPIFY RECOMMENDED PRODUCTS ------------- */
  function productRecommendations(container) {
    this.$container = $(container);

    var baseUrl = this.$container.data('baseUrl');
    var productId = this.$container.data('productId');
    var limit = this.$container.data('limit');
    var title = this.$container.data('title');
    var recommendationsSectionUrl =
      baseUrl +
      '?section_id=related-products&product_id=' +
      productId +
      '&limit=' + limit;

      {% comment %}console.log(recommendationsSectionUrl){% endcomment %}

    $.get(recommendationsSectionUrl).then(
      function(section) {
        var recommendationsMarkup = $(section).html();
        if (recommendationsMarkup.trim() !== '') {
          this.$container.html(recommendationsMarkup);
        }
        $('.related-title').html(title);
        body_tag.trigger('lazyload-again', [container]);
        body_tag.trigger('list-collection-slider');
        _swat.initializeActionButtons('.template-product');
      }.bind(this)
    );
  }
  if ($('[data-section-type="related-products"]').length) {
    productRecommendations($('[data-section-type="related-products"]'));
  }
  /* ------------- BEGIN SHOPIFY RECOMMENDED PRODUCTS ------------- */


  /* ------------- BEGIN SHOPIFY REVIEWS STYLING ------------- */
  if (product_reviews.length) {
    var alterProductReviews = function(found) {
      product_reviews.find('.spr-reviews > .spr-review').each(function(found) {
        if ($(this).find('.spr-starratings').length) {
          var reviewRating = $(this).find('.spr-starratings').attr('aria-label').split(' of').slice(0, 1),
              reviewHeader = $(this).find('.spr-review-header'),
              reviewDate = $(this).find('.spr-review-header-byline'),
              found = true;
          reviewHeader.find('.spr-review-header-title').remove();
          $(this).find('.spr-review-header-byline').insertAfter($(this).find('.spr-review-content'));
          reviewHeader.find('.spr-review-header-starratings').remove();
          reviewHeader.prepend('<h3><span class="rating-a" data-val="' + reviewRating + '" data-of="5">' + reviewRating + '/5</span> <span class="strong">' + reviewRating + '</span> van 5</h3>');
		  reviewDate.html(function (i, html) {
                return $(this).html().replace(/Mar/g, 'Mrt').replace(/May/g, 'Mei').replace(/Oct/g, 'Okt');
          });
          body_tag.trigger('ratings');
          if ($('.spr-pagination').length) {
            $('.spr-pagination').find('a').on('click', function() { setTimeout(function(){ var found = false; alterProductReviews(found); }, 25); });
          }
        } else if (!found){
          setTimeout(function(found) {
            alterProductReviews(found);
          }, 50);
        }
      })
    }
    var findReviews = function() {
      if (window['SPR'] && product_reviews.children().length) {
        var x = $('#shopify-product-reviews').html();
        if ($('.spr-summary-caption').contents().length > 1 || $('.spr-summary-caption').children().length > 1) {
          // Review container should contain reviews but reviews aren't loaded yet
          if (product_reviews.find('.spr-reviews > .spr-review').length) {
            // var ratingStars = $('.module-product .rating-a').first().clone();
            var ratingStars = $('#shopify-section-product-template > header .rating-a').first().clone();
            var rate = ratingStars.data('val').toString();
            $('.review-rating').html(rate);
            $('.spr-summary-starrating').empty().append(ratingStars);
            alterProductReviews(false);
          } else {
            // Review container should contain reviews; waiting for them to load
            setTimeout(function() {
              findReviews();
            }, 200);
          }
        }
      } else {
        // Review container found but no script/content is loaded yet
        setTimeout(function() {
          findReviews();
        }, 15);
      }
    };
    findReviews();
  }
  /* ------------- END SHOPIFY REVIEWS STYLING ------------- */

  /* ------------- BEGIN BLOG TAGS ------------- */
  body_tag.on('blog-tags', function(event) {
    blog_tags = $(document.getElementsByClassName('blog-tags'));
    if (blog_tags.length) {
      blog_tags.find('li:not(:first)').each(function() {
        var anchor = $(this).find('a').first();
        var text = anchor.text();
        var count = $(this).find('span').first();
        anchor.append(" <span>" + count.html() + "</span>");
        count.remove();
        $(this).show();
      });
    }
  });
  body_tag.trigger('blog-tags');
  /* ------------- END BLOG TAGS ------------- */

  /* ------------- BEGIN BLOGS LOAD MORE BUTTON --------------- */
  if (load_more_button.length) {
    load_more_button.on('click', function() {
      var url = $(this).attr("data-href");
      if (url != "") {
        $.ajax({
          url: url,
          type: 'GET',
          success: (function(data) {
            var newPageContent = $(data).find('.list-news').html();
            newPageContent = newPageContent.replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "");
            if (newPageContent != "") {
              if ($('.list-news').length) {
                var section = $('.list-news');
                section.append(newPageContent);
              }
              body_tag.trigger('lazyload-again', [section]);
              var nextPage = parseInt(url.substr(url.length - 1)) + 1;
              var maxPages = parseInt(load_more_button.attr("data-pages"));
              if (nextPage <= maxPages) {
                var nextUrl = url.replace(/.$/, nextPage);
                load_more_button.attr("data-href", nextUrl);
              } else {
                load_more_button.hide();
              }
            }
          })
        })
      }
    });
  }
  /* ------------- END BLOGS LOAD MORE BUTTON --------------- */

  /* ------------- OPEN TRENGO CHAT LINK ------------- */
  $('a').on('click', function(){
    if ( $(this).is("[href]") ) {
      if ( $(this).attr('href').indexOf('#') > -1 ) {
        var hash = $(this).attr('href').split("#").pop();
        if(hash == 'chat' ) {
          if (window.Trengo == undefined) {
          	addTrengo();
          }
          openChat();
        }
      }
    }
  });
  var openChat = function() {
    if( typeof window.Trengo.Api != 'undefined' || window.Trengo.Api != null ){
    	window.Trengo.Api.Widget.open('chat');
    } else {
    	setTimeout(openChat, 9999999999999999999);
    }
  }
  /* ------------- END OPEN TRENGO CHAT LINK ------------- */


  $('body').click(function(e) {
    var target = $(e.target);
    if (target.is('.boost-pfs-filter-button') || target.is('.boost-pfs-filter-option-title-text') || target.is('.boost-pfs-filter-option-view-more-action button') || target.is('.boost-pfs-filter-option-view-less-action button')) {
    	e.preventDefault();
      if (target.is('.boost-pfs-filter-option-title-heading')) {
        target.parent().toggleClass('mobile-toggle');
      }
      target.toggleClass('toggle-click');
    }
  })

  $('#top-bar').append('<a class="close" href="./"></a>').on('click', function (e) {
    if ($(e.target).is('.close')) {
      Cookies.set('has-bar', 'no');
      $('html').removeClass('has-bar').addClass('closed-bar');
      return false;
    }
  });

})
/* END CUSTOM JS from custom.js */


window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}
