{% comment %} Please don’t update this content {% endcomment %}

{% layout none %}
{% paginate collection.products by 50 %}
  {
    "products":
      [
        {% for product in collection.products %}
          {
            "id":{{ product.id }},
            "position":{{ forloop.index }},
            "metafields":[
              
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Kleur = product.metafields.product["Kleur"] %}
              {% if v_Kleur != blank %}
                {
                  "namespace": "product",
                  "key": "Kleur",
                  "value": {{ v_Kleur | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Dessin = product.metafields.product["Dessin"] %}
              {% if v_Dessin != blank %}
                {
                  "namespace": "product",
                  "key": "Dessin",
                  "value": {{ v_Dessin | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Soort = product.metafields.product["Soort"] %}
              {% if v_Soort != blank %}
                {
                  "namespace": "product",
                  "key": "Soort",
                  "value": {{ v_Soort | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Materiaal = product.metafields.product["Materiaal"] %}
              {% if v_Materiaal != blank %}
                {
                  "namespace": "product",
                  "key": "Materiaal",
                  "value": {{ v_Materiaal | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Stijl = product.metafields.product["Stijl"] %}
              {% if v_Stijl != blank %}
                {
                  "namespace": "product",
                  "key": "Stijl",
                  "value": {{ v_Stijl | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Maatwerk = product.metafields.product["Maatwerk"] %}
              {% if v_Maatwerk != blank %}
                {
                  "namespace": "product",
                  "key": "Maatwerk",
                  "value": {{ v_Maatwerk | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Maat = product.metafields.product["Maat"] %}
              {% if v_Maat != blank %}
                {
                  "namespace": "product",
                  "key": "Maat",
                  "value": {{ v_Maat | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Vorm = product.metafields.product["Vorm"] %}
              {% if v_Vorm != blank %}
                {
                  "namespace": "product",
                  "key": "Vorm",
                  "value": {{ v_Vorm | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Productiemethode = product.metafields.product["Productiemethode"] %}
              {% if v_Productiemethode != blank %}
                {
                  "namespace": "product",
                  "key": "Productiemethode",
                  "value": {{ v_Productiemethode | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_Ruimte = product.metafields.product["Ruimte"] %}
              {% if v_Ruimte != blank %}
                {
                  "namespace": "product",
                  "key": "Ruimte",
                  "value": {{ v_Ruimte | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_price_m2 = product.metafields.erp["price_m2"] %}
              {% if v_price_m2 != blank %}
                {
                  "namespace": "erp",
                  "key": "price_m2",
                  "value": {{ v_price_m2 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_price_m2 = product.metafields.customizable["price_m2"] %}
              {% if v_price_m2 != blank %}
                {
                  "namespace": "customizable",
                  "key": "price_m2",
                  "value": {{ v_price_m2 | json }}
                },
              {% endif %}
        
              {% comment %}
                Single Metafield
              {% endcomment %}
              {% assign v_product_label = product.metafields.product["product_label"] %}
              {% if v_product_label != blank %}
                {
                  "namespace": "product",
                  "key": "product_label",
                  "value": {{ v_product_label | json }}
                },
              {% endif %}
        
            ]
          },
        {% endfor %}
      ]
  }
{% endpaginate %}