<div class="Container offices-grid-container">
  {% for block in section.blocks %}  
    <div class="ArticleItem__Content"><h2 class="ArticleItem__Title Heading u-h2">
      {{ block.settings.header }}
    </h2>
    <p class="ArticleItem__Excerpt">{{ block.settings.paragraph }}</p>
    <a href="{{ block.settings.link }}" class="ArticleItem__Link Link Link--underline">{{ block.settings.linktext }}</a>
    </div>
  {% endfor %}
</div>  

{% schema %}
{
  "name": "Offices in grid",
	"max_blocks": 250,
  "settings": [
    {
      "id": "text-box",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add Button",
      "settings": [
        {
          "id": "link",
          "type": "url",
       		"label": "Button link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click here"
        },
        {
            "id": "header",
            "type": "text",
            "label": "Post name",
            "default": "Post name"
        },
        {
            "id": "paragraph",
            "type": "richtext",
            "label": "Paragraph",
            "default": "<p>Paragraph</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Call to Action Blocks",
      "category": "CTA button",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}