{% section 'breadcrumbs' %}

<div class="retail-page">
  {% section 'banners-retail' %}
  {% section 'uspblock-retail' %}
  {% section 'featured-collection-retail' %}
  {% section 'blog-promo-row-retail' %}
  {% section 'highlights-retail' %}
</div>
