{% section 'breadcrumbs' %}

{% assign pageContent = page.content | split: "<!-- split -->" %}
<article>
  {% if page.content %}
    {{ pageContent[0] }}
  {% endif %}
  {% if pageContent[1] %}
    <a href="#read-more">Lees meer</a>
  {% endif %}

  {% section 'blog-landing' %}

  {% if pageContent[1] %}
    <div id="read-more" class="content-wrapper">
      {{ pageContent[1] }}
    </div>
  {% endif %}
</article>
