{% section 'breadcrumbs' %}

{% section 'hero-image' %}

<div class="cols-a">
    <article>
        <h1>{{ page.title }}</h1>
        {% section 'b2b-showroom-content' %}
    </article>
  {% section 'page-menu-2' %}
</div>
