{% section 'breadcrumbs' %}

{% section 'hero-image' %}

<div class="cols-a">
	<article>
		<h1>{{ page.title }}</h1>
		{{ page.content }}
		{% section 'stores' %}
	</article>
  {% section 'page-menu-2' %}
</div>
