{% section 'breadcrumbs' %}

<div class="woonprof-page">
  {% section 'banners-woonprofessional' %}
  {% section 'uspblock-woonprofessional' %}
  {% section 'featured-collection-woonprofessional' %}
  {% section 'blog-promo-row-woonprofessional' %}
  {% section 'moodboards' %}
  {% section 'highlights-woonprofessional' %}
</div>
