{% section 'breadcrumbs' %}

{% section 'hero-image' %}

<div class="cols-a">
	<article>
		<h1>{{ page.title }}</h1>
		{{ page.content }}
		<a href="/pages/contact"><button style="float: none;">{{ 'service.get_contact' | t }}</button></a>
	</article>
  {% section 'page-menu-2' %}
</div>
