{% section 'breadcrumbs' %}

<div class="cols-a">
	<div>
		<h1>{{ page.title }}</h1>
		{% section 'contact-blocks' %}
		{{ page.content }}
		{% section 'contactform' %}
	</div>
	{% section 'page-menu' %}
</div>
