{% paginate collections["all-products"].products by 1000 %}

  {% for product in collections["all-products"].products %}

  {{ product.url }}
  <a href="{{ product.url }}">product title</a>

  {% endfor %}

{% endpaginate %}
