{% section 'product-template-customizable' %}
{% section 'product-usps-contact' %}
{% section 'product-tabs' %}
{% section 'related-products' %}
{% section 'recently-viewed' %}

{% comment %}<script>
  // Measure a view of product details. This example assumes the detail view occurs on pageload,
  // and also tracks a standard pageview of the details page.
  dataLayer.push({
    "ecommerce": {
      "detail": {
        "actionField": {"list": "Vloerkleden"},
        "products": [
           {
             "name": {{ product.title | json }},
             "id": {{ product.id | json }},
             "price": {{ product.price | divided_by: 100.00 | json }},
             "brand": {{ product.vendor | json }},
             "category": "Vloerkleden",
             "variant": {{ product.selected_or_first_available_variant.title | json }}
            }
        ]
       }
     }
  });

  var handleVariantChange = function(event) {
    var variant = getCurrentVariant();
    dataLayer.forEach(function (arrayItem, index) {
    	var x = arrayItem.ecommerce;
        if (x != undefined) {
        	dataLayer.splice(index, 1);
        }
    });

    if (variant.id) {
      var id = variant.id,
      	price = variant.price / 100,
        variantTitle = variant.title.replace("'", '');
    } else {
      //is maatwerk
      var id = {{ product.id | json }},
      	price = variant.getAttribute("data-datalayerprice"),
        variantTitle = "Maatwerk";
    }
    dataLayer.push({
    	"ecommerce": {
        "detail": {
        	"actionField": {"list": "Vloerkleden"},
            "products": [
            	{
                 "name": {{ product.title | json }},
                 "id": id,
                 "price": price,
                 "brand": {{ product.vendor | json }},
                 "category": "Vloerkleden",
                 "variant": variantTitle
                }
             ]
           }
         }
    });
  };

  function getCurrentVariant(form) {
    var product = {{ product | json }};
  	var selects = []
    if (typeof form !== 'undefined') {
    	selects = form.querySelectorAll('[name="id"]');
    } else {
      selects = document.querySelectorAll('form[action^="/cart/add"]:not(.form-product-quickshop) select[name="id"]');
    }
    if (!selects.length) { return product.variants[0]; }
    var selectedId = selects[0].value;
    var isMaatwerk = selects[0].querySelectorAll('option:checked')[0].getAttribute("data-customizable");
    if (isMaatwerk != undefined) { return selects[0].querySelectorAll('option:checked')[0]; }
    if (!/^[0-9]+$/.test(selectedId)) { return product.variants[0]; }
    return product.variants.filter(function(variant) {
    	return variant.id == selectedId;
    })[0];
  }

  document.querySelectorAll('form[action^="/cart/add"]:not(.form-product-quickshop) #id').forEach(function(select) {
  	select.addEventListener('change', handleVariantChange);
  });

</script>{% endcomment %}
