{% comment %}{% assign searchTerms = search.terms | escape %}
{% paginate search.results by 12 %}

  <header class="heading-main m15">
    <ul class="list-breadcrumbs">
      {% include 'breadcrumbs' %}
    </ul>
    {% if search.performed %}
      <h1>{{ 'search.results_plus_term' | t: term: searchTerms }}</h1>
    {% else %}
      <h1>{{ 'search.title' | t }}</h1>
    {% endif %}
  </header>

  {% if search.performed %}
    {% case search.results_count %}
    {% when  0 %}
      {% capture resultsText %}
    	 {{ 'search.amount_of_results.zero' | t: amount: search.results_count, term: searchTerms }}
    	{% endcapture %}
    {% when 1 %}
   	 	{% capture resultsText %}
   		 {{ 'search.amount_of_results.one' | t: amount: search.results_count, term: searchTerms }}
      {% endcapture %}
    {% else %}
      {% capture resultsText %}
    	 {{ 'search.amount_of_results.multiple' | t: amount: search.results_count, term: searchTerms }}
      {% endcapture %}
    {% endcase %}
  {% endif %}

  <form action="{{ routes.search_url }}" role="search" method="post" class="form-search">
    <p>
      {% if search.performed %}<label for="q">{{ resultsText}}</label>{% endif %}
      <input type="search" id="q" name="q" value="{{ searchTerms }}" placeholder="{{ 'search.search_form.placeholder' | t }}" required>
      <button type="submit">{% if search.performed %}{{ 'search.search_form.search_again' | t }}{% else %}{{ 'search.search_form.search' | t }}{% endif %}</button>
    </p>
  </form>

  {% if search.performed %}
    {% assign count1 = 0 %}
    {% assign count2 = 0 %}
     	{% assign sortedResults = search.results | sort: "price" %}
    {% for item in sortedResults %}
    	{% if item.object_type == 'product' %}
        {% assign count1 = count1 | plus: 1 %}
  		  {% if count1 == 1 %}

          <ul class="list-collection">
        {% endif %}
  		  {% assign product = item %}
        {% include 'product-card' with product: product %}
        {% if forloop.last %}
          </ul>
        {% endif %}
    	{% elsif item.object_type == 'article' or item.object_type == 'page' %}
  		  {% assign count2 = count2 | plus: 1 %}
  		  {% if count2 == 1 %}
          </ul>
        {% endif %}
  		  <h2 class="search-result-title">{{ item.title | link_to: item.url }}</h2>
        <p class="search-result-text">{{ item.content | strip_html | truncatewords: 50 | highlight: search.terms}}</p>
    	{% endif %}
  	{% endfor %}

{% include 'pagination' %}
  {% endif %}

{% endpaginate %}
{% endcomment %}